<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html class="ie6">
<![endif]-->
<!--[if IE 7 ]>
<html class="ie7 gt-ie6">
<![endif]-->
<!--[if IE 8 ]>
<html class="ie8 gt-ie7">
<![endif]-->
<!--[if IE 9 ]>
<html class="ie9 gt-ie8">
<![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="gt-ie9">
<!--<![endif]-->
    <head>
        <title><?php F::SEO()->echoTitle(); ?></title>
        <meta charset="utf-8">
        <meta name="keywords"content="<?php F::SEO()->echoKeyword(); ?>">
        <meta name="Description"content="<?php F::SEO()->echoDesc(); ?>">
        <?php F::TPL('common/header.html', [], 'Gz') ?>
    </head>
    <body class="guide-page">
        <div id="wrap">
        <?php F::TPL('common/nav.html', [], 'Gz'); ?>
            <div class="container page-content">
                <!-- Start: 选校指南工具列表-->
                <div class="guide-tools">
                    <div class="tool-list">
                        <ul>
                            <li class="choose-school"><a href="<?php echo F::URL('/Gz/guide/select') ?>" target="_blank"><i class="ico"></i><span class="name">估分选校</span><span class="desc">根据您的个人情况推荐最精准的学校</span></a>
                            </li>
                            <li class="score-query even"><a href="<?php echo F::URL('/Gz/guide/history') ?>" target="_blank"><i class="ico"></i><span class="name">历年分数线查询</span><span class="desc">各招生批次学校中考历年分数线</span></a>
                            </li>
                            <li class="zk-baike"><a href="http://baike.gaofen.com/czbk/ " target="_blank"><i class="ico"></i><span class="name">中考百科</span><span class="desc">中考升学政策、招生信息和志愿填报的扫盲必备</span></a>
                            </li>
                            <li class="zk-data even"><a href="http://ziliao.gaofen.com/zhongkao/" target="_blank"><i class="ico"></i><span class="name">中考资料库</span><span class="desc">广州最全面的中考备考资料</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        <?php F::TPL('common/footer.html', [], 'Gz') ?>
        </div>
        <?php F::TPL('common/footer_script.html', [], 'Gz'); ?>
    </body>
</html>