<thead>
    <tr>
        <th class="w130">
            <div class="gap">学校名称</div>
        </th>
        <th class="w90">
            <div class="gap">招生范围</div>
        </th>
        <th>
            <div class="gap">考生类型</div>
        </th>
        <th>
            <div class="gap">最低分数</div>
        </th>
        <th>
            <div class="gap">最低分数同分序号</div>
        </th>
        <th>
            <div class="gap">末位考生志愿序号</div>
        </th>
        <th>
            <div class="gap">末位考生分数</div>
        </th>
        <th>
            <div class="gap">末位考生分数同分序号</div>
        </th>
        <th>
            <div class="gap">外区最低分数</div>
        </th>
        <th>
            <div class="gap">外区最低分数同分序号</div>
        </th>
    </tr>
</thead>
<tbody>
    <?php $index = 0 ?>
    <?php foreach ($history as $history_index => $schoolGroup): ?>
        <?php foreach ($schoolGroup as $school_index => $score): ?>
            <tr class="<?php echo is_even($index) ? 'even' : '' ?>">

                <?php echo $score->present()->history_name($school_index, count($schoolGroup)) ?>
                <?php echo $score->present()->admit_range($school_index, count($schoolGroup))?>

                <td><?php echo $score->present()->luqu_type()?></td>
                <td class="highlight"><?php echo $score->present()->low_mark ?></td>
                <td><?php echo $score->present()->low_mark_last ?></td>
                <td class="highlight"><?php echo $score->present()->last_student_wish ?></td>
                <td><?php echo $score->present()->last_student_mark ?></td>
                <td><?php echo $score->present()->last_student_num ?></td>
                <td><?php echo $score->present()->other_low_mark ?></td>
                <td><?php echo $score->present()->other_low_num ?></td>
            </tr>
        <?php endforeach ?>
        <?php $index++ ?>
    <?php endforeach ?>
</tbody>