    <div class="wrap camp-form" v-show="partShow" id="userInfo">
        <div class="div-wrap">
            <div class="div-top"  v-show="submitTxt!='保存发布'">
                <div class="ui-avatar"><img :src="meinfo.user.headimgurl" alt=""/>
                </div>
                <p>{{meinfo.user.nickname}}</p>
            </div>
            <div class="div-top" v-show="submitTxt=='保存发布'">
                    <div class="icon-message"></div>
                    <p>为便于统计，请填写孩子的基本资料</p>
                </div>
            <div class="div-list form" id="portfolio">
                <form>
                    <div class="form-row">
                        <label>孩子姓名</label>
                        <input placeholder="" id='name' type="text" v-model="userInfo.name">
                    </div>
                    <div class="form-row">
                        <label>孩子年龄</label>
                        <div class="input-row"><span>{{userInfo.age}}</span>
                            <select id="age" v-model="userInfo.age">
                                <option value="" >--请选择学生年龄--</option>
                                <option value="5" >5</option>
                                <option value="6" >6</option>
                                <option value="7" >7</option>
                                <option value="8" >8</option>
                                <option value="9" >9</option>
                                <option value="10" >10</option>
                                <option value="11" >11</option>
                                <option value="12" >12</option>
                                <option value="13" >其他</option>
                            </select><i class="icon icon-down"></i>
                        </div>
                    </div>
                    <div class="form-row">
                        <label>性别</label>
                        <div class="input-row"><span>{{gendered}}</span>
                            <select id="gender"  v-model="userInfo.gender">
                                <option value="M">男</option>
                                <option value="F">女</option>
                            </select><i class="icon icon-down"></i>
                        </div>
                    </div>
                    <div class="form-row">
                        <label>所在区域</label>
                        <div class="input-row"><span>{{userInfo.city}} {{userInfo.district}}</span>
                            <select id="district"  v-model="userInfo.district"></select>
                            <select id="province" style="display:none;"></select>
                            <select id="city" style="display:none;"></select>
                            <i class="icon icon-down"></i>
                        </div>
                    </div>
                    <div class="form-row">
                        <button href="javascript:;" v-on:click="save($event)" class="btn btn-start btn-radius-1 btn-block">{{submitTxt}}</button>
                    </div>
                </form>
            </div>
        </div>       
    </div>