<?php F::TPL('common/header.html', ['id'=>$sid, 'action'=>'editinfo', 'type'=>$type], 'Gzadmin') ?>
      <div class="row">
        <div class="col-sm-12">
          <form action="#" method="POST" class="form-horizontal">
			<div id="allConfig" class="hidden">
				<input type="hidden" name="id" value="<?php F::O(@$info['id']); ?>" />
				<input type="hidden" name="sort" value="<?php F::O($type); ?>"/>
				<input type="hidden" name="name">
				<input type="hidden" name="type" value="<?php F::O($type); ?>"/>
				<input type="hidden" name="sid" value="<?php F::O($sid); ?>"/>
			</div>
            <div class="form-group">
              <div class="col-sm-2 col-sm-offset-2">
                <select name="" id="modalSelect" class="form-control">
                  <option value="">请选择模块</option>
                  <?php foreach($struct['modules'] as $_k=>$item): ?>
                  <option value="flag:<?php F::O($item['flag']); ?>,name:<?php F::O($item['name']); ?>,sys:<?php F::O($item['sys']); ?>"><?php F::O($item['name']); ?></option>
              	  <?php endforeach; ?>
                </select>
              </div>
              <div class="col-sm-2">
                <button type="button" id="addModalBtn" class="btn btn-success"><i class="glyphicon glyphicon-plus"></i> 添加模块
                </button>
              </div>
            </div>
            <div class="row">
            	<div class="col-sm-8 col-sm-offset-2">
					<div class="alert alert-danger" role="alert">如果模块<序号>不由0开始或序号间断，请先保存一次再做其它操作</div>
            	</div>
            </div>
            <div class="form-group">
              <label for="" class="col-sm-2 control-label">模块：</label>
              <div class="col-sm-6">
                <ul class="tree-view tree-view-fixed" id="mode_list">
                <?php if(!empty($info['data']) && is_array($info['data'])):?>
                <?php foreach($info['data'] as $_k=>$item): ?>
				<li>
				<?php echo '<input type="hidden" name="flag" value="'.$item['flag'].'" />'; ?>
                <?php echo '<input type="hidden" name="name" value="'.F::O(@$item['name'], true).'" />'; ?>
                <?php echo '<input type="hidden" name="sys" value="'.(int)($item['flag']!='udm_text').'" />'; ?>
                <?php echo '<textarea class="hidden" name="value">'.F::O(@$item['value'], true).'</textarea>'; ?>
                <?php echo '<input type="hidden" name="module_name" value="'.F::O(@$item['module_name'], true).'" />'; ?>
				<span class="name"><?php F::O($_k.'. '.$item['name']); ?></span>
                <div class="operations">
                	<a data-toggle="modal" href="#modalConfirmDelete">
						<i class="glyphicon glyphicon-trash text-danger"></i>
					</a>
                	<a data-toggle="modal" rel="flag:<?php F::O($item['flag']); ?>,name:<?php F::O($item['name']); ?>" href="#modalEditModule"><i class="glyphicon glyphicon-pencil"></i><?php if(in_array($item['flag'], array('rich_text', 'text', 'udm_text'))): ?><textarea class="hidden"><?php if(!empty($item['value'])){ F::O($item['value']);} ?></textarea><?php endif; ?></a></div>
                </li>
                <?php endforeach; ?>
            	<?php endif; ?>
                </ul>
              </div>
            </div>
            <nav role="navigation" class="navbar navbar-default navbar-fixed-bottom">
              <div class="col-sm-offset-2 col-sm-8 actions">
                <button type="submit" class="btn btn-primary" id="listSaveBtn">保存排序</button>
              </div>
            </nav>
          </form>
        </div>
      </div>
    </div>
    <!-- 自定义模块添加、修改浮层-->
        <!-- Start: 自定义模块编辑浮层 .modal-edit-->
        <div id="modalAddModule" class="modal modal-edit modal-module fade">
          <div class="modal-dialog" style="max-width:1200px;width:100%">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
                <h4 class="modal-title mr40">
                  <input value="" placeholder="请输入模块名称..." class="form-control">
                </h4>
              </div>
              <div class="modal-body">

              </div>
              <div class="modal-footer">
                <!--button type="button" data-dismiss="modal" class="btn btn-default">取消</button-->
                <button type="button" class="btn btn-primary">确定</button>
              </div>
            </div>
          </div>
        </div>
        <!-- End: 自定义模块编辑浮层 .modal-edit-->
    <!-- 自定义模块添加、修改浮层-->
        <!-- Start: 自定义模块编辑浮层 .modal-edit-->
        <div id="modalEditModule" class="modal modal-edit modal-module fade" data-backdrop="static">
          <div class="modal-dialog"  style="max-width:1200px;width:100%">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
                <h4 class="modal-title mr40">
                  <input value="升学成绩" placeholder="请输入模块名称..." class="form-control" readonly>
                </h4>
              </div>
              <div class="modal-body" id="modal_body">
				  <div id="removeFloat"></div>
              </div>
              <div class="modal-footer">
                <!--button type="button" data-dismiss="modal" class="btn btn-default">取消</button-->
                <button type="button" class="btn btn-primary" id="surebtn">确定</button>
              </div>
            </div>
          </div>
        </div>
        <!-- End: 自定义模块编辑浮层 .modal-edit-->
    <!-- 警告浮层-->
        <!-- Start: 警告浮层 .modal-warning-->
        <div id="modalConfirmDelete" class="modal modal-warning fade">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
                <h4 class="modal-title">警告</h4>
              </div>
              <div class="modal-body">
                <p>你确定删除？</p>
              </div>
              <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-default">取消</button>
                <button type="button" class="btn btn-primary" id="delSchoolSure">确定</button>
              </div>
            </div>
          </div>
        </div>
        <!-- Start: 警告浮层 .modal-warning-->
		
				
	<div id="part" class="hidden">
		<!-- Start: 升学成绩-->
		<div id="gz_score">
			<div class="form-horizontal">
			  <div class="form-group">
				<div class="col-sm-2">
				  <div class="input-group input-group-sm">
					<input type="text" id="year" placeholder="年份" class="form-control" autocomplete="true"><span class="input-group-addon">年</span>
				  </div>
				</div>
				<div class="col-sm-2">
				  <div class="input-group input-group-sm">
					<input type="text" id="joins" name="joins" placeholder="当年参试人数" class="form-control"><span class="input-group-addon">人</span>
				  </div>
				</div>
				<div class="col-sm-2">
				  <div class="input-group input-group-sm">
					<input type="text" id="yiben_luqu" name="yiben_luqu" placeholder="一本录取率" class="form-control"><span class="input-group-addon">%</span>
				  </div>
				</div>

				<div class="col-sm-2">
				  <div class="input-group input-group-sm">
					<input type="text" id="erben_a_luqu" name="erben_a_luqu" placeholder="二本A录取率" class="form-control"><span class="input-group-addon">%</span>
				  </div>
				</div>
				<div class="col-sm-3">
				  <div class="input-group input-group-sm">
					<input type="text" id="erben_b_luqu" name="erben_b_luqu" placeholder="二本B录取率" class="form-control"><span class="input-group-addon">%</span>
				  </div>
				</div>
				<div class="col-sm-1">
				  <button type="button" class="btn btn-primary btn-sm" id="add">添加</button>
				</div>
			  </div>
			</div>
			<table class="table table-striped table-hover dragable">
			 <thead>
				<tr>
				  <th class="w150">年份</th>
				  <th class="w150">当年参试人数</th>
				  <th class="w150">一本录取率</th>
				  <th class="w150">二本A录取率</th>
				  <th>二本B录取率</th>
				  <th class="w110">操作</th>
				</tr>
			  </thead>
			  <tbody id="resultBody">

			  </tbody>
			</table>
		</div>
		<!-- End: 升学成绩-->
		<!-- Start: 录取分数线-->
		<div id="gz_admit_score">
			<div class="form-horizontal">
			  <div class="form-group">
			    <table class="table table-striped table-hover dragable">
				  <thead>
					<tr>
					  <th class="w140">年份</th>
					  <th class="w140">户籍生</th>
					  <th class="w140">全市</th>
					  <th class="w140">最低分数</th>
					  <th class="w140">最低分数末位同分序号</th>
					  <th class="w140">末位考生志愿</th>
					  <th class="w140">末位考生分数</th>
					  <th class="w140">末位考生分数同分序号</th>
					  <th class="w140">外区最低分数</th>
					  <th class="w140">外区最低分数同分序号</th>
					  <th class="w140">最大志愿号</th>
					  <th class="w110">操作</th>
					</tr>
				  </thead>
				  <tbody>
				  		<tr rel="16" style="display: table-row;">
				  			<td>
								<div class="input-group input-group-sm">
									<input type="text" id="year" placeholder="年份" class="form-control"><span class="input-group-addon">年</span>
								</div>
							</td>
				  			<td>
								<select name="" id="luqu_id" class="form-control input-sm">
									<option selected="selected" value="5">户籍生</option>
								</select>
							</td>
				  			<td>
								<select name="" id="admit_range_id" class="form-control input-sm">
									<option selected="selected" value="86">全市</option>
								</select>
							</td>
				
				  			<td>
							  <div class="input-group input-group-sm">
								<input type="text" id="low_mark" placeholder="最低分数" class="form-control">
							  </div>
							</td>
				  			<td>
							  <div class="input-group input-group-sm">
								<input type="text" id="low_mark_last" placeholder="最低分数末位同分序号" class="form-control">
							  </div>
							</td>
				  			<td>
				  				<div class="input-group input-group-sm">
									<input type="text" id="last_student_wish" placeholder="末位考生志愿" class="form-control">								  
								</div>
				  			</td>
				  			<td>								  
				  				<div class="input-group input-group-sm">
									<input type="text" id="last_student_mark" placeholder="末位考生分数" class="form-control">
								</div>
				  			</td>
				  			<td>
				  				<div class="input-group input-group-sm">
									<input type="text" id="last_student_num" placeholder="末位考生分数同分序号" class="form-control">
								  </div>
				  			</td>
				  			<td>
				  				<div class="input-group input-group-sm">
									<input type="text" id="other_low_mark" placeholder="外区最低分数" class="form-control">
								  </div>
				  			</td>
				  			<td>
				  				<div class="input-group input-group-sm">
									<input type="text" id="other_low_num" placeholder="外区最低分数同分序号" class="form-control">
								</div>
				  			</td>
							 <td>											  
								<div class="input-group input-group-sm">
									<input type="text" id="max_wish_num" placeholder="最大志愿号" class="form-control">
								</div>								
				  			</td>
				  			<td>				
				  				<div class="col-sm-1">
								  <button type="button" class="btn btn-primary btn-sm">添加</button>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			  </div>
			</div>
			<table class="table table-striped table-hover dragable">
		  <thead>
			<tr>
			  <th class="w140">年份</th>
			  <th class="w140">户籍生</th>
			  <th class="w140">全市</th>
			  <th class="w140">最低分数</th>
			  <th class="w140">最低分数末位同分序号</th>
			  <th class="w140">末位考生志愿</th>
			  <th class="w140">末位考生分数</th>
			  <th class="w140">末位考生分数同分序号</th>
			  <th class="w140">外区最低分数</th>
			  <th class="w140">外区最低分数同分序号</th>
			  <th class="w140">最大志愿号</th>
			  <th class="w140">操作</th>
			</tr>
		  </thead>
		  <tbody id="resultBody">
		  </tbody>
		</table>
		</div>
		<!-- End: 录取分数线-->
		<!-- Start: 特长生招生-->
		<div id="admit_forte">
			<div class="form-horizontal">
			  <div class="form-group">
				<div class="col-sm-2">
				  <div class="input-group input-group-sm">
					<input type="text" id="year" placeholder="年份" class="form-control"><span class="input-group-addon">年</span>
				  </div>
				</div>
				<div class="col-sm-2">
					<select name="" id="forteSelectp" class="form-control input-sm" rel="parent">
					</select>
				</div>
				<div class="col-sm-2">
					<select name="" id="forteSelectp_c" class="form-control input-sm">
					  <option value="" selected="selected">舞蹈</option>
					  <option value="">篮球</option>
					</select>
				</div>
				<div class="col-sm-2">
				  <div class="input-group input-group-sm">
					<input type="text" id="num" placeholder="人数" class="form-control"><span class="input-group-addon">人</span>
				  </div>
				</div>
				<div class="col-sm-2">
				  <div class="input-group input-group-sm">
					<input type="text" id="memo" placeholder="备注" class="form-control">
				  </div>
				</div>
				<div class="col-sm-1">
				  <button type="button" class="btn btn-primary btn-sm">添加</button>
				</div>
			  </div>
			</div>
			<table class="table table-striped table-hover dragable">
		  <thead>
			<tr>
			  <th class="w140">
				<select name="" id="">
				  <option value="">年份</option>
				  <option value="">2012年</option>
				  <option value="">2013年</option>
				</select>
			  </th>
			  <th class="w250">特长项目</th>
			  <th class="w140">人数</th>
			  <th class="w140" >备注</th>
			  <th class="w110">操作</th>
			</tr>
		  </thead>
		  <tbody id="resultBody">
		  </tbody>
		</table>
		</div>
		<!-- End: 特长生招生-->
		<!-- Start: 作息时间-->
		<div id="schedule">
			<div class="form-horizontal hidden">
			  <div class="form-group">
				<div class="col-sm-3">
				  <input type="text" id="" placeholder="上午" class="form-control input-sm">
				</div>
				<div class="col-sm-3">
				  <input type="text" id="" placeholder="下午" class="form-control input-sm">
				</div>
				<div class="col-sm-3">
				  <input type="text" id="" placeholder="晚上" class="form-control input-sm">
				</div>
				<div class="col-sm-1">
				  <button type="button" class="btn btn-primary btn-sm">添加</button>
				</div>
			  </div>
			</div>
			<table class="table table-striped table-hover dragable">
		  <thead>
			<tr>
			  <th class="w270">上午</th>
			  <th class="w270">下午</th>
			  <th class="w270">晚上</th>
			  <th>操作</th>
			</tr>
		  </thead>
		  <tbody  id="resultBody">
			<tr class="warning">
			  <td>
				<input type="text" id="" value="" class="form-control input-sm">
			  </td>
			  <td>
				<input type="text" id="" value="" class="form-control input-sm">
			  </td>
			  <td>
				<input type="text" id="" value="" class="form-control input-sm">
			  </td>
			  <td>
			  </td>
			</tr>
			<tr class="warning">
			  <td>
				<input type="text" id="" value="" class="form-control input-sm">
			  </td>
			  <td>
				<input type="text" id="" value="" class="form-control input-sm">
			  </td>
			  <td>
				<input type="text" id="" value="" class="form-control input-sm">
			  </td>
			  <td>
			  </td>
			</tr>			
			<tr class="warning">
			  <td>
				<input type="text" id="" value="" class="form-control input-sm">
			  </td>
			  <td>
				<input type="text" id="" value="" class="form-control input-sm">
			  </td>
			  <td>
				<input type="text" id="" value="" class="form-control input-sm">
			  </td>
			  <td>
			  </td>
			</tr>			
			<tr class="warning">
			  <td>
				<input type="text" id="" value="" class="form-control input-sm">
			  </td>
			  <td>
				<input type="text" id="" value="" class="form-control input-sm">
			  </td>
			  <td>
				<input type="text" id="" value="" class="form-control input-sm">
			  </td>
			  <td>
			  </td>
			</tr>			
			<tr class="warning">
			  <td>
				<input type="text" id="" value="" class="form-control input-sm">
			  </td>
			  <td>
				<input type="text" id="" value="" class="form-control input-sm">
			  </td>
			  <td>
				<input type="text" id="" value="" class="form-control input-sm">
			  </td>
			  <td>
			  </td>
			</tr>			
			<tr class="warning">
			  <td>
				<input type="text" id="" value="" class="form-control input-sm">
			  </td>
			  <td>
				<input type="text" id="" value="" class="form-control input-sm">
			  </td>
			  <td>
				<input type="text" id="" value="" class="form-control input-sm">
			  </td>
			  <td>
			  </td>
			</tr>			
			<tr class="warning">
			  <td>
				<input type="text" id="" value="" class="form-control input-sm">
			  </td>
			  <td>
				<input type="text" id="" value="" class="form-control input-sm">
			  </td>
			  <td>
				<input type="text" id="" value="" class="form-control input-sm">
			  </td>
			  <td>
			  </td>
			</tr>			
			<tr class="warning">
			  <td>
				<input type="text" id="" value="" class="form-control input-sm">
			  </td>
			  <td>
				<input type="text" id="" value="" class="form-control input-sm">
			  </td>
			  <td>
				<input type="text" id="" value="" class="form-control input-sm">
			  </td>
			  <td>
			  </td>
			</tr>			
			<tr class="warning">
			  <td>
				<input type="text" id="" value="" class="form-control input-sm">
			  </td>
			  <td>
				<input type="text" id="" value="" class="form-control input-sm">
			  </td>
			  <td>
				<input type="text" id="" value="" class="form-control input-sm">
			  </td>
			  <td>
			  </td>
			</tr>			
			<tr class="warning">
			  <td>
				<input type="text" id="" value="" class="form-control input-sm">
			  </td>
			  <td>
				<input type="text" id="" value="" class="form-control input-sm">
			  </td>
			  <td>
				<input type="text" id="" value="" class="form-control input-sm">
			  </td>
			  <td>
			  </td>
			</tr>			
			<tr class="warning">
			  <td>
				<input type="text" id="" value="" class="form-control input-sm">
			  </td>
			  <td>
				<input type="text" id="" value="" class="form-control input-sm">
			  </td>
			  <td>
				<input type="text" id="" value="" class="form-control input-sm">
			  </td>
			  <td>
			  </td>
			</tr>			
			<tr class="warning">
			  <td>
				<input type="text" id="" value="" class="form-control input-sm">
			  </td>
			  <td>
				<input type="text" id="" value="" class="form-control input-sm">
			  </td>
			  <td>
				<input type="text" id="" value="" class="form-control input-sm">
			  </td>
			  <td>
			  </td>
			</tr>
		  </tbody>
		</table>
		</div>
		<!-- End: 作息时间-->	
		<div id="rich_text">
			<textarea rows="10" class="form-control" name="intro" id="introEditor"></textarea>
		</div>
	</div>			
		

    <?php F::TPL('common/footer.html', [], 'Gzadmin') ?>
    <script>
		Gaofen.PD.set({
        	'admitForte' : <?php echo $admitForteList; ?>,
            'luquTypeList': <?php echo json_encode($luquTypeList); ?>,
            'gzAdmitRangeList': <?php echo json_encode($gzAdmitRangeList); ?>,
            'gzAdmitBatchList': <?php echo json_encode($gzAdmitBatchList); ?>
        });
	</script>
