// 简介：直播页样式
//==============================

.live-page
  .gf-main
    padding 0
    absolute left top
    size 100%
    background-color #3f3f3f

.live-top
  absolute left top
  height 70px
  width 100%
  background-color #454443
  color grey
  z-index 4
  .live-top-left
    width 75%
  .label-blue
    border-radius 4px
    font-size 14px
    padding 0 10px
    margin-top 23px
    margin-left 20px
  .title-kt
    absolute left top
    z-index 8
  .live-title
    font-weight 200
    margin 0
    display block
    font-size 20px
    line-height 70px
    relative left top
    padding-left 230px
    box-sizing border-box
    text-overflow(width = 70%)
  .live-top-right
    absolute right top
    width 25%
    height 70px
    border-left 1px solid #616161
    span
    i
      vertical-align middle
    span
      line-height 70px
      font-size 16px
    i
      margin 0 20px


// 视频框样式
.live-wrap
  size 100%
  position relative

.live-container
  size 100%
  padding-top 70px
  box-sizing border-box

.live-content
  width 75%
  height 100%
  position relative
  overflow hidden
  z-index 2
.live-courses
  absolute left top
  size 100%
  text-align center
  background url("../img/block/course-bg-b.jpg") no-repeat 0 0
  background-size cover
  z-index 9
  .courses-mask
    border-radius 0
  .live-courses-container
    width 100%
    absolute left 50% top 50%
    transform translate(-50%,-50%)
  .live-courses-title
    font-size 40px
    color #ffffff
    width 70%
    margin 0 auto
  .live-courses-msg
    background-color rgba(0,0,0,.6)
    margin 20px auto
    padding 20px 25px
    width 180px
    border-radius 4px
    p
      margin 0
      font-size 14px
      color #10e2bb

// 教师信息
.live-message-wrap
  width 25%
  height 100%
  padding-top 70px
  box-sizing border-box
  color #8e8e8e
  font-size 14px
  absolute right top
  overflow hidden
  z-index 3

.live-message-top
  height 220px
  padding 10px 20px
  margin-bottom 10px
  background-color #4c4c4c
  position relative
  z-index 3

.live-message-top-title
  font-size 16px
  line-height 2
  border-bottom 1px solid #656565

.live-message-teacher
  padding 20px 0
  text-align center
  overflow hidden

  span.fl
    line-height 1.8
  p
    margin 0 0 0 42px
    line-height 1.8
    text-align left
  .unslider-item
    float left
    img
      max-height 130px

// 交流区
.live-message-list
  width 100%
  padding 20px 20px 0 20px
  background-color #4c4c4c
  overflow hidden
  z-index 1
  box-sizing border-box
  absolute left top 320px bottom 84px
  .message-list
    width 115%
    height 100%
    position relative
    overflow-y scroll
    ul
      relative left top
    .message-item
      padding-right 20px
  span
    margin-right 10px
  .message-item-content
    color #fbfcfc

.message-form
  width 100%
  background-color #656565
  absolute right bottom
  z-index 3

  textarea
    display block
    width 100%
    height 80px
    border none
    resize none
    padding 10px 60px 10px 10px
    background none
    box-sizing border-box
    &:focus
      border none
      box-shadow none
  .btn
    size 40px 64px
    color #ffffff
    background-color #2be4bd
    margin 10px 5px 0 0
    border-radius 2px
    border none
    absolute right top
    z-index 9


// 浮层
.stars-wrap
  size 100%
  absolute left top
  background-color rgba(0,0,0,.6)
.stars-container
  width 340px
  padding 20px 30px
  absolute left 50% top 50%
  background-color #ffffff
  border 6px solid rgba(0,0,0,.2)
  border-radius 6px
  transform translate(-50%,-50%)
  .stars-header
    font-size 28px
  textarea
    width 100%
    padding 18px
    box-sizing border-box
    border 1px solid #e6e6e6
    border-radius 4px
    resize none
    font-size 16px
    margin 5px 0

