@media only screen and (max-width: 800px)
  .live-top
    height 35px

    .label-blue
      absolute right 5px top
      margin-top 5px
    .title-kt
      transform scale(.5) translate(-30%,-50%)
      margin-left 0!important
    .live-title
      line-height 35px
      padding-left 90px
      font-size 18px
      width 80%
  .live-message-top
  .live-top-right
    display none

  .live-container
    padding-top 35px

  .live-content
    width 100%
    padding-bottom 247px
    box-sizing border-box
  .live-courses
    bottom 247px
    height auto
    .live-courses-title
      font-size 24px
      height 68px
      overflow hidden
  .live-message-wrap
    width 100%
    height 247px
    top auto
    bottom 0

  .live-message-list
    top 0
    bottom 80px
    .message-list
      width 100%
      .message-item
        padding-right 0

  .stars-wrap
    transform scale(.6)