@media only screen and (max-width: 800px)
  *
    box-sizing border-box
  .gf-main
    padding-bottom 130px
  .gf-header
  .gf-footer
  .live-state
    padding-left 20px

  .gf-header
    height 50px
    .header-container
      .logo
        margin-top 10px
        img
          width 120px
      ul
        display none
      .reg-login
        display none
  .gf-footer
    height 120px
    img
      width 120px
    .foot-links
      display none
  .live-state
    img
      height 20px
  .live-state-ing
    img
      height 40px
  .live-wrap
    margin 20px 0
  .live-container
    padding-top 30px

  .live-content
  .live-message-wrap
    float none!important
  .live-message-wrap
    width 100%
    height auto
  .live-message-top
    display none
  .live-message-list
    .message-list
      width 100%
      .message-item
        padding-right 0

  .message-form
    textarea
      display block
      width 100%
      padding-right 60px
    .btn
      height 50px
      float none
      absolute right 5px bottom 5px
      z-index 9