.setting-wrap
  font-size 14px
  position relative
  background-color #ffffff
  border-radius 4px
  border 1px solid #e6e6e6
  padding 40px
  min-height 568px

.setting-container
  border-radius 4px
  border 1px solid #e6e6e6
  background-color #ffffff
  padding 20px
  width 688px
  height 615px
  font-size 14px
.btn-setting
  i
  span
    vertical-align middle
  span
    font-size 22px
    color #48bccb
    margin-left 10px
.gf-form
  display inline-block
.set-title
  text-align left
  margin 20px 0
  i
  span
    vertical-align middle
  span
    font-size 16px
    margin-left 5px
.gf-form-row
  color #939393
  padding 5px 0
  padding-left 30px
  .input
  input
    border 1px solid #e2e2e2
    border-radius 4px
    line-height 38px
    width 238px
    height 38px
    padding 0 10px
  .input
    width 258px
    display inline-block
    vertical-align middle
    padding 0
    position relative
    text-align left
    span
      margin-left 10px
    select
      width 100%
      height 38px
      absolute left top
      opacity 0
    .icon-down-black
      absolute right 10px top 15px
  .w138
    width 118px
  .btn
    width 115px
    background-color #c8c8c8
    color #ffffff
    border-radius 4px
    line-height 38px
    vertical-align top

.upload-avatar
  margin-bottom 5px
  span
    color #939393
    line-height 40px
  .avatar-wrap
    size 140px
    display inline-block
    position relative
    vertical-align top
    border-radius 4px
    overflow hidden
    .ui-avatar
      size 100%
    a
      display block
      width 100%
      line-height 28px
      absolute left bottom
      background-color rgba(0,0,0,.6)
      color #43a8ba

.mask-wrap
  .gf-form-row
    padding-left 0
    .input
      width 210px


.setting-bind
  size 350px 657px
  background url("../img/setting-bg.jpg") no-repeat 0 0
  absolute right top