.setting-wrap
  background-color #ffffff
  border-radius 4px
  border 1px solid #e6e6e6
  padding 40px
  min-height 568px
  font-size 14px

.setting-container
  margin-top 100px
.gf-form
  //width 350px
  display inline-block
.gf-form-row
  color #939393
  padding 5px 0
  padding-right 70px
  input
    border 1px solid #e2e2e2
    border-radius 4px
    line-height 38px
    width 238px
    padding 0 10px
  .w138
    width 118px
  .btn
    width 115px
    background-color #c8c8c8
    color #ffffff
    border-radius 4px
    line-height 38px
    vertical-align top

.upload-avatar
  display inline-block
  vertical-align top
  margin-top 5px
  span
    color #939393
    line-height 40px
  .avatar-wrap
    size 140px
    display inline-block
    position relative
    vertical-align top
    border-radius 4px
    overflow hidden
    .ui-avatar
      size 100%
    a
      display block
      width 100%
      line-height 28px
      absolute left bottom
      background-color rgba(0,0,0,.6)
      color #43a8ba