/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet = width height image $spritesheet_sprites;
*/
$bg_user_top_name = 'bg-user-top';
$bg_user_top_x = 38px;
$bg_user_top_y = 356px;
$bg_user_top_offset_x = -38px;
$bg_user_top_offset_y = -356px;
$bg_user_top_width = 12px;
$bg_user_top_height = 6px;
$bg_user_top_total_width = 433px;
$bg_user_top_total_height = 386px;
$bg_user_top_image = '../img/sprite.png?20170330';
$bg_user_top = 38px 356px -38px -356px 12px 6px 433px 386px '../img/sprite.png?20170330' 'bg-user-top';
$icon_close_name = 'icon-close';
$icon_close_x = 214px;
$icon_close_y = 180px;
$icon_close_offset_x = -214px;
$icon_close_offset_y = -180px;
$icon_close_width = 18px;
$icon_close_height = 18px;
$icon_close_total_width = 433px;
$icon_close_total_height = 386px;
$icon_close_image = '../img/sprite.png?20170330';
$icon_close = 214px 180px -214px -180px 18px 18px 433px 386px '../img/sprite.png?20170330' 'icon-close';
$icon_courses_1_name = 'icon-courses-1';
$icon_courses_1_x = 132px;
$icon_courses_1_y = 268px;
$icon_courses_1_offset_x = -132px;
$icon_courses_1_offset_y = -268px;
$icon_courses_1_width = 24px;
$icon_courses_1_height = 24px;
$icon_courses_1_total_width = 433px;
$icon_courses_1_total_height = 386px;
$icon_courses_1_image = '../img/sprite.png?20170330';
$icon_courses_1 = 132px 268px -132px -268px 24px 24px 433px 386px '../img/sprite.png?20170330' 'icon-courses-1';
$icon_courses_10_name = 'icon-courses-10';
$icon_courses_10_x = 388px;
$icon_courses_10_y = 218px;
$icon_courses_10_offset_x = -388px;
$icon_courses_10_offset_y = -218px;
$icon_courses_10_width = 24px;
$icon_courses_10_height = 24px;
$icon_courses_10_total_width = 433px;
$icon_courses_10_total_height = 386px;
$icon_courses_10_image = '../img/sprite.png?20170330';
$icon_courses_10 = 388px 218px -388px -218px 24px 24px 433px 386px '../img/sprite.png?20170330' 'icon-courses-10';
$icon_courses_11_name = 'icon-courses-11';
$icon_courses_11_x = 0px;
$icon_courses_11_y = 268px;
$icon_courses_11_offset_x = 0px;
$icon_courses_11_offset_y = -268px;
$icon_courses_11_width = 24px;
$icon_courses_11_height = 24px;
$icon_courses_11_total_width = 433px;
$icon_courses_11_total_height = 386px;
$icon_courses_11_image = '../img/sprite.png?20170330';
$icon_courses_11 = 0px 268px 0px -268px 24px 24px 433px 386px '../img/sprite.png?20170330' 'icon-courses-11';
$icon_courses_2_name = 'icon-courses-2';
$icon_courses_2_x = 220px;
$icon_courses_2_y = 268px;
$icon_courses_2_offset_x = -220px;
$icon_courses_2_offset_y = -268px;
$icon_courses_2_width = 24px;
$icon_courses_2_height = 24px;
$icon_courses_2_total_width = 433px;
$icon_courses_2_total_height = 386px;
$icon_courses_2_image = '../img/sprite.png?20170330';
$icon_courses_2 = 220px 268px -220px -268px 24px 24px 433px 386px '../img/sprite.png?20170330' 'icon-courses-2';
$icon_courses_3_name = 'icon-courses-3';
$icon_courses_3_x = 264px;
$icon_courses_3_y = 268px;
$icon_courses_3_offset_x = -264px;
$icon_courses_3_offset_y = -268px;
$icon_courses_3_width = 24px;
$icon_courses_3_height = 24px;
$icon_courses_3_total_width = 433px;
$icon_courses_3_total_height = 386px;
$icon_courses_3_image = '../img/sprite.png?20170330';
$icon_courses_3 = 264px 268px -264px -268px 24px 24px 433px 386px '../img/sprite.png?20170330' 'icon-courses-3';
$icon_courses_4_name = 'icon-courses-4';
$icon_courses_4_x = 308px;
$icon_courses_4_y = 268px;
$icon_courses_4_offset_x = -308px;
$icon_courses_4_offset_y = -268px;
$icon_courses_4_width = 24px;
$icon_courses_4_height = 24px;
$icon_courses_4_total_width = 433px;
$icon_courses_4_total_height = 386px;
$icon_courses_4_image = '../img/sprite.png?20170330';
$icon_courses_4 = 308px 268px -308px -268px 24px 24px 433px 386px '../img/sprite.png?20170330' 'icon-courses-4';
$icon_courses_5_name = 'icon-courses-5';
$icon_courses_5_x = 44px;
$icon_courses_5_y = 312px;
$icon_courses_5_offset_x = -44px;
$icon_courses_5_offset_y = -312px;
$icon_courses_5_width = 24px;
$icon_courses_5_height = 24px;
$icon_courses_5_total_width = 433px;
$icon_courses_5_total_height = 386px;
$icon_courses_5_image = '../img/sprite.png?20170330';
$icon_courses_5 = 44px 312px -44px -312px 24px 24px 433px 386px '../img/sprite.png?20170330' 'icon-courses-5';
$icon_courses_6_name = 'icon-courses-6';
$icon_courses_6_x = 396px;
$icon_courses_6_y = 268px;
$icon_courses_6_offset_x = -396px;
$icon_courses_6_offset_y = -268px;
$icon_courses_6_width = 24px;
$icon_courses_6_height = 24px;
$icon_courses_6_total_width = 433px;
$icon_courses_6_total_height = 386px;
$icon_courses_6_image = '../img/sprite.png?20170330';
$icon_courses_6 = 396px 268px -396px -268px 24px 24px 433px 386px '../img/sprite.png?20170330' 'icon-courses-6';
$icon_courses_7_name = 'icon-courses-7';
$icon_courses_7_x = 44px;
$icon_courses_7_y = 268px;
$icon_courses_7_offset_x = -44px;
$icon_courses_7_offset_y = -268px;
$icon_courses_7_width = 24px;
$icon_courses_7_height = 24px;
$icon_courses_7_total_width = 433px;
$icon_courses_7_total_height = 386px;
$icon_courses_7_image = '../img/sprite.png?20170330';
$icon_courses_7 = 44px 268px -44px -268px 24px 24px 433px 386px '../img/sprite.png?20170330' 'icon-courses-7';
$icon_courses_8_name = 'icon-courses-8';
$icon_courses_8_x = 344px;
$icon_courses_8_y = 218px;
$icon_courses_8_offset_x = -344px;
$icon_courses_8_offset_y = -218px;
$icon_courses_8_width = 24px;
$icon_courses_8_height = 24px;
$icon_courses_8_total_width = 433px;
$icon_courses_8_total_height = 386px;
$icon_courses_8_image = '../img/sprite.png?20170330';
$icon_courses_8 = 344px 218px -344px -218px 24px 24px 433px 386px '../img/sprite.png?20170330' 'icon-courses-8';
$icon_courses_9_name = 'icon-courses-9';
$icon_courses_9_x = 300px;
$icon_courses_9_y = 218px;
$icon_courses_9_offset_x = -300px;
$icon_courses_9_offset_y = -218px;
$icon_courses_9_width = 24px;
$icon_courses_9_height = 24px;
$icon_courses_9_total_width = 433px;
$icon_courses_9_total_height = 386px;
$icon_courses_9_image = '../img/sprite.png?20170330';
$icon_courses_9 = 300px 218px -300px -218px 24px 24px 433px 386px '../img/sprite.png?20170330' 'icon-courses-9';
$icon_detail_point_name = 'icon-detail-point';
$icon_detail_point_x = 334px;
$icon_detail_point_y = 0px;
$icon_detail_point_offset_x = -334px;
$icon_detail_point_offset_y = 0px;
$icon_detail_point_width = 99px;
$icon_detail_point_height = 100px;
$icon_detail_point_total_width = 433px;
$icon_detail_point_total_height = 386px;
$icon_detail_point_image = '../img/sprite.png?20170330';
$icon_detail_point = 334px 0px -334px 0px 99px 100px 433px 386px '../img/sprite.png?20170330' 'icon-detail-point';
$icon_detail_schedule_name = 'icon-detail-schedule';
$icon_detail_schedule_x = 334px;
$icon_detail_schedule_y = 120px;
$icon_detail_schedule_offset_x = -334px;
$icon_detail_schedule_offset_y = -120px;
$icon_detail_schedule_width = 41px;
$icon_detail_schedule_height = 41px;
$icon_detail_schedule_total_width = 433px;
$icon_detail_schedule_total_height = 386px;
$icon_detail_schedule_image = '../img/sprite.png?20170330';
$icon_detail_schedule = 334px 120px -334px -120px 41px 41px 433px 386px '../img/sprite.png?20170330' 'icon-detail-schedule';
$icon_detail_stage_name = 'icon-detail-stage';
$icon_detail_stage_x = 274px;
$icon_detail_stage_y = 120px;
$icon_detail_stage_offset_x = -274px;
$icon_detail_stage_offset_y = -120px;
$icon_detail_stage_width = 40px;
$icon_detail_stage_height = 40px;
$icon_detail_stage_total_width = 433px;
$icon_detail_stage_total_height = 386px;
$icon_detail_stage_image = '../img/sprite.png?20170330';
$icon_detail_stage = 274px 120px -274px -120px 40px 40px 433px 386px '../img/sprite.png?20170330' 'icon-detail-stage';
$icon_detail_target_name = 'icon-detail-target';
$icon_detail_target_x = 214px;
$icon_detail_target_y = 0px;
$icon_detail_target_offset_x = -214px;
$icon_detail_target_offset_y = 0px;
$icon_detail_target_width = 100px;
$icon_detail_target_height = 100px;
$icon_detail_target_total_width = 433px;
$icon_detail_target_total_height = 386px;
$icon_detail_target_image = '../img/sprite.png?20170330';
$icon_detail_target = 214px 0px -214px 0px 100px 100px 433px 386px '../img/sprite.png?20170330' 'icon-detail-target';
$icon_detail_teacher_name = 'icon-detail-teacher';
$icon_detail_teacher_x = 132px;
$icon_detail_teacher_y = 312px;
$icon_detail_teacher_offset_x = -132px;
$icon_detail_teacher_offset_y = -312px;
$icon_detail_teacher_width = 22px;
$icon_detail_teacher_height = 24px;
$icon_detail_teacher_total_width = 433px;
$icon_detail_teacher_total_height = 386px;
$icon_detail_teacher_image = '../img/sprite.png?20170330';
$icon_detail_teacher = 132px 312px -132px -312px 22px 24px 433px 386px '../img/sprite.png?20170330' 'icon-detail-teacher';
$icon_detail_time_name = 'icon-detail-time';
$icon_detail_time_x = 214px;
$icon_detail_time_y = 120px;
$icon_detail_time_offset_x = -214px;
$icon_detail_time_offset_y = -120px;
$icon_detail_time_width = 40px;
$icon_detail_time_height = 40px;
$icon_detail_time_total_width = 433px;
$icon_detail_time_total_height = 386px;
$icon_detail_time_image = '../img/sprite.png?20170330';
$icon_detail_time = 214px 120px -214px -120px 40px 40px 433px 386px '../img/sprite.png?20170330' 'icon-detail-time';
$icon_down_black_name = 'icon-down-black';
$icon_down_black_x = 130px;
$icon_down_black_y = 356px;
$icon_down_black_offset_x = -130px;
$icon_down_black_offset_y = -356px;
$icon_down_black_width = 10px;
$icon_down_black_height = 6px;
$icon_down_black_total_width = 433px;
$icon_down_black_total_height = 386px;
$icon_down_black_image = '../img/sprite.png?20170330';
$icon_down_black = 130px 356px -130px -356px 10px 6px 433px 386px '../img/sprite.png?20170330' 'icon-down-black';
$icon_down_two_name = 'icon-down-two';
$icon_down_two_x = 397px;
$icon_down_two_y = 312px;
$icon_down_two_offset_x = -397px;
$icon_down_two_offset_y = -312px;
$icon_down_two_width = 10px;
$icon_down_two_height = 11px;
$icon_down_two_total_width = 433px;
$icon_down_two_total_height = 386px;
$icon_down_two_image = '../img/sprite.png?20170330';
$icon_down_two = 397px 312px -397px -312px 10px 11px 433px 386px '../img/sprite.png?20170330' 'icon-down-two';
$icon_down_name = 'icon-down';
$icon_down_x = 100px;
$icon_down_y = 356px;
$icon_down_offset_x = -100px;
$icon_down_offset_y = -356px;
$icon_down_width = 10px;
$icon_down_height = 6px;
$icon_down_total_width = 433px;
$icon_down_total_height = 386px;
$icon_down_image = '../img/sprite.png?20170330';
$icon_down = 100px 356px -100px -356px 10px 6px 433px 386px '../img/sprite.png?20170330' 'icon-down';
$icon_header_community_name = 'icon-header-community';
$icon_header_community_x = 88px;
$icon_header_community_y = 268px;
$icon_header_community_offset_x = -88px;
$icon_header_community_offset_y = -268px;
$icon_header_community_width = 24px;
$icon_header_community_height = 24px;
$icon_header_community_total_width = 433px;
$icon_header_community_total_height = 386px;
$icon_header_community_image = '../img/sprite.png?20170330';
$icon_header_community = 88px 268px -88px -268px 24px 24px 433px 386px '../img/sprite.png?20170330' 'icon-header-community';
$icon_header_home_name = 'icon-header-home';
$icon_header_home_x = 88px;
$icon_header_home_y = 312px;
$icon_header_home_offset_x = -88px;
$icon_header_home_offset_y = -312px;
$icon_header_home_width = 24px;
$icon_header_home_height = 24px;
$icon_header_home_total_width = 433px;
$icon_header_home_total_height = 386px;
$icon_header_home_image = '../img/sprite.png?20170330';
$icon_header_home = 88px 312px -88px -312px 24px 24px 433px 386px '../img/sprite.png?20170330' 'icon-header-home';
$icon_header_list_name = 'icon-header-list';
$icon_header_list_x = 176px;
$icon_header_list_y = 268px;
$icon_header_list_offset_x = -176px;
$icon_header_list_offset_y = -268px;
$icon_header_list_width = 24px;
$icon_header_list_height = 24px;
$icon_header_list_total_width = 433px;
$icon_header_list_total_height = 386px;
$icon_header_list_image = '../img/sprite.png?20170330';
$icon_header_list = 176px 268px -176px -268px 24px 24px 433px 386px '../img/sprite.png?20170330' 'icon-header-list';
$icon_header_person_name = 'icon-header-person';
$icon_header_person_x = 363px;
$icon_header_person_y = 312px;
$icon_header_person_offset_x = -363px;
$icon_header_person_offset_y = -312px;
$icon_header_person_width = 14px;
$icon_header_person_height = 14px;
$icon_header_person_total_width = 433px;
$icon_header_person_total_height = 386px;
$icon_header_person_image = '../img/sprite.png?20170330';
$icon_header_person = 363px 312px -363px -312px 14px 14px 433px 386px '../img/sprite.png?20170330' 'icon-header-person';
$icon_header_wechat_w_name = 'icon-header-wechat-w';
$icon_header_wechat_w_x = 292px;
$icon_header_wechat_w_y = 180px;
$icon_header_wechat_w_offset_x = -292px;
$icon_header_wechat_w_offset_y = -180px;
$icon_header_wechat_w_width = 20px;
$icon_header_wechat_w_height = 16px;
$icon_header_wechat_w_total_width = 433px;
$icon_header_wechat_w_total_height = 386px;
$icon_header_wechat_w_image = '../img/sprite.png?20170330';
$icon_header_wechat_w = 292px 180px -292px -180px 20px 16px 433px 386px '../img/sprite.png?20170330' 'icon-header-wechat-w';
$icon_header_wechat_name = 'icon-header-wechat';
$icon_header_wechat_x = 252px;
$icon_header_wechat_y = 180px;
$icon_header_wechat_offset_x = -252px;
$icon_header_wechat_offset_y = -180px;
$icon_header_wechat_width = 20px;
$icon_header_wechat_height = 16px;
$icon_header_wechat_total_width = 433px;
$icon_header_wechat_total_height = 386px;
$icon_header_wechat_image = '../img/sprite.png?20170330';
$icon_header_wechat = 252px 180px -252px -180px 20px 16px 433px 386px '../img/sprite.png?20170330' 'icon-header-wechat';
$icon_header_weibo_name = 'icon-header-weibo';
$icon_header_weibo_x = 253px;
$icon_header_weibo_y = 312px;
$icon_header_weibo_offset_x = -253px;
$icon_header_weibo_offset_y = -312px;
$icon_header_weibo_width = 18px;
$icon_header_weibo_height = 16px;
$icon_header_weibo_total_width = 433px;
$icon_header_weibo_total_height = 386px;
$icon_header_weibo_image = '../img/sprite.png?20170330';
$icon_header_weibo = 253px 312px -253px -312px 18px 16px 433px 386px '../img/sprite.png?20170330' 'icon-header-weibo';
$icon_live_num_name = 'icon-live-num';
$icon_live_num_x = 150px;
$icon_live_num_y = 218px;
$icon_live_num_offset_x = -150px;
$icon_live_num_offset_y = -218px;
$icon_live_num_width = 30px;
$icon_live_num_height = 30px;
$icon_live_num_total_width = 433px;
$icon_live_num_total_height = 386px;
$icon_live_num_image = '../img/sprite.png?20170330';
$icon_live_num = 150px 218px -150px -218px 30px 30px 433px 386px '../img/sprite.png?20170330' 'icon-live-num';
$icon_live_name = 'icon-live';
$icon_live_x = 327px;
$icon_live_y = 312px;
$icon_live_offset_x = -327px;
$icon_live_offset_y = -312px;
$icon_live_width = 16px;
$icon_live_height = 16px;
$icon_live_total_width = 433px;
$icon_live_total_height = 386px;
$icon_live_image = '../img/sprite.png?20170330';
$icon_live = 327px 312px -327px -312px 16px 16px 433px 386px '../img/sprite.png?20170330' 'icon-live';
$icon_living_name = 'icon-living';
$icon_living_x = 418px;
$icon_living_y = 181px;
$icon_living_offset_x = -418px;
$icon_living_offset_y = -181px;
$icon_living_width = 13px;
$icon_living_height = 16px;
$icon_living_total_width = 433px;
$icon_living_total_height = 386px;
$icon_living_image = '../img/sprite.png?20170330';
$icon_living = 418px 181px -418px -181px 13px 16px 433px 386px '../img/sprite.png?20170330' 'icon-living';
$icon_ranking_name = 'icon-ranking';
$icon_ranking_x = 250px;
$icon_ranking_y = 218px;
$icon_ranking_offset_x = -250px;
$icon_ranking_offset_y = -218px;
$icon_ranking_width = 30px;
$icon_ranking_height = 24px;
$icon_ranking_total_width = 433px;
$icon_ranking_total_height = 386px;
$icon_ranking_image = '../img/sprite.png?20170330';
$icon_ranking = 250px 218px -250px -218px 30px 24px 433px 386px '../img/sprite.png?20170330' 'icon-ranking';
$icon_set_person_name = 'icon-set-person';
$icon_set_person_x = 216px;
$icon_set_person_y = 312px;
$icon_set_person_offset_x = -216px;
$icon_set_person_offset_y = -312px;
$icon_set_person_width = 17px;
$icon_set_person_height = 24px;
$icon_set_person_total_width = 433px;
$icon_set_person_total_height = 386px;
$icon_set_person_image = '../img/sprite.png?20170330';
$icon_set_person = 216px 312px -216px -312px 17px 24px 433px 386px '../img/sprite.png?20170330' 'icon-set-person';
$icon_set_school_name = 'icon-set-school';
$icon_set_school_x = 174px;
$icon_set_school_y = 312px;
$icon_set_school_offset_x = -174px;
$icon_set_school_offset_y = -312px;
$icon_set_school_width = 22px;
$icon_set_school_height = 24px;
$icon_set_school_total_width = 433px;
$icon_set_school_total_height = 386px;
$icon_set_school_image = '../img/sprite.png?20170330';
$icon_set_school = 174px 312px -174px -312px 22px 24px 433px 386px '../img/sprite.png?20170330' 'icon-set-school';
$icon_setting_b_name = 'icon-setting-b';
$icon_setting_b_x = 395px;
$icon_setting_b_y = 120px;
$icon_setting_b_offset_x = -395px;
$icon_setting_b_offset_y = -120px;
$icon_setting_b_width = 36px;
$icon_setting_b_height = 36px;
$icon_setting_b_total_width = 433px;
$icon_setting_b_total_height = 386px;
$icon_setting_b_image = '../img/sprite.png?20170330';
$icon_setting_b = 395px 120px -395px -120px 36px 36px 433px 386px '../img/sprite.png?20170330' 'icon-setting-b';
$icon_setting_white_name = 'icon-setting-white';
$icon_setting_white_x = 0px;
$icon_setting_white_y = 312px;
$icon_setting_white_offset_x = 0px;
$icon_setting_white_offset_y = -312px;
$icon_setting_white_width = 24px;
$icon_setting_white_height = 24px;
$icon_setting_white_total_width = 433px;
$icon_setting_white_total_height = 386px;
$icon_setting_white_image = '../img/sprite.png?20170330';
$icon_setting_white = 0px 312px 0px -312px 24px 24px 433px 386px '../img/sprite.png?20170330' 'icon-setting-white';
$icon_setting_name = 'icon-setting';
$icon_setting_x = 352px;
$icon_setting_y = 268px;
$icon_setting_offset_x = -352px;
$icon_setting_offset_y = -268px;
$icon_setting_width = 24px;
$icon_setting_height = 24px;
$icon_setting_total_width = 433px;
$icon_setting_total_height = 386px;
$icon_setting_image = '../img/sprite.png?20170330';
$icon_setting = 352px 268px -352px -268px 24px 24px 433px 386px '../img/sprite.png?20170330' 'icon-setting';
$icon_star_full_name = 'icon-star-full';
$icon_star_full_x = 148px;
$icon_star_full_y = 144px;
$icon_star_full_offset_x = -148px;
$icon_star_full_offset_y = -144px;
$icon_star_full_width = 35px;
$icon_star_full_height = 34px;
$icon_star_full_total_width = 433px;
$icon_star_full_total_height = 386px;
$icon_star_full_image = '../img/sprite.png?20170330';
$icon_star_full = 148px 144px -148px -144px 35px 34px 433px 386px '../img/sprite.png?20170330' 'icon-star-full';
$icon_star_name = 'icon-star';
$icon_star_x = 148px;
$icon_star_y = 90px;
$icon_star_offset_x = -148px;
$icon_star_offset_y = -90px;
$icon_star_width = 36px;
$icon_star_height = 34px;
$icon_star_total_width = 433px;
$icon_star_total_height = 386px;
$icon_star_image = '../img/sprite.png?20170330';
$icon_star = 148px 90px -148px -90px 36px 34px 433px 386px '../img/sprite.png?20170330' 'icon-star';
$icon_tick_name = 'icon-tick';
$icon_tick_x = 0px;
$icon_tick_y = 90px;
$icon_tick_offset_x = 0px;
$icon_tick_offset_y = -90px;
$icon_tick_width = 128px;
$icon_tick_height = 108px;
$icon_tick_total_width = 433px;
$icon_tick_total_height = 386px;
$icon_tick_image = '../img/sprite.png?20170330';
$icon_tick = 0px 90px 0px -90px 128px 108px 433px 386px '../img/sprite.png?20170330' 'icon-tick';
$icon_time_name = 'icon-time';
$icon_time_x = 291px;
$icon_time_y = 312px;
$icon_time_offset_x = -291px;
$icon_time_offset_y = -312px;
$icon_time_width = 16px;
$icon_time_height = 16px;
$icon_time_total_width = 433px;
$icon_time_total_height = 386px;
$icon_time_image = '../img/sprite.png?20170330';
$icon_time = 291px 312px -291px -312px 16px 16px 433px 386px '../img/sprite.png?20170330' 'icon-time';
$icon_tips_live_end_name = 'icon-tips-live-end';
$icon_tips_live_end_x = 50px;
$icon_tips_live_end_y = 218px;
$icon_tips_live_end_offset_x = -50px;
$icon_tips_live_end_offset_y = -218px;
$icon_tips_live_end_width = 30px;
$icon_tips_live_end_height = 30px;
$icon_tips_live_end_total_width = 433px;
$icon_tips_live_end_total_height = 386px;
$icon_tips_live_end_image = '../img/sprite.png?20170330';
$icon_tips_live_end = 50px 218px -50px -218px 30px 30px 433px 386px '../img/sprite.png?20170330' 'icon-tips-live-end';
$icon_tips_smiling_name = 'icon-tips-smiling';
$icon_tips_smiling_x = 0px;
$icon_tips_smiling_y = 218px;
$icon_tips_smiling_offset_x = 0px;
$icon_tips_smiling_offset_y = -218px;
$icon_tips_smiling_width = 30px;
$icon_tips_smiling_height = 30px;
$icon_tips_smiling_total_width = 433px;
$icon_tips_smiling_total_height = 386px;
$icon_tips_smiling_image = '../img/sprite.png?20170330';
$icon_tips_smiling = 0px 218px 0px -218px 30px 30px 433px 386px '../img/sprite.png?20170330' 'icon-tips-smiling';
$icon_tips_time_name = 'icon-tips-time';
$icon_tips_time_x = 0px;
$icon_tips_time_y = 356px;
$icon_tips_time_offset_x = 0px;
$icon_tips_time_offset_y = -356px;
$icon_tips_time_width = 18px;
$icon_tips_time_height = 30px;
$icon_tips_time_total_width = 433px;
$icon_tips_time_total_height = 386px;
$icon_tips_time_image = '../img/sprite.png?20170330';
$icon_tips_time = 0px 356px 0px -356px 18px 30px 433px 386px '../img/sprite.png?20170330' 'icon-tips-time';
$icon_up_grey_name = 'icon-up-grey';
$icon_up_grey_x = 70px;
$icon_up_grey_y = 356px;
$icon_up_grey_offset_x = -70px;
$icon_up_grey_offset_y = -356px;
$icon_up_grey_width = 10px;
$icon_up_grey_height = 6px;
$icon_up_grey_total_width = 433px;
$icon_up_grey_total_height = 386px;
$icon_up_grey_image = '../img/sprite.png?20170330';
$icon_up_grey = 70px 356px -70px -356px 10px 6px 433px 386px '../img/sprite.png?20170330' 'icon-up-grey';
$right_erweima_hover_name = 'right-erweima-hover';
$right_erweima_hover_x = 100px;
$right_erweima_hover_y = 218px;
$right_erweima_hover_offset_x = -100px;
$right_erweima_hover_offset_y = -218px;
$right_erweima_hover_width = 30px;
$right_erweima_hover_height = 30px;
$right_erweima_hover_total_width = 433px;
$right_erweima_hover_total_height = 386px;
$right_erweima_hover_image = '../img/sprite.png?20170330';
$right_erweima_hover = 100px 218px -100px -218px 30px 30px 433px 386px '../img/sprite.png?20170330' 'right-erweima-hover';
$right_erweima_name = 'right-erweima';
$right_erweima_x = 200px;
$right_erweima_y = 218px;
$right_erweima_offset_x = -200px;
$right_erweima_offset_y = -218px;
$right_erweima_width = 30px;
$right_erweima_height = 30px;
$right_erweima_total_width = 433px;
$right_erweima_total_height = 386px;
$right_erweima_image = '../img/sprite.png?20170330';
$right_erweima = 200px 218px -200px -218px 30px 30px 433px 386px '../img/sprite.png?20170330' 'right-erweima';
$right_top_hover_name = 'right-top-hover';
$right_top_hover_x = 376px;
$right_top_hover_y = 181px;
$right_top_hover_offset_x = -376px;
$right_top_hover_offset_y = -181px;
$right_top_hover_width = 22px;
$right_top_hover_height = 17px;
$right_top_hover_total_width = 433px;
$right_top_hover_total_height = 386px;
$right_top_hover_image = '../img/sprite.png?20170330';
$right_top_hover = 376px 181px -376px -181px 22px 17px 433px 386px '../img/sprite.png?20170330' 'right-top-hover';
$right_top_name = 'right-top';
$right_top_x = 334px;
$right_top_y = 181px;
$right_top_offset_x = -334px;
$right_top_offset_y = -181px;
$right_top_width = 22px;
$right_top_height = 17px;
$right_top_total_width = 433px;
$right_top_total_height = 386px;
$right_top_image = '../img/sprite.png?20170330';
$right_top = 334px 181px -334px -181px 22px 17px 433px 386px '../img/sprite.png?20170330' 'right-top';
$title_kt_name = 'title-kt';
$title_kt_x = 0px;
$title_kt_y = 0px;
$title_kt_offset_x = 0px;
$title_kt_offset_y = 0px;
$title_kt_width = 194px;
$title_kt_height = 70px;
$title_kt_total_width = 433px;
$title_kt_total_height = 386px;
$title_kt_image = '../img/sprite.png?20170330';
$title_kt = 0px 0px 0px 0px 194px 70px 433px 386px '../img/sprite.png?20170330' 'title-kt';
$spritesheet_width = 433px;
$spritesheet_height = 386px;
$spritesheet_image = '../img/sprite.png?20170330';
$spritesheet_sprites = $bg_user_top $icon_close $icon_courses_1 $icon_courses_10 $icon_courses_11 $icon_courses_2 $icon_courses_3 $icon_courses_4 $icon_courses_5 $icon_courses_6 $icon_courses_7 $icon_courses_8 $icon_courses_9 $icon_detail_point $icon_detail_schedule $icon_detail_stage $icon_detail_target $icon_detail_teacher $icon_detail_time $icon_down_black $icon_down_two $icon_down $icon_header_community $icon_header_home $icon_header_list $icon_header_person $icon_header_wechat_w $icon_header_wechat $icon_header_weibo $icon_live_num $icon_live $icon_living $icon_ranking $icon_set_person $icon_set_school $icon_setting_b $icon_setting_white $icon_setting $icon_star_full $icon_star $icon_tick $icon_time $icon_tips_live_end $icon_tips_smiling $icon_tips_time $icon_up_grey $right_erweima_hover $right_erweima $right_top_hover $right_top $title_kt;
$spritesheet = 433px 386px '../img/sprite.png?20170330' $spritesheet_sprites;

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of Stylus

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

sprites($spritesheet_sprites);
*/
sprites($sprites) {
  for $sprite in $sprites {
    $sprite_name = $sprite[9];
    .{$sprite_name} {
      sprite($sprite);
    }
  }
}
