/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet = width height image $spritesheet_sprites;
*/
$bg_user_top_name = 'bg-user-top';
$bg_user_top_x = 140px;
$bg_user_top_y = 132px;
$bg_user_top_offset_x = -140px;
$bg_user_top_offset_y = -132px;
$bg_user_top_width = 12px;
$bg_user_top_height = 6px;
$bg_user_top_total_width = 200px;
$bg_user_top_total_height = 187px;
$bg_user_top_image = '../img/sprite.png';
$bg_user_top = 140px 132px -140px -132px 12px 6px 200px 187px '../img/sprite.png' 'bg-user-top';
$home_kc_active_name = 'home-kc-active';
$home_kc_active_x = 30px;
$home_kc_active_y = 138px;
$home_kc_active_offset_x = -30px;
$home_kc_active_offset_y = -138px;
$home_kc_active_width = 30px;
$home_kc_active_height = 25px;
$home_kc_active_total_width = 200px;
$home_kc_active_total_height = 187px;
$home_kc_active_image = '../img/sprite.png';
$home_kc_active = 30px 138px -30px -138px 30px 25px 200px 187px '../img/sprite.png' 'home-kc-active';
$home_kc_name = 'home-kc';
$home_kc_x = 120px;
$home_kc_y = 138px;
$home_kc_offset_x = -120px;
$home_kc_offset_y = -138px;
$home_kc_width = 30px;
$home_kc_height = 25px;
$home_kc_total_width = 200px;
$home_kc_total_height = 187px;
$home_kc_image = '../img/sprite.png';
$home_kc = 120px 138px -120px -138px 30px 25px 200px 187px '../img/sprite.png' 'home-kc';
$home_mes_active_name = 'home-mes-active';
$home_mes_active_x = 60px;
$home_mes_active_y = 138px;
$home_mes_active_offset_x = -60px;
$home_mes_active_offset_y = -138px;
$home_mes_active_width = 30px;
$home_mes_active_height = 25px;
$home_mes_active_total_width = 200px;
$home_mes_active_total_height = 187px;
$home_mes_active_image = '../img/sprite.png';
$home_mes_active = 60px 138px -60px -138px 30px 25px 200px 187px '../img/sprite.png' 'home-mes-active';
$home_mes_name = 'home-mes';
$home_mes_x = 90px;
$home_mes_y = 138px;
$home_mes_offset_x = -90px;
$home_mes_offset_y = -138px;
$home_mes_width = 30px;
$home_mes_height = 25px;
$home_mes_total_width = 200px;
$home_mes_total_height = 187px;
$home_mes_image = '../img/sprite.png';
$home_mes = 90px 138px -90px -138px 30px 25px 200px 187px '../img/sprite.png' 'home-mes';
$home_order_active_name = 'home-order-active';
$home_order_active_x = 140px;
$home_order_active_y = 90px;
$home_order_active_offset_x = -140px;
$home_order_active_offset_y = -90px;
$home_order_active_width = 30px;
$home_order_active_height = 25px;
$home_order_active_total_width = 200px;
$home_order_active_total_height = 187px;
$home_order_active_image = '../img/sprite.png';
$home_order_active = 140px 90px -140px -90px 30px 25px 200px 187px '../img/sprite.png' 'home-order-active';
$home_order_name = 'home-order';
$home_order_x = 0px;
$home_order_y = 138px;
$home_order_offset_x = 0px;
$home_order_offset_y = -138px;
$home_order_width = 30px;
$home_order_height = 25px;
$home_order_total_width = 200px;
$home_order_total_height = 187px;
$home_order_image = '../img/sprite.png';
$home_order = 0px 138px 0px -138px 30px 25px 200px 187px '../img/sprite.png' 'home-order';
$icon_down_name = 'icon-down';
$icon_down_x = 152px;
$icon_down_y = 132px;
$icon_down_offset_x = -152px;
$icon_down_offset_y = -132px;
$icon_down_width = 10px;
$icon_down_height = 6px;
$icon_down_total_width = 200px;
$icon_down_total_height = 187px;
$icon_down_image = '../img/sprite.png';
$icon_down = 152px 132px -152px -132px 10px 6px 200px 187px '../img/sprite.png' 'icon-down';
$icon_header_community_active_name = 'icon-header-community-active';
$icon_header_community_active_x = 170px;
$icon_header_community_active_y = 96px;
$icon_header_community_active_offset_x = -170px;
$icon_header_community_active_offset_y = -96px;
$icon_header_community_active_width = 24px;
$icon_header_community_active_height = 24px;
$icon_header_community_active_total_width = 200px;
$icon_header_community_active_total_height = 187px;
$icon_header_community_active_image = '../img/sprite.png';
$icon_header_community_active = 170px 96px -170px -96px 24px 24px 200px 187px '../img/sprite.png' 'icon-header-community-active';
$icon_header_community_name = 'icon-header-community';
$icon_header_community_x = 170px;
$icon_header_community_y = 120px;
$icon_header_community_offset_x = -170px;
$icon_header_community_offset_y = -120px;
$icon_header_community_width = 24px;
$icon_header_community_height = 24px;
$icon_header_community_total_width = 200px;
$icon_header_community_total_height = 187px;
$icon_header_community_image = '../img/sprite.png';
$icon_header_community = 170px 120px -170px -120px 24px 24px 200px 187px '../img/sprite.png' 'icon-header-community';
$icon_header_course_active_name = 'icon-header-course-active';
$icon_header_course_active_x = 170px;
$icon_header_course_active_y = 72px;
$icon_header_course_active_offset_x = -170px;
$icon_header_course_active_offset_y = -72px;
$icon_header_course_active_width = 24px;
$icon_header_course_active_height = 24px;
$icon_header_course_active_total_width = 200px;
$icon_header_course_active_total_height = 187px;
$icon_header_course_active_image = '../img/sprite.png';
$icon_header_course_active = 170px 72px -170px -72px 24px 24px 200px 187px '../img/sprite.png' 'icon-header-course-active';
$icon_header_course_name = 'icon-header-course';
$icon_header_course_x = 72px;
$icon_header_course_y = 163px;
$icon_header_course_offset_x = -72px;
$icon_header_course_offset_y = -163px;
$icon_header_course_width = 24px;
$icon_header_course_height = 24px;
$icon_header_course_total_width = 200px;
$icon_header_course_total_height = 187px;
$icon_header_course_image = '../img/sprite.png';
$icon_header_course = 72px 163px -72px -163px 24px 24px 200px 187px '../img/sprite.png' 'icon-header-course';
$icon_header_learning_active_name = 'icon-header-learning-active';
$icon_header_learning_active_x = 48px;
$icon_header_learning_active_y = 163px;
$icon_header_learning_active_offset_x = -48px;
$icon_header_learning_active_offset_y = -163px;
$icon_header_learning_active_width = 24px;
$icon_header_learning_active_height = 24px;
$icon_header_learning_active_total_width = 200px;
$icon_header_learning_active_total_height = 187px;
$icon_header_learning_active_image = '../img/sprite.png';
$icon_header_learning_active = 48px 163px -48px -163px 24px 24px 200px 187px '../img/sprite.png' 'icon-header-learning-active';
$icon_header_learning_name = 'icon-header-learning';
$icon_header_learning_x = 170px;
$icon_header_learning_y = 48px;
$icon_header_learning_offset_x = -170px;
$icon_header_learning_offset_y = -48px;
$icon_header_learning_width = 24px;
$icon_header_learning_height = 24px;
$icon_header_learning_total_width = 200px;
$icon_header_learning_total_height = 187px;
$icon_header_learning_image = '../img/sprite.png';
$icon_header_learning = 170px 48px -170px -48px 24px 24px 200px 187px '../img/sprite.png' 'icon-header-learning';
$icon_header_person_name = 'icon-header-person';
$icon_header_person_x = 146px;
$icon_header_person_y = 163px;
$icon_header_person_offset_x = -146px;
$icon_header_person_offset_y = -163px;
$icon_header_person_width = 14px;
$icon_header_person_height = 14px;
$icon_header_person_total_width = 200px;
$icon_header_person_total_height = 187px;
$icon_header_person_image = '../img/sprite.png';
$icon_header_person = 146px 163px -146px -163px 14px 14px 200px 187px '../img/sprite.png' 'icon-header-person';
$icon_header_wechat_name = 'icon-header-wechat';
$icon_header_wechat_x = 150px;
$icon_header_wechat_y = 138px;
$icon_header_wechat_offset_x = -150px;
$icon_header_wechat_offset_y = -138px;
$icon_header_wechat_width = 20px;
$icon_header_wechat_height = 16px;
$icon_header_wechat_total_width = 200px;
$icon_header_wechat_total_height = 187px;
$icon_header_wechat_image = '../img/sprite.png';
$icon_header_wechat = 150px 138px -150px -138px 20px 16px 200px 187px '../img/sprite.png' 'icon-header-wechat';
$icon_header_weibo_name = 'icon-header-weibo';
$icon_header_weibo_x = 96px;
$icon_header_weibo_y = 163px;
$icon_header_weibo_offset_x = -96px;
$icon_header_weibo_offset_y = -163px;
$icon_header_weibo_width = 18px;
$icon_header_weibo_height = 16px;
$icon_header_weibo_total_width = 200px;
$icon_header_weibo_total_height = 187px;
$icon_header_weibo_image = '../img/sprite.png';
$icon_header_weibo = 96px 163px -96px -163px 18px 16px 200px 187px '../img/sprite.png' 'icon-header-weibo';
$icon_live_name = 'icon-live';
$icon_live_x = 114px;
$icon_live_y = 163px;
$icon_live_offset_x = -114px;
$icon_live_offset_y = -163px;
$icon_live_width = 16px;
$icon_live_height = 16px;
$icon_live_total_width = 200px;
$icon_live_total_height = 187px;
$icon_live_image = '../img/sprite.png';
$icon_live = 114px 163px -114px -163px 16px 16px 200px 187px '../img/sprite.png' 'icon-live';
$icon_math_name = 'icon-math';
$icon_math_x = 24px;
$icon_math_y = 163px;
$icon_math_offset_x = -24px;
$icon_math_offset_y = -163px;
$icon_math_width = 24px;
$icon_math_height = 24px;
$icon_math_total_width = 200px;
$icon_math_total_height = 187px;
$icon_math_image = '../img/sprite.png';
$icon_math = 24px 163px -24px -163px 24px 24px 200px 187px '../img/sprite.png' 'icon-math';
$icon_physics_name = 'icon-physics';
$icon_physics_x = 170px;
$icon_physics_y = 24px;
$icon_physics_offset_x = -170px;
$icon_physics_offset_y = -24px;
$icon_physics_width = 24px;
$icon_physics_height = 24px;
$icon_physics_total_width = 200px;
$icon_physics_total_height = 187px;
$icon_physics_image = '../img/sprite.png';
$icon_physics = 170px 24px -170px -24px 24px 24px 200px 187px '../img/sprite.png' 'icon-physics';
$icon_ranking_name = 'icon-ranking';
$icon_ranking_x = 170px;
$icon_ranking_y = 0px;
$icon_ranking_offset_x = -170px;
$icon_ranking_offset_y = 0px;
$icon_ranking_width = 30px;
$icon_ranking_height = 24px;
$icon_ranking_total_width = 200px;
$icon_ranking_total_height = 187px;
$icon_ranking_image = '../img/sprite.png';
$icon_ranking = 170px 0px -170px 0px 30px 24px 200px 187px '../img/sprite.png' 'icon-ranking';
$icon_setting_name = 'icon-setting';
$icon_setting_x = 0px;
$icon_setting_y = 163px;
$icon_setting_offset_x = 0px;
$icon_setting_offset_y = -163px;
$icon_setting_width = 24px;
$icon_setting_height = 24px;
$icon_setting_total_width = 200px;
$icon_setting_total_height = 187px;
$icon_setting_image = '../img/sprite.png';
$icon_setting = 0px 163px 0px -163px 24px 24px 200px 187px '../img/sprite.png' 'icon-setting';
$icon_time_name = 'icon-time';
$icon_time_x = 130px;
$icon_time_y = 163px;
$icon_time_offset_x = -130px;
$icon_time_offset_y = -163px;
$icon_time_width = 16px;
$icon_time_height = 16px;
$icon_time_total_width = 200px;
$icon_time_total_height = 187px;
$icon_time_image = '../img/sprite.png';
$icon_time = 130px 163px -130px -163px 16px 16px 200px 187px '../img/sprite.png' 'icon-time';
$icon_tips_done_name = 'icon-tips-done';
$icon_tips_done_x = 0px;
$icon_tips_done_y = 0px;
$icon_tips_done_offset_x = 0px;
$icon_tips_done_offset_y = 0px;
$icon_tips_done_width = 140px;
$icon_tips_done_height = 138px;
$icon_tips_done_total_width = 200px;
$icon_tips_done_total_height = 187px;
$icon_tips_done_image = '../img/sprite.png';
$icon_tips_done = 0px 0px 0px 0px 140px 138px 200px 187px '../img/sprite.png' 'icon-tips-done';
$icon_tips_smiling_name = 'icon-tips-smiling';
$icon_tips_smiling_x = 140px;
$icon_tips_smiling_y = 60px;
$icon_tips_smiling_offset_x = -140px;
$icon_tips_smiling_offset_y = -60px;
$icon_tips_smiling_width = 30px;
$icon_tips_smiling_height = 30px;
$icon_tips_smiling_total_width = 200px;
$icon_tips_smiling_total_height = 187px;
$icon_tips_smiling_image = '../img/sprite.png';
$icon_tips_smiling = 140px 60px -140px -60px 30px 30px 200px 187px '../img/sprite.png' 'icon-tips-smiling';
$right_erweima_hover_name = 'right-erweima-hover';
$right_erweima_hover_x = 140px;
$right_erweima_hover_y = 30px;
$right_erweima_hover_offset_x = -140px;
$right_erweima_hover_offset_y = -30px;
$right_erweima_hover_width = 30px;
$right_erweima_hover_height = 30px;
$right_erweima_hover_total_width = 200px;
$right_erweima_hover_total_height = 187px;
$right_erweima_hover_image = '../img/sprite.png';
$right_erweima_hover = 140px 30px -140px -30px 30px 30px 200px 187px '../img/sprite.png' 'right-erweima-hover';
$right_erweima_name = 'right-erweima';
$right_erweima_x = 140px;
$right_erweima_y = 0px;
$right_erweima_offset_x = -140px;
$right_erweima_offset_y = 0px;
$right_erweima_width = 30px;
$right_erweima_height = 30px;
$right_erweima_total_width = 200px;
$right_erweima_total_height = 187px;
$right_erweima_image = '../img/sprite.png';
$right_erweima = 140px 0px -140px 0px 30px 30px 200px 187px '../img/sprite.png' 'right-erweima';
$right_top_hover_name = 'right-top-hover';
$right_top_hover_x = 170px;
$right_top_hover_y = 144px;
$right_top_hover_offset_x = -170px;
$right_top_hover_offset_y = -144px;
$right_top_hover_width = 22px;
$right_top_hover_height = 17px;
$right_top_hover_total_width = 200px;
$right_top_hover_total_height = 187px;
$right_top_hover_image = '../img/sprite.png';
$right_top_hover = 170px 144px -170px -144px 22px 17px 200px 187px '../img/sprite.png' 'right-top-hover';
$right_top_name = 'right-top';
$right_top_x = 140px;
$right_top_y = 115px;
$right_top_offset_x = -140px;
$right_top_offset_y = -115px;
$right_top_width = 22px;
$right_top_height = 17px;
$right_top_total_width = 200px;
$right_top_total_height = 187px;
$right_top_image = '../img/sprite.png';
$right_top = 140px 115px -140px -115px 22px 17px 200px 187px '../img/sprite.png' 'right-top';
$spritesheet_width = 200px;
$spritesheet_height = 187px;
$spritesheet_image = '../img/sprite.png';
$spritesheet_sprites = $bg_user_top $home_kc_active $home_kc $home_mes_active $home_mes $home_order_active $home_order $icon_down $icon_header_community_active $icon_header_community $icon_header_course_active $icon_header_course $icon_header_learning_active $icon_header_learning $icon_header_person $icon_header_wechat $icon_header_weibo $icon_live $icon_math $icon_physics $icon_ranking $icon_setting $icon_time $icon_tips_done $icon_tips_smiling $right_erweima_hover $right_erweima $right_top_hover $right_top;
$spritesheet = 200px 187px '../img/sprite.png' $spritesheet_sprites;

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of Stylus

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

sprites($spritesheet_sprites);
*/
sprites($sprites) {
  for $sprite in $sprites {
    $sprite_name = $sprite[9];
    .{$sprite_name} {
      sprite($sprite);
    }
  }
}
