/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet = width height image $spritesheet_sprites;
*/
$bg_user_top_name = 'bg-user-top';
$bg_user_top_x = 140px;
$bg_user_top_y = 130px;
$bg_user_top_offset_x = -140px;
$bg_user_top_offset_y = -130px;
$bg_user_top_width = 12px;
$bg_user_top_height = 6px;
$bg_user_top_total_width = 264px;
$bg_user_top_total_height = 262px;
$bg_user_top_image = '../img/sprite.png';
$bg_user_top = 140px 130px -140px -130px 12px 6px 264px 262px '../img/sprite.png' 'bg-user-top';
$home_kc_active_name = 'home-kc-active';
$home_kc_active_x = 129px;
$home_kc_active_y = 178px;
$home_kc_active_offset_x = -129px;
$home_kc_active_offset_y = -178px;
$home_kc_active_width = 30px;
$home_kc_active_height = 25px;
$home_kc_active_total_width = 264px;
$home_kc_active_total_height = 262px;
$home_kc_active_image = '../img/sprite.png';
$home_kc_active = 129px 178px -129px -178px 30px 25px 264px 262px '../img/sprite.png' 'home-kc-active';
$home_kc_name = 'home-kc';
$home_kc_x = 189px;
$home_kc_y = 178px;
$home_kc_offset_x = -189px;
$home_kc_offset_y = -178px;
$home_kc_width = 30px;
$home_kc_height = 25px;
$home_kc_total_width = 264px;
$home_kc_total_height = 262px;
$home_kc_image = '../img/sprite.png';
$home_kc = 189px 178px -189px -178px 30px 25px 264px 262px '../img/sprite.png' 'home-kc';
$home_mes_active_name = 'home-mes-active';
$home_mes_active_x = 209px;
$home_mes_active_y = 138px;
$home_mes_active_offset_x = -209px;
$home_mes_active_offset_y = -138px;
$home_mes_active_width = 30px;
$home_mes_active_height = 25px;
$home_mes_active_total_width = 264px;
$home_mes_active_total_height = 262px;
$home_mes_active_image = '../img/sprite.png';
$home_mes_active = 209px 138px -209px -138px 30px 25px 264px 262px '../img/sprite.png' 'home-mes-active';
$home_mes_name = 'home-mes';
$home_mes_x = 179px;
$home_mes_y = 138px;
$home_mes_offset_x = -179px;
$home_mes_offset_y = -138px;
$home_mes_width = 30px;
$home_mes_height = 25px;
$home_mes_total_width = 264px;
$home_mes_total_height = 262px;
$home_mes_image = '../img/sprite.png';
$home_mes = 179px 138px -179px -138px 30px 25px 264px 262px '../img/sprite.png' 'home-mes';
$home_order_active_name = 'home-order-active';
$home_order_active_x = 159px;
$home_order_active_y = 178px;
$home_order_active_offset_x = -159px;
$home_order_active_offset_y = -178px;
$home_order_active_width = 30px;
$home_order_active_height = 25px;
$home_order_active_total_width = 264px;
$home_order_active_total_height = 262px;
$home_order_active_image = '../img/sprite.png';
$home_order_active = 159px 178px -159px -178px 30px 25px 264px 262px '../img/sprite.png' 'home-order-active';
$home_order_name = 'home-order';
$home_order_x = 99px;
$home_order_y = 178px;
$home_order_offset_x = -99px;
$home_order_offset_y = -178px;
$home_order_width = 30px;
$home_order_height = 25px;
$home_order_total_width = 264px;
$home_order_total_height = 262px;
$home_order_image = '../img/sprite.png';
$home_order = 99px 178px -99px -178px 30px 25px 264px 262px '../img/sprite.png' 'home-order';
$icon_close_name = 'icon-close';
$icon_close_x = 219px;
$icon_close_y = 178px;
$icon_close_offset_x = -219px;
$icon_close_offset_y = -178px;
$icon_close_width = 18px;
$icon_close_height = 18px;
$icon_close_total_width = 264px;
$icon_close_total_height = 262px;
$icon_close_image = '../img/sprite.png';
$icon_close = 219px 178px -219px -178px 18px 18px 264px 262px '../img/sprite.png' 'icon-close';
$icon_courses_1_name = 'icon-courses-1';
$icon_courses_1_x = 240px;
$icon_courses_1_y = 0px;
$icon_courses_1_offset_x = -240px;
$icon_courses_1_offset_y = 0px;
$icon_courses_1_width = 24px;
$icon_courses_1_height = 24px;
$icon_courses_1_total_width = 264px;
$icon_courses_1_total_height = 262px;
$icon_courses_1_image = '../img/sprite.png';
$icon_courses_1 = 240px 0px -240px 0px 24px 24px 264px 262px '../img/sprite.png' 'icon-courses-1';
$icon_courses_10_name = 'icon-courses-10';
$icon_courses_10_x = 72px;
$icon_courses_10_y = 238px;
$icon_courses_10_offset_x = -72px;
$icon_courses_10_offset_y = -238px;
$icon_courses_10_width = 24px;
$icon_courses_10_height = 24px;
$icon_courses_10_total_width = 264px;
$icon_courses_10_total_height = 262px;
$icon_courses_10_image = '../img/sprite.png';
$icon_courses_10 = 72px 238px -72px -238px 24px 24px 264px 262px '../img/sprite.png' 'icon-courses-10';
$icon_courses_11_name = 'icon-courses-11';
$icon_courses_11_x = 48px;
$icon_courses_11_y = 238px;
$icon_courses_11_offset_x = -48px;
$icon_courses_11_offset_y = -238px;
$icon_courses_11_width = 24px;
$icon_courses_11_height = 24px;
$icon_courses_11_total_width = 264px;
$icon_courses_11_total_height = 262px;
$icon_courses_11_image = '../img/sprite.png';
$icon_courses_11 = 48px 238px -48px -238px 24px 24px 264px 262px '../img/sprite.png' 'icon-courses-11';
$icon_courses_2_name = 'icon-courses-2';
$icon_courses_2_x = 240px;
$icon_courses_2_y = 96px;
$icon_courses_2_offset_x = -240px;
$icon_courses_2_offset_y = -96px;
$icon_courses_2_width = 24px;
$icon_courses_2_height = 24px;
$icon_courses_2_total_width = 264px;
$icon_courses_2_total_height = 262px;
$icon_courses_2_image = '../img/sprite.png';
$icon_courses_2 = 240px 96px -240px -96px 24px 24px 264px 262px '../img/sprite.png' 'icon-courses-2';
$icon_courses_3_name = 'icon-courses-3';
$icon_courses_3_x = 240px;
$icon_courses_3_y = 72px;
$icon_courses_3_offset_x = -240px;
$icon_courses_3_offset_y = -72px;
$icon_courses_3_width = 24px;
$icon_courses_3_height = 24px;
$icon_courses_3_total_width = 264px;
$icon_courses_3_total_height = 262px;
$icon_courses_3_image = '../img/sprite.png';
$icon_courses_3 = 240px 72px -240px -72px 24px 24px 264px 262px '../img/sprite.png' 'icon-courses-3';
$icon_courses_4_name = 'icon-courses-4';
$icon_courses_4_x = 240px;
$icon_courses_4_y = 48px;
$icon_courses_4_offset_x = -240px;
$icon_courses_4_offset_y = -48px;
$icon_courses_4_width = 24px;
$icon_courses_4_height = 24px;
$icon_courses_4_total_width = 264px;
$icon_courses_4_total_height = 262px;
$icon_courses_4_image = '../img/sprite.png';
$icon_courses_4 = 240px 48px -240px -48px 24px 24px 264px 262px '../img/sprite.png' 'icon-courses-4';
$icon_courses_5_name = 'icon-courses-5';
$icon_courses_5_x = 201px;
$icon_courses_5_y = 203px;
$icon_courses_5_offset_x = -201px;
$icon_courses_5_offset_y = -203px;
$icon_courses_5_width = 24px;
$icon_courses_5_height = 24px;
$icon_courses_5_total_width = 264px;
$icon_courses_5_total_height = 262px;
$icon_courses_5_image = '../img/sprite.png';
$icon_courses_5 = 201px 203px -201px -203px 24px 24px 264px 262px '../img/sprite.png' 'icon-courses-5';
$icon_courses_6_name = 'icon-courses-6';
$icon_courses_6_x = 177px;
$icon_courses_6_y = 203px;
$icon_courses_6_offset_x = -177px;
$icon_courses_6_offset_y = -203px;
$icon_courses_6_width = 24px;
$icon_courses_6_height = 24px;
$icon_courses_6_total_width = 264px;
$icon_courses_6_total_height = 262px;
$icon_courses_6_image = '../img/sprite.png';
$icon_courses_6 = 177px 203px -177px -203px 24px 24px 264px 262px '../img/sprite.png' 'icon-courses-6';
$icon_courses_7_name = 'icon-courses-7';
$icon_courses_7_x = 129px;
$icon_courses_7_y = 203px;
$icon_courses_7_offset_x = -129px;
$icon_courses_7_offset_y = -203px;
$icon_courses_7_width = 24px;
$icon_courses_7_height = 24px;
$icon_courses_7_total_width = 264px;
$icon_courses_7_total_height = 262px;
$icon_courses_7_image = '../img/sprite.png';
$icon_courses_7 = 129px 203px -129px -203px 24px 24px 264px 262px '../img/sprite.png' 'icon-courses-7';
$icon_courses_8_name = 'icon-courses-8';
$icon_courses_8_x = 240px;
$icon_courses_8_y = 120px;
$icon_courses_8_offset_x = -240px;
$icon_courses_8_offset_y = -120px;
$icon_courses_8_width = 24px;
$icon_courses_8_height = 24px;
$icon_courses_8_total_width = 264px;
$icon_courses_8_total_height = 262px;
$icon_courses_8_image = '../img/sprite.png';
$icon_courses_8 = 240px 120px -240px -120px 24px 24px 264px 262px '../img/sprite.png' 'icon-courses-8';
$icon_courses_9_name = 'icon-courses-9';
$icon_courses_9_x = 153px;
$icon_courses_9_y = 203px;
$icon_courses_9_offset_x = -153px;
$icon_courses_9_offset_y = -203px;
$icon_courses_9_width = 24px;
$icon_courses_9_height = 24px;
$icon_courses_9_total_width = 264px;
$icon_courses_9_total_height = 262px;
$icon_courses_9_image = '../img/sprite.png';
$icon_courses_9 = 153px 203px -153px -203px 24px 24px 264px 262px '../img/sprite.png' 'icon-courses-9';
$icon_detail_point_name = 'icon-detail-point';
$icon_detail_point_x = 0px;
$icon_detail_point_y = 138px;
$icon_detail_point_offset_x = 0px;
$icon_detail_point_offset_y = -138px;
$icon_detail_point_width = 99px;
$icon_detail_point_height = 100px;
$icon_detail_point_total_width = 264px;
$icon_detail_point_total_height = 262px;
$icon_detail_point_image = '../img/sprite.png';
$icon_detail_point = 0px 138px 0px -138px 99px 100px 264px 262px '../img/sprite.png' 'icon-detail-point';
$icon_detail_stage_name = 'icon-detail-stage';
$icon_detail_stage_x = 139px;
$icon_detail_stage_y = 138px;
$icon_detail_stage_offset_x = -139px;
$icon_detail_stage_offset_y = -138px;
$icon_detail_stage_width = 40px;
$icon_detail_stage_height = 40px;
$icon_detail_stage_total_width = 264px;
$icon_detail_stage_total_height = 262px;
$icon_detail_stage_image = '../img/sprite.png';
$icon_detail_stage = 139px 138px -139px -138px 40px 40px 264px 262px '../img/sprite.png' 'icon-detail-stage';
$icon_detail_target_name = 'icon-detail-target';
$icon_detail_target_x = 140px;
$icon_detail_target_y = 0px;
$icon_detail_target_offset_x = -140px;
$icon_detail_target_offset_y = 0px;
$icon_detail_target_width = 100px;
$icon_detail_target_height = 100px;
$icon_detail_target_total_width = 264px;
$icon_detail_target_total_height = 262px;
$icon_detail_target_image = '../img/sprite.png';
$icon_detail_target = 140px 0px -140px 0px 100px 100px 264px 262px '../img/sprite.png' 'icon-detail-target';
$icon_detail_teacher_name = 'icon-detail-teacher';
$icon_detail_teacher_x = 120px;
$icon_detail_teacher_y = 238px;
$icon_detail_teacher_offset_x = -120px;
$icon_detail_teacher_offset_y = -238px;
$icon_detail_teacher_width = 22px;
$icon_detail_teacher_height = 24px;
$icon_detail_teacher_total_width = 264px;
$icon_detail_teacher_total_height = 262px;
$icon_detail_teacher_image = '../img/sprite.png';
$icon_detail_teacher = 120px 238px -120px -238px 22px 24px 264px 262px '../img/sprite.png' 'icon-detail-teacher';
$icon_detail_time_name = 'icon-detail-time';
$icon_detail_time_x = 99px;
$icon_detail_time_y = 138px;
$icon_detail_time_offset_x = -99px;
$icon_detail_time_offset_y = -138px;
$icon_detail_time_width = 40px;
$icon_detail_time_height = 40px;
$icon_detail_time_total_width = 264px;
$icon_detail_time_total_height = 262px;
$icon_detail_time_image = '../img/sprite.png';
$icon_detail_time = 99px 138px -99px -138px 40px 40px 264px 262px '../img/sprite.png' 'icon-detail-time';
$icon_down_black_name = 'icon-down-black';
$icon_down_black_x = 230px;
$icon_down_black_y = 112px;
$icon_down_black_offset_x = -230px;
$icon_down_black_offset_y = -112px;
$icon_down_black_width = 10px;
$icon_down_black_height = 6px;
$icon_down_black_total_width = 264px;
$icon_down_black_total_height = 262px;
$icon_down_black_image = '../img/sprite.png';
$icon_down_black = 230px 112px -230px -112px 10px 6px 264px 262px '../img/sprite.png' 'icon-down-black';
$icon_down_name = 'icon-down';
$icon_down_x = 230px;
$icon_down_y = 106px;
$icon_down_offset_x = -230px;
$icon_down_offset_y = -106px;
$icon_down_width = 10px;
$icon_down_height = 6px;
$icon_down_total_width = 264px;
$icon_down_total_height = 262px;
$icon_down_image = '../img/sprite.png';
$icon_down = 230px 106px -230px -106px 10px 6px 264px 262px '../img/sprite.png' 'icon-down';
$icon_header_community_active_name = 'icon-header-community-active';
$icon_header_community_active_x = 96px;
$icon_header_community_active_y = 238px;
$icon_header_community_active_offset_x = -96px;
$icon_header_community_active_offset_y = -238px;
$icon_header_community_active_width = 24px;
$icon_header_community_active_height = 24px;
$icon_header_community_active_total_width = 264px;
$icon_header_community_active_total_height = 262px;
$icon_header_community_active_image = '../img/sprite.png';
$icon_header_community_active = 96px 238px -96px -238px 24px 24px 264px 262px '../img/sprite.png' 'icon-header-community-active';
$icon_header_community_name = 'icon-header-community';
$icon_header_community_x = 240px;
$icon_header_community_y = 144px;
$icon_header_community_offset_x = -240px;
$icon_header_community_offset_y = -144px;
$icon_header_community_width = 24px;
$icon_header_community_height = 24px;
$icon_header_community_total_width = 264px;
$icon_header_community_total_height = 262px;
$icon_header_community_image = '../img/sprite.png';
$icon_header_community = 240px 144px -240px -144px 24px 24px 264px 262px '../img/sprite.png' 'icon-header-community';
$icon_header_course_active_name = 'icon-header-course-active';
$icon_header_course_active_x = 240px;
$icon_header_course_active_y = 168px;
$icon_header_course_active_offset_x = -240px;
$icon_header_course_active_offset_y = -168px;
$icon_header_course_active_width = 24px;
$icon_header_course_active_height = 24px;
$icon_header_course_active_total_width = 264px;
$icon_header_course_active_total_height = 262px;
$icon_header_course_active_image = '../img/sprite.png';
$icon_header_course_active = 240px 168px -240px -168px 24px 24px 264px 262px '../img/sprite.png' 'icon-header-course-active';
$icon_header_course_name = 'icon-header-course';
$icon_header_course_x = 240px;
$icon_header_course_y = 192px;
$icon_header_course_offset_x = -240px;
$icon_header_course_offset_y = -192px;
$icon_header_course_width = 24px;
$icon_header_course_height = 24px;
$icon_header_course_total_width = 264px;
$icon_header_course_total_height = 262px;
$icon_header_course_image = '../img/sprite.png';
$icon_header_course = 240px 192px -240px -192px 24px 24px 264px 262px '../img/sprite.png' 'icon-header-course';
$icon_header_learning_active_name = 'icon-header-learning-active';
$icon_header_learning_active_x = 0px;
$icon_header_learning_active_y = 238px;
$icon_header_learning_active_offset_x = 0px;
$icon_header_learning_active_offset_y = -238px;
$icon_header_learning_active_width = 24px;
$icon_header_learning_active_height = 24px;
$icon_header_learning_active_total_width = 264px;
$icon_header_learning_active_total_height = 262px;
$icon_header_learning_active_image = '../img/sprite.png';
$icon_header_learning_active = 0px 238px 0px -238px 24px 24px 264px 262px '../img/sprite.png' 'icon-header-learning-active';
$icon_header_learning_name = 'icon-header-learning';
$icon_header_learning_x = 24px;
$icon_header_learning_y = 238px;
$icon_header_learning_offset_x = -24px;
$icon_header_learning_offset_y = -238px;
$icon_header_learning_width = 24px;
$icon_header_learning_height = 24px;
$icon_header_learning_total_width = 264px;
$icon_header_learning_total_height = 262px;
$icon_header_learning_image = '../img/sprite.png';
$icon_header_learning = 24px 238px -24px -238px 24px 24px 264px 262px '../img/sprite.png' 'icon-header-learning';
$icon_header_person_name = 'icon-header-person';
$icon_header_person_x = 179px;
$icon_header_person_y = 163px;
$icon_header_person_offset_x = -179px;
$icon_header_person_offset_y = -163px;
$icon_header_person_width = 14px;
$icon_header_person_height = 14px;
$icon_header_person_total_width = 264px;
$icon_header_person_total_height = 262px;
$icon_header_person_image = '../img/sprite.png';
$icon_header_person = 179px 163px -179px -163px 14px 14px 264px 262px '../img/sprite.png' 'icon-header-person';
$icon_header_wechat_name = 'icon-header-wechat';
$icon_header_wechat_x = 164px;
$icon_header_wechat_y = 238px;
$icon_header_wechat_offset_x = -164px;
$icon_header_wechat_offset_y = -238px;
$icon_header_wechat_width = 20px;
$icon_header_wechat_height = 16px;
$icon_header_wechat_total_width = 264px;
$icon_header_wechat_total_height = 262px;
$icon_header_wechat_image = '../img/sprite.png';
$icon_header_wechat = 164px 238px -164px -238px 20px 16px 264px 262px '../img/sprite.png' 'icon-header-wechat';
$icon_header_weibo_name = 'icon-header-weibo';
$icon_header_weibo_x = 184px;
$icon_header_weibo_y = 238px;
$icon_header_weibo_offset_x = -184px;
$icon_header_weibo_offset_y = -238px;
$icon_header_weibo_width = 18px;
$icon_header_weibo_height = 16px;
$icon_header_weibo_total_width = 264px;
$icon_header_weibo_total_height = 262px;
$icon_header_weibo_image = '../img/sprite.png';
$icon_header_weibo = 184px 238px -184px -238px 18px 16px 264px 262px '../img/sprite.png' 'icon-header-weibo';
$icon_live_name = 'icon-live';
$icon_live_x = 202px;
$icon_live_y = 238px;
$icon_live_offset_x = -202px;
$icon_live_offset_y = -238px;
$icon_live_width = 16px;
$icon_live_height = 16px;
$icon_live_total_width = 264px;
$icon_live_total_height = 262px;
$icon_live_image = '../img/sprite.png';
$icon_live = 202px 238px -202px -238px 16px 16px 264px 262px '../img/sprite.png' 'icon-live';
$icon_ranking_name = 'icon-ranking';
$icon_ranking_x = 99px;
$icon_ranking_y = 203px;
$icon_ranking_offset_x = -99px;
$icon_ranking_offset_y = -203px;
$icon_ranking_width = 30px;
$icon_ranking_height = 24px;
$icon_ranking_total_width = 264px;
$icon_ranking_total_height = 262px;
$icon_ranking_image = '../img/sprite.png';
$icon_ranking = 99px 203px -99px -203px 30px 24px 264px 262px '../img/sprite.png' 'icon-ranking';
$icon_setting_name = 'icon-setting';
$icon_setting_x = 240px;
$icon_setting_y = 24px;
$icon_setting_offset_x = -240px;
$icon_setting_offset_y = -24px;
$icon_setting_width = 24px;
$icon_setting_height = 24px;
$icon_setting_total_width = 264px;
$icon_setting_total_height = 262px;
$icon_setting_image = '../img/sprite.png';
$icon_setting = 240px 24px -240px -24px 24px 24px 264px 262px '../img/sprite.png' 'icon-setting';
$icon_time_name = 'icon-time';
$icon_time_x = 218px;
$icon_time_y = 238px;
$icon_time_offset_x = -218px;
$icon_time_offset_y = -238px;
$icon_time_width = 16px;
$icon_time_height = 16px;
$icon_time_total_width = 264px;
$icon_time_total_height = 262px;
$icon_time_image = '../img/sprite.png';
$icon_time = 218px 238px -218px -238px 16px 16px 264px 262px '../img/sprite.png' 'icon-time';
$icon_tips_done_name = 'icon-tips-done';
$icon_tips_done_x = 0px;
$icon_tips_done_y = 0px;
$icon_tips_done_offset_x = 0px;
$icon_tips_done_offset_y = 0px;
$icon_tips_done_width = 140px;
$icon_tips_done_height = 138px;
$icon_tips_done_total_width = 264px;
$icon_tips_done_total_height = 262px;
$icon_tips_done_image = '../img/sprite.png';
$icon_tips_done = 0px 0px 0px 0px 140px 138px 264px 262px '../img/sprite.png' 'icon-tips-done';
$icon_tips_smiling_name = 'icon-tips-smiling';
$icon_tips_smiling_x = 140px;
$icon_tips_smiling_y = 100px;
$icon_tips_smiling_offset_x = -140px;
$icon_tips_smiling_offset_y = -100px;
$icon_tips_smiling_width = 30px;
$icon_tips_smiling_height = 30px;
$icon_tips_smiling_total_width = 264px;
$icon_tips_smiling_total_height = 262px;
$icon_tips_smiling_image = '../img/sprite.png';
$icon_tips_smiling = 140px 100px -140px -100px 30px 30px 264px 262px '../img/sprite.png' 'icon-tips-smiling';
$icon_up_grey_name = 'icon-up-grey';
$icon_up_grey_x = 230px;
$icon_up_grey_y = 100px;
$icon_up_grey_offset_x = -230px;
$icon_up_grey_offset_y = -100px;
$icon_up_grey_width = 10px;
$icon_up_grey_height = 6px;
$icon_up_grey_total_width = 264px;
$icon_up_grey_total_height = 262px;
$icon_up_grey_image = '../img/sprite.png';
$icon_up_grey = 230px 100px -230px -100px 10px 6px 264px 262px '../img/sprite.png' 'icon-up-grey';
$right_erweima_hover_name = 'right-erweima-hover';
$right_erweima_hover_x = 170px;
$right_erweima_hover_y = 100px;
$right_erweima_hover_offset_x = -170px;
$right_erweima_hover_offset_y = -100px;
$right_erweima_hover_width = 30px;
$right_erweima_hover_height = 30px;
$right_erweima_hover_total_width = 264px;
$right_erweima_hover_total_height = 262px;
$right_erweima_hover_image = '../img/sprite.png';
$right_erweima_hover = 170px 100px -170px -100px 30px 30px 264px 262px '../img/sprite.png' 'right-erweima-hover';
$right_erweima_name = 'right-erweima';
$right_erweima_x = 200px;
$right_erweima_y = 100px;
$right_erweima_offset_x = -200px;
$right_erweima_offset_y = -100px;
$right_erweima_width = 30px;
$right_erweima_height = 30px;
$right_erweima_total_width = 264px;
$right_erweima_total_height = 262px;
$right_erweima_image = '../img/sprite.png';
$right_erweima = 200px 100px -200px -100px 30px 30px 264px 262px '../img/sprite.png' 'right-erweima';
$right_top_hover_name = 'right-top-hover';
$right_top_hover_x = 142px;
$right_top_hover_y = 238px;
$right_top_hover_offset_x = -142px;
$right_top_hover_offset_y = -238px;
$right_top_hover_width = 22px;
$right_top_hover_height = 17px;
$right_top_hover_total_width = 264px;
$right_top_hover_total_height = 262px;
$right_top_hover_image = '../img/sprite.png';
$right_top_hover = 142px 238px -142px -238px 22px 17px 264px 262px '../img/sprite.png' 'right-top-hover';
$right_top_name = 'right-top';
$right_top_x = 240px;
$right_top_y = 216px;
$right_top_offset_x = -240px;
$right_top_offset_y = -216px;
$right_top_width = 22px;
$right_top_height = 17px;
$right_top_total_width = 264px;
$right_top_total_height = 262px;
$right_top_image = '../img/sprite.png';
$right_top = 240px 216px -240px -216px 22px 17px 264px 262px '../img/sprite.png' 'right-top';
$spritesheet_width = 264px;
$spritesheet_height = 262px;
$spritesheet_image = '../img/sprite.png';
$spritesheet_sprites = $bg_user_top $home_kc_active $home_kc $home_mes_active $home_mes $home_order_active $home_order $icon_close $icon_courses_1 $icon_courses_10 $icon_courses_11 $icon_courses_2 $icon_courses_3 $icon_courses_4 $icon_courses_5 $icon_courses_6 $icon_courses_7 $icon_courses_8 $icon_courses_9 $icon_detail_point $icon_detail_stage $icon_detail_target $icon_detail_teacher $icon_detail_time $icon_down_black $icon_down $icon_header_community_active $icon_header_community $icon_header_course_active $icon_header_course $icon_header_learning_active $icon_header_learning $icon_header_person $icon_header_wechat $icon_header_weibo $icon_live $icon_ranking $icon_setting $icon_time $icon_tips_done $icon_tips_smiling $icon_up_grey $right_erweima_hover $right_erweima $right_top_hover $right_top;
$spritesheet = 264px 262px '../img/sprite.png' $spritesheet_sprites;

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of Stylus

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

sprites($spritesheet_sprites);
*/
sprites($sprites) {
  for $sprite in $sprites {
    $sprite_name = $sprite[9];
    .{$sprite_name} {
      sprite($sprite);
    }
  }
}
