/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet = width height image $spritesheet_sprites;
*/
$border_bottom_1_name = 'border-bottom-1';
$border_bottom_1_x = 0px;
$border_bottom_1_y = 424px;
$border_bottom_1_offset_x = 0px;
$border_bottom_1_offset_y = -424px;
$border_bottom_1_width = 180px;
$border_bottom_1_height = 3px;
$border_bottom_1_total_width = 457px;
$border_bottom_1_total_height = 427px;
$border_bottom_1_image = '../img/spriteSet.png?20170330';
$border_bottom_1 = 0px 424px 0px -424px 180px 3px 457px 427px '../img/spriteSet.png?20170330' 'border-bottom-1';
$border_bottom_2_name = 'border-bottom-2';
$border_bottom_2_x = 200px;
$border_bottom_2_y = 424px;
$border_bottom_2_offset_x = -200px;
$border_bottom_2_offset_y = -424px;
$border_bottom_2_width = 160px;
$border_bottom_2_height = 2px;
$border_bottom_2_total_width = 457px;
$border_bottom_2_total_height = 427px;
$border_bottom_2_image = '../img/spriteSet.png?20170330';
$border_bottom_2 = 200px 424px -200px -424px 160px 2px 457px 427px '../img/spriteSet.png?20170330' 'border-bottom-2';
$icon_set_child_active_name = 'icon-set-child-active';
$icon_set_child_active_x = 90px;
$icon_set_child_active_y = 334px;
$icon_set_child_active_offset_x = -90px;
$icon_set_child_active_offset_y = -334px;
$icon_set_child_active_width = 70px;
$icon_set_child_active_height = 70px;
$icon_set_child_active_total_width = 457px;
$icon_set_child_active_total_height = 427px;
$icon_set_child_active_image = '../img/spriteSet.png?20170330';
$icon_set_child_active = 90px 334px -90px -334px 70px 70px 457px 427px '../img/spriteSet.png?20170330' 'icon-set-child-active';
$icon_set_child_name = 'icon-set-child';
$icon_set_child_x = 180px;
$icon_set_child_y = 334px;
$icon_set_child_offset_x = -180px;
$icon_set_child_offset_y = -334px;
$icon_set_child_width = 70px;
$icon_set_child_height = 70px;
$icon_set_child_total_width = 457px;
$icon_set_child_total_height = 427px;
$icon_set_child_image = '../img/spriteSet.png?20170330';
$icon_set_child = 180px 334px -180px -334px 70px 70px 457px 427px '../img/spriteSet.png?20170330' 'icon-set-child';
$icon_set_high_active_name = 'icon-set-high-active';
$icon_set_high_active_x = 270px;
$icon_set_high_active_y = 334px;
$icon_set_high_active_offset_x = -270px;
$icon_set_high_active_offset_y = -334px;
$icon_set_high_active_width = 70px;
$icon_set_high_active_height = 70px;
$icon_set_high_active_total_width = 457px;
$icon_set_high_active_total_height = 427px;
$icon_set_high_active_image = '../img/spriteSet.png?20170330';
$icon_set_high_active = 270px 334px -270px -334px 70px 70px 457px 427px '../img/spriteSet.png?20170330' 'icon-set-high-active';
$icon_set_high_name = 'icon-set-high';
$icon_set_high_x = 360px;
$icon_set_high_y = 334px;
$icon_set_high_offset_x = -360px;
$icon_set_high_offset_y = -334px;
$icon_set_high_width = 70px;
$icon_set_high_height = 70px;
$icon_set_high_total_width = 457px;
$icon_set_high_total_height = 427px;
$icon_set_high_image = '../img/spriteSet.png?20170330';
$icon_set_high = 360px 334px -360px -334px 70px 70px 457px 427px '../img/spriteSet.png?20170330' 'icon-set-high';
$icon_set_middle_active_name = 'icon-set-middle-active';
$icon_set_middle_active_x = 387px;
$icon_set_middle_active_y = 0px;
$icon_set_middle_active_offset_x = -387px;
$icon_set_middle_active_offset_y = 0px;
$icon_set_middle_active_width = 70px;
$icon_set_middle_active_height = 70px;
$icon_set_middle_active_total_width = 457px;
$icon_set_middle_active_total_height = 427px;
$icon_set_middle_active_image = '../img/spriteSet.png?20170330';
$icon_set_middle_active = 387px 0px -387px 0px 70px 70px 457px 427px '../img/spriteSet.png?20170330' 'icon-set-middle-active';
$icon_set_middle_name = 'icon-set-middle';
$icon_set_middle_x = 387px;
$icon_set_middle_y = 90px;
$icon_set_middle_offset_x = -387px;
$icon_set_middle_offset_y = -90px;
$icon_set_middle_width = 70px;
$icon_set_middle_height = 70px;
$icon_set_middle_total_width = 457px;
$icon_set_middle_total_height = 427px;
$icon_set_middle_image = '../img/spriteSet.png?20170330';
$icon_set_middle = 387px 90px -387px -90px 70px 70px 457px 427px '../img/spriteSet.png?20170330' 'icon-set-middle';
$icon_set_primary_active_name = 'icon-set-primary-active';
$icon_set_primary_active_x = 387px;
$icon_set_primary_active_y = 180px;
$icon_set_primary_active_offset_x = -387px;
$icon_set_primary_active_offset_y = -180px;
$icon_set_primary_active_width = 70px;
$icon_set_primary_active_height = 70px;
$icon_set_primary_active_total_width = 457px;
$icon_set_primary_active_total_height = 427px;
$icon_set_primary_active_image = '../img/spriteSet.png?20170330';
$icon_set_primary_active = 387px 180px -387px -180px 70px 70px 457px 427px '../img/spriteSet.png?20170330' 'icon-set-primary-active';
$icon_set_primary_name = 'icon-set-primary';
$icon_set_primary_x = 0px;
$icon_set_primary_y = 334px;
$icon_set_primary_offset_x = 0px;
$icon_set_primary_offset_y = -334px;
$icon_set_primary_width = 70px;
$icon_set_primary_height = 70px;
$icon_set_primary_total_width = 457px;
$icon_set_primary_total_height = 427px;
$icon_set_primary_image = '../img/spriteSet.png?20170330';
$icon_set_primary = 0px 334px 0px -334px 70px 70px 457px 427px '../img/spriteSet.png?20170330' 'icon-set-primary';
$icon_setting_arrow_left_name = 'icon-setting-arrow-left';
$icon_setting_arrow_left_x = 418px;
$icon_setting_arrow_left_y = 270px;
$icon_setting_arrow_left_offset_x = -418px;
$icon_setting_arrow_left_offset_y = -270px;
$icon_setting_arrow_left_width = 11px;
$icon_setting_arrow_left_height = 36px;
$icon_setting_arrow_left_total_width = 457px;
$icon_setting_arrow_left_total_height = 427px;
$icon_setting_arrow_left_image = '../img/spriteSet.png?20170330';
$icon_setting_arrow_left = 418px 270px -418px -270px 11px 36px 457px 427px '../img/spriteSet.png?20170330' 'icon-setting-arrow-left';
$icon_setting_arrow_right_name = 'icon-setting-arrow-right';
$icon_setting_arrow_right_x = 387px;
$icon_setting_arrow_right_y = 270px;
$icon_setting_arrow_right_offset_x = -387px;
$icon_setting_arrow_right_offset_y = -270px;
$icon_setting_arrow_right_width = 11px;
$icon_setting_arrow_right_height = 36px;
$icon_setting_arrow_right_total_width = 457px;
$icon_setting_arrow_right_total_height = 427px;
$icon_setting_arrow_right_image = '../img/spriteSet.png?20170330';
$icon_setting_arrow_right = 387px 270px -387px -270px 11px 36px 457px 427px '../img/spriteSet.png?20170330' 'icon-setting-arrow-right';
$icon_setting_parent_active_name = 'icon-setting-parent-active';
$icon_setting_parent_active_x = 129px;
$icon_setting_parent_active_y = 167px;
$icon_setting_parent_active_offset_x = -129px;
$icon_setting_parent_active_offset_y = -167px;
$icon_setting_parent_active_width = 109px;
$icon_setting_parent_active_height = 147px;
$icon_setting_parent_active_total_width = 457px;
$icon_setting_parent_active_total_height = 427px;
$icon_setting_parent_active_image = '../img/spriteSet.png?20170330';
$icon_setting_parent_active = 129px 167px -129px -167px 109px 147px 457px 427px '../img/spriteSet.png?20170330' 'icon-setting-parent-active';
$icon_setting_parent_name = 'icon-setting-parent';
$icon_setting_parent_x = 258px;
$icon_setting_parent_y = 167px;
$icon_setting_parent_offset_x = -258px;
$icon_setting_parent_offset_y = -167px;
$icon_setting_parent_width = 109px;
$icon_setting_parent_height = 147px;
$icon_setting_parent_total_width = 457px;
$icon_setting_parent_total_height = 427px;
$icon_setting_parent_image = '../img/spriteSet.png?20170330';
$icon_setting_parent = 258px 167px -258px -167px 109px 147px 457px 427px '../img/spriteSet.png?20170330' 'icon-setting-parent';
$icon_setting_student_active_name = 'icon-setting-student-active';
$icon_setting_student_active_x = 0px;
$icon_setting_student_active_y = 167px;
$icon_setting_student_active_offset_x = 0px;
$icon_setting_student_active_offset_y = -167px;
$icon_setting_student_active_width = 109px;
$icon_setting_student_active_height = 147px;
$icon_setting_student_active_total_width = 457px;
$icon_setting_student_active_total_height = 427px;
$icon_setting_student_active_image = '../img/spriteSet.png?20170330';
$icon_setting_student_active = 0px 167px 0px -167px 109px 147px 457px 427px '../img/spriteSet.png?20170330' 'icon-setting-student-active';
$icon_setting_student_name = 'icon-setting-student';
$icon_setting_student_x = 258px;
$icon_setting_student_y = 0px;
$icon_setting_student_offset_x = -258px;
$icon_setting_student_offset_y = 0px;
$icon_setting_student_width = 109px;
$icon_setting_student_height = 147px;
$icon_setting_student_total_width = 457px;
$icon_setting_student_total_height = 427px;
$icon_setting_student_image = '../img/spriteSet.png?20170330';
$icon_setting_student = 258px 0px -258px 0px 109px 147px 457px 427px '../img/spriteSet.png?20170330' 'icon-setting-student';
$icon_setting_teacher_active_name = 'icon-setting-teacher-active';
$icon_setting_teacher_active_x = 129px;
$icon_setting_teacher_active_y = 0px;
$icon_setting_teacher_active_offset_x = -129px;
$icon_setting_teacher_active_offset_y = 0px;
$icon_setting_teacher_active_width = 109px;
$icon_setting_teacher_active_height = 147px;
$icon_setting_teacher_active_total_width = 457px;
$icon_setting_teacher_active_total_height = 427px;
$icon_setting_teacher_active_image = '../img/spriteSet.png?20170330';
$icon_setting_teacher_active = 129px 0px -129px 0px 109px 147px 457px 427px '../img/spriteSet.png?20170330' 'icon-setting-teacher-active';
$icon_setting_teacher_name = 'icon-setting-teacher';
$icon_setting_teacher_x = 0px;
$icon_setting_teacher_y = 0px;
$icon_setting_teacher_offset_x = 0px;
$icon_setting_teacher_offset_y = 0px;
$icon_setting_teacher_width = 109px;
$icon_setting_teacher_height = 147px;
$icon_setting_teacher_total_width = 457px;
$icon_setting_teacher_total_height = 427px;
$icon_setting_teacher_image = '../img/spriteSet.png?20170330';
$icon_setting_teacher = 0px 0px 0px 0px 109px 147px 457px 427px '../img/spriteSet.png?20170330' 'icon-setting-teacher';
$spritesheet_width = 457px;
$spritesheet_height = 427px;
$spritesheet_image = '../img/spriteSet.png?20170330';
$spritesheet_sprites_set = $border_bottom_1 $border_bottom_2 $icon_set_child_active $icon_set_child $icon_set_high_active $icon_set_high $icon_set_middle_active $icon_set_middle $icon_set_primary_active $icon_set_primary $icon_setting_arrow_left $icon_setting_arrow_right $icon_setting_parent_active $icon_setting_parent $icon_setting_student_active $icon_setting_student $icon_setting_teacher_active $icon_setting_teacher;
$spritesheet = 457px 427px '../img/spriteSet.png?20170330' $spritesheet_sprites_set;

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of Stylus

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

sprites($spritesheet_sprites);
*/
sprites($sprites) {
  for $sprite in $sprites {
    $sprite_name = $sprite[9];
    .{$sprite_name} {
      sprite($sprite);
    }
  }
}
