// 元件: 多彩标签
// ------------------------------

.ui-label
  display inline-block
  line-height 1.8rem
  color #FFF
  background orange
  font-size 1.2rem
  padding 0 .5rem
  border-radius 0.2rem

.ui-label-1
  background blue

.ui-label-2
  background red

.ui-label-3
  background purple

.ui-label-group
  transform scale(.75)
  transform-origin left center

.ui-label-orange
  color #eed09c!important
  border .02rem solid #eed09c!important
  background none!important

.ui-label-blue
  color #8ed8ed!important
  border .02rem solid #8ed8ed!important
  background none!important

.ui-label-purple
  color #f0b6b6!important
  border .02rem solid #f0b6b6!important
  background none!important