// 链接
// ------------------------------

.ui-link
  position relative
  padding-right 6rem

  &::before
    absolute right top
    line-height 4.3rem
    size 4.3rem 4.3rem
    font-size 2rem
    font-weight normal
    text-align center
    color #D9D9D9