// 星星
.ui-stars
  display inline-block
  size 12rem 2.4rem
  text-align right
  overflow hidden
  vertical-align middle

  span
    display inline-block
    position relative
    size 2.4rem
    text-align center
    overflow hidden

    &::before
      absolute left top
      content: "\3605"
      size 2.4rem
      font-size 2.4rem
      line-height 2.4rem
      color orange

$stars-full
  &::before
    content "\3606"

for i in 1..5
  .ui-stars-{i}
    span
      for j in 1..i
        &:nth-child({j})
          @extends $stars-full

    unless i is 5
      &.ui-stars-trim
        span
          for k in i+1..5
            &:nth-child({k})
              display none

.ui-stars-sm
  size 6rem 1.2rem

  span
    size 1.2rem

    &::before
      left auto
      right 0
      size 1.2rem
      font-size 1.2rem
      line-height 1.2rem

$favour-full
  &::before
    content "\3619"
    color orange

.ui-stars-favour
  text-align left
  width 14rem

  span
    width 2.8rem

    &::before
      content "\3619"
      color #CCC

  for i in 1..5
    &.ui-stars-{i}
      span
        for j in 1..i
          &:nth-child({j})
            @extends $favour-full

      unless i is 5
        &.ui-stars-trim
          span
            for k in i+1..5
              &:nth-child({k})
                display none

  &.ui-stars-sm
    width 7rem

    span
      width 1.4rem


// 教师评价页星级评价
.evaluate-stars
  text-align center
  .iconfont
    display inline-block
    position relative
    size 2rem
    text-align center
    overflow hidden

    &::before
      content: "\3606"
      size 2rem
      font-size 2rem
      line-height 2rem
      color #e0e0e0

  for i in 1..5
    .evaluate-stars-{i}
      for j in 1..i
        td:nth-of-type({j})
          .iconfont
            &::before
              color #fac260

.bg-orange-lighter
  background-color #fff5d9

.report-page
  .ui-stars
    span
      &::before
        content: "\3606"
        color #ededed

  for i in 1..5
    .ui-stars-{i}
      span
        for j in 1..i
          &:nth-child({j})
            &::before
              color #fac260
.form-row
  position relative
.stars-tips
  width 8rem
  text-align center
  margin-left 2rem
  line-height 1.8
  color white
  background-color orange
  absolute right bottom