// 元件: 标签列表
// ------------------------------

.tag-list
  reset-list()

  li
    display inline-block
    margin .3rem .3rem 0 0
    padding 0 .8rem
    height 1.8rem
    line-height 1.8rem
    background #FFF
    color green
    text-decoration none
    font-size 1.1rem
    border .1rem solid green
    border-radius .5rem

    &.active
      background-color #CCC