// 弹出提示
.ui-tips
  fixed left 50% top 12rem
  margin -3rem 0 0 -8rem
  background rgba(0, 0, 0, .8)
  color #FFF
  padding 2rem 0
  width 16rem
  text-align center
  font-size 2rem
  border-radius 1rem
  opacity 0
  z-index -1

.show-tips
  .ui-tips
    z-index 0
    animation popup .6s ease-out both