
<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <title>页面不存在-高分网初中库</title>
        <meta http-equiv="refresh" content="3;URL=<?php echo F::URL('/gz/school/index'); ?>">
        <?php F::TPL('common/header.html', [], 'Gz'); ?>
    </head>

    <body class="error-page">
        <div id="wrap">
            <?php F::TPL('common/nav.html', [], 'Gz'); ?>
            <div class="container page-content">
                <!-- Start: 页面不存在-->
                <div class="alert alert-error"><i class="ico"></i>
                    <div class="info">
                        <h3>抱歉，您所访问的页面不存在</h3>
                        <p><span class="hl">3</span>秒，自动跳转到<a href="<?php echo F::URL('/gz/school/index'); ?>">高中库首页</a>
                        </p>
                    </div>
                </div>
                <!-- End: 页面不存在-->
            </div>
            <?php F::TPL('common/footer.html', [], 'Gz'); ?>
        </div>
    </body>
    <?php F::TPL('common/footer_script.html', [], 'Gz'); ?>
    <script type="text/javascript" src="http://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="/public/js/base.js"></script>
    <script type="text/javascript" src="/public/js/front.js"></script>
    <script type="text/javascript">
        Gaofen.PD.set({'channel':'xuexiao', 'hasPKfloat':false,'action':'error404'});
    </script>
</html>