<div class="widget widget-follow-s2">
    <!-- Start: 中考-->
    <div class="qq-group">
        
    </div>
    <div class="weibo"><span class="tit">高分网中考微博</span>
        <iframe width="63" height="24" frameborder="0" allowtransparency="true" marginwidth="0" marginheight="0" scrolling="no" border="0" src="http://widget.weibo.com/relationship/followbutton.php?language=zh_cn&amp;width=63&amp;height=24&amp;uid=1760826651&amp;style=1&amp;btn=light&amp;dpc=1" class="addfollow-btn"></iframe>
    </div>
    <!-- End: 中考-->
</div>
