<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>高分网-404错误页</title>
    <meta name="HandheldFriendly" content="true">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="cleartype" content="on">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-TileColor" content="#222222">
    <?php F::TPL('mobile/school/style.html', [], 'gz'); ?>
  </head>
  <body class="error-page">
    <?php F::TPL('mobile/school/navigation.html', ['backwardLink' => ''], 'gz') ?>
    <div class="page-content">
      <div class="alert-error">
        <div class="icon"></div>
        <div class="error-msg">
          <p>您访问的页面不存在</p>
          <p><a href="javascript:#" class="return">返回上一页</a></p>
        </div>
      </div>
    </div>
    <?php F::TPL('common/mobile/footer.html', [
        'footerjs' =>  F::TPL('/mobile/school/footerjs.html', [], 'gz', true)
        ]) ?>
    <div class="ui-mask hidden"></div>
  </body>
</html>