mixin live(state)
    .live-container.clearfix
        // 直播窗口区
        .live-content.fl
            if state == 'notStart'
                .live-courses
                    .live-courses-title= article.title
                    .live-courses-msg
                        i.icon.icon-tips-smiling
                        p.font-green 直播还没开始，同学们可先和助教老师交流哦
            if state == 'end'
                .live-courses
                    .mask-wrap.tc
                        .mask-header 请评价这次直播课
                        form

                            .gf-form-row.tr.pr0
                                textarea(rows='5')
                            input(type='button',value='确定').btn.btn-submit.btn-block.mt5
            else
                p
                    | -------------------- 我是直播--------------------

        .live-message-wrap.fr
            .live-message-top
                .live-message-top-title 直播信息
                .live-message-teacher
                    ul.unslider-wrap
                        li.unslider-item
                            img(src='#{current.base}img/teacher-img.jpg',alt='陈老师')
                        li.unslider-item
                            div
                                span.fl 主讲：
                                p 泰莉莎老师
                            div
                                span.fl 标题：
                                p 当宇宙大爆炸是地球会发生什么事
                            div
                                span.fl 简介：
                                p 从事中学语文教学多年，经验丰富一直任教初中语文七八年级的阅读与写作课程，熟悉初中。

            .live-message-list
                .message-list
                    ul
                        - for (var i=0;i<5;i++)
                            li.message-item.mb20
                                .message-item-top
                                    span.font-b 阿里妈妈
                                    span 2017-1-18
                                    span 15:24:52
                                .message-item-content= article.title
            .message-form
                form
                    textarea(placeholder='跟辅导老师提问',rows='3')
                    input.btn(type='button',value='发送')
