.ui-mask

// 获取上课码
.mask-wrap.hidden
    a.btn-close(href='javascript:;')
        i.icon.icon-close
    form
        .gf-form-row.tr.pl0
            input(type='text',placeholder='请输入上课码')
        input(type='button',value='确定').btn.btn-submit.btn-block.mt5
    .mask-content.mt40
        .mask-content-top
            .dividing-line.al0
            .dividing-line.ar0
            i.icon.right-erweima
        img(src='#{current.base}img/erweima.jpg',alt='二维码')
        p.font-md.mt5 没有上课码？
            br
            | 微信扫一扫立即获取

// 关注公众号
.mask-wrap.hidden
    a.btn-close(href='javascript:;')
        i.icon.icon-close
    .mask-content.mt10
        .mask-content-top
            .dividing-line.al0
            .dividing-line.ar0
            i.icon.right-erweima
        img(src='#{current.base}img/erweima.jpg',alt='二维码')
        p.font-md.mt5 微信扫描二维码
            br
            | 关注公众号

// 预约成功
.mask-wrap.hidden
    a.btn-close(href='javascript:;')
        i.icon.icon-close
    .mask-content
        .mask-content-top
            .dividing-line.al0
            .dividing-line.ar0
            span.mask-title 报名成功
        i.icon.icon-tick.mt20.mb10
        .mt5
            strong.font-black.font-lg 中考数学冲刺之压轴题突破
        .mb5
            span.font-orange.font-md 20:00~21:00
        p.font-nm.mt10 上课前30分钟会收到我们的通知消息
            br
            | 请留意不要错过时间

// 课程支付
.mask-wrap.hidden
    a.btn-close(href='javascript:;')
        i.icon.icon-close
    .mask-content
        .mask-content-top
            .dividing-line.al0
            .dividing-line.ar0
            span.mask-title 课程支付
        .price-tips.font-md
            span 你购买的课程
            .font-orange “中考数学真题之压轴突破”
            span.font-orange.font-xxxl &yen; 880
        img.mt10(src='#{current.base}img/erweima.jpg',alt='二维码')
        p.font-md.mt5 微信扫描上方二维码进行支付

//第一次登录成功
.mask-wrap.hidden
    a.btn-close(href='javascript:;')
        i.icon.icon-close
    .mask-content
        .mask-content-top
            .dividing-line.al0
            .dividing-line.ar0
            span.mask-title 登录成功
        i.icon.icon-tick.mt20.mb10
        p.font-md.mt5 快速选择你的身份让我们更有效为你提供服务
        form.mt20
            .gf-form-row.tr
                label 身份：
                .input
                    span 选择身份
                    select
                        option(value='家长') 家长
                        option(value='学生') 学生
                        option(value='亲戚') 亲戚
                    i.icon.icon-down-black
            input(type='button',value='提交').btn.btn-submit.btn-block.mt5

//第一次登录成功设置身份
.mask-wrap.mask-wrap-lg
    a.btn-close(href='javascript:;')
        i.icon.icon-close
    .mask-content
        // 选择身份
        .set-container.hidden
            p.font-xxl.font-black 欢迎
                span.font-blue.ml5 昵称
                | ，请选择你的身份
            ul.identity
                li.active
                    a(href='javascript:;',title='教师')
                        i.icon.icon-setting-teacher
                        i.icon.border-bottom-1
                    p.font-xl.font-black.mt5 教师
                li
                    a(href='javascript:;',title='学生')
                        i.icon.icon-setting-student
                        i.icon.border-bottom-1
                    p.font-xl.font-black.mt5 学生
                li
                    a(href='javascript:;',title='家长')
                        i.icon.icon-setting-parent
                        i.icon.border-bottom-1
                    p.font-xl.font-black.mt5 家长
            a.arrow-right(href='javascript:;')
                i.icon.icon-setting-arrow-right
            .setting-step
                span.active
                span
                span

        // 选择年级
        .set-container.hidden
            p.font-xxl.font-black 请选择与你对应的学段年级
            ul.grade
                li
                    dl
                        dt
                            .fl
                                i.icon.icon-set-child
                            p 学前
                            i.icon.border-bottom-2
                        dd: a(href='javascript:;') 三~六岁
                li
                    dl
                        dt
                            .fl
                                i.icon.icon-set-primary
                            p 小学
                            i.icon.border-bottom-2
                        dd.active: a(href='javascript:;') 一年级
                        dd: a(href='javascript:;') 二年级
                        dd: a(href='javascript:;') 三年级
                        dd: a(href='javascript:;') 四年级
                        dd: a(href='javascript:;') 五年级
                        dd: a(href='javascript:;') 六年级
                li
                    dl
                        dt
                            .fl
                                i.icon.icon-set-middle
                            p 初中
                            i.icon.border-bottom-2
                        dd: a(href='javascript:;') 初一
                        dd: a(href='javascript:;') 初二
                        dd: a(href='javascript:;') 初三
                li
                    dl
                        dt
                            .fl
                                i.icon.icon-set-high
                            p 高中
                            i.icon.border-bottom-2
                        dd: a(href='javascript:;') 高一
                        dd: a(href='javascript:;') 高二
                        dd: a(href='javascript:;') 高三



            a.arrow-left(href='javascript:;')
                i.icon.icon-setting-arrow-left
            .setting-step
                span.active
                span.active
                span

        // 设置成功
        .set-container
            .mask-content-top
                .dividing-line.al0
                .dividing-line.ar0
                span.mask-title 设置成功
            i.icon.icon-tick.mt20.mb10
            p.font-md.mt5 可前往个人中心修改相关信息
                br
                | 现在立刻体验丰富的直播信息吧

            a(href='',title='开始选课').btn.btn-submit.mt30.mb40 开始选课
            .setting-step
                span.active
                span.active
                span.active