.ui-mask.hidden
.mask-wrap.tc.hidden
    a.btn-close(href='javascript:;')
        i.icon.icon-close
    form
        .gf-form-row.tr.pr0
            input(type='text',placeholder='请输入上课码')
        input(type='button',value='确定').btn.btn-submit.btn-block.mt5
    .mask-content.mt40
        .dividing-line.fl
        .dividing-line.fr
        i.icon.right-erweima
        img(src='#{current.base}img/erweima.jpg',alt='二维码')
        p.font-md.mt5 没有上课码？
            br
            | 微信扫一扫立即获取
