.ui-mask.hidden
.mask-wrap.hidden
    .popup-header
    h3 离第一份宝藏还有一步之遥
    .mask-content
        p 小船做的好不好，大家说了算。累计得到5个喜欢，就可以拿到宝藏啦。
        p 你可以分享该页面，让你的朋友们来帮你吧
        p 每周得到赞数最多的人，还可以得到豆计划 发出的额外奖励哦。
    .mask-footer
        a.btn.btn-start.btn-radius-1(href='rule.html',title='') 知道了