
.mask-wrap
    //.mask-content
        p 非常满意，<br/>赠送老师一只5元的康乃馨吧！
        a.btn.btn-primary 立刻送花
        a.btn.unread 再想想
    .amsk-close
        | &Chi;
    .mask-content
        form
            div.mt10
                label
                    | 学生姓名：
                    input(type='text')
            div.mt10
                label
                    | 学生年级：
                    input(type='text')
            div.mt10
                label
                    | 联系方式：
                    input(type='text')
            .mt10
                textarea(placeholder='请留言')
        a.btn-inline.btn-primary 发送邮件
        a.btn-inline.unread 电话咨询

        h2 提示
        p 信息已经发送成功
        a.btn-inline.btn-primary 取消
        a.btn-inline.unread 确定