.nav-main
  ul.menu-cities
    li.current
      a(href="#")
        span 广州
    li
      a(href="#")
        span 东莞
    li
      a(href="#")
        span 佛山
  ul.menu-tools
    li
      a.nav-item-search(href="#")
        span 查找老师
    li
      a.nav-item-orders(href="#")
        span 我的订单