.navbar
  a.nav-search(href="index.html")
    span 搜索老师
  a.nav-schedule(href="schedule.html")
    span 我的课表
    i
  a.nav-order(href="#")
    span 我的订单

.nav-order-wrap.hidden
    ul
        li: a(href="#",title='微信订单') 微信订单(
            span 2
            | )
        li: a(href="#",title='阶段评价') 阶段评价(
            span 103
            | )
        li: a(href="consume.html",title='剩余课时') 剩余课时(
            span 18
            | )
        li: a(href="history.html",title='报读历史') 报读历史(
            span 26
            | )
    //-.triangle