.tool-bar
  a.link-consult(href="#")
    i.iconfont &#x3608;
    | 咨询客服
  a.link-share(href="#")
    i.iconfont &#x3603;
    | 分享
  a.link-booking(href="#") 立即约课

  .booking-tips.hidden
      i.icon 优惠
      p 请到校区报名，立享卓越一对一暑假优惠！
