---
page_title: "积分兑换规则"
body_class: ["integral-page"]
is_new: true
---
extends _layout

block content
    .container
        .special-item-top
            i.icon.title-integral-rule.mt40
        .integral-rule-content
            ul
                li 什么是积分？
                    p 积分是通过高分家长社区获得的奖励，是对高分家长社区用户的鼓励，积分仅在高分家长社区使用，积分可以用来参与兑换活动，也可以用于资料下载。
                li 如何查看自己的积分？
                    p 进入“高分家长社区”，点击“会员中心”，即可查看积分记录。
                li 如何兑换礼品？
                    ol
                        li 什么人可以兑换礼品？
                            p 高分家长社区注册用户均可参与兑换礼品。
                        li 满足什么条件可以兑换礼品？
                            p 兑换礼品需要一定的积分，主要您有足够的积分且满足礼品的兑换条件就可以随时进行兑换。
                        li 在什么情况下兑换被拒绝？
                            p 用户提交兑换后7个工作日内，高分社区管理员会审核用户的兑换申请。如果发现申请者有使用垃圾内容等非法获得积分的行为，该申请将不会被通过，申请所需积分也会被扣除。
                        li 如何领取我的礼品？
                            p 兑换申请审批后2周内我们将为您寄送礼品。
                            p 实物礼品将通过邮政配送的方式直接递送给用户。但高分家长社区暂不支持向港澳台以及海外用户邮寄礼品。
                            p 虚拟礼品（如购物卡）等，将通过站内短信的方式，将兑换方法（如卡号和密码）发送给用户。


block javascript
    script.