---
page_title: "积分赚取页"
body_class: ["integral-page"]
is_new: true
---
extends _layout
block content
    .container
        .special-item-top
            i.icon.title-integral-earn.mt40
        .pb40.clearfix
            .integral-earn-block
                i.icon.icon-integral-sign
                .integral-task-container
                    .task-title
                        strong 每日签到
                    .task-content 登录签到即可获得奖励，连续签到7天，获得奖励20积分
                    .font-black 奖励
                        span.font-orange.ml5.mr5 5
                        | 积分，每天限领一次
                        a.fr.btn.disabled(href='') 已领取
            .integral-earn-block
                i.icon.icon-integral-email
                .integral-task-container
                    .task-title
                        strong 验证邮箱
                    .task-content 成功验证邮箱即可获得奖励
                    .font-black 奖励
                        span.font-orange.ml5.mr5 10
                        | 积分
                        a.fr.btn.btn-orange(href='') 立即验证
            .integral-earn-block
                i.icon.icon-integral-gzh
                .integral-task-container
                    .task-title
                        strong 关注公众号
                    .task-content 点击“关注”按钮获取二维码并关注，发送暗号“我要赠币+高分网昵称”即可获得奖励
                    .font-black 奖励
                        span.font-orange.ml5.mr5 10
                        | 积分，每个账号限1次
                        a.fr.btn.btn-orange(href='') 去关注
            .integral-earn-block.hidden
                i.icon.icon-integral-email
                .integral-task-container
                    .task-title
                        strong 绑定微信
                    .task-content 成功绑定微信即可获得奖励
                    .font-black 奖励
                        span.font-orange.ml5.mr5 10
                        | 积分
                        a.fr.btn.btn-orange(href='') 立即绑定
            .integral-earn-block.hidden
                i.icon.icon-integral-email
                .integral-task-container
                    .task-title
                        strong 收藏文章
                    .task-content 收藏文章即可获得奖励
                    .font-black 奖励
                        span.font-orange.ml5.mr5 2
                        | 积分/次，每日上限
                        span.font-orange.ml5.mr5 10
                        | 积分
                        a.fr.btn.btn-orange(href='') 去收藏
            .integral-earn-block.hidden
                i.icon.icon-integral-email
                .integral-task-container
                    .task-title
                        strong 分享文章
                    .task-content 分享文章到微信/微博/QQ等即可获得奖励
                    .font-black 奖励
                        span.font-orange.ml5.mr5 5
                        | 积分/次，每日上限
                        span.font-orange.ml5.mr5 20
                        | 积分
                        a.fr.btn.btn-orange(href='') 去分享
            .integral-earn-block
                i.icon.icon-integral-email
                .integral-task-container
                    .task-title
                        strong 社区互动
                    .task-content 去社区发帖、回帖，内容足够精彩的，将获得2-10积分不等的奖励
                    .font-black 奖励
                        span.font-orange.ml5.mr5 2~10
                        | 积分
                        a.fr.btn.btn-orange(href='') 去互动
            .integral-earn-block
                i.icon.icon-integral-email
                .integral-task-container
                    .task-title
                        strong 邀请好友注册
                    .task-content 好友通过您的邀请成功注册成为高分家长社区会员即可获得奖励
                    .font-black 奖励
                        span.font-orange.ml5.mr5 10
                        | 积分/人，每日上限
                        span.font-orange.ml5.mr5 5
                        | 人
                        a.fr.btn.btn-orange(href='') 立即邀请
    .ui-dialog
        .dialog-wrap.sign-box
            .dialog-header
                | 签到成功
                a.btn-close(href='javascript:;',onclick="$(this).parents('.ui-dialog').hide()")
                    i.icon.icon-close-g.fr.mt5
            .dialog-content.tc
                h4 今日签到奖励
                    span.font-orange.ml10.mr10 5
                    | 积分
                p 您已经连续签到1天，连续签到7天可获得额外20积分
                a.btn.btn-blue.mt20.mb30.btn-close(href='javascript:;',onclick="$(this).parents('.ui-dialog').hide()") 知道了


block javascript
    script.

