---
page_title: "积分赚取页"
body_class: ["integral-page"]
is_new: true
---
extends _layout
block content
    .container
        .special-item-top
            i.icon.title-integral-earn.mt40

block javascript
    script.

