---
page_title: "积分兑换规则"
body_class: ["integral-page"]
is_new: true
---
extends _layout

block content
    .container
        .special-item-top
            i.icon.title-integral-rule.mt40
        .integral-rule-content
            dl
                dt 什么是积分
                dd 积分是通过高分家长社区获得的奖励，是对高分家长社区用户的鼓励，积分仅在高分家长社区使用，积分可以用来参与兑换活动，也可以用于资料下载。
            dl
                dt 如何查看自己的积分？
                dd 进入“高分家长社区”，点击“会员中心”，即可查看积分记录。
            dl
                dt 如何兑换礼品？
                dd
                    ol
                        li 什么人可以兑换礼品？
                            p 高分家长社区注册用户均可参与兑换礼品。




block javascript
    script.