---
page_title: "榜单页"
body_class: ["list-page"]
---
extends _layout
block content
    .container
        img.mt40(src="#{current.base}img/title-list.png", alt="")

        .list-container.clearfix
            +items("本周最受欢迎", 1)
            +items("月度最佳", 2)
            +items("历史最热", 3)
            +items("最热收藏", 4)