---
page_title: "搜索--专题页"
body_class: ["search-page"]
---
extends _layout
block content
    .search-top
        .search-form-wrap.pt50
            form.form
                input(type='text', placeholder='请输入要搜索的关键词')
                a.btn-search(href='javascript: void(0);')
                    i.icon.icon-search-big
            dl.clearfix.ml30.mb10
                dt 热门搜索：
                dd: a(href='',title='') 教育
                dd: a(href='',title='') 家庭
                dd: a(href='',title='') 辅导班
            ul
                li
                    a(href='search.html',title='')
                        | 文章
                        //-span 1890
                li
                    a.active(href='search-special.html',title='')
                        | 专题
                        //-span 5
                li
                    a(href='search-topic.html',title='')
                        | 话题
                        //-span 52
    .container.pb30
        .search-msg.font-lg
            span 与“
                span.font-blue 升学
                | ”相关内容共搜出
                span.font-orange 1982
                | 条结果
            .fr
                span 排序：
                a.active(href='',title='') 时间
                i |
                a(href='',title='') 热度
                i |
                a(href='',title='') 相关程度
        .treasury-group.clearfix
            +special-thumbnail(1)
            +special-thumbnail(2)
            +special-thumbnail(3)
            +special-thumbnail(4)
            +special-thumbnail(1)
            +special-thumbnail(2)
            +special-thumbnail(3)
            +special-thumbnail(4)
        .tc
            a.btn.btn-blue.mt30#btn-more(href='javascript:;',title='查看更多') 查看更多
block javascript
    script.
        var jz_template = {
            article_tmp: function (article_url, article_img, article_title, article_zan, article_comments, article_time) {
                return '<div class="ui-thumbnail"><a href="' + article_url +
                        '" title="" target="_blank" class="img-wrap"><img src="' + article_img +
                        '" alt=""></a><div class="ui-thumbnail-content"><a href="' + article_url +
                        '" title="" target="_blank" class="thumbnail-title">' + article_title +
                        '</a><div class="thumbnail-tips mt10"><span><i class="icon icon-fav-grey"></i>' + article_zan +
                        '</span><span><i class="icon icon-msg-grey"></i>' + article_comments +
                        '</span><span class="fr">' + article_time +
                        '</span></div></div></div>'
            },
            special_tmp: function (special_url, special_img, special_title, special_comments, special_fav) {
                return '<div class="ui-thumbnail ui-thumbnail-special"><a href="' + special_url +
                        '" title="" target="_blank" class="img-wrap"><img src="' + special_img +
                        '" alt=""/></a><div class="ui-thumbnail-content special-thumbnail-content"><a href=' + special_url +
                        '" title="" target="_blank" class="thumbnail-title">'+ special_title +
                        '</a><div class="thumbnail-tips mt5">共' + special_comments + '篇内容，' + special_fav + '收藏</div> </div> </div>'
            }
        }
        $('#btn-more').on('click', function () {
            for (var i = 0; i < special_data.length; i++) {
                var special_url = special_data[i].special_url,
                    special_img = special_data[i].special_img,
                    special_title = special_data[i].special_title,
                    special_comments = special_data[i].special_comments,
                    special_fav = special_data[i].special_fav;
                var tmp = jz_template.special_tmp(special_url, special_img, special_title, special_comments, special_fav);
                $('.treasury-group').append(tmp)
            }
        })