---
page_title: "精选文章列表页"
body_class: ["special-article-page"]
---

extends _layout

block content
    .container
        .special-item-top
            h2 精选

            .special-item-slogan.font-lg 为你精挑细选的文章在这里
        .treasury-group.clearfix.pt20.pb30
            +treasury-thumbnail(1)
            +treasury-thumbnail(2)
            +treasury-thumbnail(3)
            +treasury-thumbnail(4)
            +treasury-thumbnail(1)
            +treasury-thumbnail(2)
            +treasury-thumbnail(3)
            +treasury-thumbnail(4)