---
page_title: "专题列表页"
body_class: ["special-item-page"]
---
extends _layout
block content
    .container
        .special-item-top
            h2 浮华日报

            // 分享到朋友圈微信等
            .ui-share.fr
            .special-item-slogan.font-lg 每天为你展示这个浮华没落的世界里，是否孕育新的变化

        // item数量少时显示这个风格
        .treasury-group.treasury-thumbnail-big.clearfix.pt20.pb30
            +treasury-thumbnail(1)
            +treasury-thumbnail(2)
            +treasury-thumbnail(3)
            +treasury-thumbnail(4)

        // item数量多时显示这个风格
        .treasury-group.clearfix.pt20.pb30
            +treasury-thumbnail(1)
            +treasury-thumbnail(2)
            +treasury-thumbnail(3)
            +treasury-thumbnail(4)
            +treasury-thumbnail(1)
            +treasury-thumbnail(2)
            +treasury-thumbnail(3)
            +treasury-thumbnail(4)
