// 元件: 头像

size-nm = 52px

.ui-avatar
  display inline-block
  size size-nm
  border-radius 2px
  overflow hidden
  position relative
  background-color #f6f6f6
  img
    display block
    width 100%

.ui-avatar-c
  border-radius 50%
.avatar-container
  position relative
  padding 0 5px
  display inline-block
  vertical-align middle
  .ui-avatar
    size 50px
  .avatar-lev
    absolute left bottom 6px
    z-index 2
    color #ffffff
    padding 2px 5px
    background-color #67c4d4
    border-radius 2px
    font-style italic
    line-height 1
    font-size 12px


