// 元件：按钮
// ------------------------------

.btn
  display: inline-block;
  border: 1px solid transparent
  border-radius 4px
  outline none
  text-align center
  white-space: nowrap
  vertical-align: middle
  touch-action manipulation

  &.disabled
    background #D9D9D9
    color #929292

  &:active
    box-shadow inset 0 2px 3px rgba(0, 0, 0, .3)

  /*&:visited
    color #ffffff*/



.btn-blue
  width 498px
  line-height 48px
  font-size 18px
  background #67c4d4
  color #ffffff
  &:visited
    color #ffffff
  &:hover
    text-decoration underline

.btn-blue-reverse
  size 298px 48px
  line-height 48px
  font-size 18px
  background-color #ffffff
  color #67c4d4
  border 1px solid #67c4d4
  &:visited
    color #67c4d4

.btn-orange-reverse
  border 1px solid #f59362
  color #f59362
  padding 2px 20px
  &:visited
    color #f59362
.btn-wechat
  background #12bb12
  &:hover
    background darken(@background, 16%)
.btn-weibo
  background #cd1919
  &:hover
    background darken(@background, 16%)
.btn-qq
  background #1983cd
  &:hover
    background darken(@background, 16%)
.btn-orange
  background #f59362
  color #ffffff
  &:hover
    background darken(@background, 16%)
  &:visited
    color #ffffff

.btn-sm
  width auto!important
  height auto
  line-height 1.5
  padding 0 10px
.btn-block
  display block
  width 100%