.input-row
  text-align right
  margin-top 10px
  label
    vertical-align top
    line-height 38px
  input[type="text"]
    size 258px 38px
    border 1px solid #e6e6e6
  textarea
    width 258px
    border 1px solid #e6e6e6
    border-radius 4px
    box-sizing border-box
    resize none

.dialog-content
  .input-row
    padding-right 45px
  input.btn-blue
    height auto
  .btn-orange
    size 218px 56px
    line-height 56px
    font-size 22px
  .icon-to
    margin 0 20px