//图标
// =======================

@import "../_sprite"

.icon
  display inline-block

sprites($spritesheet_sprites)


.ui-share
  .icon
  span
    vertical-align middle
  .btn-weibo
  .btn-qq
  .btn-wechat
    display block
    width 50px
    padding 4px 0 6px 0
    margin 5px
    border-radius 4px
    text-align center
    &:active
      box-shadow inset 0 .2rem .3rem rgba(0, 0, 0, .3)


// 标题
.title-integral-earn
  size 125px 29px
  background url("../img/title-integral-earn.png") no-repeat 0 0
.title-integral-gift-detail
  size 126px 29px
  background url("../img/title-integral-gift-detail.png") no-repeat 0 0
.title-integral-gift-o
  size 103px 20px
  background url("../img/title-integral-gift-o.png") no-repeat 0 0
.title-integral-q
  size 104px 20px
  background url("../img/title-integral-q.png") no-repeat 0 0
.title-integral-exchange
  size 175px 32px
  background url("../img/title-integral-exchange.png") no-repeat 0 0
.title-integral-rule
  size 189px 30px
  background url("../img/title-integral-rule.png") no-repeat 0 0
