// 首页宝库部分样式

.index-treasury
  text-align center
.treasury-tab
  padding-bottom 10px
  li
    float left

    a
    i
      display inline-block
      vertical-align middle
      margin 0 5px
    i
      color #e6e6e6
      font-size 15px
      line-height 1
    a
      font-size 18px
      color #445568
      padding 6px 19px
      border-radius 20px

    &.active
      a
        color #ffffff
        background-color #67c4d4
      &:hover
        a
          color #ffffff
    &:hover
      a
        color #67c4d4

// 区块
.thumbanil-h592
  height 592px
.thumbanil-h520
  height 520px
.thumbanil
  position relative
.thumbanil-wrap
  absolute left top
  transition left 1s ease-in-out
  z-index 0
.thumbanil-container
  width 1120px
  float left
.ui-thumbnail
  size 260px 274px
  border-radius 4px
  margin-right 20px
  margin-top 20px
  float left
  .img-wrap
    display block
    size 260px 156px
    border-radius 4px 4px 0 0
    overflow hidden
  img
    display block
    width 100%
.ui-thumbnail-special
  height 238px
.ui-thumbnail-content
  text-align left
  height 79px
  border 1px solid #e6e6e6
  border-top none
  border-radius 0 0 4px 4px
  font-size 16px
  padding 20px 15px
  overflow hidden
  .thumbnail-title
    display block
    height 45px
    color #333333
    overflow hidden
    &:hover
      color #3dbed4
.treasury-thumbnail-big
  .ui-thumbnail
    width 540px
    height auto
    .img-wrap
      size 540px 324px
    .ui-thumbnail-content
      text-align left
      height 59px
    .thumbnail-title
      font-size 18px
      height 25px
.ui-thumbnail-big
  width 540px
  height auto
  .img-wrap
    size 540px 324px
  .ui-thumbnail-content
    text-align left
    height 59px
  .thumbnail-title
    font-size 18px
    height 25px

.thumbnail-tips
  color #a0a0a0
  font-weight 300
  span
    margin-right 20px
    line-height 1
  .icon
    vertical-align middle
    margin-right 5px
  .fr
    margin-right 0
    margin-top 4px

.qq-thumbnail
  size 258px 274px
  border-radius 4px
  //margin-right 20px
  margin-top 20px
  border 1px solid #e6e6e6
  text-align left
  overflow hidden
  position absolute
  left 840px !important
  top 0
  z-index 8
  background-color #ffffff
  //float left
  .img-wrap
    border-top 3px solid #f7aa4e
    border-radius 2px
    padding 10px 19px 7px 19px
  .qq-item
    margin-left 19px
    padding 12px 0
    border-bottom 1px solid #e6e6e6
  .qq-item-content
    margin-left 60px
    a:hover
      @extend .font-orange
  p
    font-size 16px
    margin 0
    color #333
    line-height 1.7
  a
    font-size 14px

.special-thumbnail-content
  text-align center
  height 43px
  .thumbnail-title
    font-size 22px
    height 22px
    line-height 1
    text-overflow(width = 100%)

.special-tab
  text-align left
  font-size 16px
  ul
  li
    float left
    margin-left 20px
    i
      color #e6e6e6
      font-weight 200
  li
    &:hover
    &.active
      a
        color #67c4d4
        border-bottom 2px solid #67c4d4
  a
    color #445568
    &:hover
      color #67c4d4

.special-sort
  border-radius 2px
  a
    display inline-block
    size 88px 36px
    font-size 16px
    color #999999
    border 1px solid #e6e6e6
    margin-left -1px
    text-align center
    line-height 36px
    .icon
    span
      vertical-align top
      margin 10px 5px
    span
      line-height 33px
    &.active
      background-color #67c4d4
      color #ffffff
      border-color #67c4d4
      .icon-sort
        @extend .icon-sort-active
    &:first-child
      border-radius 4px 0 0 4px
    &:nth-child(2)
      border-radius 0 4px 4px 0
