// 首页banner位置样式
// ==========================

.banner-wrap
  background-color #e6f0f2
  padding 30px 0 40px 0

.article-bibei
.article-daka
  size 220px 384px
  margin-left 10px
  float left
  overflow hidden

.article-bibei
  background-color #67c4d4

.article-daka
  background-color #94e2dd

.banner-article-title
  padding 20px 0 10px 15px
  font-size 0

.banner-article-img
  size 220px 132px
  overflow hidden
.banner-article-p
  font-size 16px
  & > a
    display block
    color #ffffff
    padding 0 15px
    margin 10px 0
  & > div
    padding 0 15px
    overflow hidden
    a
      display block
      margin 9px 0
      line-height 1.4
      &:hover
        color #ffffff
  .article-p-1
    height 49px
    a
      text-overflow(width = 190px)
  .article-p-2
    a
      height 48px
      overflow hidden