
.index-bottom-bar
  size 100% 100px
  background #000000
  background-color rgba(0,0,0,0.8)
  fixed left bottom
  z-index 9
  display none

  .btn
    size 70px 20px
    margin-right 10px
    padding 5px 10px
    color #ffffff
    text-align center
    line-height 0
    i
    span
      vertical-align middle
    .icon
      margin-right 5px
      line-height 20px
    span
      font-size 14px
      line-height 20px
  .btn-orange
  .btn-blue
    width 50px

  .btn-bar-close
    padding 10px 11px 8px 11px
    border-radius 50%
    background-color #666666