// 全局通用样式
// =====================================================
body{
  background-color: body-bg-color;
  color: body-color;
  height 100%
}
.wrap
  position relative
  margin 0 auto
  min-height 100%
  padding-top 106px
  padding-bottom 208px
  box-sizing border-box

.header
  width 100%
  absolute left top
#footer
  width 100%
  absolute left bottom

.container
  width 1100px
  margin auto
  overflow-x hidden

.span820
  width 820px

.span260
  width 260px