.page-right
  size 58px 118px
  fixed right 50% bottom 180px
  margin-right -700px
  border 1px solid #e6e6e6
  border-radius 4px
  background-color #ffffff
  overflow hidden
  font-size 14px
  z-index 0
  a
    display block
    width 58px
    border-bottom 1px solid #e6e6e6
    text-align center
    overflow hidden
    &:hover
      background-color #e6e6e6
  p
    margin 0
    line-height 1
  .btn-sign
    height 49px
    padding-top 10px
  .btn-top
    height 47px
    padding-top 12px
