
.list-title
+audio-list({title: '第一课：阅读从出生第一天开始',src:'http://file.gaofen.com/huodong/voice/11/8840315_dd6371ae3d2e87609d72de0032106909.mp3',info: '阅读从出生第一天开始阅读从出生第一天开始阅读从出生第一天开始',img:'../img/audio-img-1.png',isNew: true, state: true})

+audio-list({title: '第二课：怎样让一二年级孩子爱上阅读？',src:'http://file.gaofen.com/huodong/voice/11/8840315_fd928f810f0f33fd218c656d9512b4de.mp3',info: '怎样让一二年级孩子爱上阅读怎样让一二年级孩子爱上阅读怎样让一二年级孩子爱上阅读怎样让一二年级孩子爱上阅读',img:'../img/audio-img-2.png',isNew: false, state: true})

+audio-list({title: '第三课：亲子共读怎么读？',src:'http://file.gaofen.com/huodong/voice/11/8840315_cea36c96ae675696bbccabb17f9c7a8d.mp3',info: '亲子共读怎么读？亲子共读怎么读？亲子共读怎么读？亲子共读怎么读？亲子共读怎么读？亲子共读怎么读？亲子共读怎么读？亲子共读怎么读？',img:'../img/audio-img-3.png',isNew: false, state: true})

+audio-list({title: '第四课：培养孩子读书兴趣，不妨开一场读书PARTY！',src:'http://file.gaofen.com/huodong/voice/11/8840315_bc3c1d110266dae4053fffbd39403b75.mp3',info: '培养孩子读书兴趣，不妨开一场读书PARTY！培养孩子读书兴趣，不妨开一场读书PARTY！培养孩子读书兴趣，不妨开一场读书PARTY！培养孩子读书兴趣，不妨开一场读书PARTY！培养孩子读书兴趣，不妨开一场读书PARTY！',img:'../img/audio-img-4.png',isNew: false, state: true})

+audio-list({title: '第五课：给孩子选择合适的书',src:'http://file.gaofen.com/huodong/voice/11/8840315_f4c8b7d4263f2eee542745da0c113efb.mp3',info: '给孩子选择合适的书给孩子选择合适的书给孩子选择合适的书给孩子选择合适的书给孩子选择合适的书给孩子选择合适的书给孩子选择合适的书',img:'../img/audio-img-5.png',isNew: false, state: true})