nav#nav-menu.nav-menu
    a.nav-search(href='index.html',title='找方法')
        i.icon.icon-nav-search
        p 找方法
    a.nav-question(href='expert.html',title='问专家')
        i.icon.icon-nav-question
        p 问专家
    a.nav-home(href='home.html',title='我的')
        i.icon.icon-nav-home
        p 我的