//------------------------------
//- @param Array 导航栏数据，定义在
//-              _data.json中
//------------------------------
mixin navbar(nav_links)
    nav#nav-menu.nav-menu.flex
        for link in nav_links
            a.icon(href='#{link.slug}.html',title='#{link.label}')
                i.icon(class='#{link.class}')
                span= link.label
                if link.hot
                    i.icon-hot

+navbar([{"label": "寻宝首页", "slug": "index", "class": "icon-index"},
{"label": "活动一", "slug": "rule", "class": "icon-task1"},
{"label": "我的营地", "slug": "home", "class": "icon-camp", "hot": false}])