#friend-info
    .header 好友动态
    .content
        - for(var i=0;i<4;i++)
            .row
                .left: a(href='home.html',target='_blank'): img(src='images/examples/friend1.jpg')
                p
                    span.user: a(href='home.html',target='_blank') 海阔天空
                    创建了新的小窝“
                    span.subject: a(href='folder_detail.html',target='_blank')  吃货必备
                    ”并添加分享了五个网站。