//--------------------------------------------------
//- 课程列表
//--------------------------------------------------
mixin course-list(params)
  - var params = params || {}
  - var course_count = params.count || 6

  - while(course_count--)
    .item
      +thumb({width:200, height:135})
      .title
        a(href="http://", target="_blank")= article.title
      .status
        span 11人报名
        i |
        span 免费
        i |
        span 公开课
