// 助手类
// ==================================================

// 内容显示切换
.hidden
  display none !important
.show
  display block !important

// 不可见元素
.invisible
  visibility hidden

// 清除浮动
.clearfix
.cls
  clearfix()

// 内容溢出隐藏
.hide-text
  hide-text()

// 行内高亮
.hl
  color #E46A20

.hl-link
  highlight-link()

// 三角小箭头
.caret
  if support-for-ie
    *zoom 1

  i
    caret #7F7F7F 4px down

// 虚线
.split
  split()

// 分隔线（独立Dom）
.split-line
  split()
  height 0
  padding-top 1px
  font-size 0
  overflow hidden
  background-position left top

.split-line-solid
  font-size 0
  height 0
  border-top 1px solid common-border-color

// 宽度
for i in 3..20
  .w{i}0
    width unit(i, "0px") !important

// 重置宽度为自动
.width-auto
  width auto !important

// 外间距
for i in 5 10 15 20 25 30 40
  .mt{i}
    margin-top unit(i, px) !important
  .mr{i}
    margin-right unit(i, px) !important
  .mb{i}
    margin-bottom unit(i, px) !important
  .ml{i}
    margin-left unit(i, px) !important

// 原子类
// ------------------------------

// 对齐
.al
  text-align left
.ac
  text-align center
.ar
  text-align right

// 浮动
.pull-right
.fr
  float right
.pull-left
.fl
  float left





