// 占位符
// ==================================================

// 拼图
// ------------------------------

// all_bg.png
$all-bg
  background-image url("../img/all_bg.png")
  background-repeat no-repeat

// icon.png
$icon
  background-image url("../img/icons.png")
  background-repeat no-repeat

$icon-close
  background-image url("../img/icon_close.png")
  background-repeat no-repeat

// icon_sns
$icon-sns
  background-image url("../img/icon_sns.png")
  background-repeat no-repeat

// icon_sns_mini.png
$icon-sns-mini
  background-image url("../img/icon_sns_mini.png")
  background-repeat no-repeat

// icon_help.png
$icon-help
  background-image url("../img/icon_help.png")
  background-repeat no-repeat

// btn_sns_bg.png
$btn-sns-bg
  display inline-block
  background-image url("../img/btn_sns_bg.png")
  background-repeat no-repeat
  hide-text()

// icon_alert.png
$icon-alert
  display inline-block
  size 48px 48px
  background-image url("../img/icon_alert.png")
  background-repeat no-repeat
  hide-text()

// icons_slider_control.png
$icon-slider-control
  background-image url("../img/icon_slider_control.png")
  background-repeat no-repeat

// gallery_bg.png
$gallery-bg
  background-image url("../img/gallery_bg.png")
  background-repeat no-repeat
  hide-text()

// icon_file.png
$large-file-icon
  absolute left 5px top 15px
  background-image url("../img/icon_files.png")
  background-repeat no-repeat
  size 32px

$file-icon
  absolute left 5px top 5px
  background-image url("../img/icon_files.png")
  background-repeat no-repeat
  size 16px

$opinion-icon
  absolute left 10px top 8px
  background-image url("../img/icon_opinion.png")
  background-repeat no-repeat
  size 34px

$ranking-status-icon
  inline-block()
  size 8px 9px
  margin 4px 0 5px
  overflow hidden
  background-image url("../img/ranking_status.png")
  background-repeat no-repeat

// 清除浮动
// 用法：
// clearfix()
// ------------------------------
$clearfix
  if support-for-ie
    *zoom 1
  &:before
  &:after
    display table
    content ""
    line-height 0
  &:after
    clear both

// 小三角公用样式
$caret-core
  size 0 0
  font-size 0
  overflow hidden

// 高亮文章类型
$highlight-subject
  .subject
    a
      highlight-link()

// 高分新媒体
$widget-sns
  .sns
    clearfix()

  .sec
    margin-bottom 10px

    h3
      font-size 12px
      margin 0 0 5px
      padding-left 20px
      background-image url("../img/icon_sns_mini.png")
      background-repeat no-repeat

    .sns-list
      remove-list-style()
      line-height 22px

  .weibo
    h3
      background-position -14px 0

  .qq-group
    h3
      background-position -14px -59px

  .wechat
    h3
      background-position -12px -120px

  .qq-space
    h3
      background-position -14px -179px

