// 二维码
.qrcode-fixed
  border-bottom 4px solid #F2F2F2
  background #FFF
  fixed left 50% top 178px
  margin-left -603px
  z-index 1000
  if support-for-ie
    _position absolute
    _top unquote("expression(documentElement.scrollTop + 178)")

  .inner
    border 1px solid #E6E6E6
    width 86px
    padding 10px

  img
    display block
    size 86px

  span
    display block
    line-height 20px
    text-align center

  .tit
    margin-top 10px
    height 20px
    line-height 20px
    font-size 14px
    color #FFF
    background url("../img/qrcode_tit.png") no-repeat center top