// 侧栏热门活动
// ==================================================

.widget-act
  .act-details
    text-align center

    h3
      font-size 14px
      height 18px
      overflow hidden
      margin 10px 0

    p
      margin 0
      text-align left

  .thumb
    size 200px 150px
    margin auto

  .action
    margin-top 15px
    text-align center

    p
      margin 10px 0 0
      color #707070
