// 侧栏快速入口
.widget-entrances
  size 326px 178px
  border 2px solid #C7D2D8
  background url(img/exam/v6/entrance_split.png) no-repeat
  overflow hidden

  .inner
    clearfix()
    width 330px

  a
    float left
    width 108px
    text-align center
    padding-top 56px
    color #7F7F7F
    line-height 20px
    border 1px solid transparent
    margin -1px 0 0 -1px
    background-image url(img/exam/v6/icon_entrances.png)
    background-repeat no-repeat
    transition background-color .3s

    &:hover
      text-decoration none
      background-color #E1EEFA
      border-color #D5E2ED

  .lib
  .products
  .cutoff-score
  .brochure
  .interview
  .ranking
  .hot-subjects
    height 32px

  .download
  .bbs
  .guide
  .baike
    height 33px

  .products
    background-position -108px 0

  .cutoff-score
    background-position -219px 0

  .download
    background-position 0 -90px

  .bbs
    background-position -108px -90px

  // 备考指导(not in use)
  .guide
    background-position -219px -90px

  .brochure
    background-position 0 -182px

  .interview
    background-position -108px -182px

  .hot-subjects
    background-position -219px -182px

  .ranking
    background-position 0 -273px

  .baike
    background-position -108px -273px


