// 侧栏活动
.widget-event
  padding 10px 15px 15px
  border 1px solid common-border-color

  .heading
    border-bottom 1px solid common-border-color

  .event-info
    margin-bottom 10px

    p
      margin 5px 0
      color #808080

  .thumb-info-rec
    .thumb
      size 90px 60px

      img
        size 90px 60px

    .info
      margin-left 100px
      if support-for-ie
        _margin-left 97px

  .actions
    .btn
      margin-right 10px

    .stat
      color #999

      i
        font-weight bold

  .post-list-large
    split top
    padding-top 15px
    margin-top 20px