.widget-follow-s2
  background #F7F7F7
  border 1px solid common-border-color

  .weixin
    split()
    padding-bottom 1px

    .inner
      clearfix()
      padding 15px 0 15px 15px
      background url(img/weixin_bg.png) no-repeat right bottom

    .qrcode
      float left
      width 112px

      img
        width 112px
        display block

    .info
      margin-left 124px

      p
        margin 0
        color #323232

        span
         color #666
         margin-right 8px

      .tit
        margin-bottom 5px
        font-size 15px
        font-weight bold

  .weixin-zyzs
    .inner
      background-image url("img/weixin_zyzs_bg.png")

  .qq-group
  .weibo
    padding 15px

    .tit
      font-size 14px
      color #323232
      font-weight bold

  .qq-group
    .tit
      margin-bottom 3px

    .info
      clearfix()

      span
        display block
        color #666

  .weibo
    split(top)

    .tit
      vertical-align middle
      margin-right 10px

    iframe
      vertical-align middle

