// 侧栏查询
.widget-query
  margin-bottom 18px

  .form-query
    clearfix()
    padding-top 5px
    margin-left -4px

    .ui-select
    .btn
      float left
      margin 0 0 10px 4px

    .ui-select-mini
      width 87px

    .ui-select-small
      width 107px

    .ui-select-large
      width 163px

    .input-text
      float left
      border-radius 2px
      border 1px solid common-border-color
      margin 1px 1px 1px 4px
      font-size 12px
      padding 3px 10px 4px
      width 244px
      line-height 16px
      height 16px

    .input-focus
      border 2px solid blue
      margin 0 0 0 3px

    .input-null
      color gray