mixin toolbar-bottom(fixed)
  .toolbar.toolbar-bottom(class="#{fixed?'fixed':''}")
    ul
      li
        span
          | 共
          i.hl 1024
          | 条数据
      li
        span
          i.fa.fa-trash-o
          | 已选择
          i.hl 1
          | 条数据
          a.btn.btn-default.btn-xs.disabled(href="#") 删除
          a.btn.btn-danger.btn-xs(href="#") 删除

.toolbar
  ul
    li
      span
        | 共
        i.hl 1024
        | 条数据
    li
      a.operation(href="#")
        i.fa.fa-plus
        | 添加数据
    li
      a.operation(href="#")
        i.fa.fa-clipboard
        | 从Excel追加数据
    li.dropdown.filter-column
      a.dropdown-toggle.operation(href="#", data-toggle="dropdown")
        i.fa.fa-th-list
      ul.dropdown-menu.with-arrow(role="menu")
        li.checked
          a(href="#")
            i.fa.fa-check
            | 序号
        li.checked
          a(href="#")
            i.fa.fa-check
            | 未命名
        li.checked
          a(href="#")
            i.fa.fa-check
            | 你对我们的产品或服务觉得满意吗
        li
          a(href="#")
            i.fa.fa-check
            | 我们的产品或服务那一点令你觉得最满意
        li
          a(href="#")
            i.fa.fa-check
            | 我们的产品或服务那一点令你觉得最不满意
    li.pull-right.toggle-fullscreen
      a.operation(href="#")
        i.fa.fa-expand
        i.fa.fa-compress

table.table.table-striped.table-bordered
  thead
    tr
      th
        input(type="checkbox")
      th.sort
        div 序号
      th.sort-asc
        div 您对我们的产品/服务满意么？
      th.sort-desc
        div 您使用我们的产品/服务有多久了？
      th.sort
        div 您对我们的产品/服务最满意的是什么？
      th.sort
        div 您对我们的产品/服务最失望的是什么？
      th.sort
        div 您会向朋友推荐我们的产品/服务么？
  tbody
    - for(var i=1; i<=30; i++)
      tr(class="#{i==5?'warning':''}")
        td
          if i==5
            input(type="checkbox", checked="checked")
          else
            input(type="checkbox")
        td= i
        td 非常满意
        td 一个月
        td 质量
        td 包装
        td 不会
nav.form-pagination
  ul.pagination.pagination-sm
    li.disabled
      a(href="#")
        span &laquo;
    li.active
      a(href="#")
        span 1
    - for(var i=2; i<=5; i++)
      li
        a(href="#")
          span= i
    li
      a(href="#")
        span &raquo;
+toolbar-bottom
+toolbar-bottom(true)