nav(role="navigation").navbar.navbar-inverse.navbar-static-top.app-nav
  .page-container
    .navbar-header
      button(type="button", data-toggle="collapse", data-target=".navbar-ex1-collapse").navbar-toggle
        span.sr-only 导航切换
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a(href="index.html").navbar-brand
        i.fa.fa-list-alt
        | 自定义表单
    //-
      .collapse.navbar-collapse.navbar-ex1-collapse
        ul.nav.navbar-nav
          li: a(href="#") 我的表单
          li: a(href="#") 模板中心
