<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>学校大全_广州中小学大全_高分网学校库</title>
    <link rel="stylesheet" href="<?php echo GAOFEN_STATIC;?>/html/v6/css/default/base.min.css">
    <link rel="stylesheet" href="<?php echo GAOFEN_STATIC;?>/html/v6/css/default/school.min.css">
    <script src="http://bbs.gaofen.com/source/plugin/gaofen_ad/js/gad_xuexiao.js"></script>
</head>

<body class="school-page">
    <?php F::TPL('common/cms_header.html') ?>
    <!-- Start:广告 980×70 -->
    <div class="picture picture-h70 slider container ad-top mb25 hidden">
        <a href="#" style="position:absolute; z-index:1; opacity:1; display:block;"><img width="980" height="70" src="../../../assets/img/dummy_980x70.png" alt="" />
        </a>
        <a href="#" style="position:absolute; z-index:1; opacity:1; display:block;"><img width="980" height="70" src="../../../assets/img/dummy_980x70.png" alt="" />
        </a>
        <a href="#" style="position:absolute; z-index:1; opacity:1; display:block;"><img width="980" height="70" src="../../../assets/img/dummy_980x70.png" alt="" />
        </a>
        <ul class="pages">
            <li class="active">1</li>
            <li>2</li>
            <li>3</li>
        </ul>
    </div>
    <!-- End:广告 980×70 -->
    <div class="container page-content">
        <!-- Start: 广州初中库-->
        <div class="mod mod-school-tab mod-junior-schools">
        <div class="heading heading-tabs"><a href="<?php echo F::URL('/Cz/school/index') ?>" target="_blank" title="更多" class="more">更多</a>
                <div class="title"><a href="<?php echo F::URL('/Cz/School/front'); ?>" target="_blank" title="广州初中库">广州初中库</a>
                </div>
                <div class="tabs-s2">
                <a href="<?php echo F::URL('/Cz/School/index'); ?>" class="item" target="_blank">学校搜索</a>
                <a href="<?php echo F::URL('/Cz/School/rank'); ?>" class="item" target="_blank">学校排行</a>
                <a href="<?php echo F::URL('/Cz/School/guide'); ?>" class="item" target="_blank">升学指导</a>
                </div>
            </div>
            <div class="row">
                <div class="span10">
                    <?php F::TPL('school/junior_high_schools.html',
                    ['schools' => $public_schools, 'property' => '公办']) ?>
                </div>
                <div class="span10">
                    <?php F::TPL('school/junior_high_schools.html',
                    ['schools' => $private_schools, 'property' => '民办']) ?>
                </div>
            </div>
        </div>
        <!-- End: 广州初中库-->
        <!-- Start: 广州高中库-->
        <div class="mod mod-school-tab mod-senior-schools">
            <div class="heading heading-tabs"><a href="<?php echo F::URL('/Gz/School/index'); ?>" target="_blank" title="更多" class="more">更多</a>
                <div class="title"><a href="<?php echo F::URL('/Gz/School/index'); ?>" target="_blank" title="广州高中库">广州高中库</a>
                </div>
            </div>
            <div class="school-thumb-info-list">
                <?php foreach ($high_schools['school_tj'] as $id => $school): ?>
                    <div class="item">
                        <!-- Start:缩略图-->
                        <div class="thumb">
                            <a href="<?php echo F::URL('/Gz/School/view', array('id'=>$id)); ?>" title="<?php echo $school->name ?>" target="_blank">
                                <img src="<?php echo $school->cover ?>" width="160" height="120" alt="<?php echo $school->name ?>" class="no-pic" />
                            </a>
                        </div>
                        <!-- End:缩略图-->
                        <div class="info">
                            <h3 class="tit"><a href="<?php echo F::URL('/Gz/School/view', array('id'=>$id)); ?>" target="_blank" title="<?php echo $school->name ?>"><?php echo $school->name ?></a></h3>
                            <p><span>级别：</span><?php echo CFG::school('school', 'gz_level', $school->gz_level); ?></p>
                            <p><span>招生：</span><?php echo implode(',', $school->present()->admit_range_text()) ?></p>
                        </div>
                    </div>
                <?php endforeach ?>
            </div>
        </div>
        <!-- End: 广州高中库-->
        <!-- Start: 全国重点高校-->
        <div class="mod mod-school-tab mod-colleges">
            <div class="heading heading-tabs"><a href="<?php echo F::getSiteHost('school').'/college' ?>" target="_blank" title="更多" class="more">更多</a>
                <div class="title"><a href="<?php echo F::getSiteHost('school').'/college' ?>" target="_blank" title="热门高校">热门高校</a>
                </div>
            </div>
            <div class="school-thumb-info-list">
                <?php foreach ($colleges['school_tj'] as $id => $school): ?>
                    <div class="item">
                        <!-- Start:缩略图-->
                        <div class="thumb">
                            <a href="<?php echo F::getSiteHost('school').'/college-'.$id.'.html' ?>" title="<?php echo $school->name ?>" target="_blank">
                                <img src="<?php echo F::getSiteHost('school').'/data/pics/'.$school->cover ?>" width="160" height="120" alt="<?php echo $school->name ?>" class="no-pic" />
                            </a>
                        </div>
                        <!-- End:缩略图-->
                        <div class="info">
                            <h3 class="tit"><a href="<?php echo F::getSiteHost('school').'/college-'.$id.'.html' ?>" target="_blank" title="<?php echo $school->name ?>"><?php echo $school->name ?></a></h3>
                            <p><span>级别：</span>本科一批</p>
                            <p><span>所在地：</span><?php echo $colleges['ds'][$school->pid] ?></p>
                        </div>
                    </div>
                <?php endforeach ?>
            </div>
        </div>
        <!-- End: 全国重点高校-->
    </div>
    <?php F::TPL('common/footer.html') ?>
</div>
</body>

</html>