// 资料页面拼图
// ==================================================

file-types = doc xls ppt pdf txt zip pack

for type, i in file-types
  // 小尺寸
  .icon-{type}
    offset-x = -30px * i
    @extend $file-icon
    background-position offset-x -60px

  // 大尺寸
  .icon-{type}-large
    if type isnt pack
      offset-x-large = -60px * i
      @extend $large-file-icon
      background-position offset-x-large 0

for type in doc xls ppt
  .icon-{type}x
    @extend .icon-{type}
  .icon-{type}x-large
    @extend .icon-{type}-large
