// 资料列表
// ==================================================

// 普通资料列表
.data-list
  ul
    remove-list-style()

  li
    position relative
    height 28px
    padding-left 30px
    line-height 28px
    overflow hidden
    font-size 14px

    .icon-rec
      vertical-align middle
      margin -2px 0 0 5px
      if support-for-ie
        _margin 5px 0 6px 5px

// 带大图标的资料列表
.data-list-large
  @extend .data-list
  position relative
  overflow hidden
  if support-for-ie
    _zoom 1

  li
    height 32px
    line-height 32px
    padding 15px 20px 15px 67px
    split(top)

    a
      font-weight bold
      highlight-link()

// 简单资料列表
.data-list-simple
  @extend .data-list
  position relative
  overflow hidden
  if support-for-ie
    _zoom 1

  li
    height 32px
    line-height 32px
    margin-top -12px
    padding 5px 20px 17px 5px
    split(top)

    a
      padding-left 10px
      background url("../img/dot.png") no-repeat 0 7px
      highlight-link()

// 列表项右边带某种状态的资料列表
.stat-data
  @extend .data-list-large

  li
    padding-right 110px
    height auto
    visibility visible

    p
      color #666
      line-height 20px
      margin 0
      font-size 12px

    .time
      absolute right 5px top 15px
      color #999
      line-height 32px

@import '_thumb_data_list'








































