// 资料浮层
// ------------------------------
.modal
  // 浮层信息
  .modal-info
    margin 20px 50px 0

    .cont
      p
        font-size 14px
        margin 10px 0
        line-height 26px

        span
          margin-right 10px

  .actions
    .btn
      margin-right 10px

    p
      padding 10px 0 0

      a
        highlight-link()

// 文档下载浮层
.modal-download
  width 530px
  min-height 260px
  center-modal 530 380

  .modal-info
    margin 20px 30px

    .actions
      margin-top 40px

      .share
        margin 5px 0 0 105px

// 余额不足
.lack-balance
  width 470px
  min-height 260px
  center-modal 470 380

  .alert
    h3
      margin 0

  .modal-info
    margin 20px 30px

    .actions
      margin-top 30px

      .btn
        margin-right 20px

      .earn
        font-size 14px
        line-height 30px
        highlight-link()


// 等待支付浮层
.pay-waiting
  .modal-info
    margin-top 30px

// 支付成功浮层
.pay-success
  .modal-info
    margin 10px 10px 0

  .alert
    h3
      margin-bottom 10px

    .hints
      margin 0
      color #999

  .actions
    margin-left 80px

    p
      clear both

// 领取资料浮层
.modal-fetch
  size 520px 310px
  center-modal 520 310

  .modal-info
    margin 10px 10px 0

    p
      line-height 24px
      margin-bottom 10px

  .form
    select
      width 140px

    .form-row
      .control-label
        width 65px
        margin-right 15px

    .hints
      margin 0
      color #333

  .actions
    margin-left 80px

    .btn
      width 80px

// 移动端购买时提示浮层
.modal-tips-mobile
  size 480px 260px
  center-modal 480 260