// 页脚样式
// ==================================================

#footer
  background #F7F7F7
  padding 10px 0
  margin-top 40px
  border-top 1px solid #D9D9D9
  text-align center

  a
    color #444

  .foot-links
    margin-bottom 5px
    // font-family songti

    i
      color #BBB

    a
      margin 0 14px
      color #444

  .alarm
    margin-top 10px

    a
      margin 0 3px

    img
      border 1px solid #CDCDCD


