// 头部登录 .head-login
// ==================================================

.head-login
  float right
  size 510px 64px
  padding-top 14px
  overflow hidden

  .quick-login
    float left
    width 126px
    padding 3px 15px 0 0

    a
      float left

    .btn-qq
      margin-top 10px

  .login-form
    float left
    border 1px solid #EBEBEB
    border-width 0 1px
    padding-right 15px

    .label
      float left
      width 35px
      line-height 26px
      text-align right
      margin-right 8px
      if support-for-ie
        _margin-right 5px

    .input-txt
      border 1px solid #CDCDCD
      padding 4px
      width 160px

    .form-fields
      float left
      width 214px

    .form-row
      padding 3px 0

    .actions
      float left
      width 68px
      margin-left 10px
      padding-top 6px
      if support-for-ie
        _display inline

      label
        display block
        margin-bottom 10px
        height 18px
        if support-for-ie
          _padding-top 3px

      .checkbox
        vertical-align middle
        margin-left ie678(-3px)
        if support-for-ie
          _margin-top -3px

      .btn
        border 1px solid #DF7F45
        color #FFF
        color #DF7F45

  .operations
    float left
    margin-left 10px

    p
      margin 0
      padding-top 5px

      a
        color #626262

    .reg
      margin-top 12px
      font-weight bold
