// 页头样式
// ==================================================

#header
  position relative
  height 90px
  z-index 1000;

.logo
  float left
  width auto
  margin 30px 0 0 2px
  font-size 0
  if support-for-ie
    _display inline

.head-sub-title
  float left
  margin 20px 0 0 14px
  padding 13px 0 2px 10px
  border-left 1px solid #EBEBEB
  font-size 20px
  color #3D3D3D

.head-info
  position relative
  float left
  margin 45px 0 0 20px

  .hover
    border 1px solid #B2B2B2
    left -4px
    top -1px
    background #FFF

    .menu
      display block

// 口号
.slogan
  display block
  size 211px 19px
  hide-text()

// 用户登录
@import "../shared/_head-login"

// 热线电话
.hotline
  absolute right 15px top 50px
  padding-left 24px
  color #666
  font-weight bold
  font-size 14px
  z-index 1

