// 带缩略图的资料列表
.thumb-data-list
  position relative
  overflow hidden

  .item
    split()
    clearfix()
    padding 15px 0

    .cover
      float left
      size 71px 100px

      a
        size 69px 98px

        img
          size 69px 98px

      .orn
        height 92px

    .cover-pack
      a
        size 71px 100px

        img
          size 71px 100px

    .info
      margin-left 86px
      if support-for-ie
        _margin-left 83px

      .title
        margin 0
        font-size 14px

        p
          margin 10px 0 0
          font-weight normal
          font-size 12px
          color #808080

        a
          color #010101

          &:hover
            color link-color-hover

    .details
      p
        margin 0
        line-height 20px
        color #808080

      .status
        margin-top 5px

        i
          color #D9D9D9
          margin 0 5px

      .price
        margin-top 5px
        color #808080

        .num
          margin-right 4px
          font-size 18px
          color orange

        i
          color #D9D9D9
          margin 0 5px

        .deprecated
          text-decoration line-through

      .desc
        margin-top 10px

    .actions
      margin-top 8px

      .btn
        font-size 12px
        padding 0 15px

      .count
        color #808080
        margin-left 10px