// 简介：定义高分网基础样式
// 维护人：张盛志
// ==================================================

// 注意事项:
// 文件中引人了'default/_header' 和 'default/_footer'，这两个文件包含了旧版页头和页脚的样式
// 当主站与分站统一了这些样式后应当统一使用'shared/components/base'，然后本文件作废

// 配置
@import "../shared/_settings"

// Nib
@import "nib"

// 混入声明
@import "../partials/_mixins"

// 样式重置
@import "../partials/_reset"

// 全局
@import "../shared/_global"

// 栅格
@import "../partials/_grid"

// 框架布局
@import "../default/_header"
@import "../shared/_body"
@import "../default/_footer"
@import "../shared/_layout"

// 导航
@import "../shared/_navbar"
@import "../shared/_nav_aside"

// 元件：按钮
@import "../partials/components/_buttons"

// 元件：Loading
@import "../partials/components/_loading"

// 元件：面包屑
@import "../partials/components/_breadcrumbs"

// 元件：选项卡
@import "../partials/components/_tabs"

// 元件：过滤器
@import "../partials/components/_filter"

// 元件：缩略图
@import "../partials/components/_thumb"

// 元件：图片轮换
@import "../partials/components/_slider"

// 元件：广告
@import "../partials/components/_ad"

// 元件：缩略图列表
@import "../partials/components/_thumb_list"

// 元件：图文信息列表
@import "../partials/components/_thumb_info_list"

// 元件：相册
@import "../partials/components/_album"

// 元件：文章列表
@import "../partials/components/_post_list"

// 元件：分页
@import "../partials/components/_pagination"

// 元件：表单
@import "../partials/components/_form"

// 元件：关闭图标
@import "../partials/components/_close"

// 元件：提示
@import "../partials/components/_alert"

// 元件：浮层
@import "../partials/components/_modal"

// 元件：模拟下拉选择框
@import "../partials/components/_select"

// 元件：滚动条
@import "../partials/components/_scroll-bar"

// 元件：下拉菜单
@import "../partials/components/_dropdown"

// 元件：选择菜单
@import "../partials/components/_drop_menu"

// 元件：小工具提示
@import "../partials/components/_tooltip"

// 元件：气泡提示
@import "../partials/components/_bubble"

// 元件：返回顶部
@import "../partials/components/_gotop"

// 元件：页面底部广告
@import "../partials/components/_ad_footer"

// 其他杂项
@import "../shared/_weibo_account_list"
@import "../shared/_qq_account_list"

// 二维码
@import "../partials/_qrcode"

// 助手类
@import "../partials/_helpers"
