.link-cloud { *zoom: 1; }
.link-cloud:before, .link-cloud:after { display: table; content: ""; line-height: 0; }
.link-cloud:after { clear: both; }

.link-cloud { position: relative; margin-top: 25px; padding: 15px 15px 10px; border: 1px solid #DEDEDE; }
.link-cloud h3 { position: absolute; left: 10px; top: -12px; margin: 0; padding: 0 5px; background: #fff; font-size: 14px; color: #222; }
.link-cloud a { float: left; margin-right: 12px; line-height: 24px; white-space: nowrap; _display: inline; }
.link-cloud a:link, .link-cloud a:visited { color: #454545; }

.topbar { background: #EDEDED; }
.topbar .nav-site { padding: 5px 0; }
.topbar .nav-site i { margin: 0 8px; color: #C9C9C9; }
.topbar .nav-site a { color: #666; }

.head-login { float: right; width: 510px; height: 64px; padding-top: 14px; overflow: hidden; }
.head-login .quick-login { float: left; width: 126px; padding: 3px 15px 0 0; }
.head-login .quick-login a { float: left; }
.head-login .quick-login .btn-qq { margin-top: 10px; }
.head-login .login-form { float: left; border: 1px solid #EBEBEB; border-width: 0 1px; padding-right: 15px; }
.head-login .login-form .label { float: left; width: 35px; line-height: 26px; text-align: right; margin-right: 8px; _margin-right: 5px; }
.head-login .login-form .input-txt { border: 1px solid #CDCDCD; padding: 4px; width: 160px; }
.head-login .login-form .form-fields { float: left; width: 214px; }
.head-login .login-form .form-row { padding: 3px 0; }
.head-login .login-form .actions { float: left; width: 68px; margin-left: 10px; padding-top: 6px; _display: inline; }
.head-login .login-form .actions label { display: block; margin-bottom: 10px; height: 18px; _padding-top: 3px; }
.head-login .login-form .actions .checkbox { vertical-align: middle; margin-left: -3px\9; _margin-top: -3px; }
.head-login .login-form .actions .btn { border: 1px solid #DF7F45; color: #fff; cursor: pointer; }
.head-login .operations { float: left; margin-left: 10px; }
.head-login .operations p { margin: 0; padding-top: 5px; }
.head-login .operations p a { color: #626262; }
.head-login .operations .reg { margin-top: 12px; font-weight: bold; }

.head-info .city-selector .caret i { display: inline; }

.navbar .nav li a { width: 100px; padding: 0; text-align: center; }

.bbs-home-page .navbar .nav .nav-bbs-home, .bbs-page .navbar .nav .nav-bbs, .practice-page .navbar .nav .nav-practice { position: relative; }
.bbs-home-page .navbar .nav .nav-bbs-home a, .bbs-page .navbar .nav .nav-bbs a, .practice-page .navbar .nav .nav-practice a { font-weight: bold; background: #0b60a1; }

.thumb-post-list .thumb, .thumb-post-list .thumb { float: left; width: 160px; margin: 5px 0 0 5px; _display: inline; }
.thumb-post-list .post-list-large, .thumb-post-list .stat-post { margin-left: 180px; _margin-left: 172px; }

.mod { margin-bottom: 25px; }

.mod-headline .headline { padding: 5px 5px 20px; margin-bottom: 15px; background: url(../img/split_h.png) repeat-x bottom; }
.mod-headline .headline .thumb { float: left; margin-right: 20px; _display: inline; }
.mod-headline .headline .info h3 { margin: 0; text-align: center; font-size: 16px; }
.mod-headline .headline .info a { font-weight: bold; }
.mod-headline .headline .info a:link { color: #0F0F0F; }
.mod-headline .headline .info p { margin: 0; line-height: 26px; height: 78px; overflow: hidden; font-size: 14px; text-indent: 2em; }
.mod-headline .headline .info .status { text-align: right; color: #707070; font-size: 12px; }
.mod-headline .headline .info .status span { margin: 0 10px; }

.avatar-list a { float: left; width: 48px; height: 48px; margin: 0 3px 10px 7px; _display: inline; }

.mod-members { margin-bottom: 10px; }

.widget-act .act-details { text-align: center; }
.widget-act .act-details h3 { font-size: 14px; height: 18px; overflow: hidden; margin: 10px 0; }
.widget-act .act-details p { margin: 0; text-align: left; }
.widget-act .thumb { width: 200px; height: 150px; margin: auto; }
.widget-act .action { margin-top: 15px; text-align: center; }
.widget-act .action p { margin: 10px 0 0; color: #707070; }

.widget-notice { margin-bottom: 35px; }

.widget-top-ten { margin-bottom: 38px; }
.widget-top-ten .ad, .widget-top-ten .picture { margin-top: 15px; }

.widget-follow .ad, .widget-follow .picture { margin-top: 20px; }
