// 简介：定义高分网资料专题页面样式
// 维护人：张盛志
// ==================================================

// 配置
@import "../shared/_settings"

// Nib
@import "nib"

// 混入声明
@import "../partials/_mixins"

// 占位符
@import "../partials/_placeholders"

// 顶部导航栏
@import "../shared/_topbar"

// 元件：标签云
@import "../partials/components/_tag_clouds"

.box
  border 1px solid common-border-color

// 横幅
.banner
  position relative
  height 150px
  background #FFF

  .title
    margin 0
    padding 20px 390px 15px 38px
    font-size 30px
    color #FFF
    line-height 1.2

  .status
    padding-left 38px
    color gray-darker

    i
      margin 0 10px

    a
      color gray-darker

  .operations
    absolute right 0 bottom 10px
    width 250px
    z-index 1

    .share
      float left
      margin-left 15px
      size 150px 30px
      if support-for-ie
        _display inline

      .label
        float left
        line-height 28px
        color #EEE

    .add-fav
      float left
      padding-left 25px
      line-height 28px
      color #EEE
      background url("img/data/toolbar_bg.png") no-repeat -3px -918px

    .cancel-fav
      background-position -3px -964px

    .bg
      absolute left top
      size 100%
      z-index -1
      background #000
      opacity .2

for subject in "default" "chinese" "math" "english" "politics" "physics" "chemistry"
  .banner-{subject}
    background url("img/data/topic/banner_" + subject + ".png") no-repeat

.topic-info
  float right
  width 209px
  padding 0 25px
  margin 35px 0 20px
  border-left 1px solid #D9D9D9

  p
    margin 0
    font-weight bold
    line-height 1.2

    .num
      color orange
      font-size 20px
      font-weight normal

  .bubble
    bottom 22px
    left 50%
    top auto
    margin-left -116px
    width 210px
    padding 5px 10px
    background #FFFBEC
    border 1px solid #F7E9BA
    font-weight normal !important
    white-space nowrap
    color #4F4F4F
    line-height 20px

    .arrow
      bottom -1px
      left 50%
      margin-left -4px
      .arrow-border
        border-color #F7E9BA transparent transparent
        border-width 4px
      .arrow-body
        top -1px
        border-width 4px
        border-color #FFFBEC transparent transparent

  .hints
    position relative
    inline-block()
    size 16px
    background #F00
    vertical-align -3px
    margin-left 3px
    background url("img/data/hints.png") no-repeat

    &:hover
      background-position 0 -30px

    a
      highlight-link()

  .status
    clearfix()

  .sec
    float left
    width 102px
    padding-left 8px

    span
      color #808080

    .discarded
      text-decoration line-through

  .sec-total
    width 70px
    padding-left 20px
    border-left 1px dashed #DEDEDE

  .actions
    margin-top 8px

    .btn
      display block
      font-size 18px
      font-weight normal
      text-align center
      height 38px
      line-height 38px

// 专题简介
.topic-intro
  margin-right 270px

  .hd
    margin-top 10px
    color #020202
    font-size 14px
    font-weight bold

    span
      inline-block()
      padding 0 10px 0 15px
      background #E0F1FF

  .bd
    padding 5px 15px 20px
    line-height 20px
    color #4D4D4D

// 预览
.sec-preview
  margin-bottom 20px

  .aside
    float right
    width 260px
    z-index 10

    .widget
      margin-left 25px

  .doc-list
    background #F7F7F7
    height 449px
    overflow hidden

    ul
      remove-list-style()
      padding 0 15px
      if support-for-ie
        *zoom 1

    li
      position relative
      vertical-align top
      padding 10px 0 11px
      split()
      line-height 21px
      cursor pointer
      clearfix()

      .inner
        padding 3px 11px
        border 1px solid transparent

      h4
        margin 0
        font-weight normal
        color gray-darker
        font-size 12px

      .operations
        display none
        margin 0
        color #999

        i
          margin 0 8px
          color #D9D9D9

        a
          color link-color-hover

      .price
        color #EB510D

      &:hover
        .inner
          border-color #D2EAF7
          background #E0F1FF

    .active
    .active:hover
      cursor default

      .inner
        background #FFF
        border-color common-border-color
        border-top-color #147DCF
        border-top-width 3px

      h4
        font-weight bold
        position relative

      .operations
        display block
        position relative

  // 翻页
  .pager
    padding 10px 0 30px 15px
    background #F7F7F7
    clearfix()

    a
    span
      float left
      margin-right 3px
      size 110px 20px
      border 1px solid common-border-color
      background #FFF url("img/data/topic/arrow.png") no-repeat
      text-align center
      hide-text()

    a:hover
      border 1px solid #E6F3FA
      background-color #F2F7FA

    .prev
      background-position 50px 4px

    .next
      background-position 50px -19px

    .prev-disabled
      background-position 50px -45px

    .next-disabled
      background-position 50px -69px

  .main
    margin-right 260px
    if support-for-ie
      _margin-right 257px

    .reader
      size 718px 1059px
      // overflow hidden

// 付费信息提示
.pay-tips
  margin 13px auto
  padding 3px
  border 1px solid #D9EEFF
  text-align center
  font-size 14px

  p
    margin 0
    padding 20px

    a
      color link-color-hover

  .btn
    margin-right 15px

// 图片预览
.picture-previewer
  position relative
  width 718px
  margin 0 auto

  img
    position absolute
    display block

  .picture-container
    size 718px 1015px
    overflow hidden

  .item
    position relative
    size 718px 1015px

  .loading
    absolute left 50% top 50%
    size 32px
    margin -16px 0 0 -16px

  .pay-tips
    box-shadow none
    border none
    padding 230px 0 0
    margin 0

  // 翻页
  .prev
  .next
    absolute top 44px
    size 50% 1015px
    background url(#)

  .prev
    left 0
    cursor url(server + "img/prev.cur"), pointer

  .next
    right 0
    cursor url(server + "img/next.cur"), pointer

  // 滚动条
  .scrollbar
    position relative
    z-index 1000

    .track
      size 100% 6px
      overflow hidden
      background #E3E3E3
      border-top 1px solid #C9C9C9
      cursor pointer

    .progress
      absolute left top 1px
      height 6px
      overflow hidden
      background #378DC8
      cursor pointer

    .drag
      absolute left 0 top -6px
      size 36px 18px
      background url(img/data/drag.png)
      cursor pointer

    .tooltip
      absolute left -24px top 26px
      width 80px
      height 18px
      line-height 18px
      padding 4px 0
      border 1px solid #AAA
      text-align center
      background #FFF
      color #666

      .arrow
        right auto
        left 32px
        top -15px

      .arrow-border
        caret #999 8px up

      .arrow-body
        top 1px
        caret #FFF 8px up

// 预览工具条
.preview-toolbar
  background #F2F7FA
  z-index 1010

  .in
    position relative
    size 100% 27px
    padding 5px 0

  // 页面跳转控制
  .control
    absolute left 50%
    margin-left -88px
    line-height 26px
    color #666

    a
      margin 0 10px

    input
      width 60px
      text-align right
      vertical-align middle
      border 1px solid #DDD
      color #666

    span
      display inline-block
      vertical-align middle
      margin-top -2px

// 资料预览工具条图标
$toolbar-icon
  display inline-block
  size 27px
  overflow hidden
  line-height 200
  background url(img/data/toolbar_bg.png) no-repeat
  vertical-align middle

$toolbar-icon-text
  display inline-block
  height 27px
  background url(img/data/toolbar_bg.png) no-repeat
  vertical-align middle

// 页面跳转控制图标
.page-prev
  @extend $toolbar-icon
  background-position 0 -70px

  &:hover
    background-position 0 -33px

.page-next
  @extend $toolbar-icon
  background-position 0 -207px

  &:hover
    background-position 0 -169px

.page-prev-disable
.page-prev-disable:hover
  background-position 0 -99px
  cursor default

.page-next-disable
.page-next-disable:hover
  background-position 0 -240px
  cursor default

// 图片预览页面跳转控制图标
.picture-previewer
  .page-prev
    background-position 0 -463px

    &:hover
      background-position 0 -425px

  .page-next
    background-position 0 -325px

    &:hover
      background-position 0 -288px

  .page-prev-disable
  .page-prev-disable:hover
    background-position 0 -496px

  .page-next-disable
  .page-next-disable:hover
    background-position 0 -354px

// 顶部工具条
.data-toolbar
  background #FFF
  border-bottom 2px solid #1C79C1
  fixed left top
  width 100%
  z-index 1000
  if support-for-ie
    _position absolute
    _bottom auto
    _top unquote("expression(documentElement.scrollTop)")

  .in
    position relative
    width 980px
    padding 5px 0 2px
    margin auto

  // 资料标题
  .title
    size 570px 30px
    line-height 26px
    overflow hidden
    font-size 20px

  // 下载
  .actions
    absolute right 25px top 25px
    width 320px
    text-align right

    .btn
      float right
      height 32px
      line-height 32px
      padding 0 30px
      font-size 16px

    .price
      margin 5px 140px 0 0
      font-weight bold

      .hl
        margin 0 3px
        font-size 18px
        font-weight normal

  .status
    float left
    line-height 28px

    span
      color #808080

    i
      color #D9D9D9
      margin 0 10px

  // 分享
  .share
    float left
    margin-left 30px
    if support-for-ie
      _display inline

    .label
      float left
      line-height 28px

// 浮层
// ------------------------------
@import '_data_modal'

// 百度分享微信浮层
.bd_weixin_popup
.bd_weixin_popup_bg
  position fixed !important
  left 50% !important
  top 50% !important
  margin -158px 0 0 -131px !important

