// 简介：定义高分网资料页面样式
// 维护人：张盛志
// 版本：v3
// ==================================================

// 配置
@import "../shared/_settings"

// Nib
@import "nib"

// 混入声明
@import "../partials/_mixins"

// 占位符
@import "../partials/_placeholders"

// 拼图
@import '_data_sprite';

$data-btn
  display block
  size 180px 45px
  background url(img/data/v3/btn_bg.png) no-repeat
  line-height 200
  overflow hidden

.btn-data-upload
  @extend $data-btn
  margin-bottom 10px

.btn-data-reward
  @extend $data-btn
  background-position 0 -65px

// 资料列表元件：.data-list
@import '_data_list'

// 侧栏数据统计挂件 .widget-statistic
@import "widgets/_statistic"

// 侧栏人物简介挂件 .widget-people
@import "widgets/_people"

// 侧栏主办方、合作机构挂件 .widget-sponsor
@import "widgets/_sponsor"

// 内页布局
@import "../shared/_layout_inner"

// 元件
// ------------------------------

// 缩略图label
.thumb
  size 180px 120px

  .label-free
    width 78px

    i
      font-size 16px

// 资料栅格列表
.data-grid
  clearfix()

  .thumb
    size 160px 120px
    margin 0 auto

  .info
    padding 0 9px

    h3
      margin 10px 0 5px
      font-size 14px

    p
      margin 2px 0
      color #898989

    a
      highlight-link()

// 人物栅格列表
.people-grid
  .span4
    height 40px
    padding-bottom 20px

  .thumb
    float left
    size 40px

    img
      if support-for-ie
        _width 40px

  .info
    margin-left 50px
    if support-for-ie
      _margin-left 47px

  h3
    height 20px
    overflow hidden
    margin 0
    font-size 14px
    font-weight normal

    a
      highlight-link()

  p
    height 18px
    overflow hidden
    margin 0
    color #898989

// 布局
// ------------------------------

.page-content
  overflow-x visible

// 用户恢复标准栅格
.row-standard
  .span12
    width 580px

  .span4
    width 180px

// 三列栅格
.column3
  .span
    width 246px

// 五列
.column5
  .span
    width 140px

.mod
  margin-bottom 25px

// 侧栏挂件
// ------------------------------

// 侧栏文档信息
.widget-info
  .status
    margin-left 5px

    p
      margin 5px 0

  .tags
    margin-left 5px

    strong
      display block
      margin 20px 0 5px

    span
      margin-right 10px

// 侧栏咨询客服
.widget-contact
  .cont
    p
      margin 5px

    .online
      margin-top 15px

// 教师信息
.widget-people
  .avatar
    height auto

// 资料首页
// ------------------------------

// 资料
.mod-data
  .split-line
    margin 15px 0 10px

  .sub-hd
    margin 10px 0 20px

    .title
      font-weight normal
      color #666

// 三大考资料
.exam-data
  .sub-hd-noline
    margin-left 4px

  .post-list
    li
      padding-left 9px

    a
      highlight-link()

// 资料专题区
.mod-data-topics
  margin-bottom 0

  .data-grid
    .span4
      height 217px
      padding-bottom 25px
      overflow hidden

    .info
      .title
        max-height 42px
        overflow hidden

      .original
        margin-left 15px
        text-decoration line-through

// 合作教师
.mod-teacher
  margin-bottom 5px

// 下载排行
.mod-ranking
  .heading
    margin-bottom 10px

  .sub-hd-noline
    .title
      font-size 14px
      padding-left 0

// 资料内容页
// ------------------------------

// 资料简介
.data-intro
  position relative
  min-height 100px

  h3
    position relative
    margin 10px 0
    padding-left 25px
    font-size 16px
    if support-for-ie
      *zoom 1

    i
      top 4px
      left 0

  .details
    padding 0 240px 20px 25px
    font-size 14px

    p
      line-height 24px
      margin 10px 0

      span
        font-size 14px !important

  .actions
    absolute right 60px top 40px

    span
      display block
      margin-top 5px
      text-align center
      color #E46A20

    .free
      color #999

// 资料机构页
// ------------------------------

// 机构简介
.com-intro
  margin-bottom 30px

  .details
    padding 0 5px 10px
    clearfix()

    .pic
      float right
      width 180px
      margin 0 0 10px 40px
      if support-for-ie
        _display inline

    .info
      line-height 24px
      font-size 14px

      p
        margin 0 0 10px

      a
        highlight-link()

// 全部资料
.all-data
  .stat-data
    li
      margin-top -12px
      padding-bottom 27px

// 资料上传
// ------------------------------
.heading-form
  padding 8px 20px
  background #F5F7F9

  h2
    margin 0
    font-size 14px

    i
      font-size 12px
      font-weight normal

// 资料上传表单
.form-upload
  margin-top 30px

  .form-row
    margin-bottom 20px

    .controls
      width 352px

    .control-label
      width 95px

    .input-large
      width 340px

    textarea.input-large
      height 180px
      line-height 26px

  .filename
    width 250px
    padding 7px 5px
    border none

  .address
  .actions
    margin-left 105px

  .actions
    p
      clear both
      margin 0
      padding-top 10px

      a
        highlight-link()

  // loading
  .loading-mini
    inline-block()
    margin-left 30px
    padding-left 20px
    line-height 26px
    background-position left 5px

.uploadify
  position relative
  float left
  size 76px 20px
  margin-top 5px
  margin-right 15px
  if support-for-ie
    _display inline

  object
    absolute left top
    z-index 1
    cursor pointer

  .uploadify-button
    float left
    size 76px 20px
    line-height 20px
    text-indent -9999px
    background url(img/data/v3/swfuploadbtn.png) no-repeat

  &:hover
    .uploadify-button
      background-position 0 -20px

// 资料上传成功页
// ------------------------------
.upload-success
  padding-top 50px
  padding-left 120px

  p
    margin 0 0 10p 0

    strong
      font-size 16px

    a
      text-decoration underline
      highlight-link()

  .ico
    left 50px
    top 38px

  .actions
    margin-top 50px

    .icon-return
      font-size 14px
      padding-left 20px
      highlight-link()
      margin-right 15px

// 资料上传验证邮箱页
// ------------------------------
.upload-activate
  padding 40px 30px 0 110px

  .ico
    left 50px
    top 35px

  .hl-red
    color #F00

  .hints
    margin-top 15px
    color #999

    .icon-success
      display inline-block
      @extend $icon-help
      padding-left 22px
      margin-left 20px
      background-position -12px 1px

    .icon-error
      display inline-block
      @extend $icon-help
      padding-left 22px
      margin-left 20px
      background-position -12px -59px

    .loading-mini
      display inline-block
      padding-left 20px
      margin-left 20px
      background-position 0 1px
      height 20px
      line-height 20px

    a
      highlight-link()

  .operations
    margin-top 40px

    a
      highlight-link()


// 资料合作申请
// ------------------------------
.data-cooperation
  .page-content
    background #FAF6EF
    padding-bottom 50px

.coop-apply
  .bd
    position relative
    height 151px
    background url(img/data/v3/coop_steps.png) no-repeat 0 0

  p
    margin 5px 0
    color #444

  .info
    absolute top 60px
    font-size 16px

  .contact
    left 70px

  .condition
    left 410px

  .sp
    left 695px

.coop-mod
  padding-top 40px
  margin-left 40px

  .hd
    height 25px
    margin 0 0 24px 12px
    background url(img/data/v3/coop_tit.png) no-repeat

    a
      position relative
      padding-left 25px
      margin-left 120px
      line-height 24px
      highlight-link()

      .icon-pdf
        top 0

// 合作申请
.coop-apply
  margin-left 35px

// 合作条件
.coop-condition
  border-bottom 1px solid #D6D0C9
  padding-bottom 50px
  margin-right 40px

  .hd
    background-position 0 -45px

  ul
    remove-list-style()

  li
    padding-left 20px
    font-size 16px
    line-height 30px
    color #494340

// 合作机构
.coop-company
  float left
  width 410px
  if support-for-ie
    _display inline

  .hd
    background-position 0 -90px

  ul
    remove-list-style()
    clearfix()

  li
    float left
    width 180px
    margin 0 12px 12px 0
    if support-for-ie
      _display inline

  img
    display block

// 合作教师
.coop-teacher
  float left
  width 460px
  if support-for-ie
    _display inline

  .hd
    background-position 0 -135px

  ul
    remove-list-style()
    clearfix()

  li
    float left
    width 195px
    padding 10px
    background #FFF
    margin 0 15px 13px 0
    if support-for-ie
      _display inline

  .thumb
    float left
    size 40px

  .info
    margin-left 50px
    if support-for-ie
      _margin-left 47px

  h3
    height 20px
    overflow hidden
    margin 0
    font-size 14px
    font-weight normal

    a
      highlight-link()

  p
    height 18px
    overflow hidden
    margin 0
    color #898989

// 浮层
// ------------------------------
.modal
  // 浮层信息
  .modal-info
    margin 20px 50px 0

    .cont
      p
        font-size 14px
        margin 10px 0
        line-height 26px

        span
          margin-right 10px

  .actions
    .btn
      margin-right 10px

    p
      padding 10px 0 0

      a
        highlight-link()

// 文档下载浮层
.modal-download
  size 440px 270px
  center-modal 440 270

// 等待支付浮层
.pay-waiting
  .modal-info
    margin-top 30px

    .actions
      margin-top 50px

// 支付成功浮层
.pay-success
  .modal-info
    margin 10px 10px 0

  .alert
    h3
      margin-bottom 10px

    .hints
      margin 0
      color #999

  .actions
    margin-left 80px
    padding-top 20px

    p
      clear both

// 领取资料浮层
.modal-fetch
  size 520px 310px
  center-modal 520 310

  .modal-info
    margin 10px 10px 0

    p
      line-height 24px
      margin-bottom 10px

  .form
    select
      width 140px

    .form-row
      .control-label
        width 65px
        margin-right 15px

    .hints
      margin 0
      color #333

  .actions
    margin-left 80px

    .btn
      width 80px

// 移动端购买时提示浮层
.modal-tips-mobile
  size 480px 260px
  center-modal 480 260

// 我的订单、我的资料
// ------------------------------
$order-list-icon
  position static
  display inline-block
  margin-right 10px
  vertical-align middle

file-types = doc xls ppt pdf txt

.order-list
  for type in file-types
    .icon-{type}
      @extend $order-list-icon

.simple-table
  margin 20px 0

  table
    border-collapse collapse
    width 100%
    font-size 12px

  td
  th
    text-align left

  th
    background-color #F2F2F2
    padding 5px 10px

  td
    border-bottom 1px solid #D5E3EC
    padding 10px

  a
    highlight-link()

  .name
    padding-left 36px

  // 我的资料状态
  .status
    position relative

  .drop
    z-index 100

  .varifying
    color #999

  .passed
    color #16961C

  .refused
    color #E72029
    text-decoration underline
    cursor pointer

// 拒绝原因
.tooltip-refuse
  width 270px
  left -210px
  top 30px
  z-index 100

  .dropdown-in
    padding 10px 15px

  p
    margin 5px 0

// 资料预览
// ------------------------------
.data-preview
  margin-bottom 30px

.pd
  img
    relative left top
    max-width none

// 尺寸
.w0
  // width 758px !important

.h0
  // height 1072px !important

// 页面外框样式
.pd
  position relative
  overflow hidden
  margin 13px auto
  box-shadow 1px 1px 3px 1px #CCC
  if support-for-ie
    *border 1px solid #DDD

// 页面容器
.pf
  absolute left top
  size 100% 100%
  background-color #FFF
  overflow hidden
  margin 0

// 页面内容
.pc
  absolute left top
  border none
  padding 0
  margin 0
  size 100% 100%
  overflow hidden
  display block
  transform-origin 0% 0%

.bi
  absolute left top
  size 100% 100%
  user-select none

// 剪贴板
.c
  position absolute
  border none
  padding 0
  margin 0
  overflow hidden
  display block

// 文本行
.t
  position absolute
  white-space pre
  font-size 1px
  transform-origin 0% 100%

.pd
  span
    position relative
    vertical-align baseline
    display inline-block
._
  color transparent
  z-index -1

// transparent color - WebKit
.d
  position absolute
  transform-origin 0% 100%

// Data preview for IE
@media \0screen
  .pd
  .pay-tips
    border 1px solid #DDD

.page-ie
  width 758px
  margin 13px auto
  border 1px solid #DDD

  img
    display block
    margin auto
    if support-for-ie
      _width 758px


// 付费信息提示
.pay-tips
  width 758px
  margin 13px auto
  text-align center
  font-size 14px
  padding 80px 0
  background #FFF
  box-shadow 1px 1px 3px 1px #CCC
  if support-for-ie
    *border 1px solid #DDD

  p
    margin 0 0 20px

  .actions
    .btn
      margin-right 15px

// 资料预览工具条图标
$toolbar-icon
  display inline-block
  size 27px
  overflow hidden
  line-height 200
  background url(img/data/toolbar_bg.png) no-repeat
  vertical-align middle

$toolbar-icon-text
  display inline-block
  height 27px
  background url(img/data/toolbar_bg.png) no-repeat
  vertical-align middle

// 页面跳转控制图标
.page-prev
  @extend $toolbar-icon
  background-position 0 -70px

  &:hover
    background-position 0 -33px

.page-next
  @extend $toolbar-icon
  background-position 0 -207px

  &:hover
    background-position 0 -169px

.page-prev-disable
.page-prev-disable:hover
  background-position 0 -99px
  cursor default

.page-next-disable
.page-next-disable:hover
  background-position 0 -240px
  cursor default

// 图片预览页面跳转控制图标
.picture-previewer
  .page-prev
    background-position 0 -463px

    &:hover
      background-position 0 -425px

  .page-next
    background-position 0 -325px

    &:hover
      background-position 0 -288px

  .page-prev-disable
  .page-prev-disable:hover
    background-position 0 -496px

  .page-next-disable
  .page-next-disable:hover
    background-position 0 -354px

// 放大缩小图标
.zoom-in
  @extend $toolbar-icon
  background-position 0 -286px

  &:hover
    background-position 0 -326px

.zoom-out
  @extend $toolbar-icon
  background-position 0 -450px

  &:hover
    background-position 0 -499px

.zoom-in-disable
.zoom-in-disable:hover
  background-position 0 -409px
  cursor default

.zoom-out-disable
.zoom-out-disable:hover
  background-position 0 -604px
  cursor default

// 全屏图标
.full-in
.full-out
  @extend $toolbar-icon-text
  padding-right 27px
  line-height 28px
  highlight-link()

  &:hover
    text-decoration none

.full-in
  background-position right -649px

  &:hover
    background-position right -696px

.full-out
  display none
  background-position right -825px

  &:hover
    background-position right -873px

// loading
.loading
  margin 30px 0

// 预览工具条
.preview-toolbar
  background #F5F7F9
  z-index 1010

  .in
    position relative
    size 100% 27px
    padding 5px 0

  // 页面跳转控制
  .control
    absolute left 50%
    margin-left -88px
    line-height 26px
    color #666

    a
      margin 0 10px

    input
      width 60px
      text-align right
      vertical-align middle
      border 1px solid #DDD
      color #666

    span
      display inline-block
      vertical-align middle
      margin-top -2px

  // 购买操作
  .operation
    absolute right
    width 152px

    .btn
      margin-right 15px
      padding 0 20px

    .hl
      line-height 26px
      display inline
      vertical-align middle

  // 放大缩小
  .zoom
    absolute right 152px

    a
      margin-right 10px

// 图片预览
.picture-previewer
  position relative
  width 748px
  border 1px solid #B7C5D3
  margin 0 auto

  img
    position absolute
    display block

  .picture-container
    size 748px 561px
    overflow hidden

  .item
    position relative
    size 748px 561px

  .loading
    absolute left 50% top 50%
    size 32px
    margin -16px 0 0 -16px

  .pay-tips
    box-shadow none
    border none
    padding 230px 0 0
    margin 0

  // 翻页
  .prev
  .next
    absolute top
    size 50% 561px
    background url(#)

  .prev
    left 0
    cursor url(server + "img/prev.cur"), pointer

  .next
    right 0
    cursor url(server + "img/next.cur"), pointer

  // 滚动条
  .scrollbar
    position relative

    .track
      size 100% 6px
      overflow hidden
      background #E3E3E3
      border-top 1px solid #C9C9C9
      cursor pointer

    .progress
      absolute left top 1px
      height 6px
      overflow hidden
      background #378DC8
      cursor pointer

    .drag
      absolute left 0 top -6px
      size 36px 18px
      background url(img/data/drag.png)
      cursor pointer

    .tooltip
      absolute left -24px top -38px
      width 80px
      height 18px
      line-height 18px
      padding 4px 0
      border 1px solid #AAA
      text-align center
      background #FFF
      color #666

      .arrow
        right auto
        left 32px
        top 28px

      .arrow-border
        caret #999 8px down

      .arrow-body
        top -2px
        caret #FFF 8px down



// 底部fixed预览工具条
.toolbar-fixed
  border-top 1px solid #B7C5D3
  fixed left bottom
  width 100%
  if support-for-ie
    _position absolute
    _bottom auto
    _top unquote("expression(documentElement.scrollTop + documentElement.clientHeight - this.clientHeight - 2)")

  .in
    position relative
    width 980px
    padding 5px 0
    margin auto

  // 页面跳转控制
  .control
    margin-left -200px

  // 购买操作
  .operation
    width 190px

  // 放大缩小
  .zoom
    right 240px

// 全屏浏览
.full-wrap
  display none
  absolute left top
  width 100%
  padding-bottom 39px
  z-index 1000

  .pd
    margin-top 0

  .pay-tips
    width 978px

.fullscreen
  #wrap
  .full-in
    display none

  .full-wrap
    display block

  .full-out
    display inline-block

  // 图片页面
  .page-ie
    width 978px

    if support-for-ie
      img
        _width 978px

  // 广告位
  .ad,
  .picture
    width 760px
    margin 0 auto 12px

  // 图片预览
  .picture-previewer
    width 978px

    .picture-container
    .item
      size 978px 734px

    .prev
    .next
      height 734px

    .pay-tips
      padding-top 320px


