// 简介：定义高分网出错页面样式
// 维护人：张盛志
// ==================================================

// 配置
@import "../shared/_settings"

// Nib
@import "nib"

// 混入声明
@import "../partials/_mixins"

// 占位符
@import "../partials/_placeholders"

// 布局
.page-content
  margin-top 30px

// 搜索结果
.err-404
  position relative
  margin 60px auto
  size 775px 268px
  background url("../img/bg_err_404.jpg") no-repeat
  color #FFF
  font-size 14px

  .info
    padding 65px 0 0 435px

  h3
    font-size 16px
    margin 0 0 15px

  p
    margin 0
    line-height 2

  .return
    absolute left 625px top 182px
    font-weight bold
    color #FFF
