// 简介：定义高分网主站三大考首页样式
// 维护人：张盛志
// ==================================================

// 配置
@import "../shared/_settings"

// Nib
@import "nib"

// 混入声明
@import "../partials/_mixins"

// 占位符
@import "../partials/_placeholders"

// 拼图
@import '_data_sprite'

// 导航组
@import "../shared/_sub-nav"

// 元件：图文信息列表
@import "../partials/components/_thumb_info_list_s2"

// 元件：标签资料列表
@import "../partials/components/_tag_data_list"

// 元件：侧栏推荐
@import "../partials/components/_thumb_info_rec"

// 侧栏活动
@import "widgets/_event"

// 挂件：日历
@import "../partials/widgets/_calendar"

// 挂件：微信
@import "../partials/widgets/_weixin"

// 挂件：QQ 群
@import "../partials/widgets/_qq-group"

// 侧栏快速入口
@import "widgets/_entrances"

// 侧栏查询
@import "widgets/_query"

// 元件：标签云
@import "../partials/components/_tag_clouds"

// 链接云
@import "../shared/_link_cloud"

// 资料封面图
@import "../partials/components/_cover"

// 带缩略图的资料列表
@import '_thumb_data_list'

// 内容区
.page-content
  margin-top 20px

// 导航栏
.navbar
  margin-bottom 0

// 侧栏元件重置
// ------------------------------

// 侧栏活动
.widget-event
  padding-left 20px
  padding-right 20px

// 侧栏热门资料
.widget-data
  .heading
    margin-bottom 10px

  .thumb-data-list
    .item
      background none
      padding-top 5px

// 侧栏论坛精华
.widget-headline
  .post-list-large
    li
      padding-left 0
      background none

      .subject
        padding-right 5px

// 模块
.mod
  margin-bottom 25px

// 升学指南
.timeline-list
  absolute left 98px top
  width 340px
  border-left 1px solid #DBDBDB

  .item
    clearfix()
    position relative
    margin-left 15px
    line-height 22px
    padding 10px 0 15px
    split()

    .event
      absolute left -105px top 7px
      width 52px
      line-height 18px
      padding 6px 10px
      border-radius 3px

      .caret
        display none
        absolute right -8px top 11px
        caret(#F4F3F3, 4px, right)

    .dot
      absolute left -23px top 15px
      size 15px
      background url("img/exam/v6/timeline_dot.png") no-repeat

    .date
      float left
      width 80px
      padding-left 5px

    .active


    .info
      margin-left 100px
      if support-for-ie
        margin-left 97px

      .tit
        color #010101
        font-weight bold

      .desc
        span
          margin-right 10px
          inline-block()

  .active
    .event
      background #F4F3F3

      .caret
        display inline

    .date
      font-weight bold
      color #F17E3A

  .first
    padding-top 0

    .dot
      top 5px

    .event
      top -3px

// 热门
.mod-hot
  .slider
    float right
    width 260px

  .rec-news
    margin-right 280px
    if support-for-ie
      margin-right 277px

    .headline
      margin-bottom 10px

      h3
        margin 0
        font-size 16px
        line-height 24px
        margin-bottom 4px
        height 24px
        overflow hidden

      p
        margin 0
        line-height 22px
        height 44px
        overflow hidden
        color #808080

        a
          margin-left 10px
          highlight-link()

    .post-list-large
      split top
      padding-top 10px

// 列表标题
.mod-latest
.mod-list
  .heading
    margin-bottom 0

  .heading-tabs
    .tabs
      margin-left 20px

// 频道子栏目
.sub-cate
  split()
  padding 10px 0 7px
  line-height 22px
  font-size 14px

  span
    float left
    width 66px
    font-weight bold
    white-space nowrap

  .cates
    margin-left 66px
    if support-for-ie
      _margin-left 71px

  a
    inline-block()
    margin 0 10px 3px 0
    padding 0 10px
    color link-highlight-color

    &:hover
    &.active
      color #FFF
      background #66B1EC
      text-decoration none








































