// 简介：定义高分网主站三大考内页样式
// 维护人：张盛志
// 版本: 6.0
// ==================================================

// 配置
@import "../shared/_settings"

// Nib
@import "nib"

// 混入声明
@import "../partials/_mixins"

// 占位符
@import "../partials/_placeholders"

// 拼图
@import '_data_sprite'

// 内页布局
@import "../shared/_layout_inner"

// 子导航
@import "../shared/_sub-nav"

// 元件：评论
@import "../partials/components/_comment_old"

// 元件：侧栏推荐
@import "../partials/components/_thumb_info_rec"

// 元件：标签云
@import "../partials/components/_tag_clouds"

// 链接云
@import "../shared/_link_cloud"

// 文章内容页
@import "../shared/_exam-details"

// 侧栏挂件：热报课程
@import "../partials/widgets/_courses"

// 侧栏挂件：头条
@import "../partials/widgets/_headlines"

// 侧栏挂件：活动
@import "widgets/_event"

// 侧栏挂件：关注高分
@import "widgets/_follow_s2"

.exam-list
.ad-posts
  clearfix()

// 导航栏
.navbar
  margin-bottom 0

// 文章列表页
// ------------------------------

// 栏目所有文章列表
.all-posts
  .headline
    clearfix()
    padding 5px 5px 30px

    .thumb
      float left
      margin-right 20px
      if support-for-ie
        _display inline

    .info
      font-size 14px

      a
        font-weight bold

        &:link
          color #0F0F0F

      p
        margin 0
        line-height 26px
        height 104px
        overflow hidden
        text-indent 2em

  .stat-post
    padding 15px 0
    split(top)

    li
      height 28px
      line-height 28px

// 标签搜索文章列表
.tag-posts
  position relative
  overflow hidden
  if support-for-ie
    *zoom 1

  .stat-post
    margin-top -15px
    padding-bottom 30px

// 带子栏目文章列表
.sub-list
  .headline
    padding-bottom 20px

  .stat-post
    padding 10px 0 20px
    background none

  .sub-hd
    .title
      font-size 14px

// 近期活动
.mod-recent-lecture
  .heading
    margin-bottom 20px

// 标签文章列表
// ------------------------------

// 头条
.headline
  margin-bottom 25px
  color #0F0F0F

  .hd
    margin-bottom 10px
    font-size 14px

    h1
      display inline
      margin 0 5px
      font-size 16px
      color #0C67AA

  .bd
    background #F5F7F9
    padding 40px 20px
    min-height 150px

    h2
      margin 0 0 20px
      font-size 24px
      text-align center

    p
      padding 0 20px 20px
      font-size 14px
      line-height 26px

    .operations
      clearfix()
      font-size 12px
      color #666

      .bdsharebuttonbox
        float right

        a
          float right !important
          background none !important
          position relative
          padding 0 12px 0 0 !important
          margin 0 !important
          cursor pointer

        i
          absolute right top 7px

      .date
        float right
        margin-right 15px
        if support-for-ie
          _display inline

// 相关阅读
.taged-posts
  .stat-post
  .post-list-large
    li
      height auto
      split()
      padding 0 0 15px 0
      margin-bottom 15px

    p
      margin 0

    .title
      padding-left 10px
      margin 0 0 5px
      background url("../img/dot.png") no-repeat 0 12px
      font-size 14px
      line-height 22px

    .summary
      padding-left 18px
      line-height 22px
      font-size 12px
      color #888

  .stat-post
    .title
      margin-bottom 10px

      a
        highlight-link()

    .summary
      font-size 14px
      color #666

    .operations
      clearfix()
      font-size 12px
      color #666

      .bdsharebuttonbox
        float right

        a
          float right !important
          background none !important
          position relative
          padding 0 12px 0 0 !important
          margin 5px 6px 5px 0
          cursor pointer

        i
          absolute right top 7px

      .date
        float right
        margin-right 15px
        if support-for-ie
          _display inline

.span4
  .post-list-large
    .title
      padding-left 0
      background none

    .summary
      padding-left 0

// 延伸阅读
.ex-tag-posts
  padding 15px 0
  clearfix()

  li
    float left
    width 320px
    margin-right 40px
    if support-for-ie
      _display inline

  a
    highlight-link()

// 评论
.comments
  margin 25px 0


