// 简介：定义高分网问题反馈收集页面样式
// 维护人：张盛志
// ==================================================

// 配置
@import "../shared/_settings"

// Nib
@import "nib"

// 混入声明
@import "../partials/_mixins"

// 样式重置
@import "../partials/_reset"

// 样式重置
@import "../partials/_placeholders"

// 元件：按钮
@import "../partials/components/_buttons"

// 元件：表单
@import "../partials/components/_form"

// 元件：提示
@import "../partials/components/_alert"

// 表单验证提示图标
.form
  .help-inline
    @extend $icon-help
  // 默认图标
  .form-row
    .help-inline
      background-position -20px -234px
  // 成功图标
  .success
    .help-inline
      background-position -12px 2px
  // 出错图标
  .error
    .help-inline
      background-position -12px -58px
  // 信息图标
  .hints
    .help-inline
      background-position -12px -118px

// 各种提示图标
for item, i in success error ask info
  offset-x = -60px * i
  .alert-{item}
    .ico
      @extend $icon-alert
      background-position offset-x 0

// 内容显示切换
.hidden
  display none !important
.show
  display block !important

html
body
  background #F7F7F7

body
  margin 0
  font-family font-stack
  font-size font-size
  color font-color
  line-height line-height


// 超链接
// ------------------------------
a
  color link-color
  text-decoration none

  &:hover
    color link-color-hover
    text-decoration underline

// 表单元素
// ------------------------------

// 去除input和textarea元素的聚焦样式
input:focus
textarea:focus
  outline none

#wrap
  width 640px
  margin 20px auto

.feedback
  padding 20px 30px 50px
  background #FFF
  box-shadow 0 1px 4px rgba(0, 0, 0, .2)

  h2
    font-size 24px
    text-align center
    margin 0 0 20px

.form-feedback
  padding-top 10px

  .form-row
    position relative

    .control-label
      display block
      float none
      width auto
      margin 0
      text-align left

    .input-large
      width 567px

    textarea.input-large
      height 200px

    .help-inline
      absolute right top

  .actions
    margin-left 230px

.feedback-success
  .form-feedback
    .actions
      margin-left 250px

  .alert
    padding-top 15px
    margin 80px 0 100px 120px

