// 简介：定义高分网主站活动/试听频道样式
// 维护人：张盛志
// ==================================================

// 配置
@import "../shared/_settings"

// Nib
@import "nib"

// 混入声明
@import "../partials/_mixins"

// 占位符
@import "../partials/_placeholders"

// 图文介绍元件 .thumb-info-details
// 用于图文介绍
@import "../partials/components/_thumb_info_details"

// loading
@import "../partials/components/_loading"

// 侧栏数据统计挂件 .widget-statistic
@import "widgets/_statistic"

// 侧栏人物简介挂件 .widget-people
@import "widgets/_people"

// 侧栏主办方、合作机构挂件 .widget-sponsor
@import "widgets/_sponsor"

// 内页布局
@import "../shared/_layout_inner"

// 介绍和报道详情页
@import "../shared/_inner_details"

// 最新活动
.view-more
  a
    display block
    height 22px
    border 1px solid common-border-color
    text-align center
    line-height 22px
    color #404040

    &:hover
      background #F3F3F3
      text-decoration none

  .loading-mini
    height 24px


// 侧栏挂件
// ------------------------------

// 活动回顾
.widget-activity-review
  .heading
    margin-bottom 0

.activity-list
  ul
    remove-list-style()

  li
    split()
    padding 15px 0

    .tit
      font-size 14px
      margin-bottom 5px

    p
      margin 0
      line-height 22px
      color #808080


// 浮层
// ------------------------------

// 报名浮层
.modal-apply
  center-modal 580 560
  size 580px auto

  // 报名成功
  .alert
    margin-bottom 40px

  // 表单
  .form
    margin 10px 0 20px

    .form-row
      .control-label
        width 92px

      textarea
        size 360px 80px
        line-height 20px

      .text
        font-size 14px
        line-height 30px

        span
          margin-right 20px

          i
            margin 0 5px

    .count
      .num
        margin 2px 0 4px
        clearfix()

        span
          float left
          height 27px
          line-height 26px
          font-size 14px
          overflow hidden

        .input-text
          float left
          width 40px
          height 17px
          text-align center
          margin-left 10px
          overflow hidden

        .plus
        .minus
          width 24px
          border 1px solid #CDCDCD
          border-left none
          text-align center
          background #F5F5F5
          cursor pointer

          &:hover
            background #EEE
          &:active
            background #FFF

    .actions
      margin 20px 0 0 102px

      .btn
        width 123px
        padding 5px 0

      .loading-mini
        margin-top 12px

      .edit
        font-size 12px
        line-height 40px
        highlight-link()
        if support-for-ie
          _display inline

      .help-inline
        margin-top 10px

      .hints
        float left
        background none
        color #808080
        margin 0 0 0 25px
        padding 0
        line-height 20px
        if support-for-ie
          _display inline

      .operations
        clear both

    // 支付方式列表
    .pay-types
      float left
      margin-right 15px
      clearfix()
      if support-for-ie
        _display inline

      .item
        float left
        size 121px 30px
        margin 0 10px 0 0
        border 2px solid #D0D0D0
        hide-text()

      .active
        border-color #66B1EC

      .zhifubao
        background url("img/data/zhifubao.png") no-repeat

    // 支付
    .pay
      .controls
        width 430px

      .hints
        margin -1px 0 0
        color #808080

        span
          display block

        a
          highlight-link()

// 侧栏浮动报名
.apply-aside
  position fixed
  top 15px
  left 50%
  margin-left 290px
  width 168px
  border 1px solid common-border-color
  padding 0 15px 15px
  background #FFF
  if support-for-ie
    _position absolute
    _top unquote("expression(documentElement.scrollTop + 15)")

  .hd
    font-size 16px
    font-weight bold
    border-bottom 1px solid common-border-color
    margin-bottom 15px
    padding 5px 0
    color #4D4D4D

  .btn
    display block
    text-align center
    padding 5px 0

  p
    margin 5px 0
    text-align center
    color #989898










































