// 简介：定义高分网出错页面样式
// 维护人：张盛志
// ==================================================

// 配置
@import "../shared/_settings"

// Nib
@import "nib"

// 混入声明
@import "../partials/_mixins"

// 样式重置
@import "../partials/_reset"

// 占位符
@import "../partials/_placeholders"

// 元件
// ------------------------------

// 资料栅格列表
.data-grid
  clearfix()

  .span4
    width 175px

  .thumb
    size 160px 120px
    margin 0 auto

  .info
    padding 0 5px 0 8px

    h3
      margin 10px 0 5px
      font-size 14px

    p
      margin 2px 0
      color #4A4A4A

    a
      highlight-link()

// 表格
.table
  table
    width 100%
    border-collapse collapse
    border 1px solid #DBDBDB
    border-width 1px 0 0 1px
    table-layout fixed

  th
  td
    padding 8px 10px
    border 1px solid #DBDBDB
    text-align center

  th
    background #EDEDED
    color gray-darker
    font-weight normal

  td
    a
      highlight-link()

    span
      display block

    .date
      color #999

  tr
    &:hover
      td
        background #FFF

  .topic
    text-align left

    span
      padding-left 27px

    a
      display inline-block
      padding-left 27px
      line-height 22px
      background url(img/icon_post.png) no-repeat 5px 2px

  .more
    padding 15px 0

    a
      font-size 14px

// 布局
// ------------------------------

// 三列栅格
.column3
  .span
    width 220px

.mod
  margin-bottom 25px

// 机构会员页
// ------------------------------

// 机构简介
.com-intro
  margin-bottom 30px

  .details
    padding 0 5px 10px
    clearfix()

    .pic
      float right
      width 180px
      margin 0 0 10px 40px
      if support-for-ie
        _display inline

    .info
      line-height 24px
      font-size 14px

      p
        margin 0 0 10px

      a
        highlight-link()

// 活动列表
.lecture-list
  .item
    float left
    width 175px
    margin-left 20px

// 资料列表
.rec-data
  .data-grid
    margin-bottom 10px

  .post-list
    a
      highlight-link()

// 侧栏模块
// ------------------------------

// 热门活动 .widget-act
@import "widgets/_activity"

// 资料专题区
.widget-data-topic
  .data-grid
    .item
      width 180px
      margin 0 auto 20px

    .info
      p
        color #898989

      .title
        max-height 42px
        overflow hidden

      .original
        margin-left 15px
        text-decoration line-through








































