// 简介：定义高分网用户注册登录表单样式
// 维护人：张盛志
// ==================================================

// 配置
@import "../shared/_settings"

// Nib
@import "nib"

// 混入声明
@import "../partials/_mixins"

// 占位符
@import "../partials/_placeholders"


// 布局
// ------------------------------
.page-content
  margin-top 0

// 顶部导航
.topbar
  background #EDEDED

  .nav-site
    padding 5px 0

    i
      margin 0 8pxo
      color #C9C9C9

    a
      color #666

// 注册
// ------------------------------
.reg-header
  border-bottom 2px solid #1B79C1

.heading-reg
  margin-top 25px
  padding 8px 20px
  clearfix()
  border-bottom 2px solid #DFDFDF

  h2
    margin 0
    font-size 16px

    i
      font-size 12px
      font-weight normal

  span
    float right
    line-height 24px

  a
    highlight-link()

.heading-reg-s2
  margin 40px 0 -20px
  padding-left 60px

  h2
    margin 0
    font-weight normal
    font-size 25px
    color #3A3A3A

    i
      font-size 14px
      font-weight normal
      color #999

// 注册新账号
.new-registration
  float left
  width 680px

  .form
    border-right 1px solid #CDCDCD

// 使用合作网站账号登录
.other-login
  float right
  width 270px

  .hd
    margin 40px 0 25px

    h2
      margin 0
      font-weight normal
      font-size 25px
      color #3A3A3A

  .quick-login
    padding-top 5px

    a
      float left
      margin-bottom 15px

// 表单
.form
  .form-row
    margin-bottom 20px

    .controls
      width 262px

// 注册表单
.form-reg
  margin 50px 0

  .form-row
    .control-label
      width 110px

    .text
      inline-block()
      line-height 30px

  .code
    .control-label
      line-height 40px

    .help-inline
      margin-top 8px

    /*.captcha
      margin-top 10px*/

    img
      vertical-align middle
      margin-left 10px

    a
      line-height 30px
      highlight-link()
      margin-left 10px

  .district
    select
      float left
      width 80px

  .actions
    margin-left 120px

    p
      clear both
      margin 0
      padding-top 20px

      a
        highlight-link()

// 登录表单
.login
  margin-top 25px
  padding-left 480px
  background url(img/login_bg.jpg) no-repeat 0 15px

  .heading
    border-bottom none
    split()

.form-login
  position relative
  margin 40px 0 50px

  .form-row
    .control-label
      width 35px
      margin-right 20px

    .checkbox
      margin-left 55px

  .actions
    margin-left 55px

    .recover
      margin-left 20px
      line-height 30px
      highlight-link()

  .bubble
    left 55px

.login-footer
  padding 15px 5px
  split(top)

  .reg
    float right
    line-height 22px

    a
      highlight-link()
      margin-left 10px

  .operations
    a
      margin-left 10px
      vertical-align middle
      hide-text()
      if support-for-ie
        top -3px

// 重置密码提示信息
// ------------------------------

.alert
  padding-top 50px
  padding-left 120px

  .ico
    left 50px
    top 38px

  .actions
    margin-top 70px

// 找回密码提示
.alert-mail
  .ico
    left 30px
    top 45px
    background url(img/icon_mail_success.png) no-repeat
    size 70px

  .highlight
    color #F00
    margin 0 5px
    font-size 16px

  .tips
    font-size 12px
    color #999

  .actions
    margin-top 30px

  .hints
    margin-top 60px
    color #4A4A4A

    h4
      font-size 12px
      font-weight normal
      margin 0 0 5px

    ul
      remove-list-style()

    li
      line-height 24px

    a
      highlight-link()

// 注册确认
// 输入验证码浮层
.modal-captcha
  size 440px 260px
  center-modal(440, 260)

  .alert
    padding-left 90px

    .ico
      left 30px

  .form
    margin-top 35px

    .input-small
      width 100px

    span.btn
      width 112px
      padding 0

  .code
    margin-left 60px

    .help-inline
      margin-top 8px

    /*.captcha
      margin-top 10px*/

    img
      vertical-align middle
      margin-left 10px

    a
      line-height 30px
      highlight-link()
      margin-left 10px

  .actions
    margin-left 60px

// 注册成功
.reg-success
  padding-top 70px

  .ico
    top 58px

  .name
    margin-right 10px
    font-size 16px
    font-weight bold
    color #F00

  .actions
    margin-top 30px

  .hints
    margin-top 15px
    color #999

// 充值表单
// ------------------------------

// 充值额度选项
.amount-options
  float left
  border-bottom 1px solid #D0D0D0
  padding-bottom 8px
  clearfix()

  span
    position relative
    float left
    border 1px solid #D0D0D0
    font-size 14px
    line-height 24px
    size 56px 24px
    background #FFF
    padding 2px 0
    margin-left 10px
    cursor pointer
    text-align center
    if support-for-ie
      _display inline

  .arrow
    display none
    absolute left 50% top 29px
    margin-left -4px

  .arrow-border
    absolute left top
    caret #D0D0D0 4px up

  .arrow-body
    absolute left top 1px
    caret #FFF 4px up

  .first
    margin-left 0

  .active
    border 2px solid #66B1EC
    font-weight bold
    color gray-darker
    background #E0F1FF
    padding 1px 0
    width 54px

    .arrow
      display inline

// 支付方式列表
.pay-types
  clearfix()

  .item
    float left
    size 121px 30px
    margin 0 10px 10px 0
    border 2px solid #D0D0D0
    hide-text()

  .active
    border-color #66B1EC

  .zhifubao
    background url("img/data/zhifubao.png") no-repeat

// 充值表单
.form-recharge
  margin 50px 0

  .form-row
    .control-label
      width 110px

    .controls
      width auto

    .help-inline
      margin 0
      background-position -12px -118px
      color #808080

      strong
        color #4F4F4F

      a
        highlight-link()
        margin-left 10px

  .actions
    margin-left 120px

  .gift
    padding-top 4px
    clear left
    color #808080

    .hl
      font-weight bold
      font-family arial

  .tips
    margin 10px 0

    .hl
      font-weight bold
      font-family arial

    .num
      font-size 22px
      font-weight normal
      margin 0 5px

// 赚取高分币
// ------------------------------
.all-tasks
  margin 50px 30px

  .tab-s2
    margin-bottom 10px

.account-status
  margin-bottom 20px
  font-size 14px

  .more
    margin-left 20px
    highlight-link()

  .btn
    margin-left 20px
    padding 0 15px

  .bubble
    display none
    bottom 22px
    left 50%
    top auto
    margin-left -131px
    width 240px
    padding 5px 10px
    background #FFFBEC
    border 1px solid #F7E9BA
    font-weight normal !important
    white-space nowrap
    color #4F4F4F
    font-size 12px
    line-height 20px

    .arrow
      bottom -1px
      left 50%
      margin-left -4px
      .arrow-border
        border-color #F7E9BA transparent transparent
        border-width 4px
      .arrow-body
        top -1px
        border-width 4px
        border-color #FFFBEC transparent transparent

  .hints
    position relative
    inline-block()
    size 16px
    background #F00
    vertical-align -3px
    margin-left 3px
    background url("img/data/hints.png") no-repeat

    &:hover
      background-position 0 -30px

      .bubble
        display inline

// 待完成的任务
.task-list
  position relative
  padding 0 20px
  border 1px solid #DEDEDE
  overflow hidden

  .task-row
    split top
    margin-top -1px
    padding 21px 0 20px
    clearfix()

    .item
      float left
      position relative
      size 418px 101px
      padding-right 21px
      margin-right 20px
      clearfix()
      split right

      .thumb
        float left
        size 120px 90px

        img
          display block
          size 120px 90px

      .info
        margin-left 132px
        if support-for-ie
          margin-left 129px

      .name
        font-size 14px
        font-weight bold
        color gray-darker
        margin-bottom 4px

      .desc
        color #808080
        line-height 20px
        height 40px
        overflow hidden
        margin-bottom 8px

      .reward
        font-weight bold

      .actions
        absolute right 20px top 70px

        .btn
          font-size 12px !important
          padding 0 15px

    .even
      padding-right 0
      margin-right 0
      background none

      .actions
        right 0

    .more-task
      background url("img/user/more_tasks.png") no-repeat center center

  .single
    .item
      width 100%

// 已完成的任务
// 表格
.simple-table
  table
    border-collapse collapse
    width 100%
    font-size 12px

  td
    text-align left
    border-bottom 1px solid #F2F2F2
    padding 15px
    color #4F4F4F

  .name
  .desc
    font-size 14px

  .desc
    color #808080

// 邀请好友注册
// ------------------------------
.invite-registration
  margin 50px
  font-size 14px
  color #4F4F4F

  .intro
    margin-bottom 20px

  .invite-list
    remove-list-style()

    li
      clearfix()
      margin-bottom 10px
      line-height 30px

      .text
      .share
        float left
        vertical-align middle

      .btn
      input
      .text
        margin 7px 0

      input
        width 300px
        border 1px solid #CDCDCD
        font-size 14px
        margin-right 10px
        padding 5px 5px 6px
        color #999
