@charset "utf-8";
/********************** 个人中心样式 *********************/
/**
  * @name	: area_main/area_side
  * @author	:ouli

  * @version	:2.0
  * @description: 个人中心布局框架
  	@area_main —— 主要栏目 area_side —— 侧边栏目
  */
/* 重定义body字体*/
body { font-family: arial,宋体,sans-serif; }

.uhome_center {  width: 980px; padding:0px; }
.uhome_join { position: relative; text-align: left; }
.uhome_join_top { background: url(img/uhome/panel_01.gif) no-repeat 0 0; height: 10px; overflow: hidden; }
.uhome_join_middle { background: url(img/uhome/panel_02.gif) repeat-y 0 0; overflow: hidden; }
.uhome_join_bottom { background: url(img/uhome/panel_03.gif) no-repeat 0 0; height: 10px; overflow: hidden; }
.uhome_pic { background: url(img/uhome/toppic.gif) no-repeat 0 0; width: 233px; height: 73px; position: absolute; top: -73px; right: 0; }
.area_side { float: left; width: 180px; margin-right: 20px; text-align: left; }
.area_main { float: right; width: 780px; text-align: left; }
/*end*/

/**	顶部导航栏重定义 **/
/*.login_info { position: absolute; float: none; right: 0; top: 4px; line-height: normal; }
.login_info li.split { background: url(img/icon_all.gif) no-repeat scroll 0 -341px; margin: 3px 9px 0 9px; width: 0; height: 11px; overflow: hidden; }

.site_nav .login_info li a.link { color: #0065b3; }
.site_nav .login_info li a em { color:#FF0718; text-decoration:none; }
.site_nav .login_info li.information { background-image: url(http://file.gaofen.com/html/v3/img/icon_all.gif); background-position: -120px -1284px; background-repeat: no-repeat; padding-left: 33px; }
.site_nav .login_info li.remind { background-image: url(http://file.gaofen.com/html/v3/img/icon_all.gif); background-position: -125px -1226px; background-repeat: no-repeat; padding-left: 28px; }
.site_nav .login_info li.quit a.link { color: #666; }
.site_nav .login_info li.quit a.link:hover { color: #ba2636; }

.login_info .myGuide_top a{ background: url(img/uhome/myicon.png) no-repeat 58px 3px; padding: 0 14px 0 3px; color: #0065b3; font-weight: 700; text-decoration:underline; }
.login_info .myGuide.hover { background: #fff; padding: 1px 0 0 0; border: 1px solid #b8dcfe; }
.login_info .myGuide.hover .myGuide_top a{ display:block; background: url(img/uhome/myicontop.png) 58px 3px no-repeat; }
.login_info .myGuide .myGuide_cont { display: none; padding:4px 0 10px; }
.login_info .myGuide.hover .myGuide_cont { display: block; }
.login_info .myGuide .myGuide_cont li { float: none; margin: 0; line-height: 18px; }
.login_info .myGuide .myGuide_cont li a { display: block; padding-left: 3px; color: #0065b3; text-decoration:underline; }
.login_info .myGuide .myGuide_cont li a:hover { background: #eaf7fd; }*/


/**	公用模块 **/
/*.mod_mid { width: 520px; }*/
/*.mod_right { width: 240px; }*/
.mod_max { width: 780px; }
.cont_area { background: #fff; margin-bottom: 10px; }

.mod_mid, .mod_right, .mod_max { text-align: left; }

.titlebar { height: 34px; line-height: 34px; font-size: 14px; font-weight: 700; padding-right:10px; }
.titlebar { height: 26px; line-height: 26px; border-bottom: 2px solid #DFDFDF; }
.titlebar .title_name { float:left; display: block; padding: 0 10px 0 5px; color:#000; font-size:16px; }
/*.titlebar .title_addobj{ float:right; color:#929CA0; font-weight:normal;  }*/
/*.titlebar .title_addobj a{ font-size:12px; color:#00488D; margin:0 5px; }*/
.fl { float: left; }
.fr { float: right; }
/**	清除浮动	**/
.cls:after { content: "."; display: block; height: 0; font-size: 0; clear: both; visibility: hidden; }.cls { display: inline-block; }/* Hides from IE-mac \*/* html .cls { height: 1%; }.cls { display: block; }/* End hide from IE-mac */

/**	内外间距	**/
.inblock{ padding:9px 20px 10px; }
.outblock{ margin:10px; }
.blank10 { height: 10px; overflow: hidden; display: block; }

/**宽度	**/
.w400{ width:400px; overflow:hidden; }
/** 虚线 **/
.dottedLIne { display: block; background: url(img/line3.gif) repeat-x; height: 1px; margin: 0; padding: 0; line-height: 1px; overflow: hidden; clear: both; }
.solidLine { background: url(img/line.gif) 0 0 repeat-x; height: 1px; margin: 13px 0 12px; padding: 0; overflow: hidden; }

/*文档列表*/
.textList {}
.textList li { height: 24px; line-height: 24px; }
.textList li.f14 { height: 25px; line-height: 25px; font-size: 14px; }
.textList li a{ font-size:14px; color:#333; }
.textList li a:hover{ color:#C73800; text-decoration:underline; }

/** 小图标定义 **/
.sun { background: url(img/uhome/icon.gif) no-repeat 0 0; height: 16px; padding-left: 16px; overflow: hidden; }
.moon { background: url(img/uhome/icon.gif) no-repeat -19px 0; height: 16px; padding-left: 16px; overflow: hidden; }
.star { background: url(img/uhome/icon.gif) no-repeat -38px 0; height: 16px; padding-left: 16px; overflow: hidden; }
.gfb { background: url(img/uhome/icon.gif) no-repeat -57px 0; height: 16px; padding-left: 16px; overflow: hidden; }
/**
  * @author	:ouli

  * @version	:1.0
  * @description: 轮换图片幻灯片模块
  */
.slide_player{ height:238px; width:320px; overflow:hidden;  }
.slider { position: relative; overflow: hidden; }
.slider ul { width: 100%; }
.slider ul li { width: 100%; overflow: hidden }
.slider .slider_bar { width: 100%; background: #000; overflow: hidden; }
.slider li h3 { color: #FFF; overflow: hidden; }
.slider .slider_navNum { overflow: hidden; }
.slider .slider_navNum span { display: inline; float: left; overflow: hidden; text-align: center; }

#slider_01 { height: 238px; }
#slider_01 li { height: 238px; }
#slider_01 li img { width: 320px; height: 240px; display: block; }
#slider_01 .slider_bar { z-index: 1; position: absolute; background: #000; height: 34px; bottom: 0; filter: Alpha(Opacity=50); opacity: 0.5; }
#slider_01 li h3 { display: none; position: absolute; bottom: 0; left: 8px; z-index: 5; width: 180px; height: 34px; line-height: 34px; font-size: 14px; font-weight: 700; text-indent: 0px; color: #fff; }
#slider_01 li h3 a, #slider_01 li h3 a:hover { color: #fff; text-decoration: none; }
#slider_01 .slider_navNum { z-index: 3; position: absolute; height: 15px; bottom: 9px; right: 8px; }
#slider_01 .slider_navNum span { background: #5a6363; width: 18px; height: 15px; line-height:15px; margin-right: 1px; color: #fff; cursor: pointer; }
#slider_01 .slider_navNum span.on { background: #ff8803; color: #fff; }
/** end **/

/**	用户中心登录注册页面 **/
.uhome_join .siteTitle { padding: 2px 29px 10px 29px; border-bottom: 1px solid #dddddd; height: 22px; line-height: 22px; font-family: 'Microsoft YaHei'; font-size: 22px; color: #1267AB; }
.uhome_join .uhome_join_main { background: url(img/uhome/logpic.gif) no-repeat 580px 0; padding: 0 0 50px 0; }
.uhome_join .uhome_reg { float: left; width: 488px; padding: 20px 29px 0 29px; }
.uhome_join .uhome_log { float: right; width: 318px; padding: 20px 29px 0 29px; }
.sub_title { padding: 18px 0; height: 18px; line-height: 18px; font-family: 'Microsoft YaHei'; font-size: 18px; color: #1267ab; }
.uhome_table td { padding: 10px 5px; vertical-align: top; line-height: 24px; height:24px; }
.uhome_table .regInput { float: left; width: 200px; height: 23px; margin-right: 10px; border-top: 1px solid #bebebe; border-right: 1px solid #bebebe; border-bottom: 1px solid #dcdcdc; border-left: 1px solid #bebebe; }
.uhome_table .logInput { width: 150px; height: 23px; border-top: 1px solid #bebebe; border-right: 1px solid #bebebe; border-bottom: 1px solid #dcdcdc; border-left: 1px solid #bebebe; }
.uhome_table .selectStyle { padding: 2px 2px 2px 1px; background: #fff; }
.uhome_table .regInput.checkCode { width: 100px; }
.uhome_table .labelItem { margin-right: 20px; }
.uhome_table .labelItem .rd { margin: 0 5px 4px 0; vertical-align: middle; }
.uhome_table .labelItem .userdeal{ color:#1267AB; }
.uhome_table .link { margin-right: 10px; color: #1267ab; }
.uhome_join .weibo_log { padding: 20px 0; }
.uhome_join .weibo_log .weibo_log_text { text-align: center; }
.uhome_table .formtips { color: #aaa; background:url(img/uhome/arw_l.gif) 0 center no-repeat; padding-left:15px; display:none; }
.uhome_table .onError { color: #f00; background:url(img/uhome/arw_l_error.gif) 0 center no-repeat; padding-left:15px; display:inline-block; }
#residedistrictbox select { margin-right: 10px; }
.regBtn { background: url(img/button.png) no-repeat 0px -59px; width: 159px; height: 59px; border: none; cursor: auto; }
.regBtnhover { background: url(img/button.png) no-repeat 0px 0px; width: 159px; height: 59px; border: none; cursor: pointer; }
.logBtn { background: url(img/btn.gif) repeat-y -92px -160px; width: 69px; height: 24px; border: none; cursor: pointer; }


.gf_money { float: left; height: 15px; margin-top: 4px; padding-left: 16px; background: url(img/uhome/money.gif) no-repeat left 0; font-family:"宋体"; }
.gf_money em { float: left; height: 15px; padding: 0px 3px; background: url(img/uhome/money.gif) no-repeat right -15px; line-height: 15px; overflow: hidden; color: #ffac0c; font-weight: 700; }

.uhome_table td .rechange{ color:#808080; }
.uhome_join .uhome_reg  .removed{ font-weight:normal; color:#808080; font-size:12px; padding-left:25px; font-family: "宋体",Arial; }
.uhome_join .uhome_reg  .removed a{font-weight:normal; font-size:12px; color:#1267AB; font-family: "宋体",Arial;}


/**	侧边菜单 **/
/*.menu_bg { background: #0c437d url(img/uhome/bg-bar.png) repeat-x 0 -285px; height:675px; }
.menu_titlebar { background: url(img/uhome/bg-img.png) no-repeat 23px -473px; height: 72px; color: #fff; font-size: 14px; font-weight: 700; text-indent: -9999px; }
.menu ul li a { font-size: 14px; color: #fff; }
.menu ul li a:hover { color: #EFFF54; }
.menu ul li span { font-size: 14px; display: block; height: 26px; padding: 8px 0 0 23px; cursor: pointer; color: #fff; }
.menu ul li span:hover{ color: #EFFF54; cursor:auto;  }
.menu ul li.selected span { background: url(img/uhome/bg-img.png) no-repeat 0 0; position: relative; top: 0; margin-left: -5px; width: 188px; height: 30px; padding: 8px 0 0 27px; color: #076BB7; font-weight: bold; overflow: hidden; }
.menu ul li.selected span a { color: #076BB7; cursor:auto; }
.menu ul li.selected span a:hover { color: #076BB7; text-decoration: none;}
.menu ul li span b { background: url(img/uhome/bg-img.png) no-repeat; cursor: pointer; float: left; margin: 2px 5px 0 0; width: 16px; height: 16px; zoom: 1; }
.menu ul li span a:hover { color: #fffd4c; }

.menu ul li span.xinxi b { background-position: -3px -97px; cursor: pointer; }
.menu ul li.selected span.xinxi b { background-position: -34px -97px; cursor: auto; }
.menu ul li.selected span.xinxi a:hover b { background-position: -34px -97px; cursor: auto; }
.menu ul li span.xinxi a:hover b { background-position: -70px -97px; cursor: pointer; }

.menu ul li span.huida b { background-position: -4px -138px; cursor: pointer; }
.menu ul li.selected span.huida b { background-position: -35px -138px; cursor: auto; }
.menu ul li.selected span.huida a:hover b { background-position: -35px -138px; cursor: auto; }
.menu ul li span.huida a:hover b { background-position: -71px -138px; cursor: pointer; }

.menu ul li span.haoyou b { background-position: -4px -175px; cursor: pointer; }
.menu ul li.selected span.haoyou b { background-position: -35px -175px; cursor: auto; }
.menu ul li.selected span.haoyou a:hover b { background-position: -35px -175px; cursor: auto; }
.menu ul li span.haoyou a:hover b { background-position: -71px -175px; cursor: pointer; }

.menu ul li span.renwu b { background-position: -4px -576px; cursor: pointer; }
.menu ul li.selected span.renwu b { background-position: -31px -576px; cursor: auto; }
.menu ul li.selected span.renwu a:hover b { background-position: -31px -576px; cursor: auto; }
.menu ul li span.renwu a:hover b { background-position: -70px -576px; cursor: pointer; }

.menu ul li span.qunzu b { background-position: -4px -216px; cursor: pointer; }
.menu ul li.selected span.qunzu b { background-position: -35px -216px; cursor: auto; }
.menu ul li.selected span.qunzu a:hover b { background-position: -35px -216px; cursor: auto; }
.menu ul li span.qunzu a:hover b { background-position: -71px -216px; cursor: pointer; }

.menu ul li span.tiezi b { background-position: -3px -259px; cursor: pointer; }
.menu ul li.selected span.tiezi b { background-position: -34px -259px; cursor: auto; }
.menu ul li.selected span.tiezi a:hover b { background-position: -34px -259px; cursor: auto; }
.menu ul li span.tiezi a:hover b { background-position: -70px -259px; cursor: pointer; }

.menu ul li span.pinglun b { background-position: -3px -298px; cursor: pointer; }
.menu ul li.selected span.pinglun b { background-position: -34px -298px; cursor: auto; }
.menu ul li.selected span.pinglun a:hover b { background-position: -34px -298px; cursor: auto; }
.menu ul li span.pinglun a:hover b { background-position: -70px -298px; cursor: pointer; }

.menu ul li span.shoucang b { background-position: -3px -338px; cursor: pointer; }
.menu ul li.selected span.shoucang b { background-position: -34px -338px; cursor: auto; }
.menu ul li.selected span.shoucang a:hover b { background-position: -35px -338px; cursor: auto; }
.menu ul li span.shoucang a:hover b { background-position: -70px -338px; cursor: pointer; }

.menu ul li span.daoju b { background-position: -4px -378px; cursor: pointer; }
.menu ul li.selected span.daoju b { background-position: -35px -378px; cursor: auto; }
.menu ul li.selected span.daoju a:hover b { background-position: -35px -378px; cursor: auto; }
.menu ul li span.daoju a:hover b { background-position: -71px -378px; cursor: pointer; }

.menu ul li span.xunzhang b { background-position: -4px -455px; cursor: pointer; }
.menu ul li.selected span.xunzhang b { background-position: -35px -455px; cursor: auto; }
.menu ul li.selected span.xunzhang a:hover b { background-position: -35px -455px; cursor: auto; }
.menu ul li span.xunzhang a:hover b { background-position: -71px -455px; cursor: pointer; }

.menu ul li span.tougao b { background-position: -128px -137px; cursor: pointer; }
.menu ul li.selected span.tougao b { background-position: -162px -137px; cursor: auto; }
.menu ul li.selected span.tougao a:hover b { background-position: -162px -137px; cursor: auto; }
.menu ul li span.tougao a:hover b { background-position: -195px -137px; cursor: pointer; }


.menu ul li span.bangzhu b { background-position: -4px -419px; cursor: pointer; }
.menu ul li.selected span.bangzhu b { background-position: -35px -419px; cursor: auto; }
.menu ul li.selected span.bangzhu a:hover b { background-position: -35px -419px; cursor: auto; }
.menu ul li span.bangzhu a:hover b { background-position: -71px -419px; cursor: pointer; }

.menu ul li span.shezhi b { background-position: -4px -615px; cursor: pointer; }
.menu ul li.selected span.shezhi b { background-position: -35px -615px; cursor: auto; }
.menu ul li.selected span.shezhi a:hover b { background-position: -35px -615px; cursor: auto; }
.menu ul li span.shezhi a:hover b { background-position: -69px -615px; cursor: pointer; }

.menu ul li .sub_menu { display: none; padding: 10px 0; border-bottom: 1px dashed #3a76ad; }
.menu ul li .sub_menu dd { line-height: 23px; }
.menu ul li .sub_menu dd a { display: inline-block; padding: 0 22px 0 32px; font-size: 12px; }
.menu ul li .sub_menu dd a:hover {}
.menu ul li .sub_menu dd a.selected { color: #fffd4c; font-weight: 700; }
.menu ul li.selected .sub_menu { display: block; }*/


/** 图文信息列表 **/
.imgText .user_img { float: left; margin-right: 10px; }
.imgText .user_img img { margin-bottom: 5px; }
.imgText .user_img a { color: #333; }
.imgText .info_list a { color: #00488D; }


/**	信息列表 **/
.list_content { padding: 10px; }
.list_content li { height: 23px; line-height: 23px; overflow:hidden; }
.list_content li img { vertical-align: -2px; margin-right: 5px; }
.reApply li{ display:inline-block; width:205px; overflow:hidden; *height:21px; *line-height:21px; }
.reApply li a { float:right; background:url(img/uhome/repply_btn.gif) -1px 3px no-repeat; width:55px; height:23px; line-height:23px; color: #fff; text-align:center; cursor:pointer; }
.reApply li a:hover{ text-decoration:none; color:#fff; }
.list_content li .t a{ float:left; margin-left: 5px; color: #00488D; background:none; width:auto; }
.list_content li .t a:hover{ color: #00488D; text-decoration:underline; }

/**	头像列表 **/
.list_avatar { padding: 10px 2px 6px 2px; }
.list_avatar li { float: left; padding: 0px 6px 0px 4px; width: 58px; text-align: center; overflow: hidden; }
.list_avatar li img { border: 1px solid #ccc; padding: 2px; }
.list_avatar li p { margin: 0px auto; width: 48px; display: block; height: 20px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }


/**	选项卡列表 **/
.tabs_area { padding: 10px; }
.tabs_area .tabs_title { position: relative; border-bottom: 1px solid #acdfff; padding-left: 12px; z-index: 1; }
.tabs_area .tabs_title li.tt_li { position: relative; background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(white), color-stop(0.75, #f6faff));  /*chrome Webkit内核*/ background: -moz-linear-gradient(center top , #fff, #f6faff);/*Firefox Mozilla内核*/ bottom: -1px; float: left; border: 1px solid #acdfff; height: 22px; padding: 0 15px; margin-right: 6px; text-align: center; cursor: pointer; line-height: 22px; font-size: 12px; z-index: 3; }
.tabs_area .tabs_title li a { font-size: 12px; color: #0065b3; }
.tabs_area .tabs_title li.active { background: #fff; border-bottom: none; height: 23px; color: #ba2636; font-weight: 700; }
.tabs_area .tabs_title li.active a { color: #000; }
.tabs_area .tabs_title li.active a:hover { text-decoration: none;}
.tabs_area .tabs_content { padding: 6px 0; }
.tabs_area .tabs_content li.tc_li { width: 100%; display: none; }


/**	表格区域 **/
.table_area { padding: 0 20px; }
.table_area .formItem_area label { float: left; margin-right: 10px; }
.table_area .formItem_area input[type="radio"] { float: left; margin-right: 5px; }
.table_area .formItem_area select { margin-right: 5px; }
.table_area .nopass { color: #f00; margin-left: 10px; }
.table_area .action { color: #0065b3; margin-left: 10px; }
.table_area .icon { vertical-align: -3px; }

/**	我的信息 **/
.myInfo { position: relative; padding:20px 20px 11px; color:#000; }
.myInfo .user_img { width: 116px; margin-right: 15px; text-align: center; position:relative; }
.myInfo .user_img img { border: 1px solid #ccc; padding: 2px; margin-bottom: 5px; cursor:pointer; }
/*.user_img .show_hide{ position:absolute; bottom:5px; left:0px; width:100%; height:27px; display:none; }
.user_img .rem_bg{ position:absolute; bottom:0px; left:0px; width:100%; height:27px; background:#fff; filter: Alpha(Opacity=50); opacity: 0.5;  }
.user_img .re_Img{ position:absolute; bottom:7px; left:38px; z-index:100; text-decoration:none; cursor:pointer; }
.user_img .re_Img:hover{ text-decoration:none; cursor:pointer; }*/
.myInfo .user_img .re_Img{ background:#fff; filter: Alpha(Opacity=50); opacity:0.5; bottom:3px; cursor: pointer; display: none; position:absolute; text-align: center; width: 100%; padding:5px 0; text-decoration:none; }
.myInfo .info_list{ float:left; width:315px; overflow:hidden; height:120px; }


.myInfo .info_list dt { height:24px; line-height:24px; }
.myInfo .info_list dt .pername{ display: inline-block; height:24px; line-height:24px; font-size: 14px; margin-right:10px; }
.myInfo .info_list dt .pername strong { color: #000; margin-right:20px; }
.myInfo .info_list dt .actions { color:#C1C1C1; }
.myInfo .info_list dt .actions a{ margin:0 5px; }
.myInfo .info_list dt .perhome{ display:inline-block; width:16px; vertical-align:middle; }
.myInfo .info_list dd { margin: 10px 0; }
.myInfo .info_list dd img { vertical-align: -2px; margin-right: 5px; }
.myInfo .info_list dd a { margin-left: 5px; }
.myInfo .info_list dd.num_bar {  height: 18px; line-height:18px; padding-top:8px; }
.myInfo .info_list .level_num {  height:16px; line-height:16px; display:inline-block; }
.myInfo .info_list .level_num span { margin-left:10px; vertical-align:middle; }
/*.myInfo .info_list .money_num { width: 120px;}*/
.myInfo .info_list .money_num .hl{ color:#E20B0B; }
.myInfo .info_list .money_num .btn{ margin-left:20px; }
.myInfo .info_list .money_num b{ float:left; font-weight:normal; color:#444444; }
.myInfo .info_list .level_num b,.myInfo .info_list .money_num b { margin: 0 2px; display: inline-block; vertical-align:middle; }
/*start:我的信息修改--Great:charry--2011年12月15日 16:46:49*/
.siderList{ margin:8px 20px 0 0; width:320px; }
.cont_mod .textbar{ height:30px; line-height:30px; }
.cont_mod .textbar a{ font-size:14px; color:#00488D; font-weight:bold; }
.cont_mod .textList li{ background:url(img/uhome/dio.gif) 0 center no-repeat; padding-left:8px; overflow:hidden; }

/**	公告列表 **/
.newCall_title { padding: 20px; font-size: 14px; font-weight: 700; }
.newCall { padding: 0 20px 20px 20px; }
.newCall .user_img { width: 54px; margin-right: 10px; }
.newCall .user_img img { border: 1px solid #ccc; padding: 2px; }
.newCall .info_list { float: left; width: 400px; }
.newCall .info_list dt { height: 20px; margin-bottom: 5px; font-size: 14px; overflow: hidden; }
.newCall .info_list .date { float: right; color: #ccc; }
.newCall .info_list .tit { margin-bottom: 5px; font-weight: 700; }


/**	积分区域 **/
.grade { width: 500px; }
.grade .grade_title { padding: 10px 0; font-size: 14px; font-weight: 700; }
.grade .dottedLIne { margin: 0 20px; }
.grade .gradeTable th,.grade .gradeTable td { text-align: left; }
.grade .gradeTable th { padding: 0 3px; border-top: 1px solid common-border-color; border-bottom: 1px solid common-border-color; background: #f8f8f8; }
.grade .gradeTable td { padding: 3px; }

/*扩展类：出错页面提示、返回 2011年12月19日 10:43:41:*/

/*返回*/
.mn .return{ float:right; background:url(img/uhome/pn.png) repeat-x scroll 0 0 #E5E5E5; border: 1px solid #999999; box-shadow: 0 1px 0 #E5E5E5; cursor: pointer; height: 23px; margin-right: 3px; overflow: hidden; padding: 0 10px; vertical-align: middle; font-weight:bold; }
/*我的回答 2011年12月19日 16:10:05*/
.reward .t{ float:left; margin-right:20px; margin-left:0px; }
.reward a{ float:left; margin-right:1px; color:#00488D; }
.reward a:hover{ color:#C73800; text-decoration:underline; }

/*我的高分群组 2011年12月20日 11:02:42*/
.ct2 .mn{ width:700px !important; }
/*我的高分网：修改我的高分币 2011年12月21日 13:57:32*/
.mod_right .gf_money { margin-right: 5px;}
/*logo 与 bannar 添加 2011年12月27日 15:37:07*/
.Center_logo{ height:79px; line-height:79px; vertical-align:middle; overflow:hidden; }
.Center_logo h1{ margin:19px 0 0; }
.Center_bannar{ height:79px; width:730px; /*background:url(img/uhome/CenterBanner.png) no-repeat right 0;*/ overflow:hidden; }

/*括号数字修饰 2011年12月28日 13:58:27*/
.sub_menu dd a em,
.tabs_title .tt_li a em{ color:#FF0718; text-decoration:none; font-weight:700; }
.no_data{ font-style:italic; color:#ccc; }

/* 个人中心气泡提示 */
.site_bubble { position: absolute; top: 115px; left: 300px; height: auto; padding: 10px 24px 10px 10px; background: #ffffce; border: #f0e5ba 1px solid; color: #666; z-index: 10000; text-align: center; border-radius: 6px; box-shadow: 2px 2px 2px #f0e5ba; -o-border-radius: 6px; -o-box-shadow: 2px 2px 2px #f0e5ba; -moz-border-radius: 6px; -moz-box-shadow: 2px 2px 2px #f0e5ba; -webkit-border-radius: 6px; -webkit-box-shadow: 2px 2px 2px #f0e5ba; }
	.site_bubble .bubbleInner { position: relative; }
	.site_bubble .arrowBox { position: absolute; width: 15px; height: 8px; left: 0; top: -18px; margin: 0 0 0 50px; font-size: 1px; line-height: 1px; background: url(http://file.gaofen.com/html/v3/img/icon_all.gif) 0 -1413px no-repeat; zoom: 1; }
	.site_bubble .arrowBox .arrow { font-size: 1px; line-height: 1px; }
	.site_bubble .hot { position: absolute; top: -8px; left: -8px; background: url(http://file.gaofen.com/html/v3/img/bbs_hot.gif) no-repeat 0 0; width: 22px; height: 11px; overflow: hidden; }
	.site_bubble .close { position: absolute; top: -10px; right: -24px; _right: 0; background: url(http://file.gaofen.com/html/v3/img/icon_all.gif) no-repeat 0 -1428px; width: 15px; height: 15px; margin: 4px; overflow: hidden; }



/* 清除浮动 */
/*----------------------*/
.clearfix,
.container,
.breadcrumb { *zoom: 1; }

.clearfix:before, .clearfix:after,
.container:before, .container:after,
.breadcrumb:before, .breadcrumb:after { display: table; content: ""; line-height: 0; }

.clearfix:after,
.container:after,
.breadcrumb:after { clear: both; }

/* 拼图 */
/*----------------------*/
/*icons*/
.search-btn,
.menu .selected span,
.menu .selected .selected { background: url(img/icons.png) no-repeat; }
/* 侧栏箭头图标 */
.menu .selected span, .menu .selected .selected { background-position: 140px -228px; }
.menu .selected span i { background-position: right -263px; }
/* 放大镜图标 */
.search-btn { width: 30px; height: 20px; background-position: -6px -87px; overflow: hidden; text-indent: -9999px; }
.search-btn:hover { background-position: -6px -357px; }

/*all_bg*/
.hotline, .slogan { background: url(img/all_bg.png) no-repeat; }
/* 热线 */
.hotline { background-position: -50px -28px; }
/* 口号 */
.slogan { background-position: -50px 0; }

/*登录图标*/
.btn-weibo, .btn-qq { display: inline-block; background: url(img/btn_sns_bg.png) no-repeat; overflow: hidden; text-indent: -9999px; }
.btn-weibo { width: 126px; height: 24px; }
.btn-qq { width: 126px; height: 24px; background-position: 0 -68px; }

/*布局*/
/*----------------------*/
.container { margin: auto; width: 980px; }
.area { margin-top:25px; width:980px; }


/*元件*/
/*----------------------*/
/* 元件：下拉菜单 */
.dropdown { position: absolute; left: -12px; top: 23px; width: 160px; border: 3px solid #D9D9D9; border-color: rgba(0, 0, 0, 0.15); z-index: 100; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
.dropdown .dropdown-in { background: #fff; border: 1px solid #B0B0B0; }

/* 元件：导航 */
.navbar { margin-bottom: 10px; background: #1c79c1; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; }
.navbar .form-search { width: 182px; margin: 7px 10px 0 0; padding: 4px; background: #FBFBFB; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; _display: inline; }
.navbar .form-search .search-query { float: left; border: none; background: transparent; width: 140px; height: 18px; line-height: 18px; padding: 1px 4px; }
.navbar .form-search .search-btn { float:right; border:1px solid #E3E3E3; border-width:0 0 0 1px; }
.navbar .nav { height: 42px; overflow: hidden; margin-left: 0; list-style: none; margin-bottom: 0; }
.navbar .nav li { float: left; margin-left: -1px; }
.navbar .nav li a { display: inline-block; height: 42px; background: url(img/split_v.png) no-repeat left; line-height: 42px; padding: 0 20px; color: white; font-size: 14px; }
.navbar .nav li a:hover { position: relative; background: #0b60a1; }
.navbar .nav li:first-of-type { margin: 0; }
.navbar .nav li:first-of-type a { -webkit-border-radius: 4px 0 0 4px; -moz-border-radius: 4px 0 0 4px; border-radius: 4px 0 0 4px; }

/* 元件：面包屑 */
.breadcrumb { margin-left: 0; list-style: none; margin-bottom: 0; padding: 3px 10px; background: #F4F4F4; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
.breadcrumb li { float: left; color: #6C6C6C; }
.breadcrumb a { color: #6C6C6C; }
.breadcrumb .divider { margin: 0 5px; color: #aaa; }

/* 元件：按钮 */
.btn {
  font-size: 14px;
  -webkit-transition: background-color .3s, border-color .3s;
  transition: background-color .3s, border-color .3s;
  vertical-align: middle;
  border: 1px solid #d4d4d4;
  background-color: #f1f1f1;
  _overflow: hidden;
}

.btn:link,
.btn:visited {
  color: #4a4a4a !important;
}

.btn:hover {
  cursor: pointer;
  text-decoration: none;
  color: #4a4a4a !important;
  border-color: #c3c3c3;
  background: #dedede;
}

.btn input,
.btn button {
  height: 28px;
  padding: 6px 15px;
  color: #4a4a4a;
  color: #4a4a4a;
  border: none;
  background: transparent;
  _overflow: visible;
}

a.btn,
span.btn {
  line-height: 28px;
  display: inline-block;
  height: 28px;
  padding: 0 25px;
  *display: inline;
  *zoom: 1;
}

label.btn {
  float: left;
}

.btn-primary {
  font-weight: bold;
  border-color: #ef6f24;
  background-color: #fa7104;
}

.btn-primary:link,
.btn-primary:visited {
  color: #fff !important;
}

.btn-primary:hover {
  color: #fff !important;
  border-color: #ec6211;
  background: #e66804;
}

.btn-primary input,
.btn-primary button {
  font-weight: bold;
  color: #fff;
}

.btn-disabled,
.btn-disabled:hover {
  font-weight: bold;
  cursor: default;
  color: #808080 !important;
  border-color: #d9d9d9;
  background-color: #e5e5e5;
}

.btn-small {
  font-size: 12px;
}

.btn-small input,
.btn-small button {
  height: 24px;
  padding: 5px 20px 4px;
}

a.btn-small {
  line-height: 24px;
  height: 24px;
  padding: 0 15px;
}

.btn-large {
  font-family: 'Microsoft Yahei','SimSun';
  font-size: 20px;
  font-weight: normal;
}

.btn-large input,
.btn-large button {
  font-family: 'Microsoft Yahei','SimSun';
  font-weight: normal;
  height: 40px;
  padding: 8px 40px 9px;
}

a.btn-large {
  line-height: 40px;
  height: 40px;
  padding: 0 40px;
}


/* 工具类 */
/*----------------------*/
.hidden { display: none !important; }
.pull-right { float: right; }
.pull-left { float: left; }

/*小箭头*/
.caret { *zoom: 1; }
.caret i { width: 0; height: 0; overflow: hidden; border-width: 4px; border-style: solid dashed dashed; border-color: #7f7f7f transparent transparent; }

/*头部*/
/*----------------------*/
#header { position: relative; height: 90px; text-align:left; }

.logo { float: left; width: auto; margin: 26px 0 0 10px; _display: inline; }

.head-info { position: relative; float: left; border-left: 1px solid #EBEBEB; margin: 20px 0 0 14px; padding: 27px 0 5px 10px; }
.head-info .city-selector { position: absolute; width: 65px; left: -3px; top: 0; padding: 5px 5px 0; cursor: pointer; }
.head-info .city-selector .caret { position: relative; padding-right: 10px; margin: 2px 0 0 10px; color: #aaa; *zoom: 1; }
.head-info .city-selector .caret i { position: absolute; top: 6px; right: 0; }
.head-info .city-selector .menu { display: none; margin: 8px 0 0; }
.head-info .city-selector .menu a { display: block; padding: 7px 10px; background: url(img/split_h.png) repeat-x top; color: #0B0B0B; margin-top: -1px; *zoom: 1; }
.head-info .city-selector .menu a:hover { position: relative; color: #fff; background: #66B1EA; padding-left: 15px; margin: -1px -5px 0; text-decoration: none; z-index: 1; }
.head-info .hover { border: 1px solid #B2B2B2; left: -4px; top: -1px; background: #fff; }
.head-info .hover .menu { display: block; }

.slogan { display: block; width: 211px; height: 19px; overflow: hidden; white-space: nowrap; text-indent: -200%; }

.extra-links { position: absolute; right: 0; top: 0; padding: 6px 10px; background: #F5F7F9; -webkit-border-radius: 0 0 4px 4px; -moz-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px; margin-left: 0; list-style: none; z-index: 10; }
.extra-links li { float: left; }
.extra-links .seperator { color: #D2D2D2; margin: 0 10px; }
.extra-links .account { position: relative; }
.extra-links a:link { color: #0c67aa; }
.extra-links a:visited, .extra-links a:hover { color: #0c67aa; }
.extra-links .caret { display: inline-block; position: relative; width: 74px; padding-right: 10px; z-index: 1000; *zoom: 1; }
.extra-links .caret i { position: absolute; top: 8px; right: 0; }
.extra-links .caret .bg { position: absolute; left: -12px; top: -9px; width: 84px; height: 20px; padding: 5px 10px 4px 11px; z-index: -1; border: 3px solid #D9D9D9; border-color: rgba(0, 0, 0, 0.15); border-bottom: none; }
.extra-links .caret .bg .bg-in { position: absolute; left: 0; top: 0; width: 82px; height: 20px; padding: 6px 10px 6px 11px; border: 1px solid #B0B0B0; border-bottom: none; background: #fff; }
.extra-links .dropdown { -webkit-border-radius: 0 3px 3px 3px; -moz-border-radius: 0 3px 3px 3px; border-radius: 0 3px 3px 3px; }
.extra-links .quick-login { padding: 5px 15px 15px; }
.extra-links .quick-login a { float: left; margin-top: 10px; }
.extra-links .badge { padding: 0 1px; margin-left: 2px; background: #F48B4C; color: #fff; font-size: 10px; -webkit-text-size-adjust: none; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; }
.extra-links .user .name { display: inline-block; width: 50px; height: 18px; overflow: hidden; vertical-align: middle; cursor: pointer; }
.extra-links .user img { vertical-align: middle; margin-right: 4px; margin-top: -1px; }
.extra-links .sub-menu { position: relative; margin: 5px 5px 0; overflow: hidden; *zoom: 1; }
.extra-links .sub-menu .item { padding: 5px 10px; margin-top: -1px; background: url(img/split_h.png) repeat-x top; }
.extra-links .sub-menu .item a { color: #0F0F0F; }

.hotline { position: absolute; right: 15px; top: 50px; padding-left: 24px; color: #666; font-weight: bold; font-size: 14px; z-index: 1; }

/* 标题 */
/*----------------------*/
.menu_titlebar { margin-bottom: 15px; padding: 0 5px 3px; font-size: 16px; font-weight: bold; color: black; border-bottom: 2px solid #dfdfdf; *zoom: 1; }


/* 侧栏 */
/*----------------------*/
.menu .heading .title { padding-left: 10px; }
.menu ul { margin-left: 0; list-style: none; }
.menu li { float: left; width: 100%; font-size: 14px; }
.menu li a { position: relative; display: block; height: 25px; line-height: 25px; padding: 5px 5px 5px 10px; margin-top: -1px; background: url(img/split_h.png) repeat-x bottom; }

.menu li a:visited { color: #222222; }
.menu li a:hover {  background: #f7f7f7; -webkit-border-radius: 0 4px 4px 4px; -moz-border-radius: 0 4px 4px 4px; border-radius: 0 4px 4px 4px; color: #0C67AA; z-index: 0;}
.menu li .sub_menu { display: none; }
.menu .selected span a { color:#999; margin-top:0; }
.menu .selected span a:hover { background:none; text-decoration:none; }
.menu .selected .sub_menu { display:block; }
.menu .selected dd { font-size: 12px; font-weight: normal; }
.menu .selected dd a { padding-left:20px; }
.menu .selected dd a:hover { color: #0C67AA; }
.menu .selected span, .menu .selected .selected { background-color: #66B1EC; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; z-index:10; }
.menu .selected .selected { font-weight:bold; }
.menu .selected span:link, .menu .selected span:visited, .menu .selected .selected:link, .menu .selected .selected:visited { color: #fff; }
.menu .selected .selected:hover { text-decoration:none; }
.menu .selected span { background: url(img/split_h.png) repeat-x bottom; color: #999; }


/*页脚*/
#footer { background: #F7F7F7; padding: 10px 0; margin-top: 40px; border-top: 1px solid #D9D9D9; text-align: center; }
#footer a:link, #footer a:visited { color: #444; }
#footer .foot-links { margin-bottom: 5px; }
#footer .foot-links i { color: #BBB; }
#footer .foot-links a { margin: 0 15px; color: #444; }
#footer .alarm { margin-top: 10px; }
#footer .alarm a { margin: 0 3px; }
#footer .alarm img { border: 1px solid #CDCDCD; }
