// 简介：定义高分网百科页面样式
// 维护人：张盛志
// ==================================================

// 配置
@import "../shared/_settings"

// Nib
@import "nib"

// 混入声明
@import "../partials/_mixins"

// 占位符
@import "../partials/_placeholders"

// 重置高亮超链接颜色
link-highlight-color= #258EBD

related-entry()
  .related
    height 36px
    margin-top 2px
    overflow hidden

    span
      inline-block()
      color #7F7F7F

    a
      inline-block()
      margin-right 10px
      highlight-link()

// 顶部导航栏
@import "../shared/_topbar"

// 配色
powderblue= #90CAF1
powderpurple= #D1DAF6
powdergreen= #A0DEC1
powdercyan= #92DEE0

powderblue-dark= #67B1E6

theme-index= "index" powderblue
theme-primary= "primary" powderpurple
theme-junior= "junior" powdergreen
theme-senior= "senior" powdercyan

// 拼图

// 布局
// ------------------------------
.page-content
  overflow-x visible

.index-page,
.primary-page,
.junior-page,
.senior-page
  .page-content
    margin-top 40px

.category-list-page
  .page-content
    margin-top 30px

// 子布局
.span13
  .row6-6
    margin-left -30px
    .span6
      margin-left 30px
      width 295px

// 模块
.mod
  margin-bottom 25px

.mod-category
  margin-bottom 10px

  .alert
    margin 50px 0 200px 150px

    p
      line-height 36px
      font-size 18px
      color #4D4D4D

// 元件
// ------------------------------

// 广告位
.index-page
  .span14
    .picture
      padding-top 30px
      border-top 1px solid common-border-color

// 标题
.mod
  .heading
    border-bottom-width 1px

    .title
      padding-bottom 2px
      font-size 24px
      font-weight normal
      color #4B4B4B

    .more
      color link-highlight-color

  .heading-wiki
    clearfix()
    border none
    background url("../img/split_h.png") repeat-x 0 22px

    .title
      float left
      padding 0 10px 0 0
      background #FFF

    .more
      background #FFF
      margin-top 13px
      padding-left 5px

  .heading-wiki-s2
    background-position 0 15px

    .title
      font-size 18px

    .more
      margin-top 6px

// 分类格子列表
.category-grid
  .item
    clearfix()
    height 100px
    overflow hidden
    padding-bottom 30px

  .thumb
    float left
    size 100px
    overflow hidden

    a
      transition opacity .4s
      &:hover
        opacity .8

    img
      display block
      width 100px

  .info
    margin-left 115px
    if support-for-ie
      _margin-left 112px

    .tit
      height 24px
      overflow hidden

      a
        font-size 16px
        font-weight bold
        color gray-darker

        &:hover
          color link-color-hover

    .desc
      margin-top 2px
      color #7F7F7F
      line-height 18px
      height 36px
      overflow hidden

      p
        margin 0

    related-entry()

// 分类列表
.category-list
  .item
    padding 20px 10px
    split()
    transition background-color .4s

    .tit
      height 24px
      overflow hidden

      a
        font-size 16px
        font-weight bold
        color gray-darker

    .desc
      margin-top 8px
      color #7F7F7F
      line-height 20px
      height 40px
      overflow hidden

      p
        margin 0

    related-entry()

    .related
      margin-top 8px
      height 18px

    &:hover
      background #F2F2F2
      padding-bottom 19px
      border-bottom 1px solid #D9D9D9

// 相关分类
.related-categories
  padding-bottom 30px

  .hd
    color #4E4E4E
    font-weight bold
    font-size 14px

  .category-group
    clearfix()
    height 20px
    margin-top 10px
    line-height 20px
    overflow hidden

  .top-lv
    float left
    width 86px
    margin-right 19px
    background powderblue
    color #FFF
    font-weight bold
    text-align center
    transition background .3s
    if support-for-ie
      _display inline

    &:hover
      background powderblue-dark
      text-decoration none

  .subs
    span
      inline-block()

    a
      highlight-link()

    i
      margin 0 13px
      color #DADADA

// 标签列表
.tag-list
  clearfix()

  a
    float left
    line-height 24px
    margin-right 20px
    white-space nowrap
    if support-for-ie
      _display inline

    &:hover
      color link-color-hover

// 排序词条列表
.ranking-entry
  remove-list-style()

  li
    position relative
    clearfix()
    split()
    margin-left 20px
    padding 8px 0

    .num
      absolute left -20px top 8px
      font-style italic
      font-size 16px
      line-height 18px
      color #808080

    .tit
      float left
      width 130px
      height 18px
      overflow hidden
      margin-left 10px
      if support-for-ie
        _display inlin

      a
        color gray-darker

        &:hover
          color link-highlight-color

    .view
      float left
      width 75px
      margin-left 10px
      color #808080
      text-align right
      if support-for-ie
        _display inlin

    .stat
      float left
      width 20px
      margin-left 15px
      height 18px
      if support-for-ie
        _display inlin

  .top
    .num
      color orange

  .icon-up
    @extend $ranking-status-icon

  .icon-down
    @extend $ranking-status-icon
    background-position 0 -20px

  .icon-fair
    inline-block()
    margin 8px 0
    background #D9D9D9
    size 8px 2px
    overflow hidden

// 提示
.alert
  margin 100px 0 0 80px

  a
    highlight-link()

// 侧栏挂件
// ------------------------------
.widget
  .heading
    border-bottom-width 1px

    .title
      padding 0
      font-size 14px
      color #4B4B4B
      line-height 22px

  .heading-tabs
    .tabs-s2
      left auto
      right 0
      bottom 0

      .item
        margin 0 10px
        padding 0
        line-height 18px
        font-size 12px
        font-weight bold
        border-bottom-color transparent

      .active.item
        color #4F4F4F
        border-bottom-color powderblue

// 每周热门词条挂件
.widget-hot-entries
  .heading
    margin-bottom 3px

// 词条挂件
.widget-entry-list
  .tag-list
    clearfix()

// 最新词条挂件
.widget-latest-entry
  .tag-list
    height 72px
    overflow hidden

// 分类导航
.widget-categories
  .heading
    margin-bottom 0

  .hd
    padding 0
    background none
    margin 10px 0 3px

    a
      inline-block()
      padding 0 10px
      line-height 22px
      background-color powderblue
      text-decoration none
      color #FFF
      transition background-color .3s

      &:hover
        background-color powderblue-dark
  .tag-list
    a
      color #4F4F4F
      padding 0 10px
      margin-right 3px
      transition background-color .3s

      &:hover
        background-color #F2F2F2
        text-decoration none

// 页头
// ------------------------------
.wiki-header
  background #3697E4
  margin-bottom 15px

  .logo
    margin 0
    padding 22px 0 12px 0

// 主导航
$nav-behavior
  padding-bottom 0
  border-bottom-width 4px
  border-bottom-style solid

.wiki-nav
  float left
  margin-left 100px
  if support-for-ie
    _display inline

  ul
    remove-list-style()
    clearfix()

  li
    float left
    width 100px
    margin-right 20px
    if support-for-ie
      _display inline

  a
    display block
    padding-top 16px
    padding-bottom 4px
    text-align center
    height 50px
    line-height 50px
    font-size 18px
    color #FFF
    transition border-width .2s

    &:hover
      @extend $nav-behavior
      text-decoration none

  .nav-index
    a
      padding-left 10px
      letter-spacing 10px

for theme in theme-index theme-primary theme-junior theme-senior
  .{theme[0]}-page .nav-{theme[0]} a
  .wiki-nav .nav-{theme[0]} a:hover
    @extend $nav-behavior

  .wiki-nav .nav-{theme[0]} a:hover
    border-color #2D78B3

  .{theme[0]}-page .nav-{theme[0]} a
  .{theme[0]}-page .nav-{theme[0]} a:hover
    border-color powderblue
    font-size 22px



// 词条详情页
// ------------------------------
.entry-title
  clearfix()
  background url("img/split_h_solid.png") repeat-x 0 28px
  margin-bottom 20px

  .views
    float right
    margin-top 18px
    font-size 14px
    background #FFF
    padding-left 10px
    color #808080

  h1
    inline-block()
    height 40px
    line-height 40px
    margin 0
    background #FFF
    padding-right 15px
    font-weight normal
    font-size 34px

// 词条简介
.entry-summary
  clearfix()
  margin-bottom 40px

  .thumb
    float right
    size 200px 150px
    overflow hidden

    img
      display block
      width 200px

  .info
    margin-right 240px
    if support-for-ie
      _margin-right 237px

    p
      margin 0
      line-height 28px
      text-indent 2em
      font-size 14px

  related-entry()

  .related
    margin-top 8px

// 词条目录
.entry-contents
  position relative
  overflow hidden
  border 2px solid common-border-color
  border-width 2px 0
  clearfix()

  .hd
    float left
    width 80px
    padding 8px 0 0 14px
    font-size 24px
    letter-spacing 10px
    color #4D4D4D

  .bd
    float right
    width 574px
    border-left 2px solid #F5F5F5

  .inner
    position relative
    border-left 1px solid common-border-color
    width 573px
    overflow hidden

  .contents
    relative left -1px top 0
    width 10000px
    margin 15px 0
    clearfix()

    .col
      float left
      width 246px
      padding 0 20px
      border-left 1px solid common-border-color
      line-height 28px

    .item
    .sub-item
      height 28px
      overflow hidden

      a
        color gray-darker

        &:hover
          color link-color-hover

    .item
      font-size 14px
      font-weight bold

    .sub-item
      padding-left 18px


  .pager
    absolute left 0 bottom 15px

    span
      float left
      margin 0 8px

    .prev
    .next
      margin-top 3px
      cursor pointer

    .prev
      caret link-color-hover 6px left

    .next
      caret link-color-hover 6px right

    .prev-disabled
    .next-disabled
      cursor default

    .prev-disabled
      border-color transparent #CCC transparent transparent

    .next-disabled
      border-color transparent transparent transparent #CCC

// 所属词条
.entry-owner
  margin-bottom 10px
  font-size 16px
  font-weight bold

  a
    highlight-link()

// 词条正文
.entry-body
  overflow hidden
  margin-bottom 20px

  p
  div
    margin 10px 0
    font-size 14px
    line-height 28px
    text-indent 2em

    a
      highlight-link()

  img
    margin 0 auto
    max-width 100%

  .entry-tit-1
    background url("../img/split_h.png") repeat-x 0 22px
    font-size 24px
    font-weight normal
    margin 40px 0 0

    span
      inline-block()
      background #FFF
      padding-right 10px

      a
        color gray-darker
        cursor default

        &:hover
          text-decoration none

  .entry-tit-2
    font-size 14px
    text-indent 2em

// 相关阅读
.entry-related
  .heading
    .title
      font-size 14px
      font-weight bold

// 目录详情页
.content-details
  .entry-body
    .entry-tit-1
      margin-top 5px

// 搜索结果
// ------------------------------



