---
page_title: "管理后台-表单概览"
body_class: ["dashboard-page"]
---

extends _layout

block content
  .page-container
    include partials/_form-nav

    .main-content.form-dashboard
      .summary-info
        span
          i.fa.fa-clock-o
          | 创建时间：2015-05-26 10:42:55
        span
          i.fa.fa-key
          | 填写者权限：公开所有人填写
        span
          i.fa.fa-refresh.fa-spin
          | 已开启，正在收集...
