---
page_title: "管理后台-表单数据"
body_class: ["data-page"]
---

extends _layout

block content
  .page-container
    include partials/_form-nav
    .main-content
      .form-data
        include partials/_form-data

block modals
  // Start: 数据详情浮层
  include partials/modals/_data-details
  // End: 数据详情浮层

  // Start: 修改数据浮层
  include partials/modals/_data-edit
  // End: 修改数据浮层