---
page_title: "管理后台-表单数据(全屏浏览)"
body_class: ["data-page"]
---

extends _layout

block content
  .page-container
    include partials/_form-nav
    .main-content
      .form-data.form-data-fullscreen
        include partials/_form-data
