---
page_title: "管理后台-创建新表单"
---

extends _layout

block content
  .page-container
    .form-nav
      .title
        i.fa.fa-magic
        span 创建新表单

    include partials/_form-design

block alerts
  // Start: 成功提示
  .alert.alert-success.alert-fixed-top.hidden
    .container
      i.fa.fa-smile-o
      | 表单创建成功!
  // End: 成功提示

  // Start: 失败提示
  .alert.alert-danger.alert-fixed-top.hidden
    .container
      i.fa.fa-frown-o
      | 表单创建失败!
  // End: 失败提示