#hot-user
    .header 最勤奋的窝窝头们
    ul
        li
            .img: a(href='home.html'): img(src='images/examples/friend1.jpg')
            .name: a(href='home.html') 海阔天空
            .attend 关注
        li
            .img: a(href='home.html'): img(src='images/examples/friend2.jpg')
            .name: a(href='home.html') 小明他不听话
            .attend 关注
        li
            .img: a(href='home.html'): img(src='images/examples/friend3.jpg')
            .name: a(href='home.html') 小兰
            .attend 关注
        li.border-bottom-style
            .img: a(href='home.html'): img(src='images/examples/friend4.jpg')
            .name: a(href='home.html') 期待放学
            .attend 关注