ul#question-list
    - for(var i=0;i<15;i++)
        li
            .left
                .title: a(href='question_detail.html',target='_blank') 这是通过定量的物理方法研究地球的学科，特别是通过地...
                p.desc.
                    经典物理学所涉及的物理学领域通常是一些在量子力学与相对论之
                    前发的归属感的好做的的目光…
            .right
                .top
                    span.good 36
                    span.comment 86
                    span.attend 关注 <i>63</i>
                    .button <b>+</b> 关注
                .bottom
                    a(href='home.html',target='_blank') 天高任我飞～
                    span.time 发表于2014-8-26 13:53