doctype html
head
    include _css
    link(rel='stylesheet',type='text/css',href='css/question_attend.css')
    title 关注的问答-爱窝网
body
    include _header
    +header('question')
    .wrap
        #body
            include _popup
            #question-header
                .question_attend-title 我关注的问答
                .link: a(href='question_my.html') 我的问答 <i>26</i>
                .link: a(href='question.html') 问答广场  <i>26</i>

            #left-part
                include _question_old_list
                include _pager
            #right-part
                include _question_input
                include _hot_user
                include _hot_question
                include _guess
                .right-split-20
                include _ad

    include _footer