---
page_title: "广州站-小学频道-详情页"
category: "default"
body_class: ["primary-page"]
stylesheets: ["exam"]
breadcrumb: ["首页", "学校信息", "华南师范大学附属中学"]
---

//- 模板继承
extends ../../_layout

//- 内容
block content
  // Start:主导航
  +navbar(default_nav_links)
  // End:主导航

  // Start: 子导航
  include ../../partials/_sub-nav
  +sub-nav
  // End: 子导航

  +ad({width:980, ex_class:["container", "ad-top", "mt15"], count:3})

  // Start:面包屑导航
  +breadcrumb({breadcrumb:breadcrumb, ex_class:["mt15"]})
  // End:面包屑导航

  include ../../partials/_exam-details

block qrcode
  include ../../partials/_qrcode


