// 基于Base对深圳站的某些样式做全局性质的改动
// ==============================================

.nav-aside
  .subject
    font-size 14px
    margin-left 15px

  li
    .active
      a
        background #66B1EC url(../shared/img/icons.png) no-repeat 140px -228px
        border-radius 4px
        font-weight bold
        z-index 10
        color #FFF

        &:hover
          text-decoration none

// 大标题调整
.heading
  .title
    padding-left 0

// 文章列表小图标调整
.post-list li,
.post-list-large li,
.stat-post li
  padding-left 10px
  background-position 0 12px

// 大文章列表行高调整
.post-list-large
.stat-post
  li
    height 28px
    line-height 28px
    background-position 0 12px

    .subject
      padding-right 6px

    .status
      font-size 12px

  .seperator
    color #AAA
    margin-left 6px

