// 简介：定义高分网深圳站首页样式
// 维护人：张盛志
// ==================================================

// 配置
@import "../shared/_settings"

// Nib
@import "nib"

// 混入声明
@import "../partials/_mixins"

// 占位符
@import "../partials/_placeholders"

// 链接云
@import "../shared/_link_cloud"

// 基于Base对深圳站的某些样式做全局性质的改动
@import "_extends_base"

// 高亮小文章列表链接
// Todo: 如果确定是12px字体的文章列表都是蓝色，
// 则可以将如下代码移到extends_base
.post-list
  a
    highlight-link()

// 元件
// ------------------------------

// 投票按钮元件
@import "components/_btn_vote"

// 布局
// ------------------------------
.page-content
  margin-top 20px

// 子布局：11 + 4
// 使用场景：嵌套在子布局的12列中
// 注：设计稿不完全遵从栅格，需要强行重置栅格宽度
// ==================================================
.row15-5
  .row11-4
    .span11
      // 因在不标准的栅格中细分栅格，故少2个列距
      width grid-column-width * 11 + grid-gutter-width * 9

    .span4
      width (grid-column-width + grid-gutter-width) * 4

// 模块
// ------------------------------
.mod
  margin-bottom 25px

// 子模块标题
.sub-hd .title,
.sub-hd-noline .title
  font-size 14px

// 三大考模块
.mod-exam
  @extend $highlight-subject

// 标签
.tag-cloud
  padding 7px 10px 6px 0
  margin-bottom 15px
  border 1px solid #CADAEA
  background #E7F0F8
  clearfix()

  a
    float left
    margin-left 15px
    highlight-link()
    font-size 14px
    white-space nowrap
    line-height 24px

// 今日话题
.focus-today
  position relative
  background #F5F7F9
  padding 10px 220px 5px 15px

  .topic
    height 21px
    overflow hidden
    font-weight bold
    font-size 14px

    a
      highlight-link()

  p
    height 40px
    overflow hidden
    margin 6px 0 8px
    color #777
    line-height 20px

  .actions
    absolute right 10px top 28px

    a
      margin-left 5px

// 推荐资料模块
.mod-rec-data
  @extend $highlight-subject

// 热门资料标签
.hot-tags
  .tags
    clearfix()
    padding-left 5px

    a
      float left
      highlight-link()
      line-height 24px
      margin-right 10px
      white-space nowrap

// 家长社区模块
.mod-bbs
  margin-bottom 10px

.forums
  ul
    clearfix()
    remove-list-style()
    margin-bottom 0

  li
    float left
    size 152px 26px
    padding-left 18px
    line-height 26px
    overflow hidden
    background url("../img/dot.png") no-repeat 7px 11px
    font-size 14px

    span
      margin-left 5px

// 侧栏签到
@import "components/_sign"

// 侧栏成长
.widget-grow
  margin-bottom 20px

  // 目标
  .aim
    .thumb
      float left
      size 40px

    .info
      margin-left 50px
      font-size 14px

    .cont
      a
        highlight-link()

      span
        color #CCC
        margin 0 5px

  // 任务列表
  .task-list
    margin-top 10px

    ul
      remove-list-style()
      margin 0

    li
      position relative
      padding 4px 40px 4px 0
      split()

      p
        margin 0
        padding-left 30px
        line-height 20px
        height 20px
        overflow hidden
        background url(img/task_icons.png) no-repeat -10px 4px

        a
          highlight-link()

      .value
        absolute right 2px top 4px
        color #999

    .done
      p
        background-position -8px -56px
        text-decoration line-through
        color #999

// 侧栏家长热议
.widget-discuss
  margin-top 42px
  margin-bottom 29px

// 侧栏热门下载
.widget-hot-download
  margin-bottom 27px

// 侧栏高分新媒体挂件
.widget-sns
  @extend $widget-sns

  .sns-list
    margin-bottom 20px
    clearfix()

    li
      float left
      margin-left 20px

  // 微信
  .wechat
    margin-bottom 20px

    .code
      width 100px
      padding-left 20px

    p
      margin 0 0 10px
      color #666
      text-align center

  // 分享
  .share
    p
      margin 0 0 5px
      font-size 14px

.weibo
  h3
    background-position -14px 0

.qq-group
  h3
    background-position -14px -59px

.wechat
  h3
    background-position -12px -120px

.qq-space
  h3
    background-position -14px -179px






































