<script>
var tips = {
<?php foreach ($tips as $tip): ?>

    <?php echo $tip->id ?> : {

        "id": <?php echo $tip->id ?>,
        "username": "<?php echo $tip->username ?>",
        "content": <?php echo json_encode($tip->content) ?>,
        "avatar": "<?php echo $tip->avatar ?>",
        "role": "<?php echo $tip->role ?>",
        "shared_at": "<?php echo $tip->shared_at->toDateString() ?>",
        "period": "<?php echo $tip->period ?>",
        "impression": "<?php echo $tip->impression ?>",
    },

<?php endforeach ?>
}
</script>

