
.home-wrap
  margin-top 57px
  border 1px solid #e6e6e6
  border-radius 4px
  position relative
  .ui-label
    absolute left top
  .courses-title
    display block
    color #000000
    font-size 22px
    padding 0 20px
    height 70px
    text-align center
    overflow hidden

.home-top
  height 199px
  background url("../img/home-header-bg.png") no-repeat 0 0 #ffffff
  border-bottom 1px solid #e6e6e6
  font-size 14px
  position relative
  .home-left-setting
    padding 5px 10px 5px 5px
    border-radius 4px
    absolute left 19px top 9px
    z-index 2
    i
    span
      vertical-align middle
      margin-left 5px
      color #ffffff
.home-user
  text-align center
  transform translateY(-30px)
  .ui-avatar
    size 120px
    border 4px solid #48bccb
    border-radius 10px
    &:hover
      box-shadow 0 10px 20px rgba(0,0,0,.4)
      transform translate3d(0,-2px,0)
      transition all .2s
      //animation avatar-shake .2s infinite

.home-nav
  width 100%
  text-align center
  absolute left bottom -2px
  li
    display inline-block
    margin 0 50px
  a
    display block
    padding 5px 0
    text-align center
    font-size 16px
    font-weight bold
    color #939393
    border-bottom 4px solid transparent
    &:hover
    &.active
      color #48bccb
      border-bottom-color #48bccb


.home-bottom
  padding 0 0 16px 14px
  min-height 630px
  background-color #f9fafa
  border-left none
  border-radius 0 4px 4px 0
  overflow hidden
.minus-r20
  margin-right -20px

// 我的课程缩略图
.home-courses-block
  display block
  margin 20px 10px 0 0
  float left
  size 258px 214px
  border 1px solid #e6e6e6
  border-radius 4px
  position relative
  font-size 14px
  background-color #ffffff
  &:hover
    box-shadow 0 15px 30px rgba(0,0,0,.4)
    transform translate3d(0,-2px,0)
    transition all .2s

  .home-courses-bottom
    absolute left -1px bottom -1px
    size 260px 50px
    line-height 50px
    text-align center
    color #ffffff
    background-color #48bccb
    font-size 16px
    border-radius 0 0 4px 4px
  .bg-ing
    background-color #fc992b
  .bg-back
    background-color #5b95dd

// 订单缩略图
.order-block
  display block
  margin 20px 10px 0 0
  float left
  size 258px 264px
  border 1px solid #e6e6e6
  border-radius 4px
  position relative
  font-size 14px
  background-color #ffffff
  &:hover
    box-shadow 0 15px 30px rgba(0,0,0,.4)
    transform translate3d(0,-2px,0)
    transition all .2s

  .order-bottom
    absolute left bottom
    size 230px 76px
    padding-left 28px
    background-color #efefef
    color grey
    p
      margin 5px 0 5px 46px
