/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet = width height image $spritesheet_sprites;
*/
$bg_user_top_name = 'bg-user-top';
$bg_user_top_x = 214px;
$bg_user_top_y = 181px;
$bg_user_top_offset_x = -214px;
$bg_user_top_offset_y = -181px;
$bg_user_top_width = 12px;
$bg_user_top_height = 6px;
$bg_user_top_total_width = 402px;
$bg_user_top_total_height = 390px;
$bg_user_top_image = '../img/sprite.png';
$bg_user_top = 214px 181px -214px -181px 12px 6px 402px 390px '../img/sprite.png' 'bg-user-top';
$icon_close_name = 'icon-close';
$icon_close_x = 378px;
$icon_close_y = 300px;
$icon_close_offset_x = -378px;
$icon_close_offset_y = -300px;
$icon_close_width = 18px;
$icon_close_height = 18px;
$icon_close_total_width = 402px;
$icon_close_total_height = 390px;
$icon_close_image = '../img/sprite.png';
$icon_close = 378px 300px -378px -300px 18px 18px 402px 390px '../img/sprite.png' 'icon-close';
$icon_courses_1_name = 'icon-courses-1';
$icon_courses_1_x = 334px;
$icon_courses_1_y = 264px;
$icon_courses_1_offset_x = -334px;
$icon_courses_1_offset_y = -264px;
$icon_courses_1_width = 24px;
$icon_courses_1_height = 24px;
$icon_courses_1_total_width = 402px;
$icon_courses_1_total_height = 390px;
$icon_courses_1_image = '../img/sprite.png';
$icon_courses_1 = 334px 264px -334px -264px 24px 24px 402px 390px '../img/sprite.png' 'icon-courses-1';
$icon_courses_10_name = 'icon-courses-10';
$icon_courses_10_x = 334px;
$icon_courses_10_y = 88px;
$icon_courses_10_offset_x = -334px;
$icon_courses_10_offset_y = -88px;
$icon_courses_10_width = 24px;
$icon_courses_10_height = 24px;
$icon_courses_10_total_width = 402px;
$icon_courses_10_total_height = 390px;
$icon_courses_10_image = '../img/sprite.png';
$icon_courses_10 = 334px 88px -334px -88px 24px 24px 402px 390px '../img/sprite.png' 'icon-courses-10';
$icon_courses_11_name = 'icon-courses-11';
$icon_courses_11_x = 334px;
$icon_courses_11_y = 132px;
$icon_courses_11_offset_x = -334px;
$icon_courses_11_offset_y = -132px;
$icon_courses_11_width = 24px;
$icon_courses_11_height = 24px;
$icon_courses_11_total_width = 402px;
$icon_courses_11_total_height = 390px;
$icon_courses_11_image = '../img/sprite.png';
$icon_courses_11 = 334px 132px -334px -132px 24px 24px 402px 390px '../img/sprite.png' 'icon-courses-11';
$icon_courses_2_name = 'icon-courses-2';
$icon_courses_2_x = 44px;
$icon_courses_2_y = 330px;
$icon_courses_2_offset_x = -44px;
$icon_courses_2_offset_y = -330px;
$icon_courses_2_width = 24px;
$icon_courses_2_height = 24px;
$icon_courses_2_total_width = 402px;
$icon_courses_2_total_height = 390px;
$icon_courses_2_image = '../img/sprite.png';
$icon_courses_2 = 44px 330px -44px -330px 24px 24px 402px 390px '../img/sprite.png' 'icon-courses-2';
$icon_courses_3_name = 'icon-courses-3';
$icon_courses_3_x = 88px;
$icon_courses_3_y = 330px;
$icon_courses_3_offset_x = -88px;
$icon_courses_3_offset_y = -330px;
$icon_courses_3_width = 24px;
$icon_courses_3_height = 24px;
$icon_courses_3_total_width = 402px;
$icon_courses_3_total_height = 390px;
$icon_courses_3_image = '../img/sprite.png';
$icon_courses_3 = 88px 330px -88px -330px 24px 24px 402px 390px '../img/sprite.png' 'icon-courses-3';
$icon_courses_4_name = 'icon-courses-4';
$icon_courses_4_x = 132px;
$icon_courses_4_y = 330px;
$icon_courses_4_offset_x = -132px;
$icon_courses_4_offset_y = -330px;
$icon_courses_4_width = 24px;
$icon_courses_4_height = 24px;
$icon_courses_4_total_width = 402px;
$icon_courses_4_total_height = 390px;
$icon_courses_4_image = '../img/sprite.png';
$icon_courses_4 = 132px 330px -132px -330px 24px 24px 402px 390px '../img/sprite.png' 'icon-courses-4';
$icon_courses_5_name = 'icon-courses-5';
$icon_courses_5_x = 308px;
$icon_courses_5_y = 330px;
$icon_courses_5_offset_x = -308px;
$icon_courses_5_offset_y = -330px;
$icon_courses_5_width = 24px;
$icon_courses_5_height = 24px;
$icon_courses_5_total_width = 402px;
$icon_courses_5_total_height = 390px;
$icon_courses_5_image = '../img/sprite.png';
$icon_courses_5 = 308px 330px -308px -330px 24px 24px 402px 390px '../img/sprite.png' 'icon-courses-5';
$icon_courses_6_name = 'icon-courses-6';
$icon_courses_6_x = 220px;
$icon_courses_6_y = 330px;
$icon_courses_6_offset_x = -220px;
$icon_courses_6_offset_y = -330px;
$icon_courses_6_width = 24px;
$icon_courses_6_height = 24px;
$icon_courses_6_total_width = 402px;
$icon_courses_6_total_height = 390px;
$icon_courses_6_image = '../img/sprite.png';
$icon_courses_6 = 220px 330px -220px -330px 24px 24px 402px 390px '../img/sprite.png' 'icon-courses-6';
$icon_courses_7_name = 'icon-courses-7';
$icon_courses_7_x = 334px;
$icon_courses_7_y = 176px;
$icon_courses_7_offset_x = -334px;
$icon_courses_7_offset_y = -176px;
$icon_courses_7_width = 24px;
$icon_courses_7_height = 24px;
$icon_courses_7_total_width = 402px;
$icon_courses_7_total_height = 390px;
$icon_courses_7_image = '../img/sprite.png';
$icon_courses_7 = 334px 176px -334px -176px 24px 24px 402px 390px '../img/sprite.png' 'icon-courses-7';
$icon_courses_8_name = 'icon-courses-8';
$icon_courses_8_x = 334px;
$icon_courses_8_y = 44px;
$icon_courses_8_offset_x = -334px;
$icon_courses_8_offset_y = -44px;
$icon_courses_8_width = 24px;
$icon_courses_8_height = 24px;
$icon_courses_8_total_width = 402px;
$icon_courses_8_total_height = 390px;
$icon_courses_8_image = '../img/sprite.png';
$icon_courses_8 = 334px 44px -334px -44px 24px 24px 402px 390px '../img/sprite.png' 'icon-courses-8';
$icon_courses_9_name = 'icon-courses-9';
$icon_courses_9_x = 334px;
$icon_courses_9_y = 0px;
$icon_courses_9_offset_x = -334px;
$icon_courses_9_offset_y = 0px;
$icon_courses_9_width = 24px;
$icon_courses_9_height = 24px;
$icon_courses_9_total_width = 402px;
$icon_courses_9_total_height = 390px;
$icon_courses_9_image = '../img/sprite.png';
$icon_courses_9 = 334px 0px -334px 0px 24px 24px 402px 390px '../img/sprite.png' 'icon-courses-9';
$icon_detail_point_name = 'icon-detail-point';
$icon_detail_point_x = 0px;
$icon_detail_point_y = 210px;
$icon_detail_point_offset_x = 0px;
$icon_detail_point_offset_y = -210px;
$icon_detail_point_width = 99px;
$icon_detail_point_height = 100px;
$icon_detail_point_total_width = 402px;
$icon_detail_point_total_height = 390px;
$icon_detail_point_image = '../img/sprite.png';
$icon_detail_point = 0px 210px 0px -210px 99px 100px 402px 390px '../img/sprite.png' 'icon-detail-point';
$icon_detail_schedule_name = 'icon-detail-schedule';
$icon_detail_schedule_x = 214px;
$icon_detail_schedule_y = 120px;
$icon_detail_schedule_offset_x = -214px;
$icon_detail_schedule_offset_y = -120px;
$icon_detail_schedule_width = 41px;
$icon_detail_schedule_height = 41px;
$icon_detail_schedule_total_width = 402px;
$icon_detail_schedule_total_height = 390px;
$icon_detail_schedule_image = '../img/sprite.png';
$icon_detail_schedule = 214px 120px -214px -120px 41px 41px 402px 390px '../img/sprite.png' 'icon-detail-schedule';
$icon_detail_stage_name = 'icon-detail-stage';
$icon_detail_stage_x = 140px;
$icon_detail_stage_y = 150px;
$icon_detail_stage_offset_x = -140px;
$icon_detail_stage_offset_y = -150px;
$icon_detail_stage_width = 40px;
$icon_detail_stage_height = 40px;
$icon_detail_stage_total_width = 402px;
$icon_detail_stage_total_height = 390px;
$icon_detail_stage_image = '../img/sprite.png';
$icon_detail_stage = 140px 150px -140px -150px 40px 40px 402px 390px '../img/sprite.png' 'icon-detail-stage';
$icon_detail_target_name = 'icon-detail-target';
$icon_detail_target_x = 214px;
$icon_detail_target_y = 0px;
$icon_detail_target_offset_x = -214px;
$icon_detail_target_offset_y = 0px;
$icon_detail_target_width = 100px;
$icon_detail_target_height = 100px;
$icon_detail_target_total_width = 402px;
$icon_detail_target_total_height = 390px;
$icon_detail_target_image = '../img/sprite.png';
$icon_detail_target = 214px 0px -214px 0px 100px 100px 402px 390px '../img/sprite.png' 'icon-detail-target';
$icon_detail_teacher_name = 'icon-detail-teacher';
$icon_detail_teacher_x = 378px;
$icon_detail_teacher_y = 94px;
$icon_detail_teacher_offset_x = -378px;
$icon_detail_teacher_offset_y = -94px;
$icon_detail_teacher_width = 22px;
$icon_detail_teacher_height = 24px;
$icon_detail_teacher_total_width = 402px;
$icon_detail_teacher_total_height = 390px;
$icon_detail_teacher_image = '../img/sprite.png';
$icon_detail_teacher = 378px 94px -378px -94px 22px 24px 402px 390px '../img/sprite.png' 'icon-detail-teacher';
$icon_detail_time_name = 'icon-detail-time';
$icon_detail_time_x = 140px;
$icon_detail_time_y = 90px;
$icon_detail_time_offset_x = -140px;
$icon_detail_time_offset_y = -90px;
$icon_detail_time_width = 40px;
$icon_detail_time_height = 40px;
$icon_detail_time_total_width = 402px;
$icon_detail_time_total_height = 390px;
$icon_detail_time_image = '../img/sprite.png';
$icon_detail_time = 140px 90px -140px -90px 40px 40px 402px 390px '../img/sprite.png' 'icon-detail-time';
$icon_down_black_name = 'icon-down-black';
$icon_down_black_x = 247px;
$icon_down_black_y = 374px;
$icon_down_black_offset_x = -247px;
$icon_down_black_offset_y = -374px;
$icon_down_black_width = 10px;
$icon_down_black_height = 6px;
$icon_down_black_total_width = 402px;
$icon_down_black_total_height = 390px;
$icon_down_black_image = '../img/sprite.png';
$icon_down_black = 247px 374px -247px -374px 10px 6px 402px 390px '../img/sprite.png' 'icon-down-black';
$icon_down_two_name = 'icon-down-two';
$icon_down_two_x = 217px;
$icon_down_two_y = 374px;
$icon_down_two_offset_x = -217px;
$icon_down_two_offset_y = -374px;
$icon_down_two_width = 10px;
$icon_down_two_height = 11px;
$icon_down_two_total_width = 402px;
$icon_down_two_total_height = 390px;
$icon_down_two_image = '../img/sprite.png';
$icon_down_two = 217px 374px -217px -374px 10px 11px 402px 390px '../img/sprite.png' 'icon-down-two';
$icon_down_name = 'icon-down';
$icon_down_x = 276px;
$icon_down_y = 181px;
$icon_down_offset_x = -276px;
$icon_down_offset_y = -181px;
$icon_down_width = 10px;
$icon_down_height = 6px;
$icon_down_total_width = 402px;
$icon_down_total_height = 390px;
$icon_down_image = '../img/sprite.png';
$icon_down = 276px 181px -276px -181px 10px 6px 402px 390px '../img/sprite.png' 'icon-down';
$icon_header_community_name = 'icon-header-community';
$icon_header_community_x = 334px;
$icon_header_community_y = 220px;
$icon_header_community_offset_x = -334px;
$icon_header_community_offset_y = -220px;
$icon_header_community_width = 24px;
$icon_header_community_height = 24px;
$icon_header_community_total_width = 402px;
$icon_header_community_total_height = 390px;
$icon_header_community_image = '../img/sprite.png';
$icon_header_community = 334px 220px -334px -220px 24px 24px 402px 390px '../img/sprite.png' 'icon-header-community';
$icon_header_home_name = 'icon-header-home';
$icon_header_home_x = 378px;
$icon_header_home_y = 0px;
$icon_header_home_offset_x = -378px;
$icon_header_home_offset_y = 0px;
$icon_header_home_width = 24px;
$icon_header_home_height = 24px;
$icon_header_home_total_width = 402px;
$icon_header_home_total_height = 390px;
$icon_header_home_image = '../img/sprite.png';
$icon_header_home = 378px 0px -378px 0px 24px 24px 402px 390px '../img/sprite.png' 'icon-header-home';
$icon_header_list_name = 'icon-header-list';
$icon_header_list_x = 0px;
$icon_header_list_y = 330px;
$icon_header_list_offset_x = 0px;
$icon_header_list_offset_y = -330px;
$icon_header_list_width = 24px;
$icon_header_list_height = 24px;
$icon_header_list_total_width = 402px;
$icon_header_list_total_height = 390px;
$icon_header_list_image = '../img/sprite.png';
$icon_header_list = 0px 330px 0px -330px 24px 24px 402px 390px '../img/sprite.png' 'icon-header-list';
$icon_header_person_name = 'icon-header-person';
$icon_header_person_x = 183px;
$icon_header_person_y = 374px;
$icon_header_person_offset_x = -183px;
$icon_header_person_offset_y = -374px;
$icon_header_person_width = 14px;
$icon_header_person_height = 14px;
$icon_header_person_total_width = 402px;
$icon_header_person_total_height = 390px;
$icon_header_person_image = '../img/sprite.png';
$icon_header_person = 183px 374px -183px -374px 14px 14px 402px 390px '../img/sprite.png' 'icon-header-person';
$icon_header_wechat_w_name = 'icon-header-wechat-w';
$icon_header_wechat_w_x = 0px;
$icon_header_wechat_w_y = 374px;
$icon_header_wechat_w_offset_x = 0px;
$icon_header_wechat_w_offset_y = -374px;
$icon_header_wechat_w_width = 20px;
$icon_header_wechat_w_height = 16px;
$icon_header_wechat_w_total_width = 402px;
$icon_header_wechat_w_total_height = 390px;
$icon_header_wechat_w_image = '../img/sprite.png';
$icon_header_wechat_w = 0px 374px 0px -374px 20px 16px 402px 390px '../img/sprite.png' 'icon-header-wechat-w';
$icon_header_wechat_name = 'icon-header-wechat';
$icon_header_wechat_x = 378px;
$icon_header_wechat_y = 338px;
$icon_header_wechat_offset_x = -378px;
$icon_header_wechat_offset_y = -338px;
$icon_header_wechat_width = 20px;
$icon_header_wechat_height = 16px;
$icon_header_wechat_total_width = 402px;
$icon_header_wechat_total_height = 390px;
$icon_header_wechat_image = '../img/sprite.png';
$icon_header_wechat = 378px 338px -378px -338px 20px 16px 402px 390px '../img/sprite.png' 'icon-header-wechat';
$icon_header_weibo_name = 'icon-header-weibo';
$icon_header_weibo_x = 40px;
$icon_header_weibo_y = 374px;
$icon_header_weibo_offset_x = -40px;
$icon_header_weibo_offset_y = -374px;
$icon_header_weibo_width = 18px;
$icon_header_weibo_height = 16px;
$icon_header_weibo_total_width = 402px;
$icon_header_weibo_total_height = 390px;
$icon_header_weibo_image = '../img/sprite.png';
$icon_header_weibo = 40px 374px -40px -374px 18px 16px 402px 390px '../img/sprite.png' 'icon-header-weibo';
$icon_live_num_name = 'icon-live-num';
$icon_live_num_x = 169px;
$icon_live_num_y = 264px;
$icon_live_num_offset_x = -169px;
$icon_live_num_offset_y = -264px;
$icon_live_num_width = 30px;
$icon_live_num_height = 30px;
$icon_live_num_total_width = 402px;
$icon_live_num_total_height = 390px;
$icon_live_num_image = '../img/sprite.png';
$icon_live_num = 169px 264px -169px -264px 30px 30px 402px 390px '../img/sprite.png' 'icon-live-num';
$icon_live_name = 'icon-live';
$icon_live_x = 114px;
$icon_live_y = 374px;
$icon_live_offset_x = -114px;
$icon_live_offset_y = -374px;
$icon_live_width = 16px;
$icon_live_height = 16px;
$icon_live_total_width = 402px;
$icon_live_total_height = 390px;
$icon_live_image = '../img/sprite.png';
$icon_live = 114px 374px -114px -374px 16px 16px 402px 390px '../img/sprite.png' 'icon-live';
$icon_living_name = 'icon-living';
$icon_living_x = 150px;
$icon_living_y = 374px;
$icon_living_offset_x = -150px;
$icon_living_offset_y = -374px;
$icon_living_width = 13px;
$icon_living_height = 16px;
$icon_living_total_width = 402px;
$icon_living_total_height = 390px;
$icon_living_image = '../img/sprite.png';
$icon_living = 150px 374px -150px -374px 13px 16px 402px 390px '../img/sprite.png' 'icon-living';
$icon_ranking_name = 'icon-ranking';
$icon_ranking_x = 269px;
$icon_ranking_y = 264px;
$icon_ranking_offset_x = -269px;
$icon_ranking_offset_y = -264px;
$icon_ranking_width = 30px;
$icon_ranking_height = 24px;
$icon_ranking_total_width = 402px;
$icon_ranking_total_height = 390px;
$icon_ranking_image = '../img/sprite.png';
$icon_ranking = 269px 264px -269px -264px 30px 24px 402px 390px '../img/sprite.png' 'icon-ranking';
$icon_set_person_name = 'icon-set-person';
$icon_set_person_x = 378px;
$icon_set_person_y = 182px;
$icon_set_person_offset_x = -378px;
$icon_set_person_offset_y = -182px;
$icon_set_person_width = 17px;
$icon_set_person_height = 24px;
$icon_set_person_total_width = 402px;
$icon_set_person_total_height = 390px;
$icon_set_person_image = '../img/sprite.png';
$icon_set_person = 378px 182px -378px -182px 17px 24px 402px 390px '../img/sprite.png' 'icon-set-person';
$icon_set_school_name = 'icon-set-school';
$icon_set_school_x = 378px;
$icon_set_school_y = 138px;
$icon_set_school_offset_x = -378px;
$icon_set_school_offset_y = -138px;
$icon_set_school_width = 22px;
$icon_set_school_height = 24px;
$icon_set_school_total_width = 402px;
$icon_set_school_total_height = 390px;
$icon_set_school_image = '../img/sprite.png';
$icon_set_school = 378px 138px -378px -138px 22px 24px 402px 390px '../img/sprite.png' 'icon-set-school';
$icon_setting_b_name = 'icon-setting-b';
$icon_setting_b_x = 275px;
$icon_setting_b_y = 120px;
$icon_setting_b_offset_x = -275px;
$icon_setting_b_offset_y = -120px;
$icon_setting_b_width = 36px;
$icon_setting_b_height = 36px;
$icon_setting_b_total_width = 402px;
$icon_setting_b_total_height = 390px;
$icon_setting_b_image = '../img/sprite.png';
$icon_setting_b = 275px 120px -275px -120px 36px 36px 402px 390px '../img/sprite.png' 'icon-setting-b';
$icon_setting_white_name = 'icon-setting-white';
$icon_setting_white_x = 264px;
$icon_setting_white_y = 330px;
$icon_setting_white_offset_x = -264px;
$icon_setting_white_offset_y = -330px;
$icon_setting_white_width = 24px;
$icon_setting_white_height = 24px;
$icon_setting_white_total_width = 402px;
$icon_setting_white_total_height = 390px;
$icon_setting_white_image = '../img/sprite.png';
$icon_setting_white = 264px 330px -264px -330px 24px 24px 402px 390px '../img/sprite.png' 'icon-setting-white';
$icon_setting_name = 'icon-setting';
$icon_setting_x = 176px;
$icon_setting_y = 330px;
$icon_setting_offset_x = -176px;
$icon_setting_offset_y = -330px;
$icon_setting_width = 24px;
$icon_setting_height = 24px;
$icon_setting_total_width = 402px;
$icon_setting_total_height = 390px;
$icon_setting_image = '../img/sprite.png';
$icon_setting = 176px 330px -176px -330px 24px 24px 402px 390px '../img/sprite.png' 'icon-setting';
$icon_star_full_name = 'icon-star-full';
$icon_star_full_x = 175px;
$icon_star_full_y = 210px;
$icon_star_full_offset_x = -175px;
$icon_star_full_offset_y = -210px;
$icon_star_full_width = 35px;
$icon_star_full_height = 34px;
$icon_star_full_total_width = 402px;
$icon_star_full_total_height = 390px;
$icon_star_full_image = '../img/sprite.png';
$icon_star_full = 175px 210px -175px -210px 35px 34px 402px 390px '../img/sprite.png' 'icon-star-full';
$icon_star_name = 'icon-star';
$icon_star_x = 119px;
$icon_star_y = 210px;
$icon_star_offset_x = -119px;
$icon_star_offset_y = -210px;
$icon_star_width = 36px;
$icon_star_height = 34px;
$icon_star_total_width = 402px;
$icon_star_total_height = 390px;
$icon_star_image = '../img/sprite.png';
$icon_star = 119px 210px -119px -210px 36px 34px 402px 390px '../img/sprite.png' 'icon-star';
$icon_tick_name = 'icon-tick';
$icon_tick_x = 0px;
$icon_tick_y = 90px;
$icon_tick_offset_x = 0px;
$icon_tick_offset_y = -90px;
$icon_tick_width = 120px;
$icon_tick_height = 100px;
$icon_tick_total_width = 402px;
$icon_tick_total_height = 390px;
$icon_tick_image = '../img/sprite.png';
$icon_tick = 0px 90px 0px -90px 120px 100px 402px 390px '../img/sprite.png' 'icon-tick';
$icon_time_name = 'icon-time';
$icon_time_x = 78px;
$icon_time_y = 374px;
$icon_time_offset_x = -78px;
$icon_time_offset_y = -374px;
$icon_time_width = 16px;
$icon_time_height = 16px;
$icon_time_total_width = 402px;
$icon_time_total_height = 390px;
$icon_time_image = '../img/sprite.png';
$icon_time = 78px 374px -78px -374px 16px 16px 402px 390px '../img/sprite.png' 'icon-time';
$icon_tips_live_end_name = 'icon-tips-live-end';
$icon_tips_live_end_x = 280px;
$icon_tips_live_end_y = 210px;
$icon_tips_live_end_offset_x = -280px;
$icon_tips_live_end_offset_y = -210px;
$icon_tips_live_end_width = 30px;
$icon_tips_live_end_height = 30px;
$icon_tips_live_end_total_width = 402px;
$icon_tips_live_end_total_height = 390px;
$icon_tips_live_end_image = '../img/sprite.png';
$icon_tips_live_end = 280px 210px -280px -210px 30px 30px 402px 390px '../img/sprite.png' 'icon-tips-live-end';
$icon_tips_smiling_name = 'icon-tips-smiling';
$icon_tips_smiling_x = 230px;
$icon_tips_smiling_y = 210px;
$icon_tips_smiling_offset_x = -230px;
$icon_tips_smiling_offset_y = -210px;
$icon_tips_smiling_width = 30px;
$icon_tips_smiling_height = 30px;
$icon_tips_smiling_total_width = 402px;
$icon_tips_smiling_total_height = 390px;
$icon_tips_smiling_image = '../img/sprite.png';
$icon_tips_smiling = 230px 210px -230px -210px 30px 30px 402px 390px '../img/sprite.png' 'icon-tips-smiling';
$icon_tips_time_name = 'icon-tips-time';
$icon_tips_time_x = 378px;
$icon_tips_time_y = 44px;
$icon_tips_time_offset_x = -378px;
$icon_tips_time_offset_y = -44px;
$icon_tips_time_width = 18px;
$icon_tips_time_height = 30px;
$icon_tips_time_total_width = 402px;
$icon_tips_time_total_height = 390px;
$icon_tips_time_image = '../img/sprite.png';
$icon_tips_time = 378px 44px -378px -44px 18px 30px 402px 390px '../img/sprite.png' 'icon-tips-time';
$icon_up_grey_name = 'icon-up-grey';
$icon_up_grey_x = 246px;
$icon_up_grey_y = 181px;
$icon_up_grey_offset_x = -246px;
$icon_up_grey_offset_y = -181px;
$icon_up_grey_width = 10px;
$icon_up_grey_height = 6px;
$icon_up_grey_total_width = 402px;
$icon_up_grey_total_height = 390px;
$icon_up_grey_image = '../img/sprite.png';
$icon_up_grey = 246px 181px -246px -181px 10px 6px 402px 390px '../img/sprite.png' 'icon-up-grey';
$right_erweima_hover_name = 'right-erweima-hover';
$right_erweima_hover_x = 119px;
$right_erweima_hover_y = 264px;
$right_erweima_hover_offset_x = -119px;
$right_erweima_hover_offset_y = -264px;
$right_erweima_hover_width = 30px;
$right_erweima_hover_height = 30px;
$right_erweima_hover_total_width = 402px;
$right_erweima_hover_total_height = 390px;
$right_erweima_hover_image = '../img/sprite.png';
$right_erweima_hover = 119px 264px -119px -264px 30px 30px 402px 390px '../img/sprite.png' 'right-erweima-hover';
$right_erweima_name = 'right-erweima';
$right_erweima_x = 219px;
$right_erweima_y = 264px;
$right_erweima_offset_x = -219px;
$right_erweima_offset_y = -264px;
$right_erweima_width = 30px;
$right_erweima_height = 30px;
$right_erweima_total_width = 402px;
$right_erweima_total_height = 390px;
$right_erweima_image = '../img/sprite.png';
$right_erweima = 219px 264px -219px -264px 30px 30px 402px 390px '../img/sprite.png' 'right-erweima';
$right_top_hover_name = 'right-top-hover';
$right_top_hover_x = 378px;
$right_top_hover_y = 263px;
$right_top_hover_offset_x = -378px;
$right_top_hover_offset_y = -263px;
$right_top_hover_width = 22px;
$right_top_hover_height = 17px;
$right_top_hover_total_width = 402px;
$right_top_hover_total_height = 390px;
$right_top_hover_image = '../img/sprite.png';
$right_top_hover = 378px 263px -378px -263px 22px 17px 402px 390px '../img/sprite.png' 'right-top-hover';
$right_top_name = 'right-top';
$right_top_x = 378px;
$right_top_y = 226px;
$right_top_offset_x = -378px;
$right_top_offset_y = -226px;
$right_top_width = 22px;
$right_top_height = 17px;
$right_top_total_width = 402px;
$right_top_total_height = 390px;
$right_top_image = '../img/sprite.png';
$right_top = 378px 226px -378px -226px 22px 17px 402px 390px '../img/sprite.png' 'right-top';
$title_kt_name = 'title-kt';
$title_kt_x = 0px;
$title_kt_y = 0px;
$title_kt_offset_x = 0px;
$title_kt_offset_y = 0px;
$title_kt_width = 194px;
$title_kt_height = 70px;
$title_kt_total_width = 402px;
$title_kt_total_height = 390px;
$title_kt_image = '../img/sprite.png';
$title_kt = 0px 0px 0px 0px 194px 70px 402px 390px '../img/sprite.png' 'title-kt';
$spritesheet_width = 402px;
$spritesheet_height = 390px;
$spritesheet_image = '../img/sprite.png';
$spritesheet_sprites = $bg_user_top $icon_close $icon_courses_1 $icon_courses_10 $icon_courses_11 $icon_courses_2 $icon_courses_3 $icon_courses_4 $icon_courses_5 $icon_courses_6 $icon_courses_7 $icon_courses_8 $icon_courses_9 $icon_detail_point $icon_detail_schedule $icon_detail_stage $icon_detail_target $icon_detail_teacher $icon_detail_time $icon_down_black $icon_down_two $icon_down $icon_header_community $icon_header_home $icon_header_list $icon_header_person $icon_header_wechat_w $icon_header_wechat $icon_header_weibo $icon_live_num $icon_live $icon_living $icon_ranking $icon_set_person $icon_set_school $icon_setting_b $icon_setting_white $icon_setting $icon_star_full $icon_star $icon_tick $icon_time $icon_tips_live_end $icon_tips_smiling $icon_tips_time $icon_up_grey $right_erweima_hover $right_erweima $right_top_hover $right_top $title_kt;
$spritesheet = 402px 390px '../img/sprite.png' $spritesheet_sprites;

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of Stylus

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

sprites($spritesheet_sprites);
*/
sprites($sprites) {
  for $sprite in $sprites {
    $sprite_name = $sprite[9];
    .{$sprite_name} {
      sprite($sprite);
    }
  }
}
