<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html class="ie6">
<![endif]-->
<!--[if IE 7 ]>
<html class="ie7 gt-ie6">
<![endif]-->
<!--[if IE 8 ]>
<html class="ie8 gt-ie7">
<![endif]-->
<!--[if IE 9 ]>
<html class="ie9 gt-ie8">
<![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="gt-ie9">
<!--<![endif]-->

<head>
    <meta charset="UTF-8">
    <meta http-equiv='mobile-agent' content='format=html5; url=<?php echo F::URL('xczweixin:/czweixin/school/list'); ?>'>
    <title><?php F::SEO()->echoTitle(array()); ?></title>
    <?php F::TPL('common/header.html', [], 'Cz'); ?>
</head>

<body class="index-page">
<div id="wrap">
    <?php F::TPL('common/nav.html', [], 'Cz'); ?>
    <div class="container page-content">
        <div class="row row14-6">
            <div class="span14">
                <!-- Start:广告 670×200 -->
                <?php AD('cz_index_tgw_a1', '', true, '<div class="picture picture-h200 slider">');?>
                <!-- End:广告 670×200 -->
                <!-- Start: 选学校-->
                <div class="tags-filter">
                    <div class="hd">选学校</div>
                    <div class="bd">
                        <?php foreach ($filters['district']['list'] as $district_id => $district): ?>
                        <a href="<?php echo F::URL('/cz/school/index', ['district' => $district_id, 'property' => 0, 'attype' => 0]) ?>" target="_blank"><?php echo $district ?></a>
                        <?php endforeach ?>
                    </div>
                </div>
                <!-- End: 选学校-->

                <?php foreach ($schools as $schoolData): ?>
                <div class="mod mod-school">
                    <div class="mod-heading"><a href="<?php echo F::URL('/cz/school/index', $schoolData['link']) ?>" target="_blank" class="more">更多</a>
                        <div class="mod-title"><?php echo $schoolData['name'] ?></div>
                        </div>
                    <div class="mod-body">
                        <div class="school-grid">
                            <?php foreach ($schoolData['list']['list'] as $index => $school): ?>
                            <?php F::TPL('/school/school_grid.html', ['school' => $school, 'method' => $schoolData['params']], 'Cz') ?>
                            <?php endforeach ?>
                        </div>
                    </div>
                </div>
                <?php endforeach ?>
            </div>
            <div class="span6">
                <!-- Start: 侧栏挂件-特长生招生查询-->
                <?php F::TPL('school/guide_widget.html', compact('districtList', 'form', 'pstypeList'), 'Cz') ?>
                <!-- End: 侧栏挂件-特长生招生查询-->

                <!-- Start: 优秀民校推荐 -->
                <?php echo F::TPL('school/private_schools.html', ['privateSchools' => $privateSchools['list'], 'govSchools'=> $govSchools['list'], 'none_compare' => true], 'Cz') ?>
                <!-- End: 优秀民校推荐 -->

                <!-- Start: 近期热门讨论 -->
                <?php F::TPL('school/threads.html', ['threads' => $threads]) ?>
                <!-- End: 近期热门讨论 -->
            </div>
        </div>
    </div>
    <?php F::TPL('common/footer.html', [], 'Cz'); ?>
</div>
<?php F::TPL('common/footer_script.html', [], 'Cz'); ?>
</body>
<script type="text/javascript">
    <?php $params = V('g');unset($params['r']);$params=json_encode($params); ?>
    Gaofen.PD.set(
            {
                'channel':'xuexiao','action':'front', params : <?php echo $params; ?>,
    'admitForte':<?php echo json_encode(isset($admitForteList)?$admitForteList:array()); ?>
    });
</script>
</html>
