
<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html class="ie6">
<![endif]-->
<!--[if IE 7 ]>
<html class="ie7 gt-ie6">
<![endif]-->
<!--[if IE 8 ]>
<html class="ie8 gt-ie7">
<![endif]-->
<!--[if IE 9 ]>
<html class="ie9 gt-ie8">
<![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="gt-ie9">
<!--<![endif]-->

    <head>
        <meta charset="UTF-8">
        <title><?php echo  F::siteTitle(constant('SEO_XCZ_GUIDE_TITLE'), array()); ?></title>
        <?php F::TPL('common/header.html', [], 'Cz'); ?>
    </head>

    <body class="guide-page">
        <div id="wrap">
            <?php F::TPL('common/nav.html', [], 'Cz'); ?>
            <div class="container page-content">
                <?php if(!$type): ?>
                <!-- Start: 升学指导工具列表-->
                <div class="guide-tools">
                    <div class="tool-list">
                        <ul>
                            <li class="spec-recruit"><a href="<?php echo F::URL('/Cz/School/guide', array('type'=>1, 'step'=>1)); ?>"><i class="ico"></i><span class="name">特长生招生<span class="sub">（广州地区）</span></span><span class="desc">什么特长可以考什么学校，一查便知道</span></a>
                            </li>
                            <li class="school-rec even"><a href="<?php echo F::URL('/Cz/School/guide', array('type'=>2, 'step'=>1)); ?>"><i class="ico"></i><span class="name">民校推荐<span class="sub">（广州地区）</span></span><span class="desc">根据您的个人情况推荐民校</span></a>
                            </li>
                            <li class="xsc-baike" ><a href="http://baike.gaofen.com/xxbk/" target="_blank"><i class="ico"></i><span class="name">小升初百科</span><span class="desc">小升初升学政策、招生信息和志愿填报的扫盲必备</span></a>
                            </li>
                            <li class="xsc-data even"><a href="http://ziliao.gaofen.com/xsc/" target="_blank"><i class="ico"></i><span class="name">小升初资料库</span><span class="desc">广州最全面的小升初备考资料</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- End: 升学指导工具列表-->
                <?php endif; ?>
                <?php if($type==1): ?>
                <?php if($step==1): ?>
                <!-- Start: 特长生招生-->
                <div class="guide-tools">
                    <div class="tool-details">
                        <div class="hd">特长生招生</div>
                        <div class="bd">
                            <?php echo $form->open('form', F::URL('/cz/school/guide', ['type' => 1, 'step' => 2]), ['id' => 'guide_type1'], ['method' => 'post']); ?>
                            <form id="guide_type1" action="" method="post">
                                <div class="form">
                                    <div class="form-row">
                                        <label class="control-label">您的孩子在广州市的哪个区域就读？</label>
                                        <div class="controls">
                                            <?php echo $form->simulatselect('district', $districtList) ?>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <label class="control-label">您的孩子的特长项目是？</label>
                                        <div class="controls">
                                            <?php echo $form->simulatselect('t', ['请选择']); ?>
                                            <?php echo $form->simulatselect('c', ['请选择']); ?>
                                        </div>
                                    </div>
                                    <div class="actions"><a href="#" class="btn btn-primary hidden">查看结果</a><span class="btn btn-disabled">查看结果</span>
                                    </div>
                                </div>
                            <?php echo $form->close(); ?>
                        </div>
                    </div>
                </div>
                <!-- End: 特长生招生-->
                <?php endif; ?>

                <?php if($step==2): ?>
                <!-- Start: 特长生招生结果-->
                <div class="guide-tools">
                    <div class="tool-details">
                        <div class="hd">特长生招生</div>
                        <div class="bd">
                        <?php if(empty($result)): ?>
                            <div class="alert alert-info alert-single"><i class="ico"></i>
                                <div class="info">
                                    <p>您所在的区暂无该项特长的招生记录，请留意各区最新招生政策！</p>
                                </div>
                            </div>
                        <?php else: ?>
                            <p>您的孩子报考的特长项目为<span class="hl"><?php F::O($admitForteList[$t]['child'][$c]); ?></span>，本区招收学校有：</p>
                            <div class="table data-table">
                                <table>
                                    <thead>
                                        <tr>
                                            <th class="w120">
                                                <div class="gap">年份</div>
                                            </th>
                                            <th>
                                                <div class="gap">招生学校</div>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    <?php $_i=0;foreach($result as $year=>$_item): ?>
                                        <tr<?php if($_i%2!=0): ?> class="even"<?php endif; ?>>
                                            <td><?php F::O($year); ?>年</td>
                                            <td class="align-left">
                                            <?php foreach($_item as $_row): ?>
                                            <a href="<?php echo F::URL('/Cz/School/view', array('id'=>$_row['sInfo']['id'])); ?>" target="_blank"><?php F::O($_row['sInfo']['name']); ?></a>
                                            <?php endforeach; ?>
                                            </td>
                                        </tr>
                                    <?php $_i++;endforeach; ?>
                                    </tbody>
                                </table>
                            </div>
                        <?php endif; ?>
                        <div class="return"><a href="<?php echo F::URL('/Cz/School/guide'); ?>">返回至升学指导</a></div>
                        </div>
                    </div>
                </div>
                <!-- End: 特长生招生结果-->
                <?php endif; ?>
                <?php endif; ?>
                <?php if($type==2): ?>
                <?php if($step==1): ?>
                <!-- Start: 民校推荐-->
                <div class="guide-tools">
                    <div class="tool-details">
                        <div class="hd">民校推荐</div>
                        <div class="bd">
                            <form id="guide_type2" action="" method="post">
                                <div class="form">
                                    <div class="form-row">
                                        <label class="control-label">您在为孩子挑选民校的时候，最看重的因素是？（限选2项）</label>
                                        <div class="controls checkbox-group">
                                        <?php foreach($pstypeList as $_k=>$_v): ?>
                                            <p>
                                                <label class="checkbox">
                                                    <input type="checkbox" name='rid[]' value="<?php F::O($_k); ?>" /><?php F::O($_v); ?></label>
                                            </p>
                                        <?php endforeach; ?>
                                        </div>
                                    </div>
                                    <div class="actions" id="actions"><a href="#" class="btn btn-primary hidden">查看结果</a><span class="btn btn-disabled">查看结果</span>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- End: 民校推荐-->
                <?php endif; ?>
                <?php if($step==2): ?>
                <!-- Start: 民校推荐结果-->
                <div class="guide-tools">
                    <div class="tool-details">
                        <div class="hd">民校推荐</div>
                        <div class="bd">
                        <?php if(empty($result['list'])): ?>
                            <div class="alert alert-info"><i class="ico"></i>
                                <div class="info">
                                    <p>艾玛，这要求有点高了，没有适合您的民校。</p>
                                    <p><a href="<?php echo F::URL('/Cz/School/guide', array('type'=>$type, 'step'=>1)); ?>">换个条件</a>试试？</p>
                                </div>
                            </div>
                        <?php else: ?>
                            <p>根据您所选的条件为您推荐：</p>
                            <div class="result-list">
                                <ul>
                                <?php foreach($result['list'] as $_item): ?>
                                    <li><a href="<?php echo F::URL('/Cz/School/view', array('id'=>$_item['id'])); ?>" target="_blank"><?php F::O($_item['name']); ?></a>
                                    </li>
                                <?php endforeach; ?>
                                </ul>
                            </div>
                            <div class="return"><a href="<?php echo F::URL('/Cz/School/guide'); ?>">返回至升学指导</a>
                            </div>
                        <?php endif; ?>
                        </div>
                    </div>
                </div>
                <!-- End: 民校推荐结果-->
                <?php endif; ?>
                <?php endif; ?>
            </div>
            <?php F::TPL('common/footer.html', [], 'Cz'); ?>
        </div>
        <?php F::TPL('common/footer_script.html', [], 'Cz'); ?>
        <script type="text/javascript">
            Gaofen.PD.set({'channel':'xuexiao','action':'guide', 'type':<?php echo $type; ?>, 'hasPKfloat':false, 'admitForte':<?php echo json_encode(isset($admitForteList)?$admitForteList:array()); ?>});
        </script>
    </body>
</html>