<!-- Start: 侧栏挂件-民校推荐-->
  <div class="widget widget-box widget-query widget-school-query">
    <div class="widget-box-hd">
      <div class="title">民校推荐</div>
    </div>
    <div class="widget-box-bd form">
      <?php echo $form->open('form', F::URL('/cz/school/guide', ['type' => 2, 'step' => 2]), ['method' => 'POST'], ['target' => '_blank','id' => 'recommend']); ?>
      <div class="form-row">
        <div class="control-label">挑选民校时最看重什么因素：</div>
        <div class="controls">
          <?php foreach($pstypeList as $rid => $label): ?>
            <p>
              <label class="checkbox">
                <?php echo $form->checkbox('rid', $rid).' '.$label ?>
              </label>
            </p>
          <?php endforeach; ?>
        </div>
      </div>
      <div class="actions" id="actions">
        <label class="btn btn-primary">
          <button>查看结果</button>
        </label>
      </div>
      <?php echo $form->close(); ?>
    </div>
  </div>
<!-- End: 侧栏挂件-民校推荐-->


<!-- Start: 侧栏挂件-特长生招生查询-->
  <div class="widget widget-box widget-query widget-recruit-query">
    <div class="widget-box-hd">
      <div class="title">特长生招生查询</div>
    </div>
    <div class="widget-box-bd form">
      <?php echo $form->open('form', F::URL('/cz/school/guide', ['type' => 1, 'step' => 2]), ['method' => 'POST'], ['target' => '_blank', 'id' => 'selectform']); ?>
      <div class="form-row">
        <div class="control-label">就读区域：</div>
        <div class="controls">
          <?php echo $form->simulatselect('district', $districtList) ?>
        </div>
      </div>
      <div class="form-row">
        <div class="control-label">特长项目：</div>
        <div class="controls">
          <?php echo $form->simulatselect('t', [0 => '请选择']) ?>
        </div>
      </div>
      <div class="form-row">
        <div class="control-label"></div>
        <div class="controls">
          <?php echo $form->simulatselect('c', [0 => '请选择']) ?>
        </div>
      </div>
      <div class="actions">
        <label class="btn btn-primary">
          <button>查询</button>
        </label>
        <span class="btn btn-disabled hidden">查看结果</span>
      </div>
      <?php echo $form->close(); ?>
    </div>
  </div>
<!-- End: 侧栏挂件-特长生招生查询-->
