<div class="widget widget-box">
    <div class="widget-box-hd">
        <div class="widget-tabs" id="switcher">
            <span class="active" rel="ps">民办</span><span rel="gs">公办</span>
        </div>
        <div class="title">热门学校推荐</div>
    </div>
    <div class="widget-box-bd">

        <?php $current_id = V('g:id');foreach ([$privateSchools, $govSchools] as $index => $schools): ?>
        <?php if($current_id) {$schools->forget($current_id); }//去掉推荐列表中当前学校数据 ?>

        <?php if ($index == 0): ?>

        <div class="list school-list" id='ps'>

            <?php else: ?>
            <div class="list school-list hidden" id='gs'>

                <?php endif ?>
                <?php if($schools->isEmpty()): ?>
                <div class="tips-null">暂无学校推荐</div>
                <?php break;endif; ?>
                <ul>
                    <?php if ($school = $schools->shift()): ?>
                    <li class="rec">
                        <div class="picture">
                            <a href="<?php echo F::URL('/cz/school/view', ['id' => $school->id]) ?>" target="_blank"
                               title="<?php F::O($school->name); ?>">
                                <img src="<?php echo $school->cover ?>" alt="" class="no-pic"/>
                            </a>
                        </div>
                        <div class="info">
                            <div class="name">
                                <a href="<?php echo F::URL('/cz/school/view', ['id' => $school->id]) ?>" target="_blank"
                                   title="<?php F::O($school->name); ?>"><?php F::O($school->name); ?></a>
                            </div>
                            <span class="operations hidden">
                                <?php if (!isset($none_compare)): ?>
                                <a href="<?php echo F::URL('/cz/School/cmp', ['ids' => $school->id.','.$current_id]) ?>"
                                   target="_blank">对比</a>
                                <?php endif ?>
                            </span>
                        </div>
                    </li>
                    <?php endif ?>

                    <?php foreach ($schools->slice(0, 7) as $school): ?>
                    <li>
                        <span class="name">
                            <a href="<?php echo F::URL('/cz/school/view', ['id' => $school->id]) ?>"
                               title="<?php F::O($school->name); ?>" target="_blank"><?php F::O($school->name); ?></a>
                        </span>

                        <span class="operations hidden">
                            <?php if (!isset($none_compare)): ?>
                            <a href="<?php echo F::URL('/cz/School/cmp', ['ids' => $school->id.','.$current_id]) ?>"
                               target="_blank">对比</a>
                            <?php endif; ?>
                        </span>

                    </li>

                    <?php endforeach ?>
            </div>

            <?php endforeach ?>
        </div>
    </div>
