<ul>
      <?php foreach($rankOfDistrict as $_i=>$_item ): ?>
      <?php if($_i>10) break; ?>
      <li<?php if($_i<3): ?> rel="<?php echo $_item['id'];?>" class="top"<?php endif; ?>>
      <i class="num"><?php echo $_i+1; ?>.</i>	      
	      <span class="stat"><i class="icon-<?php echo $_item['rank_flag']; ?>"></i></span>
	      <span class="operations hidden"><a href="#"  rel="e:contrast,n:<?php echo $_item['name'];?>,id:<?php echo $_item['id'];?>,uri:<?php echo F::URL('/Cz/school/view', array('id'=>$_item['id'])); ?>">加入对比</a>
	      </span>
	      <span class="tit">
	      <a href="<?php echo F::URL('/Cz/school/view', array('id'=>$_item['id'])); ?>" target="_blank" title="<?php F::O($_item['name']); ?>"><?php F::O($_item['name']); ?></a>
	      </span>
      </li>
      <?php endforeach; ?>
</ul>
