<div class="school-grid-item" rel="<?php echo $school->id ?>">
    <div class="thumb">
        <a href="<?php echo F::URL('/Cz/School/view', ['id' => $school->id]) ?>" target="_blank">
            <img src="<?php echo $school->cover ?>" width="120" height="90" alt="" class="no-pic"/>
            <span class="operations"><i class="bg"></i><span class="added" rel="e:null">已加入对比</span><span class="add" rel="e:contrast,id:<?php echo $school->id ?>,n:<?php echo $school->name ?>,uri:<?php echo F::URL('/Cz/School/view', ['id' => $school->id]) ?>">加入对比</span></span>
        </a>
    </div>
    <div class="info">
        <h3><a href="<?php echo F::URL('/Cz/School/view', ['id' => $school->id]) ?>"  target="_blank"><?php F::O($school->name) ?></a></h3>
        <p><?php echo $school->present()->property(['district']) ?><?php echo $school->present()->$method() ?></p>
        <p><?php echo $school->present()->tags('front') ?></p>
    </div>
</div>