<div class="widget">
    <div class="widget-hd">
        <div class="title">您浏览过的学校</div>
    </div>
    <div class="widget-bd">
    <?php if(empty($visited)): ?>
        <div class="tips-null">您暂未浏览过学校</div>
    <?php else: ?>
        <div class="list">
            <ul>
                <?php foreach ($visited as $school): ?>
                    <li>
                        <span class="name">
                            <a href="<?php F::URL('/cz/school/view', ['id' => $school['id']]) ?>" target="_blank">
                            <?php echo $school['name'] ?></a>
                        </span>
                    <?php endforeach ?>
                </li>
            </ul>
        </div>
    <?php endif; ?>
    </div>
</div>