// 文章内容页
// 说明：各分站公用
// ==============================================

// 广告
// ------------------------------

// 顶部广告 980x70
.ad-top
.picture-top
  margin-bottom 10px

// 内容区文字广告
// .ad-posts
//   padding 15px 0
//   border-top 1px solid #EAEAEA
//   clearfix()

//   li
//     float left
//     width 320px
//     margin-right 40px
//     if support-for-ie
//       _display inline

//   a
//     highlight-link()

// 正文
// ------------------------------
@import "_post-details"

.post-details
  border 1px solid common-border-color
  padding 40px 44px 50px

  h1
    margin 0 0 10px
    text-align center
    font-size 24px
    font-weight normal
    color gray-darker

  .meta
    padding-bottom 15px
    border-bottom 1px solid #F0F0F0
    color #999
    text-align center

    a
      margin-right 5px
      highlight-link()

    span
      margin 0 5px

  .meta-bar
    color #999
    background #F4F4F4
    padding 4px 25px 4px 10px
    clearfix()

    span
      float right
      margin-left 10px

    a
      highlight-link()

  .meta-bar-s2
    color #999
    border-bottom 1px solid #EAEAEA
    text-align center
    padding 5px

    span
      margin-left 15px

    a
      highlight-link()

    .icon-comment
      highlight-link()

    .time
      margin-left 25px

  .photoMHD
    margin 20px auto

  .post-content
    padding 10px 0

    post-content()

  .tags
    font-size 14px

    a
      margin-right 10px
      highlight-link()

  // 表格
  post-table()

// 文章标签
.post-tags
  clearfix()
  overflow hidden
  line-height 14px
  height 14px
  margin-top 10px

  span
    inline-block()
    margin-left -11px
    padding 0 21px 0 10px
    border-left 1px solid common-border-color

  a
    color gray-darker

    &:hover
      color link-color-hover

  .highlight
    a
      color #D80102
      font-weight bold

// 最新资讯
.post-latest
  background #F7F7F7
  margin-top 15px

  .hd
    float left
    width 40px
    padding 12px 0
    color #FFF
    font-weight bold
    background-color #FFA201
    text-align center
    font-size 14px


  .bd
    border 1px solid #EBEBEB
    border-left none
    margin-left 40px
    padding 8px 0 8px 20px
    if support-for-ie
      _margin-left 37px

  .post-list
    height 48px

    li
      float left
      width 224px
      margin-right 25px
      if support-for-ie
        _display inline

    a
      color gray-darker

      &:hover
        color link-color-hover

.post-view-more
  font-weight bold
  font-size 14px
  margin-bottom 15px

  a
    color #D80102
    border-bottom 1px dashed #D80102

    &:hover
      text-decoration none
      border-bottom-style solid

// 文章相关
.post-related
  clearfix()
  background url("../img/split.png") repeat-y 355px 0

// 扩展阅读
.post-related-posts
  float left
  width 330px

  .heading
    border none
    margin-bottom 8px
    padding-left 25px
    background url("../img/icon_reading.png") no-repeat left 3px

    .title
      span
        font-size 14px

// 相关学校
.post-related-schools
  float right
  width 210px

  .heading
    border none
    margin-bottom 12px

// 相关资料
.post-related-data
  border-top 1px solid common-border-color
  margin-top 20px
  padding-top 20px

  .heading
    border none
    margin-bottom 8px

  .post-list-large
    ul
      clearfix()

    li
      float left
      width 266px
      margin-right 14px

// 微信
.post-weixin
  position relative
  border-top 4px solid #3397E4
  background #FFF
  margin-top 25px

  .hd
    absolute left -1px top -4px
    color #FFF
    background #3397E4
    padding 0 15px
    line-height 24px
    font-weight bold
    font-size 14px

  .bd
    clearfix()
    border 1px solid common-border-color
    border-top none

  .post
    float left
    width 385px
    min-height 93px
    padding 32px 25px 20px
    background #F7F7F7
    border-right 3px solid #F0F0F0

    .tit
      font-size 16px
      font-weight bold
      height 24px
      overflow hidden
      margin-bottom 5px

    p
      margin 0
      line-height 22px
      min-height 44px
      overflow hidden
      color #808080

  .qrcode
    float left
    width 200px
    padding 30px 15px 25px
    font-size 14px

    .pic
      float left
      width 90px
      margin-right 10px

    img
      display block
      width 90px

  .info
    p
      margin 0
      color #808080
      line-height 22px

    .tit
      color #323232
      font-weight bold
      text-indent -7px

// QQ群
.post-qq
  border 1px solid common-border-color
  margin-top 25px

  .qq-groups
    padding 0 25px

    .hd
      font-size 15px
      font-weight bold
      border-bottom 1px solid common-border-color
      line-height 28px
      padding-top 8px
      color #4D4D4D

    .bd
      clearfix()
      padding 12px 0 15px
      color #666

    .col
      float left
      width 282px

      a
        float right
        padding-left 12px
        background url("../img/icon_plus.png") no-repeat 0 50%

      span
        display block
        clearfix()
        line-height 22px
        if support-for-ie
          _display inline

        i
          font-weight bold

    .col-left
      border-right 1px dashed #D9D9D9
      padding-right 25px
      margin-right 25px


