// 页脚样式
// ==================================================

#footer
  margin-top 40px
  border-top 1px solid #D1D1D1

  .in
    background #F7F7F7
    botder-top 1px solid #ECECEC

  .container
    background url("../img/slogan.png") no-repeat 23px 33px

  .cont
    margin-left 300px
    padding 20px 0 20px 20px
    border-left 1px solid #E1E1E1

  a
    color #444

  .foot-links
    margin-bottom 5px

    i
      color #BBB

    a
      margin 0 14px
      color #444

  .copyright
    padding-left 15px

  .alarm
    margin-top 10px

    a
      margin-left 15px

    img
      border 1px solid #CDCDCD


