// 框架布局
// ==============================================

// 主布局1：span4 + span16
// 使用场景：带左侧栏，右栏为主内容区
// 注：严格遵从栅格系统，直接使用.row > (.span4 + .span16)
// -------------------------------------------------------

// 主布局2：span16 + span4
// 使用场景：带右侧栏，左栏为内容区
// 注：设计稿不完全遵从栅格，需要强行重置栅格宽度
// ----------------------------------------------
.row16-4
  .span16
    // 少一个列距
    width grid-column-width * 16 + grid-gutter-width * 14
  .span4
    // 多一个列距
    width (grid-column-width + grid-gutter-width) * 4

// v6主布局：span14 + span6
// 使用场景：带右侧栏，左栏为内容区
// 注：设计稿不完全遵从栅格，左栏宽度比标准栅格少10px
// ----------------------------------------------
.row14-6
  .span14
    // 宽度比标准栅格少10px
    width grid-column-width * 14 + grid-gutter-width * 13 - 10

    .row7-7
      margin-left -30px

    .span7
      width grid-column-width * 7 + grid-gutter-width * 6 - 10
      margin-left 30px
  .span6
    // 右栏补回左栏缺少的10px
    margin-left grid-gutter-width + 10

// v6主布局2：span13 + span7
// 使用场景：带右侧栏，左栏为内容区
// 注：设计稿不完全遵从栅格，左栏宽度比标准栅格少10px
// ----------------------------------------------
.row13-7
  .span13
    // 宽度比标准栅格少10px
    width grid-column-width * 13 + grid-gutter-width * 12 - 10
  .span7
    // 右栏补回左栏缺少的10px
    margin-left grid-gutter-width + 10

// v6主布局3：span5 + span15
// 使用场景：带左侧栏，右栏为内容区
// 注：设计稿不完全遵从栅格，右栏宽度比标准栅格少10px
// ----------------------------------------------
.row5-15
  .span15
    // 宽度比标准栅格少10px
    width grid-column-width * 15 + grid-gutter-width * 14 - 10
    // 右栏补回缺少的10px
    margin-left grid-gutter-width + 10

// 子布局：12 + 4
// 使用场景：嵌套在主布局中，带右侧栏，左栏为内容区
// 注：设计稿不完全遵从栅格，需要强行重置栅格宽度
// ------------------------------------------------
.row12-4
  .span12
    // 少一个列距
    width grid-column-width * 12 + grid-gutter-width * 10
  .span4
    // 多一个列距
    width (grid-column-width + grid-gutter-width) * 4

// 子布局：4 + 4 + 4
// 使用场景：嵌套在子布局的12列中
// 注：设计稿不完全遵从栅格，需要强行重置栅格宽度
// ------------------------------------------------
.row4-4
.row4-4-4
  .span4
    width 170px

// 子布局：6 + 6
// 使用场景：嵌套在子布局的12列中
// 注：设计稿不完全遵从栅格，需要强行重置栅格宽度
// ------------------------------------------------
.row6-6
  .span6
    width 270px

// 子布局：12 + 4
// 使用场景：嵌套在子布局的12列中
// 注：设计稿不完全遵从栅格，需要强行重置栅格宽度
// ------------------------------------------------
.row16-4
  .row12-4
    .span12
      // 因在不标准的栅格中细分栅格，故少2个列距
      width grid-column-width * 12 + grid-gutter-width * 9
    .span4
      // 多一个列距
      width (grid-column-width + grid-gutter-width) * 4

