// 侧栏导航-v6
// ==============================================

.nav-aside-s2
  border 1px solid common-border-color
  padding 10px 15px 15px
  margin-bottom 25px

  .hd
    border-bottom 1px solid common-border-color
    margin-bottom 10px

    h3
      margin 0 0 5px
      font-size 20px
      font-weight normal
      color #26597F

  .bd
    a
      display block
      padding 0 10px
      line-height 32px
      color #4C4C4C
      transition background .3s

      &:hover
        background #F2F2F2
        text-decoration none

    .active
    .active:hover
      background #66B1EC
      color #FFF
      font-weight bold
