// 系统通知
// ==================================================

.notice
  position relative
  padding 10px 20px
  background #FFFBEC
  border 1px solid #F9E4B8
  color #E77420

  p
    margin 0

  a
    color #E77420

  .close
    right 2px
    top 2px
    background-position -18px -295px

    &:hover
      background-position -18px -325px

