// 子导航
// ==================================================

.sub-nav
  clearfix()
  border-bottom 1px solid common-border-color
  overflow hidden
  line-height 14px
  padding 8px 0

  span
    inline-block()
    margin-left -1px
    padding 0 15px 0 16px
    border-left 1px solid common-border-color

  a
    color #808080

    &:hover
      color link-color-hover

