// 微博账号列表
// ==================================================

.weibo-list
  span
    display inline-block
    width 65px

  a
    font-weight bold
    color #0F0F0F

  ul
    remove-list-style()
    padding-left 5px

  li
    margin 5px 0

  .addfollow-btn
    vertical-align middle
    margin-left 5px
