// 底部广告
// 作用：供旧版需要显示底部广告的页面使用

// 配置
@import "_settings"

// 混入声明
@import "../partials/_mixins"

// Nib
@import 'nib'

// 占位符
@import "../partials/_placeholders"

// 元件：关闭图标
@import "../partials/components/_close"

// 底部广告
@import "../partials/components/_ad_bottom"

