// 对联广告
// 作用：供旧版需要显示对联广告的页面使用

// 配置
@import "_settings"

// 混入声明
@import "../partials/_mixins"

// Nib
@import 'nib'

// 占位符
@import "../partials/_placeholders"

// 关闭图标
// ==================================================
.ad-couplet
.picture-couplet
.picture-couplet-s2
  .close
    absolute right 10px top 8px
    size 16px
    hide-text()
    @extend $icon
    background-position -17px -176px

    &:hover
      background-position -17px -206px
      cursor pointer

// 对联广告
@import "../partials/components/_ad_couplet"

