// 页面底部广告
// 配置
@import "_settings"

// 混入声明
@import "../partials/_mixins"

// Nib
@import 'nib'

// 占位符
@import "../partials/_placeholders"

.container
  width 980px
  margin 0 auto

@import "../partials/components/_ad_footer"

