.ad
    ul
        li: a(href='#',target='_blank'): img(src='images/examples/ad1.jpg')
        li.hide: a(href='#',target='_blank'): img(src='images/examples/ad2.jpg')
        li.hide: a(href='#',target='_blank'): img(src='images/examples/ad3.jpg')
    .dot
        .current
        .normal
        .normal