#hot-tag
    .header 趣站标签
    ul
        each item in ['平面设计','广告设计','电商','彩票','直播','电商','平面设计','广告设计','彩票','直播','电商','平面设计','广告设计','彩票','直播']
            li: a(href='search_website.html',target='_blank')= item