#hot-question
    .header 最热问答
    .content
        ul
            - for(var i=0;i<6;i++)
                li: a(href='question_detail.html',target='_blank') 美国最好的家居网站有哪些？求推荐！
        .refresh
            .line
            .icon: a(href='#') 换一换