doctype html
head
    include _css
    link(rel='stylesheet',type='text/css',href='css/register_step1.css')
    title 找回密码-爱窝网
body
    include _header
    +header('')
    .wrap
        #body
            include _popup
            #top-logo
                .logo

            #change-password
                .row
                    .label 新密码
                    input(type='password',placeholder='新密码')
                    .info-error
                .row
                    .label 确认密码
                    input(type='password',placeholder='重复新密码')
                    .info-correct

            #btn-next 提交
    include _footer
    script(src='js/register.js' type='text/javascript')