// 简介：高分课堂
// 维护人：
// ==================================================


// Nib
@import "nib"

// 主题皮肤样式设置
@import "./partials/components/_setting"

// reset
@import "./partials/components/_reset"


// 定制样式
@import "./partials/components/_customize"

// 辅助类样式
@import "./partials/components/_helpers"

// 占位
@import "partials/components/_placeholders"

// 全局通用样式
@import "./partials/components/_layout"

// 动画
@import "./partials/components/_animate"

// mixin的样式
@import "./partials/components/_utilities"

// 头像的样式
@import "./partials/components/_avatar"
// 按钮样式
@import "./partials/components/_button"

@import "./partials/components/_icon"

@import "./partials/components/_label"

@import "./partials/components/_header"

@import "./partials/components/_footer"

@import "./partials/components/_loading"

// mask样式
@import "./partials/components/_mask"

@import "./partials/components/_page-right"

//分页面样式
@import "./partials/_index"
@import "./partials/_live"
@import "./partials/_home"
@import "./partials/_list"
@import "./partials/_setting"
@import "./partials/_detail"

@import "./partials/_mobile"

