// 用微博帐号登录按钮(大)
.btn-weibo-large
  @extend $btn-sns-bg
  size 173px 32px
  background-position 0 -136px
// 用微博帐号登录按钮(中)
.btn-weibo
  @extend $btn-sns-bg
  size 126px 24px
// 用微博帐号登录按钮（小）
.btn-weibo-small
  @extend $btn-sns-bg
  size 89px 24px
  background-position 0 -34px
// 用微博帐号登录按钮（最小）
.btn-weibo-mini
  @extend $btn-sns-bg
  size 21px
  background-position -100px -34px

// 用QQ帐号登录按钮(大)
.btn-qq-large
  @extend $btn-sns-bg
  size 173px 32px
  background-position 0 -178px
// 用QQ帐号登录按钮(中)
.btn-qq
  @extend $btn-sns-bg
  size 126px 24px
  background-position 0 -68px
// 用QQ帐号登录按钮（小）
.btn-qq-small
  @extend $btn-sns-bg
  size 83px 24px
  background-position 0 -102px
// 用QQ帐号登录按钮（最小）
.btn-qq-mini
  @extend $btn-sns-bg
  size 21px
  background-position -100px -102px