// 表单验证提示图标
.form
  .help-inline
    @extend $icon-help
  // 默认图标
  .form-row
    .help-inline
      background-position -20px -234px
  // 成功图标
  .success
    .help-inline
      background-position -12px 2px
  // 出错图标
  .error
    .help-inline
      background-position -12px -58px
  // 信息图标
  .hints
    .help-inline
      background-position -12px -118px