// 侧栏签到
.widget-sign
  clearfix()
  margin-top 2px

  .calendar
    float left
    size 80px 53px
    padding-left 10px
    text-align center
    color #7C7550
    background url(img/signin_bg.png) no-repeat

  .date
    margin-top 7px

  .btn-sign
    float left
    size 140px 53px
    overflow hidden
    line-height 200px
    background url(img/signin_bg.png) no-repeat -92px 0

  .btn-signed
    background-position -92px -63px