            <!-- Start:页脚 -->
            <div id="footer">
                <div class="container">
                    <div class="foot-links">
                        <a target="_blank" href="<?php echo F::getLink('xsc'); ?>" title="小学" rel="nofollow">小学</a><i>|</i>
                        <a target="_blank" href="<?php echo F::getLink('zhongkao'); ?>" title="初中" rel="nofollow">初中</a><i>|</i>
                        <a target="_blank" href="<?php echo F::getLink('gaokao'); ?>" title="高中" rel="nofollow">高中</a><i>|</i>
                        <a target="_blank" href="<?php echo F::getLink('huodong'); ?>" title="活动" rel="nofollow">活动</a><i>|</i>
                        <a target="_blank" href="<?php echo F::getLink('ziliao'); ?>" title="资料">资料</a><i>|</i>
                        <a target="_blank" href="<?php echo F::getLink('shiti'); ?>" title="试题" rel="nofollow">试题</a><i>|</i>
                        <a target="_blank" href="<?php echo F::getLink('bbs'); ?>" title="社区" rel="nofollow">社区</a><i>|</i>
                        <a target="_blank" href="<?php echo F::getLink('school'); ?>" title="高校库" rel="nofollow">高校库</a><i>|</i>
                        <a target="_blank" href="<?php echo F::getLink('tool'); ?>" title="百宝箱" rel="nofollow">百宝箱</a>
                    </div>
                    <div class="foot-links"><a target="_blank" href="http://www.gaofen.com/page/profile.html" title="高分介绍">高分介绍</a><i>|</i><a target="_blank" href="http://www.gaofen.com/page/services.html" title="机构服务">机构服务</a><i>|</i><a target="_blank" href="http://www.gaofen.com/page/careers.html" title="招贤纳士">招贤纳士</a><i>|</i><a target="_blank" href="http://www.gaofen.com/page/contact.html" title="联系我们">联系我们</a><i>|</i><a target="_blank" href="http://www.gaofen.com/page/sitemap.html" title="网站地图">网站地图</a><i>|</i><a target="_blank" href="http://www.gaofen.com/page/links.html" title="友情链接">友情链接</a><i>|</i><a target="_blank" href="http://www.gaofen.com/page/privacy.html" title="隐私保护">隐私保护</a></div>
                    <div class="copyright">&copy; 2010-<?php F::O(date('Y')); ?> 高分网  <a target="_blank" href="http://www.miibeian.gov.cn/"
                            title="粤ICP备13042184号-1">粤ICP备13042184号-1</a></div>
                    <div class="alarm">
                        <a target="_blank" href="http://210.76.65.188/newwebsite/index.htm" title="广州网络警察报警平台"><img src="<?php echo GAOFEN_STATIC;?>/html/v5/img/police.png" alt="广州网络警察报警平台"></a>
                        <a target="_blank" href="http://210.76.65.188/netalarm/index.jsp" title="不良信息举报中心"><img src="<?php echo GAOFEN_STATIC;?>/html/v5/img/report.png" alt="不良信息举报中心"></a>
                        <div style="width:300px;margin:0 auto;"><a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=44010402000565" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"><img src="http://file.gaofen.com/beian.png" style="float:left;"><p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">粤公网安备 44010402000565号</p></a></div>
                    </div>
                </div>
            </div>
            <a title="返回顶部" href="javascript:void(0);" id="goTop" class="gotop" style='display:none;'>返回顶部</a>
            <a title="对比学校" href="#" class="pk hidden" id="pk"><span class="num hidden"></span></a>

            <?php F::TPL('/common/gtm.html', []) ?>
