<a href="<?php echo F::getLink('main'); ?>" target="_blank" class="link-home">高分网首页</a><i>|</i>
<a href="<?php echo F::getLink('xsc'); ?>" target="_blank">小学</a><i>|</i>
<a href="<?php echo F::getLink('zhongkao'); ?>" target="_blank">初中</a><i>|</i>
<a href="<?php echo F::getLink('gaokao'); ?>" target="_blank">高中</a><i>|</i>
<a href="<?php echo F::getLink('huodong'); ?>" target="_blank">活动</a><i>|</i>
<a href="<?php echo F::getLink('xuexiao'); ?>" target="_blank">学校</a><i>|</i>
<a href="<?php echo F::getLink('ziliao'); ?>" target="_blank">资料</a><i>|</i>
<a href="<?php echo F::getLink('bbs'); ?>" target="_blank">社区</a>