---
page_title: "百科-页面不存在"
category: "default"
body_class: ["wiki-page"]
stylesheets: ["wiki"]
---

//- 模板继承
extends _layout

//- 内容
block content
  .container.page-content
    // Start:页面不存在
    .alert.alert-error
      i.ico
      .info
        h3 抱歉，您所访问的页面不存在
        p
          span.hl 3
          | 秒后，自动跳转到
          a(href="#") 百科首页
    // End:页面不存在