---
page_title: "百科-目录标题详情"
category: "default"
body_class: ["wiki-page"]
stylesheets: ["wiki"]
breadcrumb: ["初中百科", "中考招生"]
---

//- 模板继承
extends _layout

//- 内容
block content
  // Start:面包屑导航
  +breadcrumb({breadcrumb:breadcrumb})
  // End:面包屑导航

  +ad({width:980, ex_class:["mt10"]})

  .container.page-content
    .row.row14-6
      .span14
        // Start: 词条详情
        .content-details
          .entry-body
            h2.entry-tit-1
              span 1. 什么是国防生？
            p= article.content
            p= article.content

          .entry-owner
            | 本文所属词条：
            a(href="entry-details.html", target="_blank") 国防生

          include partials/_entry-contents
        // End: 词条详情
      .span6
        // Start: 挂件：分类导航
        +widget-entry-list({ex_class:"widget-categories mt5", categories:["提前录取", "普通招生", "本地学校"], title:"分类导航"})
        // End: 挂件：分类导航

        // Start: 侧栏广告位
        +ad({ex_class:["mb25"], width:280})
        // End: 侧栏广告位