---
page_title: "百科-首页"
category: "default"
body_class: ["wiki-page index-page"]
stylesheets: ["wiki"]
---

//- 模板继承
extends _layout

//- 导入分类网格
include partials/_category-grid

//- 内容
block content
  .container.page-content
    .row.row14-6
      .span14
        each category, index in ["小学", "初中", "高中"]
          .mod.mod-category
            +heading({classes:"heading heading-wiki", title:category + "百科", more:"更多"})
            +category-grid({count:4})
            include partials/_related-categories
          unless index==2
            +ad({ex_class:["mb25"], width:670})
      .span6
        // Start: 挂件：最新词条
        +widget-entry-list({ex_class:"widget-latest-entry mt5", grades:true})
        // End: 挂件：最新词条

        // Start: 侧栏广告位
        +ad({ex_class:["mb25"], width:280})
        // End: 侧栏广告位

        // Start: 挂件：每周热门词条
        +widget-hot-entries
        // End: 挂件：每周热门词条

        // Start: 侧栏广告位
        +ad({ex_class:["mb25"], width:280})
        // End: 侧栏广告位