---
page_title: "百科-学段首页"
category: "default"
body_class: ["wiki-page primary-page"]
stylesheets: ["wiki"]
---

//- 模板继承
extends _layout

//- 导入分类网格
include partials/_category-grid

//- 内容
block content
  .container.page-content
    .row.row14-6
      .span14
        each category, index in ["提前录取", "普通招生", "本地学习", "报考程序"]
          .mod.mod-category
            +heading({classes:"heading heading-wiki heading-wiki-s2", title:category, more:"更多"})
            +category-grid({count:4})
          if index==1
            +ad({ex_class:["mb40"], width:670})
      .span6
        // Start: 挂件：分类导航
        +widget-entry-list({ex_class:"widget-categories", categories:["提前录取", "普通招生", "本地学校"], title:"分类导航"})
        // End: 挂件：分类导航

        // Start: 侧栏广告位
        +ad({ex_class:["mb25"], width:280})
        // End: 侧栏广告位

        // Start: 挂件：每周热门词条
        +widget-hot-entries
        // End: 挂件：每周热门词条

        // Start: 侧栏广告位
        +ad({ex_class:["mb25"], width:280})
        // End: 侧栏广告位