// 基础设置
@import 'partials/_settings'

// Nib
@import 'nib/positions'
@import 'nib/size'

// 工具
@import "partials/_utilities"

// 重置
@import "partials/_reset"

// 定制
@import "partials/_customize"

// 占位符
@import "partials/_placeholders"

// 助手类
@import "partials/_helpers"

// 布局
@import "partials/_layout"

// 字体
@import "partials/_fonts"

// 动画
@import "partials/_animations"

// 元件: 按钮
@import "partials/components/_button"
// 元件: 链接
@import "partials/components/_link"
// 元件: 列表
@import "partials/components/_list"
// 元件: 下拉选项
@import "partials/components/_options"
// 元件：下拉选择框
@import "partials/components/_filter"
// 元件: 下拉选择框组
@import "partials/components/_filter-group"
// 元件: 标签列表
@import "partials/components/_tag-list"
// 元件: 多彩标签
@import "partials/components/_label"
// 元件: 星星
@import "partials/components/_stars"
// 元件: 广告
@import "partials/components/_ad"
// 元件: 头像
@import "partials/components/_avatar"
// 元件: 分页
@import "partials/components/_pagination"
// 元件: 选项卡
@import "partials/components/_tab"
// 元件：板块
@import "partials/components/_panel"
// 元件: 提示
@import "partials/components/_tips"
// 元件: 图例
@import "partials/components/_legend"
// 元件: Loading
@import "partials/components/_loading"

// 页头
@import "partials/components/_select"
@import "partials/_form"

// 页头
@import "partials/_header"

// 页脚
@import "partials/_footer"

// 主导航
@import "partials/_nav-main"

// 底部导航
@import "partials/_navbar"

// 工具条
@import "partials/_tool-bar"

// 遮罩
@import "partials/_mask"

// 教师列表
@import "partials/_teacher-list"

// 教师详情
@import "partials/_teacher-details"

// 订单
@import "partials/_orders"

// 个人设置
@import "partials/_user-config"

//  课程
@import "partials/_schedule"

// 新课程表
@import "partials/_schedule-teacher"

// 出错页
@import "partials/_error"

//教师反馈页
@import "partials/_teacher-feedback"

// 课堂评价页
@import "partials/_evaluation"

// 学业报告页
@import "partials/_report"

// listView页
@import "partials/_listView"

//dialog
@import "partials/_dialog"

//datepicker
@import "partials/_datepicker"

//teacher-login
//@import "partials/_teacher-login"

//teacher-edit
//@import "partials/_teacher-edit"

// 分享指示
.share-guide
  fixed left top
  size 100%
  background rgba(0, 0, 0, .8) url("../images/bg/guide.png") no-repeat right 1rem
  background-size 27rem 10.35rem
  z-index 10300

