// 基础设置
@import 'partials/_settings'

// Nib
@import 'nib/positions'
@import 'nib/size'

// 工具
@import "partials/_utilities"

// 重置
@import "partials/_reset"

// 定制
@import "partials/_customize"

// 占位符
@import "partials/_placeholders"

// 助手类
@import "partials/_helpers"

// 布局
@import "partials/_layout"

// 字体
@import "partials/_fonts"

// 动画
@import "partials/_animations"

// 元件: 按钮
@import "partials/components/_button"
// 元件: 链接
@import "partials/components/_link"



// 元件: 头像
@import "partials/components/_avatar"
// 元件: 分页
@import "partials/components/_pagination"

// 元件: 提示
@import "partials/components/_tips"

// 元件: Loading
@import "partials/components/_loading"



// 页头
@import "partials/_header-feedback"

// 页脚
@import "partials/_footer"

// 遮罩
@import "partials/_mask"

//teacher-login
@import "partials/_teacher-login"

//teacher-edit
@import "partials/_teacher-edit"

// 学业报告页
@import "partials/_report"

.ui-pagination
  border-top 1px solid #d9d9d9