<!DOCTYPE html>
<html>
  <head>
    <?php F::TPL('common/header.html', get_defined_vars(), 'Teacher'); ?>
  </head>
  <body class="error-page">
    <?php F::TPL('common/nav.html', get_defined_vars(), 'Teacher'); ?>
    <div class="page-content">
      <div class="alert-error">
        <div class="iconfont">&#xe610;</div>
        <p>你访问的页面不存在</p>
        <div class="actions"><a href="<?php echo F::URL('/Teacher/Teacher/list'); ?>" class="btn btn-primary">返回上一页</a>
        </div>
      </div>
    </div>
    <?php F::TPL('common/footer.html', [], 'Teacher'); ?>
  </body>
</html>