<footer class="footer">
  <div class="copyright">牛师帮 版权所有</div>
</footer>
<div class="ui-mask hidden"></div>
<!-- <script type="text/javascript" src="../scripts/vendor/zepto.js"></script> -->
<script type="text/javascript" src="/public/js/teacher.js"></script>
<!-- <script>
  $(function ($) {
    body = $("body")
    mask = $(".ui-mask")
    $("#navToggle").on('click', function(e){
      if(body.hasClass("hide-nav")){
        body.removeClass("hide-nav");
      }
      if(body.hasClass("show-nav")){
        body.addClass("hide-nav");
      }
      $(this).toggleClass("active");
      body.toggleClass("show-nav");
      mask.toggleClass("hidden");
    });
  
    $(".ui-filter").on('click', function(e){
      if(body.hasClass("hide-options")){
        body.removeClass("hide-options");
      }
      if(body.hasClass("show-options")){
        body.addClass("hide-options");
      }
      body.toggleClass("show-options");
      mask.toggleClass("hidden");
    });
  }(Zepto));
</script> -->