---
page_title: "初中库-查看大图页"
category: "library"
body_class: ["details-page", "album-page"]
stylesheets: ["junior"]
breadcrumb: ["首页", "学校信息", "华南师范大学附属中学"]
is_new: false
---

//- 模板继承
extends ../_layout

block header
  // Start: 页头
  +header("junior")
  // End: 页头

//- 内容
block content

  +breadcrumb({breadcrumb:breadcrumb})

  .container.page-content
    .album
      .album-head
        .status 共1213张照片
        h3.name 华南师范大学附属中学
      .album-body
        .origin-pic
          .title 校门
          .pic.show-prev.show-next
            +dummy(600, 450)
            a.prev(href="#", title="上一张") 上一张
            a.next(href="#", title="下一张") 下一张
          .pages
            span 1
            != " / 16"
        .thumbnails
          .pics-container
            ul
              - for(var i=1; i<=6; i++)
                li(class="#{i==1 ? 'active' : ''}")
                  a(href="#")
                    +dummy(120, 90)
                    span 校门
          a.prev(href="#", title="上一张") 上一张
          a.next(href="#", title="下一张") 下一张

