---
page_title: "初中库-学校排行页"
category: "library"
body_class: ["ranking-page"]
stylesheets: ["junior"]
modals:
  -
    type: "comparison-list"
---

//- 模板继承
extends ../_layout

//- 导入高中库侧栏
include partials/_widgets

block header
  // Start: 页头
  +header("junior")
  // End: 页头

//- 内容
block content
  .container.page-content
    .row.row14-6
      .span14
        // Start: 公办学校排行榜
        .mod.mod-ranking
          +heading({title:'<span class="hl">公办学校</span>排行榜<span class="priod">（近7天热度）</span>'})
          include partials/_ranking-list
        // End: 公办学校排行榜

        // Start: 民办学校排行榜
        .mod.mod-ranking
          +heading({title:'<span class="hl">民办学校</span>排行榜<span class="priod">（近7天热度）</span>'})
          include partials/_ranking-list
        // End: 民办学校排行榜

      .span6
        // Start: 挂件：各区公校排行榜
        +widget-ranking
        // End: 挂件：各区公校排行榜


