---
page_title: "初中库-学校简介页"
category: "library"
body_class: ["details-page"]
stylesheets: ["junior"]
breadcrumb: ["首页", "学校信息", "华南师范大学附属中学"]
is_new: false
---

//- 模板继承
extends ../_layout

block header
  // Start: 页头
  +header("junior")
  // End: 页头

//- 内容
block content

  +breadcrumb({breadcrumb:breadcrumb})

  .container.page-content
    .row.row14-6
      .span14
        .school-desc
          // Start: 学校简介
          .sub-mod
            .sub-mod-hd
              .title 学校简介
            .sub-mod-bd
              .text-cont
                p= article.content
                p= article.content
          //End: 学校简介
      .span6
        .widget.widget-box.widget-ranking
          .widget-box-hd
            .title 返回：
            .tags
              each item in ["分数线", "高考成绩", "招生信息", "其他信息", "学校要闻", "资料推荐"]
                a.item(href="#")= item
