---
page_title: "初中库-标签页"
category: "library"
body_class: ["search-page"]
stylesheets: ["junior"]
modals: ["comparison-list"]
is_new: false
---

//- 模板继承
extends ../_layout

//- 导入初中库组件
include partials/_components

//- 导入高中库侧栏
include partials/_widgets

//- 导入学校图文列表项
include ../partials/_school-thumb-info-list-item

block header
  // Start: 页头
  +header("junior")
  // End: 页头

//- 内容
block content
  .container.page-content
    .row.row14-6
      .span14
        .mod-school-list
          +heading({title:"越秀区名校"})
          // Start: 学校列表
          .school-thumb-info-list
            ul
              - for(var i=1; i<=10; i++)
                +school-thumb-info-list-item({comments:true})
            // 查看更多
            .view-more
              a(href="#") 查看更多学校
              .loading-mini
            // Loading
            .view-more.view-loading
              a(href="#") 查看更多学校
              .loading-mini
      .span6
        // Start: 侧栏挂件-相关点评标签
        +widget-comment-tags
        // End: 侧栏挂件-相关点评标签