mixin comparison-header(params)
  - var params = params || {}

  tr.tb-header
    td.first-cell.w100 对比学校
    - for(var i=1; i<=4; i++)
      td(class="#{i==4 ? 'last-cell' : ''}")
        .name-wrap(class="#{i==4 && fixed_comparison ? 'hidden' : ''}")
          if i<4
            span.name
              a(href="#", target="_blank") 广州市天河区华南师范大学附属中学
            span.placeholder
            span.close
        if i==4
          .switcher
            a.trigger(href="#") 添加一所学校
            +dropdown({query:true})
        else
          if params.changeable
            .switcher
              a.trigger(href="#") 换一所学校