mixin school-grid(params)
  - var params = params || {}
  - var school_count = params.count || 10

  .school-grid
    if params.loading
      .loading-mini
    - for(var i=1; i<=school_count; i++)
      .school-grid-item(class="#{i==1 ? 'comparison-added':''}")
        .thumb
          a(href="#", target="_blank")
            +dummy(120, 90)
            span.operations
              i.bg
              span.added 已加入对比
              span.add 加入对比
        .info
          h3
            a(href="#", target="_blank")= article.title
          if stylesheets == "junior"
            if params.special
              p 越秀区，招收体育/艺术/科技特长生
            else
              p 越秀区，中考765.25分
            p
              span 民校排名前三/
              span 海珠区名校/
              span 外语特色教育/
              span 提供住宿
          else
            p
              | 省属示范性高中，省一级
            p
              | 独立批/提前批，面向番禺区招生