//--------------------------------------------------
//- 图片预览
//- 参数:
//-   fixed:      Boolen，是否固定，默认为null
//-   large_pic:  Boolen，是否显示为大图，默认为null
//--------------------------------------------------

mixin picture-previewer(params)
  - var params = params || {}

  .picture-previewer
    #readControl.preview-toolbar(class="#{params.fixed ? 'toolbar-fixed': ''}", style="opacity: 1;")
      .in
        .control
          a#prev.page-prev(href="#", title="上一页") 上一页
          input(type="text", value="1")
          span /41
          a#next.page-next(href="#", title="下一页") 下一页
    .scrollbar
      .track
      .progress(style="width:20%")
      span.drag
        span.tooltip
          | 第1000页
          i.arrow
            i.arrow-border
            i.arrow-body
    .picture-container
      .item.hidden
        if params.large_pic
          +dummy(978, 734)
        else
          +dummy(718, 1015)
        span.loading
      .item
        .pay-tips
          p 免费试读已结束，购买后可继续阅读或下载。
          .actions
            +button({option:"primary", text:"立即购买"})
            span.hl 2元
    a.prev(href="#", title="上一张")
    a.next(href="#", title="下一张")

    //- +preview-toolbar