//--------------------------------------------------
//- 资料预览工具条
//- 参数:
//-   fixed:      Boolen，是否固定，默认为null
//--------------------------------------------------

mixin preview-toolbar(params)
  - var params = params || {}

  #readControl.preview-toolbar(class="#{params.fixed ? 'toolbar-fixed': ''}", style="opacity: 1;")
    .in
      .control
        a#prev.page-prev(href="#", title="上一页") 上一页
        input(type="text", value="1")
        span /41
        a#next.page-next(href="#", title="下一页") 下一页
      .zoom
        a.full-in(href="#") 全屏
        a.full-out(href="#") 退出全屏
      .actions
        +button({text:"立即下载", option:"primary", dimension:"small"})
        span.bubble
          | 注册当天赠
          strong.hl 8
          | 高分币
          i.arrow
            i.arrow-border
            i.arrow-body
      .operation
        a(href="#").add-fav.hidden 收藏
        a(href="#").add-fav.cancel-fav 取消收藏
