//- 挂件：日历
//------------------------------

.widget-calendar
  border 1px solid common-border-color
  padding 16px 20px 15px

  .hd
    font-size 16px
    font-weight bold
    color #4D4D4D
    padding-left 25px
    background url("img/icon_calendar.png") no-repeat 0 2px

    span
      color orange

  .calendar
    position relative
    padding 10px 0
    margin 8px 0 15px
    background #F5F5F5
    border-radius 3px

    .months
      width 228px
      margin 0 auto
      overflow hidden

    ul
      width 912px
      remove-list-style()
      clearfix()

    li
      float left
      width 46px
      margin 0 15px
      border-radius 2px
      text-align center
      color #808080
      cursor pointer

      &:hover
        background-color #E5E5E5

      &.current
        color orange

      &.active
        color #FFF
        background-color orange

    .prev
    .next
      absolute top 7px
      size 24px
      cursor pointer
      background-image url("img/icon_calendar_control.png")
      background-repeat no-repeat

    .prev
      left 7px
      background-position 8px 5px

      &:hover
        background-position 8px -25px

    .next
      right 7px
      background-position 8px -55px

      &:hover
        background-position 8px -85px

  .events
    position relative
    overflow hidden

    .cont
      margin-left -9px
      height 72px
      overflow hidden

    a
    span
      float left
      line-height 14px
      padding-left 8px
      margin 0 0 10px 8px
      border-left 1px solid common-border-color

    a:hover
      color link-color-hover

    .highlight
      font-weight bold
      color #DD0013
