// 挂件：热报课程
// ==================================================

.widget-courses
  padding 10px 20px 15px
  border 1px solid common-border-color

  .heading
    border-bottom-width 1px
    margin-bottom 0

    .title
      inline-block()
      padding-right 30px
      background url("../img/icon_hot.png") no-repeat right 5px

  ul
    remove-list-style()
    clearfix()
    margin-left -10px

  li
    float left
    width 112px
    margin 10px 0 0 10px

    img
      display block
      size 112px 84px

    span
      display block
      line-height 20px
      height 40px
      overflow hidden
      margin-top 5px

