// 挂件：关注高分
// ==================================================

.widget-follow-s2
  border 1px solid common-border-color

  .weixin
    split()
    padding-bottom 1px

    .inner
      clearfix()
      padding 15px 10px 15px 15px

    .qrcode
      float left
      width 100px

      img
        width 100px
        display block

    .info
      margin-left 115px

      p
        margin 0

        span
         color #666
         margin-right 8px

      .tit
        margin-bottom 5px
        font-size 15px
        font-weight bold
        color gray-dark

  .qq-group
  .weibo
    padding 15px

    .tit
      font-size 14px
      color gray-dark
      font-weight bold

  .qq-group
    .tit
      margin-bottom 3px

    .info
      clearfix()

      span
        display block
        line-height 22px

  .weibo
    split(top)

    .tit
      vertical-align middle
      margin-right 10px

    iframe
      vertical-align middle