// 挂件：头条
// ==================================================

.widget-headlines
  padding 10px 20px
  border 1px solid common-border-color

  .heading
    border-bottom-width 1px

    .title
      inline-block()

  .post-list
    font-size 14px

    li
      background none
      padding-left 0
      height 26px
      line-height 26px

    .highlight
      a
        color #D80102
