// 未登录
.head-login.clearfix
  .quick-login
    a.link-qq(href="#", title="用QQ账号登录") 用QQ账号登录
    a.link-weibo(href="#", title="用微博账号登录") 用微博账号登录
  .actions
    a(href="#") 登录
    i |
    a(href="#", target="_blank") 注册

// 已登录
.user-panel.hidden
  a.avatar(href="#", target="_blank")
    +avatar(48)
  .info
    .name 欢迎您，越秀区某街道家长
    ul.operations
      li
        a(href="#", title="会员中心") 会员中心
      li.seperator |
      // 触发样式: drop-on
      li.dropable.news
        a.trigger(href="#", title="动态") 动态
          i.icon
          span.bg
            span.bg-in
        .dropdown
          .dropdown-in
            .news-wrap
              .sec
                .hd 社区消息
                .bd
                  .news-list
                    - var i=2
                    - while(i--)
                      .item
                        != article.title + '..'
                        a(href="#", target="_blank") 点击查看
                      .split-line
                  .more
                    a(href="#", target="_blank")
                      | 查看更多消息
                      i &gt;&gt;
              .sec
                .hd 小升初最新资料
                .bd
                  .data-list
                    - var i=2
                    - while(i--)
                      .item
                        a(href="#", target="_blank")= "《" + article.title + "》"
              .sec
                .hd 小升初活动
                .bd
                  .event-list
                    .item
                      a(href="#", target="_blank", title="#{article.title}")= article.title
                      p
                        | 7月4日
                        i |
                        | 免费
                        i |
                        | 213人已报名
                    .split-line
                  .more
                    a(href="#", target="_blank")
                      | 更多小升初活动
                      i &gt;&gt;
              .sec.tips-null
                p 暂无任何动态

              .sec
                .loading-mini
      li.seperator |
      li.dropable.more.drop-on
        a.trigger.caret(href="#") 更多
          i
          span.bg
            span.bg-in
        .dropdown
          .dropdown-in
            .extra-links
              .inner
                .item
                  a(href="#", target="_blank") 个人设置
                .item
                  a(href="#", target="_blank") 退出