mixin mod-guide(params)
  - var params = params || {}
  - var guide_type = params.type || "小升初"

  .mod-guide.mb20
    .hd
      .tit
        h3
          != guide_type + "升学指南"
      .count-down
        | 距离
        != guide_type
        | ：
        span 123
        | 天
      .notice
        span 公告：
        a(href="#", target="_blank", title="#{article.title}")= article.title
    .bd.clearfix
      .timeline
        .timeline-wrap
          .timeline-list
            - var i = 10
            - while(i--)
              .item(class="#{i==9?'first':''}#{i==8?'active':''}")
                .event
                  | 考前冲刺预测
                  i.caret
                i.dot
                .date 12.28-12.28
                .info
                  a(href="#", target="_blank").tit 高考冲刺技巧及增分策略
                  .desc
                    - var j = 6
                    - while(j--)
                      span
                        a(href="#", target="_blank") [最后冲刺]
        .scrollbar
          a.drag(href="#")
            i.handle
              i.gab
              i.gab
              i

      .focus
        h3 大家在关注
        .tags
          - var i = 10
          - while(i--)
            p
              a(href="#", target="_blank") 最后冲刺