//------------------------------
//- @param Array 导航栏数据，定义在
//-              _data.json中
//------------------------------
mixin navbar(nav_links)
  .navbar.container
    form.form-search.pull-right.form-search-focus
      a.search-btn(href="#", title="搜索") 搜索
      input.search-query(type="text")
    .links.pull-right.clearfix.hidden
      a(href="#", target="_blank") 课外辅导
      a(href="#", target="_blank") 作文大赛
    ul.nav.clearfix
      for link in nav_links
        li(class="nav-#{link.slug}#{link.new ? ' nav-new' : ''}#{link.hot ? ' nav-hot' : ''}")
          a(href="/demos/default/#{link.slug}/", target="_blank", title="#{link.label}")= link.label
            if link.new
              i.icon-new
            if link.hot
              i.icon-hot
