if baidu_share_mini
  script.
    window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"16"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];

if baidu_share_small
  script.
    window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"24"},"share":{},"image":{"viewList":["weixin","tsina","qzone","bdhome"],"viewText":"分享到：","viewSize":"16"},"selectShare":{"bdContainerClass":null,"bdSelectMiniList":["weixin","tsina","qzone","bdhome"]}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];

if baidu_share
  script.
    window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"32"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];

if current.source == 'invite-friends-register'
  script.
    window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"32"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];


if current.source == 'intro-html-preview'
  script.
    with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?cdnversion='+~(-new Date()/36e5)];
  script.
    window._bd_share_config = {
      common : {
        bdText : '自定义分享内容',
        bdDesc : '自定义分享摘要',
        bdUrl : '自定义分享url地址',
        bdPic : '自定义分享图片',
        bdMini: 2,
        bdMiniList:["mshare","qzone","tsina","weixin","renren","tqq"],
        bdPopupOffsetLeft: -174
      },
      share : [{
        "tag" :  "share_1",
        "bdSize" : 24
      },{
        "tag" :  "share_2",
        "bdSize" : 16
      }]
    }

if custom_baidu_share
  script.
    window._bd_share_config = {
      common : {
        bdText : '自定义分享内容',
        bdDesc : '自定义分享摘要',
        bdUrl : '自定义分享url地址',
        bdPic : '自定义分享图片',
        bdMini: 2,
        bdMiniList:["mshare","qzone","tsina","weixin","renren","tqq"],
        bdPopupOffsetLeft: -174
      },
      share : [{
        "bdSize" : 16
      }],
      image : [{
        viewType : 'list',
        viewPos : 'top',
        viewColor : 'black',
        viewSize : '16',
        viewList : ['qzone','tsina','huaban','tqq','renren']
      }],
      selectShare : [{
        "bdselectMiniList" : ['qzone','tqq','kaixin001','bdxc','tqf'],
        'bdContainerClass' : 'bdContainerClass1'
      }]
    }
    with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=86835285.js?cdnversion='+~(-new Date()/36e5)];
