.tag-clouds
  - var i = 2
  - while(i--)
    a(href="#", target="_blank")
      | 小升初
      span
        | 120个话题
        i
    a(href="#", target="_blank")
      | 电脑派位
      span
        | 120个话题
        i
    a(href="#", target="_blank")
      | 小升初择校
      span
        | 120个话题
        i
