//------------------------------
//- 图文列表项
//------------------------------
mixin thumb-info-list-item-s2(params)
  - var params = params || {}
  - var has_thumb = params.thumb === false ? false : true

  .item
    if has_thumb
      +thumb({ribbon:params.ribbon, label_text:params.label_text, label:params.label, width:params.thumb_width, height:params.thumb_height, school_info:params.thumb_school_info})
    .info
      h3
        if params.subject
          a.subject(href="#") 小升初择校
        a.title(href="#", title="#{article.title}")= article.title
      .meta
        span.time 今天 12:02
        i |
        span.author=  article.author
        //- i |
        //- span.stat 123414人浏览
      .details= article.content
      .tags
        span 标签：
        a(href="#", target="_blank") 小升初
        a(href="#", target="_blank") 家长
        a(href="#", target="_blank") 择校


