//------------------------------
//- 图文列表
//------------------------------

//- 导入图文列表项
include _thumb-info-list-item-s2

mixin thumb-info-list-s2(params)
  - var params = params || {}
  - var has_subject = params.label === false ? false : true
  - var count = params.count || 10

  .thumb-info-list-s2
    - for(var i=1; i<=count; i++)
      if i % 4 == 0
        +thumb-info-list-item-s2({subject:params.has_subject, thumb:false})
        unless i == count
          +ad({ex_class:["mt25"], width:620})
      else
        +thumb-info-list-item-s2({subject:params.has_subject})

  // Start: 分页
  +pagination({classes:"page_right", page_title:false})
  // End: 分页
