mixin thumb-info-list-item(params)
  - var params = params || {}

  .item
    +thumb({ribbon:params.ribbon, label_text:params.label_text, label:params.label, width:params.thumb_width, height:params.thumb_height, school_info:params.thumb_school_info})
    .info
      h3.title
        a(href="#", title="#{article.title}")= article.title
      .details
        if params.when
          p
            span 时间：
            | 2月17日 19:00-21:00
        if params.where
          p
            span 地点：
            | 广州市海珠区
        if params.sponsor
          p
            span 主办：
            | 京翰教育
        if params.status
          p
            | 已有<i>23</i>人报名
        if params.school_info
          p
            span 级别：
            | 省一级
          p
            span 类型：
            | 公办公费
        if params.data_info
          p
            span 浏览：
            | 1188
          p
            span 下载：
            | 389
          p
            span 提供：
            | 高分网
        if params.details
          p
            != article.summary
            if params.details_more
              | ...
              a(href="#") [查看详细]
      if params.actions
        .actions
          +button({text:"立即报名", option:"primary", dimension:"small"})
          +button({text:"名额已满", disabled:true})
          +button({text:"报名已截止", disabled:true})


