.topbar
  .container
    // Start:未登录
    .login.hidden
      | 欢迎光临高分网，请
      a(href="#", target="_blank") 登录
      i |
      a(href="#", target="_blank").link-reg 免费注册
    // End:未登录

    // Start:已登录
    .login
      | 欢迎您，
      a(href="#", target="_blank")= article.author
      i |
      a(href="#", target="_blank") 退出
    // End:已登录

    // Start:导航
    .nav-site
      a(href="http://www.gaofen.com/", target="_blank").link-home 高分网首页
      i |
      a(href="http://xsc.gaofen.com/", target="_blank") 小学
      i |
      a(href="http://zhongkao.gaofen.com/", target="_blank") 初中
      i |
      a(href="http://gaokao.gaofen.com/", target="_blank") 高中
      i |
      a(href="http://xuexiao.gaofen.com/", target="_blank") 学校
      i |
      a(href="http://ziliao.gaofen.com", target="_blank") 资料
      i |
      a(href="http://bbs.gaofen.com", target="_blank") 社区
    // End:导航
