<?php if(!empty($actives) && is_array($actives)): ?>
<div class="widget widget-box">
    <div class="widget-box-hd">
        <div class="title">他们也对这所学校感兴趣</div>
    </div>
    <div class="widget-box-bd">
        <div class="list event-list">
            <ul>
                <?php foreach ($actives as $active): ?>
                    <li>
                        <div class="avatar"><img src="<?php echo F::getAvatar($active['uid']); ?>" alt="" />
                        </div>
                        <div class="info">
                            <div class="user"><?php echo $active['username'] ?></div>
                            <?php echo F::activeAction($active['time'], $active['type'], '这间学校') ?>
                        </div>
                    </li>
                <?php endforeach ?>
            </ul>
        </div>
    </div>
</div>
<?php endif; ?>