<div class="widget widget-follow-s2">
<!-- Start: 小升初-->
<div class="weixin">
    <div class="inner">
        <div class="qrcode"><img src="http://file.gaofen.com//html/v6/img/qrcode/weixin_xsc.jpg" alt="高分网小升初微信群">
        </div>
        <div class="info">
            <p class="tit">高分网小升初</p>
            <p>关注【ixiaoshengchu】</p>
            <p>随时把握广州小升初动态</p>
            <p>提供在线答疑、每日一练</p>
        </div>
    </div>
</div>
<div class="qq-group">
    <div class="tit">广州小升初家长QQ群</div>
    <div class="info"><span>2015广州市小升初群：151496916 <a href="http://jq.qq.com/?_wv=1027&amp;k=fT3D0A" target="_blank" class="hl-link">点击加群</a></span><span>2015海珠区小升初群：323577295 <a href="http://jq.qq.com/?_wv=1027&amp;k=ZakVnO" target="_blank" class="hl-link">点击加群</a></span><span>2015越秀区小升初群：147059436 <a href="http://jq.qq.com/?_wv=1027&amp;k=cqVUA9" target="_blank" class="hl-link">点击加群</a></span><span>2015天河区小升初群：165637070 <a href="http://jq.qq.com/?_wv=1027&amp;k=eUmWt9" target="_blank" class="hl-link">点击加群</a></span><span>2015白云区小升初群：171756874 <a href="http://jq.qq.com/?_wv=1027&amp;k=TALkBZ" target="_blank" class="hl-link">点击加群</a></span><span>2015荔湾区小升初群：102217972 <a href="http://jq.qq.com/?_wv=1027&amp;k=b9dH9w" target="_blank" class="hl-link">点击加群</a></span>
    </div>
</div>
<div class="weibo"><span class="tit">高分网小升初微博</span>
    <iframe width="63" height="24" frameborder="0" allowtransparency="true" marginwidth="0" marginheight="0" scrolling="no" border="0" src="http://widget.weibo.com/relationship/followbutton.php?language=zh_cn&amp;width=63&amp;height=24&amp;uid=1760826651&amp;style=1&amp;btn=light&amp;dpc=1" class="addfollow-btn"></iframe>
</div>
<!-- End: 小升初-->
</div>