<div class="widget widget-box widget-query widget-score-query">
    <div class="widget-box-hd">
        <div class="title">历年分数线查询</div>
    </div>
    <?php echo $form->open('form', F::URL('/gz/guide/history'), ['method' => 'GET'], ['target' => '_blank']); ?>
    <div class="widget-box-bd form">
        <div class="form-row">
            <div class="control-label">考试年份：</div>
            <div class="controls">
                <?php echo $form->simulatselect('year', $years, $defaultYear) ?>
            </div>
        </div>
        <div class="form-row">
            <div class="control-label">录取批次：</div>
            <div class="controls">
                <?php echo $form->simulatselect('batch_id', $batch, 2) ?>
            </div>
        </div>
        <div class="form-row">
            <div class="control-label">招生范围：</div>
            <div class="controls">
                <?php echo $form->simulatselect('range_id', ['不限', $admitRange], 0) ?>
            </div>
        </div>
        <div class="actions">
            <label class="btn btn-primary">
                <button >查询</button>
            </label>
        </div>
    </div>
    <?php echo $form->close(); ?>
</div>