<div class="widget widget-box">
    <div class="widget-box-hd">
        <div class="title">热门学校推荐</div>
    </div>
    <div class="widget-box-bd">
        <div class="list school-list">
            <ul>
                <?php if ($school = $hotSchools->shift()): ?>
                    <li class="rec">
                        <div class="picture">
                            <a href="<?php echo F::URL('/gz/school/view', ['id' => $school->id]) ?>" target="_blank" title="<?php F::O($school->name); ?>">
                                <img src="<?php echo $school->cover ?>" alt="" class="no-pic" />
                            </a>
                        </div>
                        <div class="info">
                            <div class="name">
                                <a href="<?php echo F::URL('/gz/school/view', ['id' => $school->id]) ?>" target="_blank" title="<?php F::O($school->name); ?>"><?php F::O($school->name); ?></a>
                            </div>
                            <span class="operations hidden">
                            <?php if ($school->isFollow): ?>
                                    <span>已收藏</span>
                            <?php else: ?>
                                <a href="#" target="_blank" rel="e:fav,id:<?php echo $school->id;?>,cstype:2">收藏</a>
                            <?php endif; ?>
                            </span>
                        </div>
                    </li>
                <?php endif ?>
                <?php foreach ($hotSchools->slice(0, 8) as $school): ?>
                    <li>
                        <span class="name">
                            <a href="<?php echo F::URL('/gz/school/view', ['id' => $school->id]) ?>" title="<?php F::O($school->name); ?>" target="_blank"><?php F::O($school->name); ?></a>
                        </span>

                        <span class="operations hidden">
                            <?php if ($school->isFollow): ?>
                                    <span>已收藏</span>
                            <?php else: ?>
                                <a href="#" target="_blank" rel="e:fav,id:<?php echo $school->id;?>,cstype:2">收藏</a>
                            <?php endif; ?>
                        </span>

                    </li>

                <?php endforeach ?>
            </ul>
        </div>
    </div>
</div>