<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html class="ie6">
<![endif]-->
<!--[if IE 7 ]>
<html class="ie7 gt-ie6">
<![endif]-->
<!--[if IE 8 ]>
<html class="ie8 gt-ie7">
<![endif]-->
<!--[if IE 9 ]>
<html class="ie9 gt-ie8">
<![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="gt-ie9">
<!--<![endif]-->

<head>
    <meta charset="UTF-8">
    <title><?php F::SEO()->echoTitle(); ?></title>
    <meta name="keywords"content="<?php F::SEO()->echoKeyword(); ?>">
    <meta name="Description"content="<?php F::SEO()->echoDesc(); ?>">
    <?php F::TPL('common/header.html', [], 'Gz'); ?>
</head>

<body class="index-page">
    <div id="wrap">
        <?php F::TPL('common/nav.html', [], 'Gz'); ?>
        <div class="container page-content">
            <div class="row row14-6">
                <div class="span14">
                    <!-- Start:广告 670×200 -->
                        <?php AD('gz_index_tgw_a1', '', true, '<div class="picture picture-h200 slider">');?>
                    <!-- End:广告 670×200 -->
                    <!-- Start: 选学校-->
                    <div class="tags-filter">
                        <div class="hd">选学校</div>
                        <div class="bd">
                        <a href="<?php echo F::URL('Gz/school/list',
                        ['district' => 0, 'level' => 0, 'property' => 1, 'batch_id' => 0, 'range_id' => 0, 'cate' => 0]) ?>" target="_blank">省属示范性高中</a>
                        <a href="<?php echo F::URL('Gz/school/list',
                        ['district' => 0, 'level' => 0, 'property' => 2, 'batch_id' => 0, 'range_id' => 0, 'cate' => 0]) ?>" target="_blank">市属示范性高中</a>
                        <a href="<?php echo F::URL('Gz/school/list',
                        ['district' => 0, 'level' => 0, 'property' => 3, 'batch_id' => 0, 'range_id' => 0, 'cate' => 0]) ?>" target="_blank">区属示范性高中</a>
                        <a href="<?php echo F::URL('Gz/school/list',
                        ['district' => 0, 'level' => 0, 'property' => 0, 'batch_id' => 1, 'range_id' => 0, 'cate' => 0]) ?>" target="_blank">独立批</a>
                        <a href="<?php echo F::URL('Gz/school/list',
                        ['district' => 0, 'level' => 0, 'property' => 0, 'batch_id' => 2, 'range_id' => 0, 'cate' => 0]) ?>" target="_blank">提前批</a>
                        <a href="<?php echo F::URL('Gz/school/list',
                        ['district' => 0, 'level' => 0, 'property' => 0, 'batch_id' => 0, 'range_id' => 1, 'cate' => 0]) ?>" target="_blank">面向全市招生</a>
                        <a href="<?php echo F::URL('Gz/school/list',
                        ['district' => 0, 'level' => 0, 'property' => 0, 'batch_id' => 0, 'range_id' => 0, 'cate' => 2]) ?>" target="_blank">民办高中</a>
                        </div>
                    </div>
                    <!-- End: 选学校-->
                    <!-- Start: 广州重点高中-->
                    <div class="mod mod-school">
                        <div class="mod-heading"><a href="<?php echo F::URL('/Gz/school/list') ?>" target="_blank" class="more">更多</a>
                            <div class="mod-title">广州重点高中</div>
                        </div>
                        <div class="mod-body">
                            <div class="school-grid">
                                <?php foreach ($keySchool['list'] as $school): ?>
                                    <?php F::TPL('/school/school_grid.html', compact('school'), 'Gz') ?>
                                <?php endforeach ?>
                            </div>
                        </div>
                    </div>
                    <!-- End: 广州重点高中-->
                    <!-- Start: 各区重点高中-->
                    <div class="mod mod-school">
                        <div class="mod-heading">
                            <div class="mod-title">各区重点高中</div>
                        </div>
                        <div class="mod-body">
                            <!-- Start: 过滤器-->
                            <div class="filter">
                                <div class="filter-cont">
                                    <?php $loopIndex = 0; ?>
                                    <?php foreach ($district as $district_id => $filter): ?>
                                        <?php if ($loopIndex == 0): ?>
                                            <span class="active" rel="e:igrid,id:<?php echo $district_id ?>"><?php F::O($filter) ?></span>
                                        <?php else: ?>
                                            <a href="#" rel="e:igrid,id:<?php echo $district_id ?>"><?php F::O($filter) ?></a>
                                        <?php endif ?>
                                        <?php $loopIndex++ ?>
                                    <?php endforeach ?>
                                </div>
                            </div>
                            <!-- End: 过滤器-->
                            <div class="school-grid" id="school_grid">
                                <?php foreach ($distictSchool as $districtSchools): ?>
                                    <?php foreach ($districtSchools['list'] as $district_id => $school): ?>
                                        <?php F::TPL('/school/school_grid.html', compact('school'), 'Gz') ?>
                                    <?php endforeach ?>
                                <?php endforeach ?>
                            </div>
                        </div>
                    </div>
                    <!-- End: 各区重点高中-->
                    <!-- Start: 特色班推荐-->
                    <div class="mod mod-school">
                        <div class="mod-heading">
                            <div class="mod-title">特色班推荐</div>
                        </div>
                        <div class="mod-body">
                            <div class="class-grid">
                                <?php foreach ($classes as $school): ?>
                                    <div class="class-grid-item">
                                        <div class="thumb">
                                            <a href="<?php echo F::URL('/gz/school/view', ['id' => $school->id]) ?>" target="_blank">
                                                <img src="<?php echo $school->cover ?>" width="148" height="111" alt=""  class="no-pic"/>
                                            </a>
                                        </div>
                                        <div class="info">
                                            <h3><a href="<?php echo F::URL('/gz/school/view', ['id' => $school->id]) ?>" target="_blank"></a><?php echo $school->classes ?></h3>
                                            <p><?php echo $school->name ?></p>
                                        </div>
                                    </div>
                                <?php endforeach ?>
                            </div>
                        </div>
                    </div>
                    <!-- End: 特色班推荐-->
                </div>
                <div class="span6">
                    <?php echo F::TPL('school/chosen_widget.html', compact('form', 'district'), 'Gz') ?>
                    <?php echo F::TPL('school/history_widget.html', compact('form', 'years', 'defaultYear', 'luqu_type', 'batch', 'admitRange'), 'Gz') ?>

                    <!-- Start: 热门学校推荐 -->
                    <?php echo F::TPL('school/hotSchools_widget.html', ['hotSchools'=>$hotSchools['list']], 'Gz') ?>
                    <!-- End: 热门学校推荐 -->

                    <!-- Start: 近期热门讨论 -->
                    <?php F::TPL('school/threads.html', ['threads' => $threads]) ?>
                    <!-- End: 近期热门讨论 -->

                    <!-- Start: 关注高分 -->
                    <?php F::TPL('common/gz_weixin.html', [], 'Gz') ?>
                    <!-- end: 关注高分 -->
                </div>
            </div>
        </div>
        <?php F::TPL('common/footer.html', [], 'Gz'); ?>
        <?php F::TPL('common/footer_script.html', [], 'Gz'); ?>
    </body>
    <script type="text/javascript">
        <?php $params = V('g');unset($params['r']);$params=json_encode($params); ?>
        Gaofen.PD.set({'channel':'xuexiao','action':'index', params : <?php echo $params; ?>});
    </script>

    </html>
