<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html class="ie6">
<![endif]-->
<!--[if IE 7 ]>
<html class="ie7 gt-ie6">
<![endif]-->
<!--[if IE 8 ]>
<html class="ie8 gt-ie7">
<![endif]-->
<!--[if IE 9 ]>
<html class="ie9 gt-ie8">
<![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="gt-ie9">
<!--<![endif]-->

    <head>
        <meta charset="UTF-8">
        <?php $seoParams = array('inputs'=>$inputs, '__callback'=>'schoolListEx'); ?>
        <title><?php F::SEO()->echoTitle($seoParams); ?></title>
        <meta name="keywords"content="<?php F::SEO()->echoKeyword($seoParams); ?>">
        <meta name="Description"content="<?php F::SEO()->echoDesc($seoParams); ?>">
        <?php F::TPL('common/header.html', [], 'Gz'); ?>
    </head>

    <body class="search-page">
        <div id="wrap">
            <?php F::TPL('common/nav.html', [], 'Gz'); ?>
            <div class="container page-content">
            <!-- Start: 过滤器-->

                <div class="filter-group">
                    <?php foreach ($filters as $filter): ?>
                    <div class="filter"><span class="label"><?php F::O($filter['filter_name']); ?>：</span>
                        <div class="filter-cont single-line">
                            <div class="filter-options">
                            <?php echo F::filterUrl($filter['list'], $filter['param_name'], array_column($filters, 'param_name'), '/Gz/school/list') ?>
                            </div>
                            <div class="filter-operations hidden"><a href="#" class="unfold">更多<i class="triangle"></i></a><a href="#" class="fold">收起<i class="triangle"></i></a>
                            </div>
                        </div>
                    </div>
                    <?php endforeach; ?>
                </div>
                <!-- End: 过滤器-->
                <div class="row row14-6">
                    <div class="span14">
                        <?php if ($schools['list']->isEmpty()): ?>
                        <!-- Start: 搜索结果为空-->
                        <div class="alert alert-info alert-single"><i class="ico"></i>
                            <div class="info">
                                <p>暂无学校，换个条件试试？</p>
                            </div>
                        </div>
                        <!-- End: 搜索结果为空-->
                        <?php endif ?>
                        <!-- Start: 学校列表-->
                        <div class="school-thumb-info-list">
                            <ul id="school_list">
                                <?php F::TPL('school/school.html', ['schools' => $schools['list']], 'Gz') ?>
                            </ul>
                            <div class="view-more">
                                <?php if ($schools['total'] > count($schools['list'])): ?>
                                    <a href="#" id="more_btn">查看更多学校</a>
                                <?php endif ?>
                                <div class="loading-mini"></div>
                            </div>
                        </div>
                        <!-- End: 学校列表-->
                    </div>
                    <div class="span6">
                        <!-- Start: 估分选校 -->
                        <?php echo F::TPL('school/chosen_widget.html', compact('form', 'district'), 'Gz') ?>
                        <!-- End: 估分选校 -->

                        <!-- Start: 优秀民校推荐 -->
                        <?php echo F::TPL('school/hotSchools_widget.html', ['hotSchools'=>$hotSchools['list']], 'Gz') ?>
                        <!-- End: 优秀民校推荐 -->
                        <!-- Start: 备考资料推荐 -->
                        <div class="widget">
                            <div class="widget-hd">
                                <div class="title">备考资料推荐</div>
                            </div>
                            <div class="widget-bd">
                                <div class="list data-list">
                                    <?php if(isset($topics['list']) && is_array($topics['list'])): ?>
                                    <ul>
                                        <?php if ($topic = array_shift($topics['list'])): ?>
                                        <li class="rec">
                                            <!-- Start:资料封面图-->
                                            <div class="cover<?php if($topic['docType']==2): ?> cover-pack<?php endif; ?>">
                                                <a href="<?php echo $topic['docInfo']['link'] ?>" title="<?php echo $topic['docInfo']['title'] ?>" target="_blank">
                                                <img src="<?php echo F::imageUrl($topic['docInfo']['cover'], '100_141', '/attachs/'); ?>" alt="<?php echo $topic['docInfo']['title'] ?>" class='no-pic' />
                                                </a><span class="orn"></span>
                                            </div>
                                            <!-- End:资料封面图-->
                                            <div class="info">
                                                <div class="name"><a href="<?php echo $topic['docInfo']['link'] ?>" target="_blank"><?php echo $topic['docInfo']['title'] ?></a>
                                                </div>
                                                <div class="date"><?php echo date('Y-m-d', $topic['docInfo']['dateline']) ?>发布</div>
                                            </div>
                                        </li>
                                        <?php endif ?>
                                        <?php foreach ($topics['list'] as $topic): ?>
                                        <li><span class="name">
                                        <a href="<?php echo $topic['docInfo']['link'] ?>" target="_blank" title="<?php echo $topic['docInfo']['title'] ?>">
                                        <?php echo $topic['docInfo']['title'] ?></a></span>
                                        </li>
                                        <?php endforeach ?>
                                    <?php endif; ?>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- End: 备考资料推荐 -->
                        <!-- Start: 您浏览过的学校 -->
                        <?php F::TPL('school/visited.html', ['visited' => $visited, 'none_compare'=>true], 'Gz') ?>
                        <!-- End: 您浏览过的学校 -->
                    </div>
                </div>
            </div>
            <?php F::TPL('common/footer.html', [], 'Gz'); ?>
        </div>
        <?php F::TPL('common/footer_script.html', [], 'Gz'); ?>
    </body>
    <script type="text/javascript">
    <?php $params = V('g');unset($params['r']);$params=json_encode($params); ?>
        Gaofen.PD.set({'channel':'xuexiao','action':'list', params : <?php echo $params; ?>});
    </script>

</html>