
<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html class="ie6">
<![endif]-->
<!--[if IE 7 ]>
<html class="ie7 gt-ie6">
<![endif]-->
<!--[if IE 8 ]>
<html class="ie8 gt-ie7">
<![endif]-->
<!--[if IE 9 ]>
<html class="ie9 gt-ie8">
<![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="gt-ie9">
<!--<![endif]-->

    <head>
        <meta charset="UTF-8">
        <title><?php echo F::siteTitle(SEO_XCZ_RANK_TITLE, array()); ?></title>
        <?php F::TPL('common/header.html', [], 'Cz'); ?>
    </head>

    <body class="ranking-page">
        <div id="wrap">
            <?php F::TPL('common/nav.html', [], 'Cz'); ?>
            <div class="container page-content">
                <div class="row row14-6">
                    <div class="span14">
                        <!-- Start: 公办学校排行榜-->
                        <div class="mod mod-ranking">
                            <div class="heading">
                                <div class="title"><span class="hl">公办学校</span>排行榜<span class="priod">（近7天热度）</span>
                                </div>
                            </div>
                            <div class="list ranking-list">
                                <ul>
                                    <?php if(!empty($list['gs'][$school_type])): ?>
                                    <?php foreach($list['gs'][$school_type] as $_i=>$_item ): ?>
                                    <?php if($_i>10) break; ?>
                                    <li<?php if($_i<3): ?> class="top"<?php endif; ?> rel="<?php echo $_item['id'];?>"><i class="num"><?php echo $_i+1; ?>.</i><span class="stat"><i class="icon-<?php echo $_item['rank_flag']; ?>"></i></span><span class="operations hidden"><a href="#" rel="e:contrast,n:<?php echo $_item['name'];?>,id:<?php echo $_item['id'];?>,uri:<?php echo F::URL('/Cz/school/view', array('id'=>$_item['id'])); ?> ">加入对比</a></span><span class="tit"><a href="<?php echo F::URL('/Cz/school/view', array('id'=>$_item['id'])); ?>" target="_blank" title="<?php F::O($_item['name']); ?>"><?php F::O($_item['name']); ?></a></span>
                                    </li>
                                    <?php endforeach; ?>
                                    <?php endif; ?>
                                </ul>
                            </div>
                        </div>
                        <!-- End: 公办学校排行榜-->
                        <!-- Start: 民办学校排行榜-->
                        <div class="mod mod-ranking">
                            <div class="heading">
                                <div class="title"><span class="hl">民办学校</span>排行榜<span class="priod">（近7天热度）</span>
                                </div>
                            </div>
                            <div class="list ranking-list">
                                <ul>
                                    <?php if(!empty($list['ps'][$school_type])): ?>
                                    <?php foreach($list['ps'][$school_type] as $_i=>$_item ): ?>
                                    <?php if($_i>10) break; ?>
                                    <li<?php if($_i<3): ?> class="top"<?php endif; ?> rel="<?php echo $_item['id'];?>"><i class="num"><?php echo $_i+1; ?>.</i><span class="stat"><i class="icon-<?php echo $_item['rank_flag']; ?>"></i></span><span class="operations hidden"><a href="#"  rel="e:contrast,n:<?php echo $_item['name'];?>,id:<?php echo $_item['id'];?>,uri:<?php echo F::URL('/Cz/school/view', array('id'=>$_item['id'])); ?>">加入对比</a></span><span class="tit"><a href="<?php echo F::URL('/Cz/school/view', array('id'=>$_item['id'])); ?>" target="_blank" title="<?php F::O($_item['name']); ?>"><?php F::O($_item['name']); ?></a></span>
                                    </li>
                                    <?php endforeach; ?>
                                    <?php endif; ?>
                                </ul>
                            </div>
                        </div>
                        <!-- End: 民办学校排行榜-->
                    </div>
                    <div class="span6">
                        <div class="widget widget-box widget-ranking">
                            <div class="widget-box-hd">
                                <div class="title">各区公校排行榜</div>
                                <div class="tags" id="tags">
                                    <?php foreach($districtList as $_k=>$_name): ?>
                                    <a href="#" class="item<?php if($_k=='3046'): ?> active<?php endif; ?>" rel="<?php F::O($_k); ?>"><?php F::O($_name); ?></a>
                                    <?php endforeach; ?>
                                </div><i class="arrow"><i class="arrow-border"></i><i class="arrow-body"></i></i>
                            </div>
                            <div class="widget-box-bd">
                                <div class="list ranking-list" id="tagLists">
                                    <ul>
                                         <?php if(!empty($list['district'][$school_type])): ?>
                                    <?php foreach($list['district'][$school_type] as $_i=>$_item ): ?>
                                    <?php if($_i>10) break; ?>
                                    <li<?php if($_i<3): ?>  class="top"<?php endif; ?> rel="<?php echo $_item['id'];?>"><i class="num"><?php echo $_i+1; ?>.</i><span class="stat"><i class="icon-<?php echo $_item['rank_flag']; ?>"></i></span><span class="operations hidden"><a href="#"  rel="e:contrast,n:<?php echo $_item['name'];?>,id:<?php echo $_item['id'];?>,uri:<?php echo F::URL('/Cz/school/view', array('id'=>$_item['id'])); ?>">加入对比</a></span><span class="tit"><a href="<?php echo F::URL('/Cz/school/view', array('id'=>$_item['id'])); ?>" target="_blank" title="<?php F::O($_item['name']); ?>"><?php F::O($_item['name']); ?></a></span>
                                    </li>
                                    <?php endforeach; ?>
                                    <?php endif; ?>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <?php F::TPL('common/footer.html', [], 'Cz'); ?>
        </div>
        <?php F::TPL('common/footer_script.html', [], 'Cz'); ?>
        <script type="text/javascript">
            Gaofen.PD.set({'channel':'xuexiao','action':'rank'});
        </script>
    </body>
</html>