<div class="sub-mod">
    <div class="sub-mod-hd">
        <div class="title">经验分享</div>
    </div>
    <div class="sub-mod-bd">
        <div class="comment-list">
            <ul>
                <?php foreach ($tips['list'] as $tip): ?>
                    <li>
                        <div class="user">
                            <div class="avatar"><img src="<?php echo F::imageUrl($tip->avatar) ?>" alt="" />
                            </div>
                            <div class="info">
                                <div class="name"><strong><?php echo $tip->username ?></strong><span><?php echo $tip->period ?></span>
                                </div>
                                <span class="comment-pills"><span class="label">印象：</span>
                                <i class="lq"></i>
                                <?php echo $tip->present()->imperssion() ?>
                                <i class="rq"></i>
                                </span>
                            </div>
                        </div>
                        <div class="comment-cont">
                            <?php echo $tip->present()->content() ?>
                        </div><span class="date"><?php echo $tip->shared_at->toDateString() ?></span>
                    </li>
                <?php endforeach ?>
            </ul>
            <div class="view-more"><a href="#">查看更多经验</a>
            </div>
        </div>
    </div>
</div>