<?php TPL::output('global/gaofen_new/header_meta.tpl.htm'); ?>
<body>
    <div class="wrap treasury-page">
        <div class="header">
            <div class="header-bar clearfix">
                <ul>
                    <li><a href="<?php echo base_url(); ?>" title="首页">首页</a><i>|</i>
                    </li>
                    <li><a href="column/" title="宝库">宝库</a><i>|</i>
                    </li>
                    <li><a href="special/" title="专题">专题</a><i>|</i>
                    </li>
                    <li><a href="explore/" title="问答">问答</a>
                    </li>
                </ul>
                <!-- 用户登录状态-->
                <?php if ($this->user_id) { ?>
                    <div class="fr">
                        <a href="people/<?php echo $this->user_info['url_token']; ?>" title=""><div class="ui-avatar mr5"><img src="<?php echo get_avatar_url($this->user_info['uid'], 'mid'); ?>" alt="<?php echo $this->user_info['user_name']; ?>"></div><span><?php echo $this->user_info['user_name']; ?></span></a>
                        <i>|</i><a href="account/logout/" title="退出" class="btn-reg">退出</a>
                    </div>
                <?php }else{ ?>
                <!-- 用户未登录状态-->
                    <div class="fr">
                        <a href="login/" title="登录" class="btn-login">登录</a><i>|</i>
                        <a href="account/register/" title="注册" class="btn-reg">注册</a>
                    </div>
                <?php } ?>
            </div>
        </div>
        <div class="treasury-top"><img src="<?php echo G_STATIC_URL; ?>/img/gaofen_new/logo-treasury.png" alt="高分家长" class="mt50">
            <div class="container">
                <!-- 一级栏目 -->
                <ul class="clearfix">
                    <?php foreach ($this->column_list as $key => $value) { ?>
                    <li>
                        <?php if(!$_GET['id'] && $this->uri != 'age'){ ?>
                            <?php if($key == 0){ ?>
                                <a href="column/<?php echo $value['id'] ?>" title="" class="active">
                                    <?php echo $value['title'] ?> 
                                </a>
                            <?php }else{ ?>
                                <a href="column/<?php echo $value['id'] ?>" title="">
                                    <?php echo $value['title'] ?> 
                                </a>
                            <?php } ?>
                        <?php }else{ ?>
                        <a href="column/<?php echo $value['id'] ?>" title="" <?php if($_GET['id']==$value['id']){ ?>class="active" <?php } ?>>
                            <?php echo $value['title'] ?>
                        </a>
                        <?php } ?>
                    </li>
                    <?php } ?>
                    <?php if($this->uri == 'age'){ ?>
                    <li><a href="age/" title="" target="" class="active">孩子年龄</a></li>
                    <?php }else{ ?>
                    <li><a href="age/" title="" target="">孩子年龄</a></li>
                    <?php } ?>
                    <li><a href="m/specialist/#!/index/" title="" target="_blank">大咖说</a></li>
                    <li><i>&bull;</i><a href="http://huodong.gaofen.com/" title="" target="_blank">活动福利</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="container pb30">
            <ul class="ui-crumbs clearfix">
                <li><a href="column/" title="">主页</a></li>
                <?php if($this->uri == 'age'){ ?>
                <li>&gt;</li>
                <li>
                    <a href="age/" title="" class="font-blue-dark">孩子年龄</a>
                </li>
                <?php } ?>
                <?php if($_GET['cid']){ ?>
                <li>&gt;</li>
                <li>
                    <?php foreach ($this->age_list as $key => $value) { ?>
                        <?php if($value['id'] == $_GET['cid']){ ?>
                        <a href="" title="" class="font-blue-dark"><?php echo $value['name'] ?></a>
                        <?php } ?>
                    <?php } ?>
                </li>
                <?php } ?>
            </ul>
            <div class="label-group">
                <ul class="clearfix">
                    <?php if (!$_GET['id'] && !$_GET['cid']) { ?>
                    <li class="font-nm">
                        <a href="age/<?php echo $_GET['id'] ?>" title="" class="font-blue-dark active">全部分类</a>
                    </li>
                    <?php }else if(!$_GET['cid']){ ?>
                        <li class="font-nm">
                            <a href="age/" title="" class="font-blue-dark active">全部分类</a>
                        </li>
                    <?php }else{ ?>
                        <li class="font-nm">
                            <a href="age/" title="" class="font-blue-dark">全部分类</a>
                        </li>
                    <?php } ?>
                    <!-- 二级栏目 -->
                    <?php foreach ($this->age_list as $key => $value) { ?>
                    <li class="font-nm">
                        <?php if($_GET['cid'] == $value['id']){ ?>
                            <a href="age/?id=<?php echo $_GET['id'] ?>&cid=<?php echo $value['id'] ?>" title="<?php echo $value['name'] ?>" class="font-blue-dark active"><?php echo $value['name'] ?></a>
                            <div class="label-msg tc"><i class="icon bg-msg-top"></i>
                                <div class="label-msg-content">1性格心理干货知识哦~</div>
                            </div>
                        <?php }else{ ?>
                            <a href="age/?cid=<?php echo $value['id'] ?>" title="<?php echo $value['name'] ?>" class="font-blue-dark"><?php echo $value['name'] ?></a>
                            <div class="label-msg tc"><i class="icon bg-msg-top"></i>
                                <div class="label-msg-content">1性格心理干货知识哦~</div>
                            </div>
                        <?php } ?>
                    </li>
                    <?php } ?>
                </ul>
            </div>
            <!-- 文章列表 -->
            <div class="treasury-group clearfix mt20">
                <?php foreach ($this->article_list_first as $key => $value) { ?>
                <div class="ui-thumbnail"><a href="article/<?php echo $value['id'] ?>" title="" target="_blank" class="img-wrap"><img src="<?php echo $value['article_cover_url_big'] ?>" alt=""/></a>
                    <div class="ui-thumbnail-content"><a href="article/<?php echo $value['id'] ?>" title="" target="_blank" class="thumbnail-title"><?php echo $value['title'] ?></a>
                        <div class="thumbnail-tips mt10"><span><i class="icon icon-fav-grey"></i><?php echo $value['comments'] ?></span><span><i class="icon icon-msg-grey"></i>26</span><span class="fr"><?php echo $value['add_date'] ?></span></div>
                    </div>
                </div>
                <?php } ?>
            </div>
        </div>
        <script src="<?php echo G_STATIC_URL; ?>/js/gaofen_new/jquery.1.8.2.js"></script>
        <script src="<?php echo G_STATIC_URL; ?>/js/gaofen_new/common.js"></script>
<?php TPL::output('global/gaofen_new/footer.tpl.htm'); ?>