.list.ranking-list
  ul
    - for(var i=1; i<=10; i++)
      li(class="#{i<=3 ? 'top' : ''}")
        i.num= i + "."
        span.stat
          case i%3
            when 1
              i.icon-up
            when 2
              i.icon-down
            default
              i.icon-fair
        if i==1
          span.operations
            a(href="#") 加入对比
        else if i==2
          span.operations
            span 已加入对比
        span.tit
          a(href="#", target="_blank", title="#{article.title}") 华南师范大学附属中学初中部