//------------------------------
//- 挂件：民校推荐查询
//------------------------------
mixin widget-school-query
  .widget.widget-box.widget-query.widget-school-query
    .widget-box-hd
      .title
        | 民校推荐
    .widget-box-bd.form
      .form-row
        .control-label 挑选民校时最看重什么因素：
        .controls
          p
            label.checkbox
              input(type="checkbox")
              | 中考成绩好
          p
            label.checkbox
              input(type="checkbox")
              | 学费不要太高
          p
            label.checkbox
              input(type="checkbox")
              | 外语特色教育
          p
            label.checkbox
              input(type="checkbox")
              | 提供住宿
          p
            label.checkbox
              input(type="checkbox")
              | 地点在老三区
      .actions
        +button({text:"查看结果", option:"primary", element:"button"})
        +button({text:"查看结果", disabled:true})

//------------------------------
//- 挂件：特长生招生查询
//------------------------------
mixin widget-recruit-query
  .widget.widget-box.widget-query.widget-recruit-query
    .widget-box-hd
      .title
        | 特长生招生查询
    .widget-box-bd.form
      .form-row
        .control-label 就读区域：
        .controls
          +select({value:"请选择区域", options:{count:5, text:"越秀区"}})
      .form-row
        .control-label 录取批次：
        .controls
          +select({value:"提前批", options:{count:5, text:"艺术特长"}, selected:true})
      .form-row
        .control-label
        .controls
          +select({value:"不限", options:{count:5, text:"舞蹈"}, selected:true})
      .actions
        +button({text:"查询", option:"primary", element:"button"})

//------------------------------
//- 挂件：各区公校排行榜
//------------------------------
mixin widget-ranking
  .widget.widget-box.widget-ranking
    .widget-box-hd
      .title 各区公校排行榜
      .tags
        each item, index in ["越秀", "荔湾", "天河", "海珠", "白云", "黄埔", "番禺", "花都", "南沙", "增城", "从化"]
          a.item(class="#{index==1 ? 'active' : ''}", href="#")= item + "区"
      i.arrow
        i.arrow-border
        i.arrow-body
    .widget-box-bd
      include _ranking-list

//------------------------------
//- 挂件：相关点评标签
//------------------------------
mixin widget-comment-tags
  .widget.widget-comment-tags
    .widget-hd
      .title 相关点评标签
    +comment-pills