
<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <title>
        <?php
        //【广州越秀区民办初中】广州越秀区民办初中有哪些_越秀区民办初中排行榜-高分网初中库
        $_pr = V('g:property');
        $_di = V('g:district');
        if($_pr || $_di) {
            F::O(F::siteTitle(SEO_M_XCZ_INDEX_EX_TITLE, array('property'=>@$filters['property']['list'][$_pr], 'district'=>@$filters['district']['list'][$_di])));
        }elseif(V('g:q')) {
            F::O(F::siteTitle(SEO_M_XCZ_INDEX_SEARCH_TITLE, array()));
        }else{
            F::O(F::siteTitle(SEO_M_XCZ_INDEX_TITLE, array('city'=>str_replace('市', '', CFG::school('location', 'city', V('c:_cty'), 'name')))));
        }
        ?>
        </title>
        <meta name="description" content="中小学教育服务平台">
        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui, maximum-scale=1.0, user-scalable=no">
        <meta http-equiv="cleartype" content="on">
        <meta name="format-detection" content="telephone=no">
        <meta name="msapplication-TileColor" content="#222222">
        <?php F::TPL('common/mobi_style.html', [], 'Czweixin'); ?>
    </head>

    <body class="school-list-page">
            <?php F::TPL('common/mobi_header.html', [], 'Czweixin'); ?>
            <div class="page-content">
                <div class="ui-filter-group" id="searchArea">
                    <div class="iconfont icon-arrow ui-filter">
                        <select name="district">
                            <option value="">全部区域</option>
                            <?php foreach($filters['district']['list'] as $did=>$name): ?>
                                <option value="<?php F::O($did); ?>"<?php if($did==$district): ?> selected<?php endif; ?>><?php F::O($name); ?></option>
                            <?php endforeach; ?>
                        </select>
                    </div>
                    <div class="iconfont icon-arrow ui-filter">
                        <select name="property">
                            <option value="">全部类型</option>
                            <?php foreach($filters['property']['list'] as $pid=>$name): ?>
                                <option value="<?php F::O($pid); ?>"<?php if($pid==$property): ?> selected<?php endif; ?>><?php F::O($name); ?></option>
                            <?php endforeach; ?>
                        </select>
                    </div>
                </div>
                <div class="box mod">
                    <h2 class="mod-hd">
                    <span>
                    <?php 
                        if(empty(V("g:q"))) {
                            if(!empty($district)) {
                                F::O($filters['district']['list'][$district]);
                            }else{
                                 F::O(str_replace('市', '', CFG::school('location', 'city', V('c:_cty'), 'name')));
                            }

                            if(!empty($property)) {
                                F::O($filters['property']['list'][$property]);
                            }else{
                                F::O('全部学校');
                            }
                        }else{
                            F::O("搜索 “".V("g:q")."”");
                        }
                    ?>
                    </span>
                    </h2>
                    <div class="mod-bd">
                        
                            <div class="school-list" id="school_list">
                            <?php if(empty($schools['list'])): ?>
                                <div class="tips-null">暂无学校，换个条件试试？</div>
                            <?php else: ?>
                                <!--Start:学校列表-->
                                <?php F::TPL('school/school.html', ['schools' => $schools['list']], 'Czweixin') ?>
                                <!--End:学校列表-->
                            <?php endif; ?>
                            </div>                    
                        <div class="loading hidden" id="body_loading"><span class="bounce1"></span><span class="bounce2"></span><span class="bounce3"></span></div>
                        <span  class="link-more hidden" id="listMore"><i class="iconfont">&#xe602;</i><span>查看更多学校</span></span>                   
                    </div>
                </div>
            </div>
            <?php F::TPL('common/mobi_footer.html', [], 'Czweixin'); ?>

        <script type="text/javascript">
            Gaofen.PD.set({
                'channel' : 'list',
                'total' : '<?php F::O($schools['total']); ?>',
            });
        </script>        
    </body>
</html>