<?php foreach($schools as $school): ?>
    <a href="<?php echo F::URL('/Czweixin/school/view', ['id' => $school->id]) ?>" class="school-list-item">
        <div class="thumb"><img class="no-pic" src="<?php echo $school->cover ?>" alt="" />
        </div>
        <div class="info">
            <h3><?php echo $school->name ?></h3>
            <div class="metas"><?php if($school->sub_name): ?><span>简称<?php F::O($school->sub_name); ?></span><?php endif; ?><span><?php if($school->cate!=2): ?>公办<?php else: ?>民办<?php endif; ?>学校</span><span><?php F::O($school->city_name.$school->district_name); ?></span>
            </div>
            <div class="comment-pills"><?php echo $school->present()->tags('weixin') ?></div>
        </div>
    </a>
<?php endforeach; ?>
