//图标
// =======================

@import "../_sprite"

.icon
  display inline-block

sprites($spritesheet_sprites)


.ui-share
  .icon
  span
    vertical-align middle
  .btn-weibo
  .btn-qq
  .btn-wechat
    display block
    width 50px
    padding 4px 0 6px 0
    margin 5px
    border-radius 4px
    text-align center
    &:active
      box-shadow inset 0 .2rem .3rem rgba(0, 0, 0, .3)
      
.icon-404
  size 200px 251px
  background url("../../img/404.png") no-repeat center 0