// label
// =================
.ui-label
  font-style normal
  color #ffffff
  padding 3px 10px
  vertical-align middle
  white-space nowrap
  display inline-block
  font-size 12px
  span
    display inline-block
    margin-left 10px
    padding-left 8px
    border-left 1px solid rgba(255,255,255,.4)
    line-height 1.2

.label-orange
  background-color #fca82f
.label-red
  background-color #cb6363
.label-blue
  background-color #5eaeeb
.label-green
  background-color #10e2bb
.label-white
  background-color #ffffff
  color #000000



// tab选项卡
// =================
.ui-tab
  display flex
  border-bottom .01rem solid #dddddd
  .tab
    flex 1
    text-align center
    padding-top .1rem
    span
      display inline-block
      font-size .16rem
      margin-bottom -.01rem
    &.active
      span
        color #fd8f7b
        border-bottom .02rem solid #fd8f7b

    .dot
      display inline-block
      size .05rem
      background-color #ff704c
      vertical-align super
      border-radius 100%