// label
// =================
.ui-label
  font-style normal
  color #ffffff
  padding 3px 10px
  vertical-align middle
  white-space nowrap
  display inline-block
  font-size 12px
  i
  span
    vertical-align middle
    margin 0 2px

.label-orange
  background-color #fca82f
.label-red
  background-color #cb6363
.label-blue
  background-color #48bccb
.label-green
  background-color #10e2bb
.label-white
  background-color #ffffff
  color #000000
.label-grey
  color grey
  border 1px solid #e6e6e6
  border-radius 4px
  padding 2px 10px


// tab选项卡
// =================
.ui-tab
  height 32px
  border-top 2px solid #48bccb
  font-size 16px
  background-color #e9f3f8
  li
    float left
  .tab
    display inline-block
    padding 0 28px
    line-height 32px
    &.active
      color #48bccb
      background-color #ffffff
      line-height 39px
      border 1px solid #e6e6e6
      border-top 4px solid #48bccb
      border-radius 0 0 4px 4px
      transform translate(0, -5px)
    .dot
      display inline-block
      size .05rem
      background-color #48bccb
      vertical-align super
      border-radius 100%