// 全局通用样式
// =====================================================
html,
body
  height 100%
  width 100%

.gf-wrap
  position relative
  margin 0 auto
  min-height 100%
  background-color #f1f1f1
  background url('../../img/bg-body.png') repeat 0 0

.gf-header
  height 90px
  background-color #4abfce
  border-bottom 3px solid #d8d8d8
  color #ffffff
  min-width 1100px

.gf-main
  padding-bottom 200px

.gf-footer
  size 100% footer-height
  background-color #474443
  color #ffffff
  absolute left bottom
  min-width 1100px

.container
  width 1100px
  margin auto
  position relative
  //overflow-x hidden

.row
  margin-right -20px