// 遮罩
// ------------------------------
.ui-mask
  fixed left top
  size 100%
  background rgba(0, 0, 0, .6)
  z-index 99

.mask-wrap
  fixed left 50% top 50%
  width 260px
  padding 30px
  background-color #ffffff
  border-radius 6px 0 6px 6px
  border 6px solid rgba(0, 0, 0, .4)
  transform translate(-50%,-50%)
  z-index 109
  color #939393
  font-size 14px

  .right-erweima
    margin-top -20px
    background-color #ffffff
  .btn-close
    size 34px
    background-color #989898
    absolute right -40px top -6px
    border-radius 0 6px 6px 0
    .icon
      margin-top 8px

.mask-header
  line-height 38px
  font-size 18px

.mask-content
  p
    margin 0
  ol
    list-style-position inside
.mask-footer
  text-align center
.mask-content-top
  position relative
  height 30px
  margin-top 10px
  .mask-title
    display inline-block
    color #48bccb
    font-size 22px
    padding 0 10px
    background-color #ffffff
    absolute left 50% top
    transform translate(-50%,-50%)
.dividing-line
  width 105px
  height 2px
  border-top 1px solid #e6e6e6
  border-bottom 1px solid #e6e6e6
  position absolute
  top 0
.al0
  left 0
.ar0
  right 0

.ui-task
  display inline-block
  fixed left 50% top 120px
  transform translate(-50%,-40%)
  font-size 14px
  animation taskIn .5s ease-in-out
  min-width 120px
  text-align center

  .ui-task-tips
    padding 10px 20px
    border-radius 4px
    color #fff
