// 遮罩
// ------------------------------
.ui-mask
  fixed left top
  size 100%
  background rgba(0, 0, 0, .6)
  z-index 99

.mask-wrap
  fixed left 50% top 50%
  width 260px
  padding 30px
  background-color #ffffff
  border-radius 6px 0 6px 6px
  border 6px solid rgba(0, 0, 0, .4)
  transform translate(-50%,-50%)
  z-index 109
  color #939393
  font-size 14px
  text-align center
  .right-erweima
    margin-top -20px
    background-color #ffffff
  .btn-close
    size 34px
    background-color #989898
    absolute right -40px top -6px
    border-radius 0 6px 6px 0
    .icon
      margin-top 8px

.mask-header
  line-height 38px
  font-size 18px

.mask-content
  p
    margin 0
  ol
    list-style-position inside
.mask-footer
  text-align center
.mask-content-top
  position relative
  height 30px
  margin-top 10px
  .mask-title
    display inline-block
    color #48bccb
    font-size 22px
    padding 0 10px
    background-color #ffffff
    absolute left 50% top
    transform translate(-50%,-50%)
.dividing-line
  width 105px
  height 2px
  border-top 1px solid #e6e6e6
  border-bottom 1px solid #e6e6e6
  position absolute
  top 0
.al0
  left 0
.ar0
  right 0

.ui-task
  display inline-block
  fixed left 50% top 120px
  transform translate(-50%,-40%)
  font-size 14px
  animation taskIn .5s ease-in-out
  min-width 120px
  text-align center

  .ui-task-tips
    padding 10px 20px
    border-radius 4px
    color #fff
.mask-wrap-lg
  width 840px
  .btn-submit
    color #ffffff
  .dividing-line
    width 360px
  .set-container
    position relative
  .arrow-left
    absolute left top 50%
    transform translate(0,-50%)
  .arrow-right
    absolute right top 50%
    transform translate(0,-50%)
  .identity
    li
      display inline-block
      margin 50px 17px
      a
        display block
        size 180px
        position relative
        border-radius 50%
        background-color #cecece
        border 8px solid #ffffff
        &:hover
          background-color #badadf

          for item in teacher student parent
            .icon-setting-{item}
              @extend .icon-setting-{item}-active

      .icon
        absolute left 50% bottom 23px
        transform translate(-50%,0)

      &.active
        a
          background-color #badadf
          border 8px solid #d4ebef
  .grade
    padding-top 40px
    padding-bottom 10px
    li
      display inline-block
      vertical-align top
      margin 0 20px
    dl
      width 160px
    dt
      height 46px
      position relative
      background-color #cecece
      border-radius 10px 10px 0 0
      margin-bottom 10px
      p
        line-height 46px
        font-size 20px
        color #000000
      .fl
        size 64px
        border-radius 50%
        background-color #ffffff
        border 3px solid #cecece
        margin-top -23px
        position relative
        .icon
          absolute left 50% bottom
          transform translate(-50%,0)

    .border-bottom-2
      absolute left bottom
    dd
      border 1px solid #cecece
      margin-bottom 5px
      border-radius 4px
      line-height 38px
      a
        display block
        color #000
        font-size 14px
        &:hover
          color #48bccb
      &.active
        border-color #48bccb
        background-color #48bccb
        a
          color #fff
    dl:hover
      dt
        background-color #badadf
        .fl
          border-color #badadf
        for item in child primary middle high
          .icon-set-{item}
            @extend .icon-set-{item}-active


for item in teacher student parent
  .active
    .icon-setting-{item}
      @extend .icon-setting-{item}-active


.setting-step
  text-align center
  span
    display inline-block
    size 40px 8px
    border-radius 4px
    background-color #e2e2e2
    margin 0 5px
    &.active
      background-color #48bccb