.page-right
  width 57px
  fixed right 50% bottom 280px
  margin-right -635px
  z-index 9
  a
    relative right top
    display block
    size 50px
    border 1px solid #e6e6e6
    border-radius 4px
    background-color #ffffff
    text-align center
    &:hover
      background-color #48bccb
      border-color #48bccb
      .right-top
        @extend .right-top-hover
      .right-erweima
        @extend .right-erweima-hover
  .btn-top
    absolute right top
  .btn-erweima
    absolute right top 57px
    .erweima-wrap
      width 150px
      padding 0 25px
      absolute right 56px bottom -1px
      background-color #48bccb
      border-radius 4px 4px 0 4px
      display none
    &:hover
      padding-left 5px
      border-radius 0 4px 4px 0
      .erweima-wrap
        display block