---
page_title: "课程报名成功邮件"
---

doctype html
html
  head
    meta(charset="UTF-8")
    title 课程报名成功邮件
  body
    table(style="font-family:Arial,Tahoma,Helvetica;font-size:12px;color:#4a4a4a;", cellspacing="0", cellpadding="0", border="0", width="600", align="center")
      tbody
        tr
          td(height="20")
        tr
          td(style="font-size:14px; line-height:20px") xxx，你好
        tr
          td(height="20")
        tr
          td(style="font-size:14px; line-height:20px") 感谢您通过高分网报名课程，您的课程详情如下：
        tr
          td(height="20")
        tr
          td(bgcolor="#F2F2F2")
            table(style="font-family:Arial,Tahoma,Helvetica;font-size:14px;color:#4a4a4a;", cellspacing="0", cellpadding="0", border="0", width="600", align="center")
              tbody
                tr
                  td(width="20", height="15")
                  td(height="10")
                  td(width="20", height="15")
                tr
                  td(width="20")
                  td
                    p 课程名称：语文阅读与写作
                    p 学生姓名：河利利
                    p 联系电话：13800138000
                    p 上课地点：海珠区江南西校区
                  td(width="20")
                tr
                  td(width="20", height="15")
                  td(height="10")
                  td(width="20", height="15")
        tr
          td(height="20")
        tr
          td(style="font-size:14px; line-height:20px") 我们会尽快与您联系确认，请保持手机畅通。
        tr
          td(height="40")
        tr
          td(height="1", bgcolor="#999")
        tr
          td(height="10")
        tr
          td(style="font-size:13px;")
            | 高分网&nbsp;
            a(href="http://www.gaofen.com/", style="color:#0c67aa;") www.gaofen.com
