---
page_title: "广州站-课程频道-列表页"
category: "default"
body_class: ["course-page", "list-page"]
stylesheets: ["course"]
breadcrumb: ["首页", "课程", "作文"]
---

//- 模板继承
extends ../../_layout

//- 导入课程列表
include partials/_course-list

//- 内容
block content
  // Start: 主导航
  +navbar(default_nav_links)
  // End: 主导航

  // Start: 面包屑导航
  +breadcrumb({breadcrumb:breadcrumb})
  // End: 面包屑导航

  .container.page-content
    .row.row5-15
      .span5
        .nav-aside-s2
          .hd
            h3 作文
          .bd
            - var i = 4
            - while(i--)
              a(href="#", class="#{i == 3 ? 'active' : ''}") 分类名称
      .span15
        .mod.mod-course-list
          +heading({classes:["heading", "heading-tabs", "heading-dropable"], title:"学科辅导", tabs:[{label:"最新", url:"#", active:true}, {label:"最热", url:"#"}], dropdowns:[{label:"年级", options:["一年级", "二年级"]}, {label:"区域", options:["越秀区", "天河区", "海珠区"], active:true}]})
          .filter-s2
            span
              | 六年级
              i.close
            span
              | 越秀区
              i.close
          .course-list
            +course-list({count:15})
          +pagination({classes:"page_right"})