---
page_title: "邀请用户评价课程邮件"
---

//- 导入全站公用元件
include ../../partials/_components

doctype html
html
  head
    meta(charset="UTF-8")
    title 邀请用户评价课程邮件
  body
    table(style="font-family:Arial,Tahoma,Helvetica;font-size:12px;color:#4a4a4a;", cellspacing="0", cellpadding="0", border="0", width="600", align="center")
      tbody
        tr
          td(height="20")
        tr
          td(style="font-size:14px; line-height:20px") xxx，你好
        tr
          td(height="20")
        tr
          td(style="font-size:14px; line-height:20px") 感谢您通过高分网报名课程，在此邀请您对参与的课程进行评价，您的评价将有助于我们改善课程质量，将服务做的更好。
        tr
          td(height="20")
        tr
          td
            table(cellspacing="0", cellpadding="0", border="0", width="600", align="center")
              tbody
                tr
                  td(width="150", valign="top")
                    a(href="#", target="_blank")
                      +dummy(150, 100)
                  td(width="20")
                  td(valign="top")
                    table(style="font-family:Arial,Tahoma,Helvetica;font-size:12px;color:#4a4a4a;", cellspacing="0", cellpadding="0", border="0", width="100%")
                      tr
                        td(style="font-size:14px; font-weight:bold; line-height:20px;")
                          a(href="#", target="_blank", style="color:#3A3A3A; text-decoration:none;") 语文阅读与写作
                      tr
                        td(height="5")
                      tr
                        td
                          p(style="line-height:19px;")
                            | 卓越教育--岗顶校区
                            br
                            | 上课时间：2014-08-28
                      tr
                        td(height="5")
                      tr
                        td
                          table(style="font-family:Arial,Tahoma,Helvetica;font-size:12px;color:#4a4a4a;", cellspacing="0", cellpadding="0", border="0", width="100%")
                            tr
                              td(width="120", height="32", bgcolor="#F86F01", align="center")
                                a(href="#", target="_blank", style="color:#FFF; text-decoration:none;") 发表我的评价&gt;&gt;
                              td(width="20")
                              td(style="color:#999;")
                                | 已有21人发表评价
        tr
          td(height="40")
        tr
          td(height="1", bgcolor="#999")
        tr
          td(height="10")
        tr
          td(style="font-size:13px;line-height:20px;")
            | 更多实用资讯、优惠信息尽在高分网&nbsp;(
            a(href="http://www.gaofen.com/", style="color:#0c67aa;") www.gaofen.com
            | )
            br
            | 关注高分网微信号：xxxxxx，与117万本地家长共享教育资源
