<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>
        <?php if(schoolType()->isXSC()): ?>
        <?php echo F::siteTitle(SEO_M_XSC_INDEX) ?>
        <?php elseif(schoolType()->isZhongkao()): ?>
        <?php echo F::siteTitle(SEO_M_ZHONGKAO_INDEX) ?>
        <?php elseif(schoolType()->isGaokao()): ?>
        <?php echo F::siteTitle(SEO_M_GAOKAO_INDEX) ?>
        <?php endif; ?>
    </title>
    <meta name="keyword" content="">
    <meta name="description" content="">
    <meta name="HandheldFriendly" content="true">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, minimal-ui, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="cleartype" content="on">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-TileColor" content="#222222">
    <?php F::TPL('mobile/style.html',[],'cp') ?>
    <script type="text/javascript">
        var dataLayer = [{}];
        dataLayer[0]['xueduan'] = "<?php echo schoolType()->toAlias()?>";
    </script>
</head>
<body>
<?php F::TPL('common/mobile/navigation.html', ['backwardLink' => $backwardLink, 'title' => '首页']) ?>
<div class="page-content">
    <?php F::TPL('common/mobile/ad.html', ['ad' => 'channel_index_tgw_wap_a1']) ?>
    <div class="box mod">
        <h2 class="mod-hd">
            <a href="<?php echo F::URL('/cp/mobile/list', ['school_type' => schoolType()->toValue()]) ?>"
               class="iconfont icon-arrow-rounded ui-link">
                <?php echo schoolType()->toFormatName('', '资讯') ?>
            </a>
        </h2>

        <!-- 小升初资讯 -->
        <div class="ui-list">
            <?php foreach($posts as $post): ?>
            <a href="<?php echo F::URL('/cp/mobile/view', ['id' => $post->id]) ?>" class="ui-list-item">
                <?php echo $post->post_title ?>
            </a>
            <?php endforeach?>
        </div>

    </div>
    <div class="box mod">
        <h2 class="mod-hd">
            <a href="<?php echo F::URL('mobi:/jiangzuo', array('school_type'=>schoolType()->toValue())) ?>" class="iconfont icon-arrow-rounded ui-link">
                <?php echo schoolType()->toFormatName('', '活动') ?>
            </a>
        </h2>
        <?php F::TPL('/mobile/huodong_list.html', ['huodongs' => $huodongs['list']], 'cp') ?>
    </div>

    <?php if(schoolType()->isXSC()): ?>
    <div class="box mod">
        <h2 class="mod-hd">
            <a href="<?php echo F::URL('/czweixin/School/index') ?>" class="iconfont icon-arrow-rounded ui-link">
                <?php echo schoolType()->setIndex('schools')->toFormatName('广州', '库') ?>
            </a>
        </h2>
        <ul class="tag-list">
            <?php foreach ($schools as $id => $school):?>
            <li>
                <a href="<?php echo F::URL('czweixin:/czweixin/school/view', ['id' => $school->id]) ?>">
                    <?php echo $school->name ?>
                </a>
            </li>
            <?php endforeach ?>
        </ul>
    </div>
    <?php endif ?>

    <div class="box mod">
        <h2 class="mod-hd">
            <a href="<?php echo F::URL('baike_m:/entrymobile/index' , [], ['school' => schoolType()->toAlias()]) ?>"
               class="iconfont icon-arrow-rounded ui-link">
                <?php echo schoolType()-> setIndex('school_types')->toFormatName('', '百科') ?>
            </a>
        </h2>
        <ul class="tag-list">
            <?php foreach ($baikeCateories as $category):?>
            <li>
                <a href="<?php echo F::URL('baike_m:/entrymobile/list', [], ['cid' => $category->id]) ?>">
                    <?php echo $category->name ?>
                </a>
            </li>
            <?php endforeach ?>
        </ul>
    </div>
</div>
<?php F::TPL('common/mobile/footer.html', ['ad' => 'channel_index_tgw_wap_a2']) ?>
</body>
</html>
