<?php if($paginator->getTotal() > 1): ?>
<div class="ui-pagination">
    <?php $disabled = $paginator->hasPreviousPage() ? '' : 'disabled';
    $link = $paginator->hasPreviousPage() ? F::URL('/cp/mobile/list', ['school_type' => $schoolType->toValue(), 'page' =>
    $paginator->getPreviousPage()]) : '#';
    ?>
    <a href="<?php echo $link ?>" class="ui-pagination-prev <?php echo $disabled ?>">上一页</a>

    <?php $disabled = $paginator->hasNextPage() ? '' : 'disabled';
    $link = $paginator->hasNextPage() ? F::URL('/cp/mobile/list', ['school_type' => $schoolType->toValue(), 'page' =>
    $paginator->getNextPage()]) : '#';
    ?>
    <a href="<?php echo $link ?>" class="ui-pagination-next <?php echo $disabled ?>">下一页</a>
</div>
<?php endif ?>
