mixin class-grid(params)
  - var params = params || {}
  - var class_count = params.count || 8

  .class-grid
    - for(var i=1; i<=class_count; i++)
      .class-grid-item
        .thumb
          a(href="#", target="_blank")
            +dummy(120, 90)
        .info
          h3
            a(href="#", target="_blank")= article.title
          p
            | 广雅中学