<?php TPL::output('global/gaofen_new/header.tpl.htm'); ?>

    <div class="banner-wrap">
        <div class="container clearfix">
            <div class="center-slide fl">
                <div class="slide-wrap">
                    <div class="slide-container clearfix">
                        <!-- 轮播 -->
                        <ul id="centerSlide">
                            <?php foreach ($this->loop_list as $key => $value) { ?>
                                <?php if($key < 4){ ?>
                                <li>
                                    <a href="<?php echo $value['link'] ?>" title="" target="_blank">
                                        <img src="<?php echo $value['loop_cover_url'] ?>">
                                        <p><?php echo $value['title'] ?></p>
                                    </a>
                                </li>
                                <?php } ?>
                            <?php } ?>
                        </ul>
                    </div>
                    <div class="index-btn"><span class="active"></span></div>
                </div>
                <div class="slide-btn"><a href="javascript: void(0);" class="btn-left"></a><a href="javascript: void(0);" class="btn-right"></a></div>
            </div>
            <!-- 超级话题 -->
            <div class="article-bibei">
                <div class="banner-article-title"><img src="<?php echo G_STATIC_URL; ?>/img/gaofen_new/title-banner-1.png" alt=""></div>
                <div class="banner-article-img">
                    <a href="<?php echo $this->s_topic_info['link'] ?>"><img src="<?php echo $this->s_topic_info['loop_cover_url'] ?>" alt=""></a>
                </div>
                <div class="banner-article-p">
                    <a href="<?php echo $this->s_topic_info['link'] ?>" title="" target="_blank">
                        <?php echo $this->s_topic_info['title'] ?>
                    </a>
                </div>
            </div>
            <div class="article-daka">
                <div class="banner-article-title">
                    <a href="http://t.gaofen.com/m/specialist/#!/index/" target="_blank" title="大咖说">
                        <img src="<?php echo G_STATIC_URL; ?>/img/gaofen_new/title-banner-2.png" alt="">
                    </a>
                </div>
                <div class="banner-article-img"><img src="<?php echo $this->specialist_topic_list[0]['topic_cover_url_big'] ?>" alt=""></div>
                <div class="banner-article-p">
                    <?php foreach ($this->specialist_topic_list as $key => $value) { ?>
                        <?php if($key <= 1){ ?>
                            <div class="article-p-1 borer-b-banner"><a href="m/specialist/#!/detail?tid=<?php echo $value['topic_id'] ?>" title="" target="_blank"><?php echo $value['topic_name'] ?></a></div>
                        <?php } elseif ($key > 1 && $key <=2) { ?>
                            <div class="article-p-2"><a href="m/specialist/#!/detail?tid=<?php echo $value['topic_id'] ?>" title="" target="_blank"><?php echo $value['topic_name'] ?></a></div>
                    <?php }} ?>
                </div>
            </div>
        </div>
    </div>
    <div class="container pb30">
        <div class="index-ad clearfix">
            <?php foreach ($this->activity_list as $key => $value) { ?>
                <a href="<?php echo $value['link'] ?>" title="<?php echo $value['title'] ?>" target="_blank"><img src="<?php echo $value['activity_cover_url'] ?>" alt=""></a>
            <?php } ?>
        </div>
        <div class="index-treasury">
            <div class="treasury-tab">
                <ul class="clearfix">
                    <li class="active"><a href="javascript: void(0);" title="">精选</a><i>|</i></li>
                    <!-- 栏目标题 -->
                    <?php $i=0; ?>
                    <?php foreach ($this->column_article_list as $key => $value) { ?>
                    <?php $i++; ?>
                    <li>
                        <a href="javascript: void(0);" title=""><?php echo $key ?></a>
                        <?php if($i != (count($this->column_article_list))){ ?>
                        <i>|</i>
                        <?php } ?>
                    </li>
                    <?php } ?>
                </ul>
            </div>
            <div class="thumbanil thumbanil-h592">
                <!-- qq栏目 -->
                <div class="qq-thumbnail">
                    <div class="img-wrap"><img src="<?php echo G_STATIC_URL; ?>/img/gaofen_new/title-index-add-q.png" alt=""/></div>
                    <?php foreach ($this->qq_group as $key => $value) { ?>
                    <div class="qq-item clearfix">
                        <div class="ui-avatar fl"><img src="<?php echo G_STATIC_URL; ?>/img/gaofen_new/avatar.jpg" alt=""/></div>
                        <div class="qq-item-content">
                            <p><?php echo $value['name'] ?></p><a href="<?php echo $value['link'] ?>" title="加入Q群" class="font-blue" target="_blank">+加入Q群</a>
                        </div>
                    </div>
                    <?php } ?>
                </div>
                
                <!-- 精选文章 -->
                <div class="thumbanil-wrap clearfix">
                    <div class="thumbanil-container clearfix">
                        <?php  foreach ($this->article_list_sort as $key => $value) { ?>
                            <?php if ($key<=2) { ?>
                            <div class="ui-thumbnail"><a href="article/<?php echo $value['id'] ?>" title="" target="_blank" class="img-wrap"><img src="<?php echo $value['article_cover_url_big'] ?>" alt=""/></a>
                                <div class="ui-thumbnail-content"><a href="/article/<?php echo $value['id'] ?>" title="" target="_blank" class="thumbnail-title"><?php echo $value['title'] ?></a>
                                    <div class="thumbnail-tips mt10"><span><i class="icon icon-fav-grey"></i><?php echo $value['fav_num'] ?></span><span><i class="icon icon-msg-grey"></i></i><?php echo $value['comments'] ?></span><span class="fr"><?php echo $value['add_date']; ?></span></div>
                                </div>
                            </div>
                            <?php } ?>
                        <?php } ?>
                        <?php if($value){ ?>
                        <div class="ui-thumbnail">
                            <a href="article.html" title="" target="_blank" class="img-wrap"><img src="<?php echo G_STATIC_URL; ?>/img/gaofen_new/block-img/block-img-2.jpg" alt=""/></a>
                            <div class="ui-thumbnail-content"><a href="article.html" title="" target="_blank" class="thumbnail-title">悄悄的我走了正如我悄悄的来我挥一挥衣袖不带走一片云彩</a>
                                <div class="thumbnail-tips mt10"><span><i class="icon icon-fav-grey"></i>11</span><span><i class="icon icon-msg-grey"></i>26</span><span class="fr">8分钟前</span></div>
                            </div>
                        </div>
                        <?php } ?>
                        <?php  foreach ($this->article_list_sort as $key => $value) { ?>
                            <?php if ($key>2 && $key<=6) { ?>
                            <div class="ui-thumbnail"><a href="article/<?php echo $value['id'] ?>" title="" target="_blank" class="img-wrap"><img src="<?php echo $value['article_cover_url_big'] ?>" alt=""/></a>
                                <div class="ui-thumbnail-content"><a href="/article/<?php echo $value['id'] ?>" title="" target="_blank" class="thumbnail-title"><?php echo $value['title'] ?></a>
                                    <div class="thumbnail-tips mt10"><span><i class="icon icon-fav-grey"></i><?php echo $value['fav_num'] ?></span><span><i class="icon icon-msg-grey"></i></i><?php echo $value['comments'] ?></span><span class="fr"><?php echo $value['add_date']; ?></span></div>
                                </div>
                            </div>
                            <?php } ?>
                        <?php } ?>
                    </div>
                    
                    <!-- 栏目文章 -->
                    <?php foreach ($this->column_article_list as $key => $value) { ?>
                    <div class="thumbanil-container clearfix">
                        <?php foreach ($value as $k => $val) { ?>
                            <?php if($k<=2){ ?>
                            <div class="ui-thumbnail"><a href="article/<?php echo $val['id'] ?>" title="" target="_blank" class="img-wrap"><img src="<?php echo $val['article_cover_url_big'] ?>" alt=""/></a>
                                <div class="ui-thumbnail-content"><a href="/article/<?php echo $val['id'] ?>" title="" target="_blank" class="thumbnail-title"><?php echo $val['title'] ?></a>
                                    <div class="thumbnail-tips mt10"><span><i class="icon icon-fav-grey"></i><?php echo $val['fav_num'] ?></span><span><i class="icon icon-msg-grey"></i></i><?php echo $val['comments'] ?></span><span class="fr"><?php echo $val['add_date']; ?></span></div>
                                </div>
                            </div>
                            <?php } ?>
                        <?php } ?>

                        <div class="ui-thumbnail"><a href="article.html" title="" target="_blank" class="img-wrap"><img src="<?php echo G_STATIC_URL; ?>/img/gaofen_new/block-img/block-img-2.jpg" alt=""/></a>
                            <div class="ui-thumbnail-content"><a href="article.html" title="" target="_blank" class="thumbnail-title">悄悄的我走了正如我悄悄的来我挥一挥衣袖不带走一片云彩</a>
                                <div class="thumbnail-tips mt10"><span><i class="icon icon-fav-grey"></i>11</span><span><i class="icon icon-msg-grey"></i>26</span><span class="fr">8分钟前</span></div>
                            </div>
                        </div>
                   
                        <?php foreach ($value as $k => $val) { ?>
                            <?php if($k>2 && $k<=6){ ?>
                            <div class="ui-thumbnail"><a href="article/<?php echo $val['id'] ?>" title="" target="_blank" class="img-wrap"><img src="<?php echo $val['article_cover_url_big'] ?>" alt=""/></a>
                                <div class="ui-thumbnail-content"><a href="/article/<?php echo $val['id'] ?>" title="" target="_blank" class="thumbnail-title"><?php echo $val['title'] ?></a>
                                    <div class="thumbnail-tips mt10"><span><i class="icon icon-fav-grey"></i><?php echo $val['fav_num'] ?></span><span><i class="icon icon-msg-grey"></i></i><?php echo $val['comments'] ?></span><span class="fr"><?php echo $val['add_date']; ?></span></div>
                                </div>
                            </div>
                            <?php } ?>
                        <?php } ?>
                    </div>
                    <?php } ?>
                </div>
            </div><a id="btn-more-treasury" href="feature_article/" title="查看更多" class="btn btn-blue-reverse mt20" target="_blank">查看更多</a>
        </div>
        <div class="index-question mt80">
            <div class="special-tab clearfix"><img src="<?php echo G_STATIC_URL; ?>/img/gaofen_new/title-index-q.png" alt=""><a href="question/" title="查看全部问题" target="_blank" class="fr mt10">查看全部问题 &gt;</a></div>
            <div class="question-container clearfix mt10">
                <!-- 热门问题 -->
                <div class="question-left fl">
                    <ul>
                        <?php foreach ($this->question_list_hot as $value) { ?>
                        <li>
                            <i class="icon icon-question fl"></i>
                            <a href="question/<?php echo $value['question_id'] ?>" title="" target="_blank" class="fr">
                                <i class="icon icon-msg-grey"></i>
                                <span class="font-md font-grey ml5"><?php echo $value['answer_count'] ?></span>
                            </a>
                            <a href="question/<?php echo $value['question_id'] ?>" title="" target="_blank">
                                <p><?php echo $value['question_content'] ?></p>
                            </a>
                        </li>
                        <?php } ?>
                    </ul>
                </div>
                <!-- 人工推荐问题 -->
                <div class="question-right fr">
                    <div class="question-slide">
                        <div class="slide-wrap">
                            <div class="slide-container clearfix">
                                <ul id="questionSlide">
                                    <?php foreach ($this->question_list_sort as $value) { ?>
                                    <li><a href="question/<?php echo $value['question_id'] ?>" title="" target="_blank">
                                            <img src="<?php echo $value['question_cover_url_big'] ?>">
                                            <p><?php echo $value['question_content'] ?></p>
                                        </a>
                                    </li>
                                    <?php } ?>
                                </ul>
                            </div>
                            <div class="index-btn"><span class="active"></span></div>
                        </div>
                        <div class="slide-btn"><a href="javascript: void(0);" class="btn-left"></a><a href="javascript: void(0);" class="btn-right"></a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="index-treasury mt80">
            <div class="special-tab clearfix"><img src="<?php echo G_STATIC_URL; ?>/img/gaofen_new/title-index-special.png" alt="" class="fl">
                <ul class="clearfix mt5">
                    <li class="active"><a href="javascript: void(0);" title="">编辑推荐</a><i class="ml20">|</i></li>
                    <li><a href="javascript: void(0);" title="">最受欢迎</a></li>
                </ul><a href="special/" title="查看全部专题" target="_blank" class="fr mt10">查看全部专题 &gt;</a>
            </div>
            <div class="thumbanil thumbanil-h520">
                <div class="thumbanil-wrap clearfix">
                    <!-- 最新专题 -->
                    <div class="thumbanil-container clearfix">
                        <?php foreach ($this->special_list_new as $value) { ?>
                        <div class="ui-thumbnail ui-thumbnail-special"><a href="special/detail/<?php echo $value['id'] ?>?type=new" title="" target="_blank" class="img-wrap"><img src="<?php echo $value['special_cover_url_big'] ?>" alt="" style="height:156px;with:260px;"/></a>
                            <div class="ui-thumbnail-content special-thumbnail-content"><a href="special/detail/<?php echo $value['id'] ?>?type=new" title="" target="_blank" class="thumbnail-title"><?php echo $value['special_title'] ?></a>
                                <div class="thumbnail-tips mt5">共<?php echo $value['article_num'] ?>篇内容</div>
                            </div>
                        </div>
                        <?php } ?>
                    </div>
                    <!-- 热门专题 -->
                    <div class="thumbanil-container clearfix">
                        <?php foreach ($this->special_list_hot as $value) { ?>
                        <div class="ui-thumbnail ui-thumbnail-special"><a href="special/detail/<?php echo $value['id'] ?>?type=hot" title="" target="_blank" class="img-wrap"><img src="<?php echo $value['special_cover_url_big'] ?>" alt="" style="height:156px;with:260px;"/></a>
                            <div class="ui-thumbnail-content special-thumbnail-content"><a href="special/detail/<?php echo $value['id'] ?>?type=hot" title="" target="_blank" class="thumbnail-title"><?php echo $value['special_title'] ?></a>
                                <div class="thumbnail-tips mt5">共<?php echo $value['article_num'] ?>篇内容</div>
                            </div>
                        </div>
                        <?php } ?>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-right" style="height:59px">
        <!-- <a href="javascript: void(0);" class="btn-sign"><i class="icon icon-sign"></i>
            <p>签到</p></a> -->
        <a href="javascript: void(0);" class="btn-top"><i class="icon icon-top"></i>
            <p>返回</p></a>
    </div>
    <?php if(!$this->user_id){ ?>
    <!-- 底部条-->
    <div class="index-bottom-bar">
        <div class="container"><img src="<?php echo G_STATIC_URL; ?>/img/gaofen_new/p-bar.png" alt="" class="mt15"><a href="javascript: void(0);" class="btn-bar-close fr mt30"><i class="icon icon-close"></i></a>
            <div class="btn-group mt10"><a href="login/" title="" class="btn btn-wechat"><i class="icon icon-wechat"></i><span>微信</span></a>
            <!-- <a href="login/" title="" class="btn btn-weibo"><i class="icon icon-weibo"></i><span>新浪</span></a> -->
            <a href="login/" title="" class="btn btn-qq"><i class="icon icon-qq"></i><span>QQ</span></a><a href="login/" title="" class="btn btn-orange ml10 mr5"><span>登录</span></a><a href="account/register/" title="" class="btn btn-blue"><span>注册</span></a></div>
        </div>
    </div>
    <?php } ?>
    <script src="<?php echo G_STATIC_URL; ?>/js/gaofen_new/jquery.1.8.2.js"></script>
    <script src="<?php echo G_STATIC_URL; ?>/js/gaofen_new/swipePC.js"></script>
    <script src="<?php echo G_STATIC_URL; ?>/js/gaofen_new/common.js"></script>
    <script>
        var bannerSwipe = new swipePC('#centerSlide', {
            "size": 1
        });
        var questionSwipe = new swipePC('#questionSlide', {
            "size": 1
        });
        $(".btn-top").click(function(){
            $("html,body").animate({scrollTop: 0},"slow");
        });
        $(window).scroll(function () {
            $('.index-bottom-bar').show();
        });
        $('.btn-bar-close').on('click', function () {
            $('.index-bottom-bar').remove();
        });
        // treasurySlide()文章和专题左右切换
        function treasurySlide(){
            var thumWraps = $('.thumbanil-wrap');
            thumWraps.each(function (index, thumWrap) {
                var tContainer = $(thumWrap).find('.thumbanil-container'),
                    lng = tContainer.length,
                    tWidth = tContainer.width();
                $(thumWrap).width(tWidth * lng);
            });
        
            $('.index-treasury li').click(function () {
                $(this).addClass('active').siblings('.active').removeClass('active');
                var idx = $(this).index();
                var wrap = $(this).parent().parent().next().children();
                var cWidth = $('.thumbanil-container').width();
        
                wrap.css("left", - idx * cWidth);
        
                if(idx !== 0){
                    $('#btn-more-treasury').attr('href','column/');
                }else{
                    $('#btn-more-treasury').attr('href','feature_article/');
                }
            });
        }
        treasurySlide()
    </script>
<?php TPL::output('global/gaofen_new/footer.tpl.htm'); ?>
