// 页脚样式
// ==================================================

.gf-footer
  a
    color #ffffff
  .foot-logo
    width 420px
    font-size 14px
    p
      line-height 1.8
  .foot-links
    margin-bottom 5px
    *
      vertical-align middle
    i
      margin 0 15px
    .foot-download
      span
      a
        display inline-block
        vertical-align middle
        margin-left 10px
        color #cccccc
