// 底部导航条样式
// =====================
.nav-menu
  width: 100%;
  height: nav-height;
  background-color: nav-bg-color;
  position: fixed;
  bottom: 0;
  border-top: 2px solid nav-border-color;
  z-index: 999;
  overflow hidden
  a
    display: block;
    flex: 1;
    color: nav-a-color;
    text-align: center;
    border: 1px solid nav-border-color;
    margin-left: -1px;
    font-size: 24px;
    line-height: 28px;
    font-style:normal;
    -webkit-text-stroke-width: 0px!important;
    p
      font-size: 12px;
      line-height: 14px;
      -webkit-font-smoothing: antialiased;
      -webkit-text-stroke-width: 0.2px;
      -moz-osx-font-smoothing: grayscale;
    .icon
      vertical-align middle
      //background-size 80%
    span
      vertical-align middle

  .icon-index
    background-size 20%


.index{
  .nav-menu{
    .icon-home{
      color: nav-aCurrent-color !important;
    }
  }
}
.list{
  .nav-menu{
    .icon-statistics{
      color: nav-aCurrent-color !important;
    }
  }
}
.record{
  .nav-menu{
    .icon-record{
      color: nav-aCurrent-color !important;
    }
  }
}
.rule{
  .nav-menu{
    .icon-rule{
      color: nav-aCurrent-color !important;
    }
  }
}