// 基础设置
@import 'partials/backend/_settings'

// Nib
@import 'nib'

// 工具
@import "partials/_utilities"

// 重置
// @import "partials/_reset"

// 定制
@import "partials/backend/_customize"

// 占位符
@import "partials/_placeholders"

// 助手类
@import "partials/_helpers"

// 组件
ul.dropdown-menu.with-arrow
  &:before
    absolute left 15px top -15px
    content ""
    triangle #D3D3D3 15px up

  &:after
    absolute left 15px top -14px
    content ""
    triangle #FFF 15px up

// loading
.loading
  font-size 24px
  color gray


// 布局
.page-container
  width 1140px
  margin 0 auto

.navbar-brand
  i
    margin-right 5px

.main-content
  background #FFF
  // min-height 600px
  // margin-bottom 20px

// 首页
// ------------------------------
.form-grid
  a
    display block
    size 100%
    border-radius 4px
    transition .3s
    box-shadow 0 1px 3px rgba(90, 90, 90, .3)
    font-size 16px

  .form-grid-item
    position relative
    height 220px
    margin-bottom 30px

    .cover-shadows
      absolute right 0 top 0
      size 100%

      &:before
        absolute left 9px top 5px
        size 100% 210px
        content " "
        background #FFF
        border-radius 4px
        transition .3s
        box-shadow 0 1px 3px rgba(90, 90, 90, .3)

      &:after
        absolute left 4px top 2px
        size 100% 216px
        content " "
        background #FFF
        border-radius 4px
        transition .3s
        box-shadow 0 1px 3px rgba(90, 90, 90, .3)

    .cover
      absolute left top
      size 100%
      background #659199
      padding 10px
      color #FFF
      border-radius 4px
      transition .3s

    .count
      absolute left 10px bottom 10px
      font-size 14px
      color #FFF
      opacity .5

      i
        margin-right 3px

    a
      background #659199

      &:hover
        text-decoration none
        box-shadow 0 1px 10px rgba(90, 90, 90, .3)

        .cover-shadows
          &:before
            left 15px
            box-shadow 0 1px 10px rgba(90, 90, 90, .4)

          &:after
            box-shadow 0 1px 10px rgba(90, 90, 90, .4)
            transform rotate(5deg)
            transform-origin left bottom

        .cover
          box-shadow 0 1px 10px rgba(90, 90, 90, .3)
          transform skewy(-2deg) scalex(.95)
          transform-origin left top

  .create-new
    height 220px

    a
      background #FFF
      text-align center
      color orange
      font-size 18px

      span
        display block

      &:hover
        text-decoration none
        box-shadow 0 1px 10px rgba(90, 90, 90, .3)

    i
      font-size 50px
      line-height 64px
      margin-top 60px


// 创建表单
// ------------------------------
.form-nav
  width 1140px
  margin 0 auto
  background #FFF
  border-radius 8px 8px 0 0
  border-bottom 1px solid #E9E9E9
  padding 15px 20px

  .title
    font-size 24px

    i
      margin-right 10px

  .share
    float right
    margin-top 2px

    .input-sm
      width 250px
      display inline

    .open-link
      display inline-block
      font-size 20px
      line-height 30px
      margin-left 10px
      vertical-align middle

// 表单
@import "partials/_form-entry"

.form-design
  position relative
  margin 0 auto
  background #F9F9F9
  clearfix()

  .entry
    .field
      margin-bottom 10px
      padding-right 20px

    .form-header
      .field
        border-bottom 1px solid #E9E9E9

      .editing
        .form-name
          margin-bottom 10px

    .form-group
      margin-left 20px

    .control-label
      font-weight normal

    .form-control[disabled]
      cursor pointer
      background #FFF

  .form-preview
    position relative
    width 776px
    padding-bottom 80px
    background #FFF
    border-right 1px solid #E9E9E9

    .form-actions
      absolute bottom
      size 775px 80px
      padding-top 17px
      @extend $striped-background
      background-size 20px 20px
      background-color rgba(0, 0, 0, .2)
      text-align center

      &.fixed
        position fixed

  .sidebar
    absolute right top
    width 364px
    z-index 10

  .entry
    .field
      border 1px solid #FFF
      cursor pointer

      &:hover
        border-color editing-background

        .sort-handler
          display inline

      &.editing
        border-color editing-background
        background form-field-editing-background
        z-index 1

        .actions
          display inline

.guide-box
  border 2px dashed #DDD

.optional-field-types
  padding-top 10px
  min-height 57px

  .field-type
    float left
    size 170px 36px
    border 1px solid #FFF
    padding 0 10px
    line-height 36px
    margin 0 0 10px 10px
    background #EEE
    cursor pointer
    font-size 14px

    i
      margin-right 5px

    &:hover
      border-color #DDD

    .fa-number
      &:before
        content '123'
        font-size 10px
        letter-spacing -2px

  .hl-field-type
    background #AEE6FF
    border-color #AEE6FF

  .hl-field-type:hover
    border-color #6DC8F1

.add-field
  margin 20px

  .toggle
    padding 20px
    text-align center
    cursor pointer
    font-size 18px
    color gray

    i
      color orange
      margin-right 5px

    &:hover
      background #F9F9F9
      transition .3s

  .optional-field-types
    display none


.show-optional-fields
  .toggle
    display none

  .optional-field-types
    display block

// 表单项编辑框
.edit-box-arrow
  absolute left -15px top

  i
    font-size 48px
    color editing-background
    text-shadow -2px 0 3px rgba(0, 0, 0, .15)

.edit-box
  background editing-background
  box-shadow 0 2px 6px #C3C3C3
  margin-bottom 20px

  .edit-box-hd
    border-top 2px solid #BEE5FC
    background #94D5FC
    font-size 16px
    color #FFF
    height 40px
    line-height 38px
    padding-left 10px

    i
      margin-right 5px

  .edit-box-bd
    padding 10px

  .control-label
    font-size 14px
    font-weight normal

  .help-block
    font-size 12px

  .checkbox
  .radio
    font-size 12px

    a
      margin-left 8px

    input[type=radio]
    input[type=checkbox]
      margin-top 2px

    .help-block
      color gray-dark
      padding-left 20px

    .input-inline
      display inline

    .input-xs
      height 24px
      padding 1px 5px

    &:hover
      & > .sort-handler
        display inline

  .has-form-control
    input[type=radio]
    input[type=checkbox]
      margin-top 5px

  .choices
    input[type=radio]
    input[type=checkbox]
      margin-top 8px

    label
      display block
      margin-right 70px

    .sort-handler
      absolute right top 3px
      margin-left 8px
      cursor move
      color gray
      display none
      font-size 18px

    .actions
      absolute right 24px top 3px
      font-size 18px

  .multiple-choices
    .radio
      padding-left 20px

      .toggle
        absolute left top 5px
        size 20px
        line-height 20px
        text-align center
        font-size 14px
        color gray
        cursor pointer

        .fa-plus-square-o
          display none

      .choices
        margin-top 5px

      &.fold
        .toggle
          .fa-plus-square-o
            display inline

          .fa-minus-square-o
            display none

  .extra-actions
    font-size 12px
    margin 5px 0 0 20px

    a
      margin-right 8px

      &:hover
        text-decoration none

      & + a
        &:before
          margin-right 8px
          content "|"
          color gray

  .form-group
    .checkbox:first-child
    .radio:first-child
      margin-top 0

    .checkbox:last-child
    .radio:last-child
      margin-bottom 0

  hr
    margin 10px 0
    border-top-color #C3C3C3

// 编辑表单
// ------------------------------
.sub-nav
  @extend $striped-background
  background-size 8px 8px
  background-color #E3E3E3
  padding-left 10px

  a
    display inline-block
    padding 10px 30px
    color gray-dark
    transition .3s

    &:hover
      text-decoration none
      background rgba(255, 255, 255, .5)

sub-nav = dashboard edit public data report
for nav in sub-nav
  .{nav}-page
    .sub-nav
      .nav-{nav}
        background #FFF

// 表单概览
// ------------------------------
.form-dashboard
  padding 20px

  .summary-info
    span
      margin-right 10px

      i
        margin-right 3px

      & + span
        &:before
          content "|"
          color gray-lighter
          margin-right 10px

// 编辑表单
// ------------------------------
.form-preview-fullscreen
  fixed left top
  size 100%
  overflow auto
  background #F8F8F8
  z-index 1000
  display none

  .page-container
    max-width 700px

  .zoom-out
    absolute right 20px top 5px
    size 40px
    font-size 28px
    line-height 40px
    text-align center
    color gray

    &:hover
      color blue

  .navbar
    background #FFF
    box-shadow 0 1px 3px rgba(0, 0, 0, .05)

    .nav
      margin-left 270px
      font-size 16px

  .preview-content
    padding-top 80px

// 网页模式预览
.preview-in-web
  @extend $form-view

// 手机模式预览
.mobile-container
  background url("../images/bg/iphone5s.png") no-repeat
  background-size 382px 800px
  size 382px 800px
  position relative
  margin 0 auto

  .mobile-preview
    size 321px 568px
    margin-top 114px
    margin-left 32px

.fullscreen
  overflow hidden

  .form-preview-fullscreen
    display block

// 发布表单
// ------------------------------

// 表单数据
// ------------------------------
.form-data
  font-size 12px
  background #FFF
  position relative
  padding-bottom 37px

  tbody
    tr
      cursor pointer

  th
    div
      padding-right 15px

    &.sort
    &.sort-asc
    &.sort-desc
      cursor pointer

      div
        position relative

        &:after
          absolute right bottom
          font-family fontawesome
          line-height 20px
          color gray-lighter

      &:hover
        color orange

        div
          &:after
            color orange

    &.sort
      div
        &:after
          content "\f0dc"

    &.sort-desc
      div
        &:after
          content "\f0dd"
          color #333

    &.sort-asc
      div
        &:after
          content "\f0de"
          color #333

  .toggle-fullscreen
    .fa-compress
      display none

  .toolbar
    border 1px solid #DDD
    border-width 0 1px
    background #F1F1F1

    & > ul
      reset-list()
      clearfix()

      & > li
        float left
        border-right 1px solid #DDD
        line-height 36px
        position relative

        .operation
        span
          display inline-block
          padding 0 12px 0 15px

        .operation
          color gray-dark
          transition .3s

          i
            margin-right 3px
            font-size 14px

          &:hover
            text-decoration none
            background #ECF9FF

        .hl
          margin 0 3px

        .btn
          margin-left 5px

        &.pull-right
          border-right none
          border-left 1px solid #DDD

      .filter-column
        .dropdown-menu
          display block

        li
          a
            position relative
            padding-left 30px

            i
              display none
              absolute left 10px top 5px
              color blue

            &:hover
              background blue
              color #FFF

              i
                color #FFF

          &.checked
            a
              i
                display inline

  .table
    margin 0
    border-width 1px 0

    th:first
    td:first
      border-left-width 0

  .form-pagination
    padding 20px
    border 1px solid #DDD
    border-width 0 1px 1px
    text-align center

    .pagination
      margin 0

  .toolbar-bottom
    border-width 0 1px 1px
    absolute bottom
    width 1140px
    z-index 1020

    li
      .fa-trash-o
        font-size 14px
        color red
        margin-right 3px

    &.fixed
      position fixed
      bottom 0

.form-data-fullscreen
  absolute left top
  z-index 1200
  width 100%

  .toolbar-bottom
    width 100%

  .toggle-fullscreen
    .fa-expand
      display none

    .fa-compress
      display inline


// 表单报表
// ------------------------------


// 浮层
// ------------------------------
.modal
  display block
  background rgba(0, 0, 0, .75)

// 数据详情浮层
.modal-data
  .modal-dialog
    width 960px

  .modal-content
    border-radius 0

  .modal-body
    background #FAFAFA
    padding 0

  .entry-info-container
    float right
    width 31%
    padding 20px
    font-size 12px

    .entry-print
      i
        margin-right 3px
        font-size 14px

  .entry-info
    margin-top 5px
    color gray-dark

    dl
      margin-bottom 20px

    dt
      font-weight normal
      float left
      width 100px
      overflow hidden

    dd
      margin-left 100px

  .entry-show
    margin-right 32%
    padding 20px 20px
    min-height 360px
    background #FFF
    font-size 12px
    border-right 1px solid #E5E5E5
    position relative

    .loading
      absolute left 50% top 50%
      text-align center
      margin-top -16px

  .form-content
    max-height 500px
    overflow auto

    dt
      font-weight normal
      margin-bottom 5px

    dd
      border 1px solid #DDD
      background #FAFAFA
      padding 5px 10px
      font-size 14px
      min-height 33px
      margin-bottom 15px

      ul
        margin-bottom 0

  .actions
    padding-top 10px

    .pagination
      margin 0

    .pages
      margin-right 10px
      line-height 30px
      color gray

    .btn-sm
      padding 5px 30px
      margin-right 10px

// 提示
// ------------------------------
.alert-fixed-top
  fixed left top
  width 100%
  z-index 10000
  text-align center

  .fa
    font-size 18px
    margin-right 5px
