@import "bootstrap/variables"

$brand-danger = #D9534F

@import "bootstrap/mixins"
@import "partials/bootstrap/_utilities"

// 基础设置
@import 'partials/default/_settings'
// Nib
@import 'nib'

// 工具
@import "partials/_utilities"

// 重置
// @import "partials/_reset"
@import "partials/bootstrap/_normalize"

// 定制
@import "partials/bootstrap/_scaffolding"
@import "partials/default/_customize"

// 占位符
@import "partials/_placeholders"

// 助手类
@import "partials/_helpers"

// bootstrap表单
@import "partials/bootstrap/_forms"
@import "partials/bootstrap/_buttons"

// bootstrap下拉
@import "partials/bootstrap/_dropdowns"

// 表单
@import "partials/_form-entry"

// 布局
.wrap
  padding-top 30px

// 标题
h1
  font-family $headings-font-family
  font-weight $headings-font-weight
  line-height $headings-line-height
  color $headings-color

// 保持与网页模式预览一致
.form
  @extend $form-view

// 提交成功提示
.msg-success
  background #FFF
  max-width 400px
  padding 60px
  margin 0 auto 40px
  box-shadow 0 0 3px #999
  border-top 4px solid #5CB85C

  h3
    margin 0 0 10px
    font-weight normal
    font-size 20px
    color #5CB85C

  p
    margin 0
    padding-top 10px
    border-top 1px dashed #DDD
    color #8A8A8A