// 底部广告
.ad-bottom
.picture-bottom
  fixed right 10px bottom 10px
  size 210px 160px
  background url(http://file.gaofen.com/html/v5/css/img/ad_bottom.png)
  z-index 20000
  if support-for-ie
    _position absolute
    _bottom auto
    _top unquote("expression(documentElement.scrollTop + documentElement.clientHeight - this.clientHeight - 10)")

  a
    display block
    height 100%

  .close
    size 17px
    right 5px
    top 5px
    background-position -16px -176px

    &:hover
      background-position -16px -176px
      background-color #FFF
