// 页面底部广告
// ==================================================

.picture-footer
  position fixed
  left 0
  bottom 0
  size 100% 140px
  z-index 10000

  if support-for-ie
    _position absolute
    _bottom auto
    _top unquote("expression(documentElement.scrollTop + documentElement.clientHeight - this.clientHeight)")

  img
    display block

  .bg
    absolute left top
    size 100%
    background #B20000
    opacity .75
    z-index -1

  .close
    absolute right 50px top 25px
    size 30px
    background url("../img/login_bar_close.png") no-repeat

    &:hover
      background-position 0 -50px

