// 对联广告
.ad-couplet
.picture-couplet
  absolute top 90px
  size 85px 310px
  background url(../img/ad_couplet.png) no-repeat -40px 0
  z-index 10000

.picture-couplet-s2
  absolute top 142px
  size 100px 300px
  border-bottom 3px solid #F2F2F2
  z-index 1000

  img
    display block
    max-width none
    border 1px solid #E0E0E0

.ad-couplet-left
.picture-couplet-left
  left 0
.ad-couplet-right
.picture-couplet-right
  right 0

.ad-couplet-fold
.picture-couplet-fold
  width 35px
  background-position 0 0