// 元件：面包屑导航
// ==================================================

.breadcrumb
  remove-list-style()
  margin-bottom 0
  padding 3px 10px
  background #F4F4F4
  clearfix()

  li
    float left
    color #999

  a
    color #999

  .divider
    margin 0 5px
    color #999
