// 关闭图标
// ==================================================

.close
  absolute right 10px top 8px
  size 16px
  hide-text()
  @extend $icon-close
  background-position 3px 3px

  &:hover
    background-position 3px -47px
    cursor pointer