// 本样式系从旧版迁移过来

// 旧版base
.mod_1
  position relative
  border 1px solid #DDD

  .titlebar
    height 37px
    padding 0 10px
    margin 0
    border-bottom none

    h3
      line-height 37px
      margin 0
      font-size 14px

  .content
    padding 0 10px 10px

.blank10
  height 10px
  overflow hidden
  display block

// 评论
// ------------------------------

.comment_title
  background #E7EEF8
  border 1px solid #CAD9EA
  border-bottom none
  height 46px
  line-height 46px

  h2
    margin 0
    color #333
    font-size 16px
    text-align center

.comment_dl
  padding 10px 0 10px 60px
  position relative
  background url(../img/line3.gif) repeat-x left bottom

  dt
    float left
    margin-left -60px

  .name
    color #059

  .text
    padding-top 5px
    font-size 14px
    line-height 20px
    word-wrap break-word

  .date
    absolute right top 10px
    color #BBB

  .action
    text-align right

    a
      margin-left 10px
      color #059

.comment_main
  border 1px solid #CAD9EA
  background #F5F8FD

  .comment_main_list
    padding 10px

    h3
      background url(../img/icon_all.gif) no-repeat -140px -906px
      height 34px
      line-height 34px
      padding-left 15px
      margin-bottom 5px
      border 1px solid #EAEAEA
      font-size 14px
      font-weight bold

.comment_userLog
  font-size 14px

  a
    color #049
    font-weight bold

.comment_box
  margin 0

  .lb
    float left
    margin-right 5px

  .tie_input
    size 147px 16px
    padding 1px 0 0 1px
    border 1px solid #CCC
    font-size 12px

  .tie_textarea
    width 735px
    margin 10px 0
    padding 1px 0 0 1px
    border 1px solid #CCC

  .btn
    float right

  .syntinyblog
    float right

.commentInfo
  absolute right 10px top 10px

  .red
    margin 0 5px
    color #F00

  a
    color #049

// 盖楼
.comment_main_list
  .reply
    border-bottom 1px dotted #AFAFB0
    color gray-darker
    margin 0 8px 0 6px
    padding 10px 0 10px
    text-align left

  .innerFace
    padding-left 50px

  .author
  .focus
    color #1E50A2
    display block
    float left
    height 18px
    line-height 18px
    vertical-align middle

  .author
    position relative
    z-index 3

    .faceBox
      absolute left -48px top 2px
      z-index 3

      img
        float left

      .userFace
        float left
        overflow hidden
        padding-bottom 4px
        width 48px

        img
          border 1px solid #DDD
          padding 1px

  .postTime
    color #666
    display block
    float right
    white-space nowrap

  .body
    clear both
    font-size 14px
    padding 10px 0
    white-space normal
    word-break break-all
    clear both
    text-align left

  .operations
    remove-list-style()
    color #1E50A2
    float right
    height 16px
    line-height 16px

    li
      float left
      padding-left 1.2em

    .support
      em
        color #BA2636
        font-style normal

  .info
    clear both
    color #2B2B2B
    font-size 14px
    line-height 20px
    margin 9px 3px
    word-wrap break-word

  .tieOperations
    clear both
    font-size 12px
    line-height 20px
    margin 0 3px 2px

.commentBox
  background #FFE
  border 1px solid #999
  margin-bottom 12px
  padding 3px
  position relative
  word-wrap break-word
  z-index 1

  .c_info
    font-size 12px
    height 20px
    line-height 18px
    margin 0 3px
    overflow hidden
    position relative

  .author
    color #1E50A2
    padding-top 2px

  .floorCount
    color #666
    absolute right 3px top

.replyModule
  border 1px solid #DDD
  clear both
  padding 5px 5px 10px 5px
  background #FFF
  margin-top 5px

  .delete
    font-size 12px

  .comment_box
    .tie_textarea
      size 98% 100px
      padding 4px
      margin 6px 0 10px 0
      resize none

    a
      &.login
        float left
        height 23px
        line-height 23px



















































