.cover
  position relative
  inline-block()
  size 104px 141px

  a
    float left
    size 98px 139px
    overflow hidden
    border 1px solid #DEDEDE

    img
      display block
      width 98px
      height 139px

  /*
  .orn
    float left
    size 3px 133px
    margin-top 3px
    border 1px solid #DEDEDE
    border-left none
  */


  // 热卖图标
  .ribbon
    absolute right -10px top -10px
    size 30px
    background url("img/data/label_hot.png") no-repeat
    hide-text()

.cover-pack
  a
    size 100px 141px
    border none

    img
      width 100px
      height 141px