// 元件：Loading
// HTML结构：<div class="loading"></div>
// 注意：默认是通栏居中，请按实际情况对宽度和定位等属性进行设置
// ==================================================

// 32×32
// ------------------------------
.loading
  height 32px
  background url(../img/loading_32.gif) no-repeat center center

// 16×16
// ------------------------------
.loading-mini
  height 16px
  background url(../img/loading_16.gif) no-repeat center center

