// 元件：文章列表
// ==================================================

// 普通文章列表
.post-list
  ul
    remove-list-style()

  li
    height 24px
    padding-left 10px
    line-height 24px
    overflow hidden
    background url("../img/dot.png") no-repeat 0 11px

  // 文章列表首项高亮
  .highlight
    padding-left 0
    background none

    a
      font-weight bold
      highlight-link()

// 大文章列表
.post-list-large
  @extend .post-list
  font-size 14px

  li
    height 26px
    line-height 26px
    background-position 0 12px

    .subject
      padding-right 10px

      a
        color link-color

        &:hover
          color link-color-hover

// 带某种状态文章列表
.stat-post
  @extend .post-list-large

  li
    position relative
    padding-right 120px

    .time
    .status
    .author
      absolute right 5px top
      color #999

    .author
      font-size 12px

    .icon-rec
    .icon-pop
      vertical-align middle
      margin -2px 0 0 5px
      if support-for-ie
        _margin 5px 0 6px 5px

// 下载列表
.download-list
  li
    .status
      font-size 12px

// 排序文章列表
.ranking-post
  @extend .post-list

  li
    position relative
    background none
    padding-left 28px
    height 26px
    line-height 26px

    i
      absolute left top 4px
      size 18px
      line-height 18px
      overflow hidden
      text-align center
      color #FFF
      font-size 11px
      background #66B1EC
      -webkit-text-size-adjust none
      /* top ie678(5px)
      // line-height ie8(10px)
      // if support-for-ie
        // _top 7px
        // *line-height 12px

      // &:nth-of-type(1n)
        // line-height ie678(12px)*/

  .top
    i
      background #F48B4C

// 资料文章列表
.data-post
  @extend .post-list

  li
    background none
    position relative
    padding-left 20px
    line-height 26px

    i
      left 0









































