// 图片轮换
// ==================================================

// @deprecated：该切换方式已经弃用
.thumb-slider
  position relative
  size 160px 120px

// 新图片轮换方式
.slider
  position relative

  /*
  a
    img
      width auto
  */

  .pages
    width 100%
    absolute right bottom 10px
    remove-list-style()
    z-index 1
    font-size 0
    text-align center

    li
      @extends $icon-slider-control
      inline-block()
      size 10px
      color #FFF
      text-align center
      margin 0 5px
      cursor pointer
      hide-text()
      border-radius 10px
      background-position 0 -270px

      &.active
        background-position 0 -240px

  .prev
  .next
    @extends $icon-slider-control
    absolute top 50%
    size 32px
    z-index 10
    margin-top -16px
    cursor pointer

  .prev
    left 0

    &:hover
      background-position 0 -60px

  .next
    right 0
    background-position 0 -120px

    &:hover
      background-position 0 -180px

