// 表格
// ==================================================

.table
  border 1px solid #C2CED9
  table-layout fixed

  table
    width 100%
    border-collapse collapse
    border 1px solid #FAFBFD

  th
  td
    border-color #DBE2E8
    border-style solid
    text-align center

  th
    background #EBF1F6
    border-width 0 0 0 1px
    font-weight bold

  td
    padding 8px 10px
    background #FCFCFC
    border-width 1px 0 0 1px

    a
      highlight-link()

  tr
    &:hover
      td
        background #FFF

  .gap
    padding 8px 10px

  .align-left
    text-align left

  .first
    border-left none

  .even
    td
      background #F9F9F9

    &:hover
      td
        background #FFF



















































