// 元件：选项卡
// ==================================================

.tab
  clearfix()
  margin-bottom 15px
  border-bottom 2px solid #DFDFDF

  a
  span
    float left
    padding 2px 15px
    font-size 16px

  a
    color #4A4A4A

  .active
    position relative
    margin-bottom -2px
    color gray-darker
    font-weight bold
    border-bottom 3px solid #66B1EC

.tab-s2
  clearfix()
  margin-bottom 20px
  padding-left 10px
  border-bottom 1px solid #D1D1D1

  a
  span
    position relative
    float left
    padding 5px 20px
    border 1px solid common-border-color
    margin-bottom -1px
    if support-for-ie
      _display inline

    .badge
      inline-block()
      background #F48B4C
      margin-left 2px
      padding 0 2px
      border-radius 2px
      color #FFF
      font-weight normal
      font-size 10px
      line-height 14px

  a
    color #4F4F4F

  .active
    position relative
    margin 0 -1px -1px
    color #FFF
    font-weight bold
    background #66B1EC
    border-color #66B1EC
