// 标签云

.tag-clouds
  a
    position relative
    inline-block()
    line-height 25px
    margin 0 10px 10px 0
    padding 0 8px
    background-color #F2F2F2
    color #4D4D4D

    span
      display none
      absolute left top -30px
      height 25px
      line-height 25px
      padding 0 10px
      color #FFF
      background #5E5E5E
      background rgba(0, 0, 0, .6)
      white-space nowrap

      i
        absolute left 50% bottom -6px
        margin-left -3px
        caret(#5E5E5E, 3px, down)

    &:hover
    &.active
      color #FFF
      background #66B1EC
      text-decoration none

    &:hover
      span
        display inline

.tag-clouds-s2
  clearfix()

  a
    float left
    line-height 24px
    margin-right 15px
    color #4D4D4D



