// 元件：标签资料列表
// ==================================================

.tag-data-list
  overflow hidden
  if support-for-ie
    *zoom 1

  .item
    padding 20px 0
    clearfix()
    split()

    .info
      h3
        margin 0 0 10px 0

        .title
          font-size 16px

        .subject
          vertical-align middle
          inline-block()
          padding 0 5px
          margin-right 10px
          background #147DCF
          line-height 22px
          font-size 12px
          font-weight normal
          color #FFF

      .meta
        color #999
        line-height 22px

        i
          color #E5E5E5
          margin 0 10px

      .details
        line-height 22px

      .price
        margin-top 10px
        color #999

        span
          color #F79154
          font-weight bold
