// 元件：缩略图列表
// ==================================================

.thumb-list
  margin-left -31px

  .span4
    width 160px
    margin-left 36px

  .thumb
    margin 5px 0 8px

  p
    margin 3px 0
    color #4A4A4A
