// 侧栏推荐图文
.thumb-info-rec
  clearfix()
  padding-top 5px
  margin-bottom 10px

  .thumb
    float left
    size 120px 90px

  .info
    margin-left 130px

    h3
      margin 0 0 8px
      font-size 14px
      max-height 42px
      overflow hidden

    p
      margin 3px 0
      color #676767

      span
        margin-left 10px

        i
          font-weight bold

    .actions
      margin-top 10px

      .btn
        margin-right 10px

      span
        color #999

    .stat
      color #999
      line-height 18px
      height 18px
      overflow hidden

      .comments
        margin-left 10px

