// 元件：小工具提示
// ==================================================

.tooltip
  width 290px

  .dropdown-in
    padding 15px

  // 小三角
  .arrow
    absolute right 60px top -18px

    .arrow-shadow
      absolute left top -5px
      caret #D9D9D9 10px up
      border-color transparent transparent rgba(0, 0, 0, .15)
    .arrow-border
      absolute left top -1px
      caret #AAA 10px up
    .arrow-body
      absolute left top
      caret #FFF 10px up

