<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>自定义表单-管理后台-首页</title>
    <meta name="keyword" content="">
    <meta name="description" content="">
    <?php F::TPL('/backend/dashboard/style.html', [], 'form') ?>
</head>
<body>
<?php F::TPL('/backend/common/nav.html', [], 'form') ?>
<div class="container">
    <div class="row form-grid">
        <div class="col-md-2">
            <div class="create-new"><a href="<?php echo F::URL('/form/backend_dashboard/create')?>"><i
                    class="fa fa-plus"></i><span>创建新表单</span></a></div>
        </div>

        <?php foreach ($forms as $index => $form):?>
        <div class="col-md-2">
            <div class="form-grid-item"><a href="<?php echo F::URL('/form/backend_form/entries', ['id' => $form->id]) ?>">
                <div class="cover-shadows"></div>
                <div class="cover"><span class="title"><?php echo $form->title ?></span>
                    <span class="count"><i class="fa fa-database"></i><?php echo $form->total_answers ?></span></div>
            </a></div>
        </div>
        <?php endforeach ?>

    </div>
</div>
</body>
</html>