<div class="ui-mask hidden"></div>
<div class="share-guide hidden" id="share_guide"></div>
<footer class="footer">
    <div class="foot-links"><a href="<?php echo F::getLink('jiazhang'); ?>">高分家长</a>


        <?php foreach (schoolType()->getItem('school_types') as $index => $name):?>
        <?php if($index != schoolType()->toValue()): ?>
        <a href="<?php echo F::URL('/cp/mobile/index', ['school_type' => $index]) ?>"><?php echo "高分网{$name}" ?></a>
        <?php endif ?>
        <?php endforeach ?>

    </div>

    <?php if(isset($ad)): ?>
    <?php F::TPL('common/mobile/ad.html', ['ad' => $ad, 'footer' => 1]) ?>
    <?php endif ?>
    
    <div class="contact">
        <p>联系我们：400-880-5286 （周一到五 9:00-18:00）</p>

        <p>www.gaofen.com</p>
    </div>
</footer>

<?php if(isset($footerjs)): ?>

<?php echo $footerjs ?>

<?php else: ?>

<?php if (_SITE_ENV == 'develop'): ?>
<script type="text/javascript" src="/public/js/mobile.js"></script>
<?php else: ?>
<script type="text/javascript" src="<?php echo GAOFEN_STATIC;?>/html/v5/js/mobile.min.js"></script>
<?php endif ?>


<?php endif; ?>


<?php F::TPL('/common/gtm.html', []) ?>
