<header id="header" class="header">
    <div class="header-bar">
        <div class="header-bar">
            <?php if(isset($backwardLink)): ?>
            <a href="<?php echo $backwardLink ?>" class="iconfont icon-return">&#xe601;</a>
            <?php endif ?>

            <span id="navToggle" class="iconfont icon-menu">&#xe607;</span>

            <h1><?php echo schoolType()->toFormatName('', $title) ?></h1>
        </div>
        <!-- Start: 主导航-->
        <div class="nav-main">
            <ul>
                <li>
                    <a href="<?php echo F::URL('/cp/mobile/index' , ['school_type' => schoolType()->toValue()]) ?>"
                       class="nav-home"><span><?php echo schoolType()->toFormatName('','首页') ?></span></a>
                </li>
                <li>
                    <a href="<?php echo F::URL('/cp/mobile/list' , ['school_type' => schoolType()->toValue()]) ?>"
                       class="nav-post"><span><?php echo schoolType()->toFormatName('', '资讯') ?></span></a>
                </li>
                <li>
                    <a href="<?php echo F::URL('mobi:/jiangzuo', ['school_type' => schoolType()->toValue()]) ?>"
                       class="nav-activity"><span><?php echo schoolType()->toFormatName('', '活动') ?></span></a>
                </li>
                <li>
                    <a href="<?php echo F::URL('baike_m:/entrymobile/index' , [], ['school' => schoolType()->toAlias()]) ?>"
                       class="nav-wiki"><span><?php echo schoolType()->setIndex('school_types')->toFormatName('', '百科') ?></span></a>
                </li>

                <?php if(schoolType()->isXSC()): ?>
                <li>
                    <a href="<?php echo F::URL('czwexin:/czweixin/School/index') ?>"
                       class="nav-library"><span><?php echo schoolType()->
                        setIndex('schools')->toFormatName('广州', '库') ?></span></a>
                    <?php schoolType()->setIndex('school_types'); ?>
                </li>
                <?php endif ?>

                <?php if(schoolType()->isZhongkao()): ?>
                <li>
                    <a href="<?php echo F::URL('gzm:/gz/mobile_school/index') ?>"
                       class="nav-library"><span><?php echo schoolType()->
                        setIndex('schools')->toFormatName('广州', '库') ?></span></a>
                    <?php schoolType()->setIndex('school_types'); ?>
                </li>
                <?php endif ?>
                <li>
                    <a href="<?php echo F::getLink('jiazhang') ?>"
                       class="nav-parent"><span>高分家长<span class="ui-label label-orange">New</span></span></a>
                </li>
            </ul>
        </div>
        <!-- End: 主导航-->
</header>
