<?php TPL::output('m/header_meta.tpl.htm'); ?>
<!-- header -->
<div class="header">
	<center><a class="logo" href="m/"><img width="80" src="<?php echo G_STATIC_URL; ?>/mobile/img/logo.png" alt="" /></a></center>
	<span class="pull-right" style="position: absolute;right: 3px;top: 0px">
		
			<a href="m/publish/" class="btn btn-mini btn-primary btn-normal" style="height: 28px;line-height: 26px;width: 58px;border: 1px solid rgba(153, 203, 247, 0.78)"><?php _e('提问'); ?></a>
			<!--<?php if (get_setting('register_type') == 'open') { ?><a href="m/register/" class="btn btn-mini btn-success btn-normal"><?php _e('注册'); ?></a><?php } ?>-->
	</span>
</div>
<!-- end header -->
