<?php TPL::output('global/gaofen_new/header.tpl.htm'); ?>
<div class="search-top">
    <div class="search-form-wrap pt50">
        <form class="form" action="search_new/" method="post">
            <input type="text" placeholder="请输入要搜索的关键词" id="search_form" name="q">
            <span class="btn-search" onClick="$('#search_form').submit();">
                <i class="icon icon-search-big"></i>
                <input type="submit" value="">
            </span>
        </form>
        <dl class="clearfix ml30 mb10">
            <dt>热门搜索：</dt>
            <dd><a href="" title="">教育</a></dd>
            <dd><a href="" title="">家庭</a></dd>
            <dd><a href="" title="">辅导班</a></dd>
        </dl>
        <ul>
            <?php if($_GET['type']=='article' || !$_GET['type']){ ?>
                <li><a href="<?php echo $this->current_url.'__type-article' ?>" title="" class="active">文章</a></li>
                <li><a href="<?php echo $this->current_url.'__type-special' ?>" title="">专题</a></li>
                <li><a href="<?php echo $this->current_url.'__type-question' ?>" title="">问题</a></li>
            <?php }else if($_GET['type']=='special'){ ?>
                <li><a href="<?php echo $this->current_url.'__type-article' ?>" title="">文章</a></li>
                <li><a href="<?php echo $this->current_url.'__type-special' ?>" title="" class="active">专题</a></li>
                <li><a href="<?php echo $this->current_url.'__type-question' ?>" title="">问题</a></li>
            <?php }else if($_GET['type']=='question'){ ?>
                <li><a href="<?php echo $this->current_url.'__type-article' ?>" title="">文章</a></li>
                <li><a href="<?php echo $this->current_url.'__type-special' ?>" title="">专题</a></li>
                <li><a href="<?php echo $this->current_url.'__type-question' ?>" title="" class="active">问题</a></li>
            <?php } ?>
        </ul>
    </div>
</div>
<div class="container pb30">
    <div class="search-msg font-lg"><span>与“<span class="font-blue"><?php echo $this->keyword ?></span>”相关内容共搜出<span class="font-orange"><?php echo $this->count ?></span>条结果</span>
        <?php if (!$_GET['sort'] || $_GET['sort']=='new') { ?>
            <div class="fr"><span>排序：</span><a href="<?php echo $this->current_url.'__sort-new' ?>" title="" class="active">时间</a><i>|</i><a href="<?php echo $this->current_url.'__sort-hot' ?>" title="">热度</a></div>
        <?php }else{ ?>
             <div class="fr"><span>排序：</span><a href="<?php echo $this->current_url.'__sort-new' ?>" title="">时间</a><i>|</i><a href="<?php echo $this->current_url.'__sort-hot' ?>" title="" class="active">热度</a></div>
        <?php } ?>
    </div>
    <div class="treasury-group clearfix">
        <?php if ($_GET['type']=='article' || !$_GET['type']){ ?>
            <!-- 文章 -->
            <?php foreach ($this->list_info as $key => $value) { ?>
            <div class="ui-thumbnail"><a href="article/<?php echo $value['id'] ?>" title="" target="_blank" class="img-wrap"><img src="<?php echo $value['article_cover_url_big'] ?>" alt=""/></a>
                <div class="ui-thumbnail-content"><a href="article/<?php echo $value['id'] ?>" title="" target="_blank" class="thumbnail-title"><?php echo $value['title'] ?></a>
                    <div class="thumbnail-tips mt10"><span><i class="icon icon-fav-grey"></i><?php echo $value['fav_num'] ?></span><span><i class="icon icon-msg-grey"></i><?php echo $value['comments'] ?></span><span class="fr"><?php echo $value['add_date'] ?></span></div>
                </div>
            </div>
            <?php } ?>
        <?php } elseif ($_GET['type']=='special') { ?>
            <!-- 专题 -->
            <?php foreach ($this->list_info as $key => $value) { ?>
            <div class="ui-thumbnail ui-thumbnail-special"><a href="special/detail/<?php echo $value['id'] ?>" title="" target="_blank" class="img-wrap"><img src="<?php echo $value['special_cover_url_big'] ?>" alt=""/></a>
                <div class="ui-thumbnail-content special-thumbnail-content"><a href="special/detail/<?php echo $value['id'] ?>" title="" target="_blank" class="thumbnail-title"><?php echo $value['special_title'] ?></a>
                    <div class="thumbnail-tips mt5">共<?php echo $value['article_num'] ?>篇内容</div>
                </div>
            </div>
            <?php } ?>
        <?php } elseif ($_GET['type']=='question') { ?>
            <!-- 问题 -->
            <?php foreach ($this->list_info as $key => $value) { ?>
            <div class="ui-thumbnail"><a href="question/<?php echo $value['question_id'] ?>" title="" target="_blank" class="img-wrap"><img src="<?php echo $value['question_cover_url_big'] ?>" alt=""/></a>
                <div class="ui-thumbnail-content"><a href="question/<?php echo $value['question_id'] ?>" title="" target="_blank" class="thumbnail-title"><?php echo $value['question_content'] ?></a>
                    <div class="thumbnail-tips mt10"><span><i class="icon icon-fav-grey"></i><?php echo $value['thanks_count'] ?></span><span><i class="icon icon-msg-grey"></i><?php echo $value['answer_count'] ?></span><span class="fr"><?php echo $value['add_date'] ?></span></div>
                </div>
            </div>
            <?php } ?>
        <?php } ?>
    </div>
    <div class="tc"><a id="btn-more" href="javascript:;" title="查看更多" class="btn btn-blue mt40" data-page="2">查看更多</a></div>
</div>
<script src="<?php echo G_STATIC_URL; ?>/js/gaofen_new/jquery.1.8.2.js"></script>
<script src="<?php echo G_STATIC_URL; ?>/js/gaofen_new/swipePC.js"></script>
<script src="<?php echo G_STATIC_URL; ?>/js/gaofen_new/common.js"></script>
<script>
    var _url = '<?php echo $this->whole_url;?>';
    var _type = "<?php echo $_GET['type']?$_GET['type']:'article' ?>";

    $('#btn-more').on('click', function () {
        JZ.load_search(_url, _type)
    });
    $('.wrap').removeClass('index-page');
</script>
<?php TPL::output('global/gaofen_new/footer.tpl.htm'); ?>
