<div class="build-share-page" id="s_build" v-show="partShow">
    <div class="img-wrap mlr15 header-img">
        <img src="<?php echo GAOFEN_STATIC; ?>/html/weixin/support-school/dist/img/share-header.jpg?v=<?php echo STATIC_VERSION; ?>" alt="">
    </div>
    <div class="mlr15 plr30 pb30 pt15 bg-white">
        <div class="pt15 btn-wrap ">
            <!-- 填完后，对应的btn添加类active-->
            <textarea readonly type="text" v-model="content" v-on:click="showProfess($event)"  class="btn btn-block btn-w btn-sentence" placeholder="选择表白内容"></textarea>
            <input type="text" v-model="nickname"  class="btn btn-block btn-w btn-name" placeholder="作者名称">
            <input type="text" readonly  v-model="school"  class="btn btn-block btn-w btn-school-build" placeholder="选择学校"  v-on:click="chooseSchool($event)">
            <a href="javascript:void(0);" class="btn btn-block btn-blue" v-on:click="save($event)">生成表白信</a>
        </div>

        <div class="logo-wrap">
            <img src="<?php echo GAOFEN_STATIC; ?>/html/weixin/support-school/dist/img/logo.png?v=<?php echo STATIC_VERSION; ?>" alt="">
        </div>
    </div>
    <!-- start 弹窗写表白-->
    <div id="sentence" class="gf-mask" v-show="isShowProfess">
        <div class="mask-wrap">
            <div class="mask-close" v-on:click="isShowProfess = !isShowProfess"></div>
            <div class="mask-content">
                <ul class="sentence-group" v-on:click="chooseProfess($event)">
                    <li class="sentence-wrap">
                        <a href="javascript:void(0);">
                        好怀念当年被罚站的样子，可惜，回不去了...
                        </a>
                    </li>
                    <li class="sentence-wrap">
                        <a href="javascript:void(0);">如果我是一名富二代，我会捐1个亿给你。</a>
                    </li>
                    <li class="sentence-wrap">
                        <a href="javascript:void(0);">果三年，明明系我，撑起左成间学校既颜值！</a>
                    </li>
                </ul>
                <a href="javascript:void(0);" v-on:click="showMyself($event)" class="btn btn-blue btn-block btn-myself">我自己写</a>
            </div>
        </div>
    </div>
    <!-- end 弹窗写表白-->


    <!-- start 弹窗自己写-->
    <div id="myself" class="gf-mask" v-show="isShowMyself">
        <div class="mask-wrap">
            <div class="mask-close"  v-on:click="isShowMyself = !isShowMyself"></div>
            <div class="mask-content">
                <form action="">
                    <div class="textarea-wrap">
                        <textarea rows="10" v-model="tempProfess" placeholder="输入表白内容" v-on:input="enter($event)"></textarea>
                        <div class="tips">{{{beleftText}}}
                        </div>
                    </div>
                    <input type="button" value="完成" v-on:click="finishEnter($event)" class="btn btn-blue btn-block btn-myself">
                </form>
            </div>
        </div>
    </div>
    <!-- end 弹窗自己写-->

    <!-- start 弹窗搜索学校-->
    <div id="searchSchool" class="gf-mask" v-show="isShowSearch">
        <div class="mask-wrap">
            <div class="mask-close" v-on:click="isShowSearch = !isShowSearch"></div>
            <div class="mask-content">
                <p class="font-green font-nm">搜索学校</p>
                <input type="text" id="ranking2" placeholder="请输入您所需查询的学校" v-model="insertSchool">
                <div class="auto-input" id="auto-input2" v-on:click="getschool($event)" style="display:none;"></div>
            </div>
        </div>
    </div>
    <!-- end 弹窗搜索学校-->
</div>