<div class="index-page" id="s_index" v-show="partShow">
    <div class="img-wrap ">
        <img src="<?php echo GAOFEN_STATIC; ?>/html/weixin/support-school/dist/img/index-1.png?v=<?php echo STATIC_VERSION; ?>" alt="" v-on:click="shareReady()">
        <a href="javascript:void(0);" class="btn-prize" v-on:click="showPrize($event)"></a>
        <div class="end-time" v-show="endTime">
                    <i class="icon icon-time"></i>
                    <div>离结束：
                        <span>{{endTime.day}}</span>
                        天
                        <span>{{endTime.hour}}</span>
                        小时
                        <span>{{endTime.minute}}</span>
                        分
                    </div>
        </div>
    </div>
    <div class="plr15 bg-red pb10">
        <a href="javascript:void(0);" class="btn btn-blue btn-block btn-school" v-on:click="search($event)">查找母校</a>
        <p class="zan-news" v-show="recent.length">
                    <span class="name">{{recentUser.nickname}}</span>
                    <span class="time">{{recentUser.time}}</span>
                    分钟前给
                    <span class="school">{{recentUser.school}}</span>
                    点赞
        </p>
    </div>
    <div class="pb30">
        <div class="bg-red">
            <ul class="ui-tab">
                <li :class="[navType === 'recent' ? 'active' : '']"><a href="#" v-on:click="nav($event, 'recent')">最近点赞</a></li>
                <li :class="[navType === 'today' ? 'active' : '']"><a href="#" v-on:click="nav($event, 'today')">今日排行</a></li>
                <li :class="[navType === 'total' ? 'active' : '']"><a href="#" v-on:click="nav($event, 'total')">总排行</a></li>
            </ul>    
        </div>
        <!-- 最近点赞-->
        <div class="tab-container" v-show="navType === 'recent'">
            <ul>
                <school-lists  :recent-lists="recentLists" v-on:child-msg="preview" v-on:click-msg2="markfav"></school-lists>
            </ul>
        </div>
        <!-- 今日排行-->
        <div class="tab-container" v-show="navType === 'today'">
            <ul>
                <otherschool-lists  :school-lists="schoolLists" v-on:child-msg="preview" v-on:click-msg2="markfav"></otherschool-lists>
            </ul>
        </div>
        <!-- 总排行-->
        <div class="tab-container" v-show="navType === 'total'">
            <ul>
                <otherschool-lists  :school-lists="schoolLists" v-on:child-msg="preview" v-on:click-msg2="markfav"></otherschool-lists>
            </ul>
        </div>
    </div>
    <div id="wxerror" style="display: none;color:#ccc">wr</div>


    <div class="fixed-bar" id="reward" v-show="isShowReward" v-on:click="showWinner($event)">
        <div class="ad-icon"></div>
        <div class="ad-wrap">
            <ol id="ad-text" style="width: {{winnerBarWidth}}">
                <!-- {{winneruser}} -->
            </ol>
        </div>
    </div>

    <!-- start 弹窗搜索学校-->
    <div id="searchSchool" class="gf-mask" v-show="isShowSearch">
        <div class="mask-wrap">
            <div class="mask-close" v-on:click="closeSearch()"></div>
            <div class="mask-content">
                <p class="font-green font-nm">搜索学校</p>
                <input type="text" id="ranking" placeholder="请输入您所需查询的学校" v-model="insertSchool">
                <div class="auto-input" id="auto-input" v-on:click="toschool($event)" style="display:none;"></div>
                <div class="clearfix">
                    <span>没有你的母校？</span>
                    <a href="javascript:void(0);" class="btn btn-blue btn-add fr" v-on:click="addSchool($event)">立即添加</a>
                </div>
            </div>
        </div>
    </div>
    <!-- end 弹窗搜索学校-->


    <!-- start 弹窗添加母校-->
    <div id="add" class="gf-mask" v-show="isShowAdd">
        <div class="mask-wrap">
            <div class="mask-close" v-on:click="closeAdd"></div>
            <div class="mask-content">
                <form action="school.html" class="mt20">
                    <input type="text" placeholder="输入母校名称" v-model="schoolname">
                    <div class="input-post"  v-on:click="selectUpload()">
                        <div class="post-img">
                            <i class="icon icon-upload"></i>
                            <span>{{uploadImgText}}</span>                           
                        </div>
                        <img :src="localIds" v-show="localIds"/>
                    </div>
                    <input type="submit" class="btn btn-blue btn-block" value="完成了" v-on:click="upload($event)">
                </form>
            </div>
        </div>
    </div>
    <!-- end 弹窗添加母校-->




</div>
<!-- end 入口页-->
