<?php TPL::output('global/gaofen_new/header.tpl.htm'); ?>
<div class="container"><img src="<?php echo G_STATIC_URL; ?>/img/gaofen_new/title-list.png" alt="" class="mt40">
    <div class="list-container clearfix">
        <dl class="items">
            <dt>本周最受欢迎</dt>
            <?php foreach ($this->article_lists['week_views'] as $key => $value): ?>
                <dd class="item">
                    <div class="fl item-index"><?php echo $key+1 ?></div>
                    <div class="item-container"><a href="article/<?php echo $value['id'] ?>" title="" target="_blank" class="item-title"><?php echo $value['title'] ?></a>
                        <p>阅读数：<?php echo $value['views'] ?></p>
                        <?php if ($key == 0) { ?>
                        <a href="article/<?php echo $value['id'] ?>" title="" target="_blank" class="img-wrap"><img src="<?php echo $value['article_cover_url_big'] ?>" alt=""/>
                        </a>
                        <?php } ?>
                    </div>
                </dd>
            <?php endforeach ?>
        </dl>
        <dl class="items">
            <dt>月度最佳</dt>
            <?php foreach ($this->article_lists['month_views'] as $key => $value): ?>
                <dd class="item">
                    <div class="fl item-index"><?php echo $key+1 ?></div>
                    <div class="item-container"><a href="article/<?php echo $value['id'] ?>" title="" target="_blank" class="item-title"><?php echo $value['title'] ?></a>
                        <p>阅读数：<?php echo $value['views'] ?></p>
                        <?php if ($key == 0) { ?>
                        <a href="article/<?php echo $value['id'] ?>" title="" target="_blank" class="img-wrap"><img src="<?php echo $value['article_cover_url_big'] ?>" alt=""/>
                        </a>
                        <?php } ?>
                    </div>
                </dd>
            <?php endforeach ?>
        </dl>
        <dl class="items">
            <dt>历史最热</dt>
            <?php foreach ($this->article_lists['views'] as $key => $value): ?>
                <dd class="item">
                    <div class="fl item-index"><?php echo $key+1 ?></div>
                    <div class="item-container"><a href="article/<?php echo $value['id'] ?>" title="" target="_blank" class="item-title"><?php echo $value['title'] ?></a>
                        <p>阅读数：<?php echo $value['views'] ?></p>
                        <?php if ($key == 0) { ?>
                        <a href="article/<?php echo $value['id'] ?>" title="" target="_blank" class="img-wrap"><img src="<?php echo $value['article_cover_url_big'] ?>" alt=""/>
                        </a>
                        <?php } ?>
                    </div>
                </dd>
            <?php endforeach ?>
        </dl>
        <dl class="items">
            <dt>最热收藏</dt>
            <?php foreach ($this->article_lists['fav_num'] as $key => $value): ?>
                <dd class="item">
                    <div class="fl item-index"><?php echo $key+1 ?></div>
                    <div class="item-container"><a href="article/<?php echo $value['id'] ?>" title="" target="_blank" class="item-title"><?php echo $value['title'] ?></a>
                        <p>阅读数：<?php echo $value['views'] ?></p>
                        <?php if ($key == 0) { ?>
                        <a href="article/<?php echo $value['id'] ?>" title="" target="_blank" class="img-wrap"><img src="<?php echo $value['article_cover_url_big'] ?>" alt=""/>
                        </a>
                        <?php } ?>
                    </div>
                </dd>
            <?php endforeach ?>
        </dl>
    </div>
</div>
<script src="<?php echo G_STATIC_URL; ?>/js/gaofen_new/jquery.1.8.2.js"></script>
<script src="<?php echo G_STATIC_URL; ?>/js/gaofen_new/common.js"></script>
<script src="<?php echo G_STATIC_URL; ?>/js/gaofen_new/swipePC.js"></script>
        
<?php TPL::output('global/gaofen_new/footer.tpl.htm'); ?>