<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>高分网移动版-初中库-404错误页</title>
    <meta name="keyword" content="">
    <meta name="description" content="">
    <meta name="HandheldFriendly" content="true">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="cleartype" content="on">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-TileColor" content="#F8F8F8">
    <?php F::TPL('common/mobile/style.html',[]) ?>
    <link rel="stylesheet" href="<?php echo GAOFEN_STATIC;?>/html/mobile/css/library.css">
</head>
<?php F::TPL('common/mobile/navigation.html', ['backwardLink' => $backwardLink]) ?>
<div class="page-content">
    <div class="box">
        <div class="error">
            <div class="iconfont error-code">&#xe601;</div>
            <div class="error-msg">
                <p><?php echo $msg ?></p>
                <p><a href="<?php echo $backwardLink ?>">返回上一页</a></p>
            </div>
        </div>
    </div>
</div>
<?php F::TPL('common/mobile/footer.html') ?>
</body>
</html>