.ui-dialog
    .dialog-wrap.aw-favorite-box
        .dialog-header 收藏
        .dialog-content
            form#favorite_form
                input(type='hidden',name='item_id',value='')
                input(type='hidden',name='item_type',value='article')
                input#add_favorite_tags(type='text',name='tags',value='').hidden
                .aw-favorite-tag-list
                    .favorite-tag-list-content
                        ul
                            - for(var i=0;i<3;i++)
                                li
                                    a.active(href='javascript:;',onclick="$(this).parent().toggleClass('active')")
                                        span 333
                                    i.icon.icon-followed
                    .dialog-footer
                        a.btn.btn-blue.btn-sm(href='javascript:;',onclick="$('.aw-favorite-box .aw-favorite-tag-list').hide();$('.aw-favorite-box .aw-favorite-tag-add').show();") 创建标签
                        a.btn.disabled.btn-sm(href='javascript:;', onclick="$('.ui-dialog').hide();") 关闭
                .aw-favorite-tag-add
                    .favorite-tag-add-content
                        input.add-input(type='text',name='tags',value='',placeholder='标签名字')
                    .dialog-footer
                        a.btn.disabled.btn-sm(href='javascript:;',onclick="$('.aw-favorite-box .aw-favorite-tag-list').show();$('.aw-favorite-box .aw-favorite-tag-add').hide();") 取消
                        a.btn.btn-blue.btn-sm(href='javascript:;',onclick="JZ.add_favorite_tag()") 确认创建
