.index-treasury
    .treasury-tab
        ul.clearfix
            each item, index in index_treasury_tabs
                if index == 0
                    li.active
                        a(href='javascript: void(0);',title='')= item.label
                        i |
                else
                    li
                        a(href='javascript: void(0);',title='')= item.label
                        i |
            li
                a(href='javascript: void(0);',title='') 生活 &sdot; 帮

    .thumbanil.thumbanil-h592
        +qq-thumbnail()
        .thumbanil-wrap.clearfix
            - for(var i=0;i < 9; i++)
                .thumbanil-container.clearfix
                    +treasury-thumbnail(1)
                    +treasury-thumbnail(2)
                    +treasury-thumbnail(3)
                    +treasury-thumbnail(3)
                    +treasury-thumbnail(1)
                    +treasury-thumbnail(2)
                    +treasury-thumbnail(3)
                    +treasury-thumbnail(4)


    a#btn-more-treasury.btn.btn-blue-reverse.mt20(href='special-article.html',title='查看更多') 查看更多
