.index-question.mt80
    .special-tab.clearfix
        img(src="#{current.base}img/title-index-q.png", alt="")

        a.fr.mt10(href='',title='查看全部问题',target='_blank') 查看全部问题 &gt;

    .question-container.clearfix.mt10
        .question-left.fl
            ul
                - for(var i = 1; i<6;i++)
                    li
                        i.icon.icon-question.fl
                        a.fr(href='article.html#comment',title='',target='_blank')
                            i.icon.icon-msg-grey
                            span.font-md.font-grey.ml5 26
                        a(href='article.html',title='',target='_blank')
                            p 产检也被坑?看下产检大全，别再被打包消费都不知道

        .question-right.fr
            .question-slide
                .slide-wrap
                    .slide-container.clearfix
                        ul#questionSlide
                            - for(var i = 1; i<5;i++)
                                li
                                    a(href='', title='')
                                        img(src='#{current.base}img/block-img/block-img-'+ i +'.jpg')
                                        p 怀孕了感冒啦怎么办？孕妈来围观收藏哦妈来围观收藏哦
                    .index-btn
                        span.active
                .slide-btn
                    a.btn-left(href="javascript: void(0);")
                    a.btn-right(href="javascript: void(0);")