.index-bottom-bar
    .container
        img.mt15(src="#{current.base}img/p-bar.png", alt="")
        a.btn-bar-close.fr.mt30(href='javascript: void(0);')
            i.icon.icon-close
        .btn-group.mt10
            a.btn.btn-wechat(href='#', title='')
                i.icon.icon-wechat
                span 微信
            a.btn.btn-weibo(href='#', title='')
                i.icon.icon-weibo
                span 新浪
            a.btn.btn-qq(href='#', title='')
                i.icon.icon-qq
                span QQ
            a.btn.btn-orange.ml10.mr5(href='#', title='')
                span 登录
            a.btn.btn-blue(href='#', title='')
                span 注册
