.top-slide
    .slide-wrap
        .slide-container
            ul#topSlide.clearfix
                each slide, index in top_slide
                    li
                        a(href='', title='')
                            .img-wrap
                                img(src='#{current.base}img/top-slide-img/slide-img-'+ (index + 1) +'.jpg')
                            p= slide.label
        .index-btn
            span.active
    .slide-btn
        a.btn-left(href="javascript: void(0);")
            i.icon.arrow-left
        a.btn-right(href="javascript: void(0);")
            i.icon.arrow-right