<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>高分网移动版-404错误页</title>
    <meta name="keyword" content="">
    <meta name="description" content="">
    <meta name="HandheldFriendly" content="true">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="cleartype" content="on">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-TileColor" content="#F8F8F8">
    <?php F::TPL('common/mobi_style.html', [], 'Czweixin'); ?>
  </head>
  <body class="error-page">
    <?php F::TPL('common/mobi_header.html', [], 'Czweixin'); ?>
    <div class="page-content">
      <div class="alert-error">
        <div class="icon"></div>
        <div class="error-msg">
          <p>您访问的页面不存在</p>
          <p><a href="javascript:#" class="return">返回上一页</a></p>
        </div>
      </div>
    </div>
    <div class="ui-mask hidden"></div>
  </body>
</html>