<?php
$_city = V('c:_cty');

$_cityName = CFG::school('location', 'city', $_city, 'name');
?>
<header id="header" class="header">
    <div class="header-bar"><a href="javascript:#" class="iconfont icon-return">&#xe601;</a><span id="navToggle" class="iconfont icon-menu">&#xe607;</span><span id="search" class="iconfont icon-search">&#xe600;</span>
        <h1 id="city"><?php F::O(str_replace('市', '', $_cityName)); ?>初中库</h1>
    </div>
    <!-- Start: 主导航-->
     <div class="nav-main">
        <ul>
          <li><a href="<?php echo F::URL('cp:/Cp/Mobile/index', array('school_type'=>3)); ?>" class="nav-home"><span>小升初首页</span></a></li>
          <li><a href="<?php echo F::URL('cp:/Cp/Mobile/list', array('school_type'=>3)); ?>" class="nav-post"><span>小升初资讯</span></a></li>
          <li><a href="<?php echo F::getLink('huodong_mobi').'?school_type=3'; ?>" class="nav-activity"><span>小升初活动</span></a></li>
          <li><a href="<?php echo F::URL('baike_m:/entrymobile/index', array(), array('school'=>'xsc')); ?>" class="nav-wiki"><span>小升初百科</span></a></li>
          <li><a href="<?php echo F::URL('/Czweixin/School/index'); ?>" class="nav-wiki"><span>广州初中库</span></a></li>
          <li><a href="<?php echo F::getLink('jiazhang'); ?>" class="nav-parent"><span>高分家长<span class="ui-label label-orange">New</span></span></a></li>
        </ul>
      </div>
      <!-- End: 主导航-->
    <div class="search-bar hidden" id="searchBar">
        <input type="text" placeholder="请输入学校名称">
        <button type="submit" class="">搜索</button>
    </div>
</header>