<footer class="footer">
    <p>关注 <a
            href="http://mp.weixin.qq.com/s?__biz=MjM5NTA1NTgyMA==&mid=203742259&idx=1&sn=4027ebff4d067f98a0c78a96f3b6dc30&key=fbe9f9f4b565962c5a6aa2b7eab4d19550fe29ac8913b3ae689d2659adeb104c4303c605c6a24fb90347ba51996cbb32&ascene=1&uin=ODkzNDAxNjAw&devicetype=Windows-QQBrowser&version=61000f01&pass_ticket=ZkB%2FAAE2kBh0Dm52VcCIRtBHRC%2BN%2FeqfBSoyo18PK444%2F9oF%2BnoQD0Msm0sswdSQ"
            target="_blank">卓越教育</a> 公众号，获取<br>中考、高考最新资讯
    </p>
</footer>
<?php F::TPL('/common/gtm.html', []) ?>
