mixin content-link
  a(href="content-details.html", target="_blank", title="#{article.title}")= article.title

.entry-contents
  .hd 目录
  .bd
    .inner
      .contents
        .col
          - for(var i=1; i<=6; i++)
            .item
              != i + ". "
              +content-link
        .col
          - for(var i=7; i<=9; i++)
            .item
              != i + ". "
              +content-link
            - if(i==7)
              - for(var j=1; j<=3; j++)
                .sub-item
                  != i + "." + j + " "
                  +content-link
        .col
          - for(var i=10; i<=14; i++)
            .item
              != i + ". "
              +content-link
  .pager
    span.prev
    span.prev.prev-disabled.hidden
    span.page
      i 1
      | /
      i 2
    span.next
    span.next.next-disabled.hidden
