.wiki-header
  .container
    h1.logo
      a(href="#", title="高分网")
        img(src="#{current.base}img/logo_wiki.png", alt="高分网百科")
    .wiki-nav
      ul
        each link in wiki_nav_links
          li(class="nav-#{link.slug}")
            a(href="#{link.slug}.html")= link.label
