---
page_title: "广州站-资料频道-小升初首页"
category: "default"
body_class: ["data-page"]
stylesheets: ["data"]
breadcrumb: ["资料", "小升初"]
modals:
  -
    type: "xsc-info"
---

//- 模板继承
extends ../../_layout

//- 导入资料图文列表项
include ../../partials/_data-thumb-info-item

//- 导入资料网格项
include ../../partials/_data-grid-item

//- 内容
block content
  // Start: 主导航
  +navbar(default_nav_links)
  // End: 主导航

  +ad({width:980, ex_class:["container", "mb15", "mt15"], count:3})

  // Start: 面包屑导航
  +breadcrumb({breadcrumb:breadcrumb})
  // End: 面包屑导航

  .container.page-content
    .mod.mod-data-rec
      +heading({title:"热门推荐"})
      .data-grid
        - var i = 6
        - while(i--)
          +data-grid-item

    .row.row13-7
      .span13
        // Start: 小升初笔试真题
        .mod.mod-data
          +heading({classes:"heading heading-tabs", title:"小升初笔试真题", tags:['原大联盟', '小联盟', '外国语学院', '单考民校', '公办初中'], extra:'<i class="icon-hints"></i>'})
          .thumb-data-list
            .list
              +data-thumb-info-item({pack:true, price:true, ribbon:true})
              +data-thumb-info-item({price:true})
          +post-list({count:6})
        // End: 小升初笔试真题

        +ad({ex_class:["mb25"], width:620})

        // Start: 外国语学校面试真题
        .mod.mod-data
          +heading({classes:["heading", "heading-tabs"], title:"外国语学校面试真题", more:"更多"})
          .thumb-data-list
            .list
              +data-thumb-info-item({pack:true, price:true})
              +data-thumb-info-item({price:true})
          +post-list({count:6})
        // End: 外国语学校面试真题

        // Start: 小升初总复习
        .mod.mod-data
          +heading({classes:"heading heading-tabs", title:"小升初总复习", tags:['语文', '数学', '英语'], more:"更多"})
          .thumb-data-list
            .list
              +data-thumb-info-item({pack:true, price:true})
              +data-thumb-info-item({price:true})
          +post-list({count:6})
        // End: 小升初总复习

        +ad({ex_class:["mb25"], width:620})

        .row.row6-6
          .span6
            // Start: 小升初竞赛
            .mod.mod-data
              +heading({classes:"heading heading-tabs", title:"小升初竞赛", tags:['语文', '数学', '英语'], more:"更多"})
              .thumb-data-list
                .list
                  +data-thumb-info-item({price:true})
              +post-list({count:3})
            // End: 小升初竞赛
          .span6
            // Start: 同步辅导
            .mod.mod-data
              +heading({classes:"heading heading-tabs", title:"同步辅导", tags:['五年级', '六年级']})
              .thumb-data-list
                .list
                  +data-thumb-info-item({price:true})
              +post-list({count:3})
            // End: 同步辅导
      .span7
        // Start: 精华汇编
        .widget.widget-pack
          +heading({classes:"heading", title:"精华汇编"})
          .tab-cont
            .thumb-data-list
              .list
                +data-thumb-info-item({price:true})
                +data-thumb-info-item({price:true})
        // End: 精华汇编

        // Start: 热门下载
        .widget
          +heading({title:"热门下载"})
          .tab-cont
            +post-list({classes:["ranking-post"], ex_class:["mt5"], count:10})
        // End: 热门下载

        // Start: 挂件-会员动态
        +widget-events({title:"会员动态"})
        // End: 挂件-会员动态

        +ad({ex_class:["mb20"], width:330})

block qrcode
  include ../../partials/_qrcode