---
page_title: "广州站-资料频道-首页"
category: "default"
body_class: ["data-page"]
stylesheets: ["data"]
---

//- 模板继承
extends ../../_layout

//- 导入资料图文列表项
include ../../partials/_data-thumb-info-item

//- 内容
block content
  // Start: 主导航
  +navbar(default_nav_links)
  // End: 主导航

  .page-content
    .container
      // Start: 入口
      .entrance
        .hd
          .more
            a(href="#", target="_blank") 赚取高分币
            | 享海量资源
          .status
            | 资料文档库共
            span.num 1312314
            | 份，最近更新
            span.num 123
            | 份。你可以快速查找资料：
        .bd
          .sec
            h3
              a(href="#", target="_blank") 小升初
            .cont
              a.hl(href="#", target="_blank") 外国语学校面试卷
              a.hl(href="#", target="_blank") 六年级同步辅导班
              a(href="#", target="_blank") 广州市小英赛
              a(href="#", target="_blank") 六年级同步辅导班
              a(href="#", target="_blank") 小升初笔试真题
              a(href="#", target="_blank") 学科竞赛训练
              a(href="#", target="_blank") 小升初总复习
              a(href="#", target="_blank") 五年级同步辅导

          .sec
            h3
              a(href="#", target="_blank") 中考
            .cont
              a(href="#", target="_blank") 历年真题
              a(href="#", target="_blank") 仿真模拟
              a(href="#", target="_blank") 一模二模
              a(href="#", target="_blank") 一轮复习
              a(href="#", target="_blank") 期中期末
              a(href="#", target="_blank") 分册考点
              a(href="#", target="_blank") 考前冲刺
              a(href="#", target="_blank") 二轮复习

          .sec.last
            h3
              a(href="#", target="_blank") 高考
            .cont
              a(href="#", target="_blank") 一轮复习
              a(href="#", target="_blank") 二轮复习
              a(href="#", target="_blank") 模拟调研题
              a(href="#", target="_blank") 自主招生试题
              a(href="#", target="_blank") 高中学业水平考题
              a(href="#", target="_blank") 作文素材
              a(href="#", target="_blank") 冲刺押题
              a(href="#", target="_blank") 期中期末题
      // End: 入口

    .container
      .row.row13-7
        .span13


          // Start: 小升初资料
          .mod.mod-data.mod-data-tab
            +heading({classes:"heading heading-tabs", title:"小升初", link:true, tabs_s2:[{label:"大联盟真题", url:""}, {label:"小联盟真题", url:"#"}, {label:"单考民校真题", url:"#"}]})
            .tab-cont
              .thumb-data-list
                .list
                  - for(var i=1; i<=3; i++)
                    +data-thumb-info-item({pack:true, price:true})
                    +data-thumb-info-item({pack:true})
          // End: 小升初资料

          // Start: 中考资料
          .mod.mod-data.mod-data-tab
            +heading({classes:"heading heading-tabs", title:"中<i></i>考", link:true, tabs_s2:[{label:"最新真题", url:""}, {label:"分册考点", url:"#"}, {label:"一轮二轮", url:"#"}, {label:"期中期末", url:"#"}]})
            .tab-cont
              .thumb-data-list
                .list
                  - for(var i=1; i<=3; i++)
                    +data-thumb-info-item({pack:true, price:true})
                    +data-thumb-info-item({pack:true})
          // End: 中考资料

          // Start: 高考资料
          .mod.mod-data.mod-data-tab
            +heading({classes:"heading heading-tabs", title:"高<i></i>考", link:true, tabs_s2:[{label:"自主招生", url:""}, {label:"各省模拟题", url:"#"}, {label:"一轮二轮", url:"#"}, {label:"各省真题", url:"#"}, {label:"自主招生", url:"#"}, {label:"押题", url:"#"}]})
            .tab-cont
              .thumb-data-list
                .list
                  - for(var i=1; i<=3; i++)
                    +data-thumb-info-item({pack:true, price:true})
                    +data-thumb-info-item({pack:true})
          // End: 高考资料
        .span7
          // Start: 挂件-精华汇编
          .widget.widget-pack
            +heading({classes:"heading heading-tabs", title:"精华汇编", tabs:[{label:"小升初", url:"#", active:true}, {label:"中考", url:""}, {label:"高考", url:"#"}]})
            .tab-cont
              .thumb-data-list
                .list
                  +data-thumb-info-item({pack:true, price:true})
                  +data-thumb-info-item({pack:true, price:true})
          // End: 挂件-精华汇编

          // Start: 挂件-热门下载
          .widget
            +heading({classes:"heading heading-tabs", title:"热门下载", tabs:[{label:"小升初", url:"#", active:true}, {label:"中考", url:""}, {label:"高考", url:"#"}]})
            .tab-cont
              +post-list({classes:["ranking-post"], ex_class:["mt5"], count:10})
          // End: 挂件-热门下载

          +ad({ex_class:["mb20"], width:330})

          // Start: 挂件-会员动态
          +widget-events({title:"会员动态"})
          // End: 挂件-会员动态
    // Start:合作教师
    .mod.mod-teacher.container
      +heading({title:"合作教师", more:"申请合作"})
      // Start:人物栅格列表
      .row.people-grid
        - var i = 8
        - while(i--)
          .span5
            include partials/_people-grid-item
      // End:人物栅格列表
    // End:合作教师