---
page_title: "广州站-资料频道-资料详情PPT预览页"
category: "default"
body_class: ["data-page", "data-preview-page"]
stylesheets: ["data", "preview/pages"]
modals:
  -
    type: "data"
fixed_preview_toolbar: true
data_toolbar: true
breadcrumb: ["首页", "小升初", "小升初备考", "正文"]
---

//- 模板继承
extends ../../_layout

//- 导入资料图文项
include ../../partials/_data-thumb-info-item

//- 内容
block content
  // Start: 主导航
  +navbar(default_nav_links)
  // End: 主导航

  // Start: 面包屑导航
  +breadcrumb({breadcrumb:breadcrumb})
  // End: 面包屑导航

  .container.page-content
    .row.row14-6
      .span14
        // Start:简介
        .data-intro
          h3
            != article.title
          .details
            p= article.content
          .status
            p
              span 1188人浏览
              i |
              span 389次下载
              i |
              span 500次收藏
              i |
              span 2014年8月8日发布
              i |
              span 12M
              i |
              span doc文档
            p.tips
              | 共
              span 43
              | 页，下载需
              span.hl 100
              | 高分币，试读免费。
              a(href="#", target="_blank") 如何赚取高分币？

        // End:简介
        // Start:预览
        .data-preview
          #readcontainerparent
            include partials/_picture-previewer
            +picture-previewer
          // End:预览
      .span6
        .widget.widget-sponsor
          .hd 资料提供方：
          .bd
            // 提供方为教师
            .people-grid
              .thumb
                a(href="#", title="张老师")
                  +avatar
              .info
                h3
                  a(href="#", title="张老师") 张老师
                  span 提供72份资料
                p 新东方一级英语培训教师

            // 提供方为机构
            a(href="#", target="_blank")
              +dummy(180, 60)

        .widget.widget-share
          .bdsharebuttonbox(data-tag="share_1")
            span.label 分享到：
            a.bds_weixin(href='#', data-cmd='weixin', title='分享到微信')
            a.bds_tsina(href='#', data-cmd='tsina', title='分享到新浪微博')
            a.bds_qzone(href='#', data-cmd='qzone', title='分享到QQ空间')
            a.bds_bdhome(href='#', data-cmd='bdhome', title='分享到新首页')

        // Start: 他们也对这份资料感兴趣
        +widget-fav({title:"他们也对这份资料感兴趣"})
        // End: 他们也对这份资料感兴趣

        // Start: 热门搜索
        +widget-tag-clouds({title:"热门搜索"})
        // End: 热门搜索

        // Start: 精华汇编推荐
        .widget.widget-pack
          +heading({classes:"heading heading-tabs", more:"更多", title:"精华汇编推荐"})
          .thumb-data-list.icon-thumb
            .list
              - for(var i=1; i<=3; i++)
              +data-thumb-info-item({pack:true, publish_date:true, icon_thumb:"pack"})
        // End: 精华汇编推荐

        +ad({width:280, ex_class:["widget"]})

        // Start: 猜您喜欢
        +widget-post({title:"猜您喜欢", post_count:10, more:"更多"})
        // End: 猜您喜欢

        // Start: 浏览过的资料
        +widget-post({title:"浏览过的资料", post_count:5})
        // End: 浏览过的资料

        // Start: 关注高分
        +widget-follow-s2({type:"all"})
        // End: 关注高分