---
page_title: "广州站-资料频道-资料专题详情页"
category: "default"
body_class: ["data-topic-page"]
stylesheets: ["data_topic"]
modals:
  -
    type: "data"
baidu_share_mini: true
---

//- 模板继承
extends _data-topic-layout
