---
page_title: "广州站-资料频道-资料上传页"
category: "default"
body_class: ["data-page"]
stylesheets: ["data"]
---

//- 模板继承
extends ../../_layout

//- 内容
block content
  // Start: 主导航
  +navbar(default_nav_links)
  // End: 主导航

  .container.page-content
    // Start:上传资料
    .heading-form
      h2
        | 上传资料
        i (*号为必填)
    .form.form-upload
      .form-row.info
        label.control-label 上传资料
        .controls
          #file_upload.uploadify
            object#SWFUpload_0.swfupload(width="76", height="20", data="/public/js/uploadify/uploadify.swf?preventswfcaching=1386310211150", type="application/x-shockwave-flash")
              param(value="transparent", name="wmode")
              param(value="/public/js/uploadify/uploadify.swf?preventswfcaching=1386310211150", name="movie")
              param(value="high", name="quality")
              param(value="false", name="menu")
              param(value="always", name="allowScriptAccess")
              param(value="movieName=SWFUpload_0&uploadURL=%2Fajax%2FuploadFile%2F%3FSWFUPLOADSESSID%3D52a16a41b3b441386310209%26swf_auth_key%3Dc1161063a7e8ff2ed5c1d8028a6db283%26__rnd%3D1386310211148&useQueryString=false&requeueOnError=false&httpSuccess=&assumeSuccessTimeout=30&params=&filePostName=uploadefile&fileTypes=*.doc%3B*.docx%3B*.xls%3B*.xlsx%3B*.ppt%3B*.pptx%3B*.pdf&fileTypesDescription=All%20Files&fileSizeLimit=20480KB&fileUploadLimit=0&fileQueueLimit=1&debugEnabled=false&buttonImageURL=%2Fdocs%2F&buttonWidth=120&buttonHeight=30&buttonText=&buttonTextTopPadding=0&buttonTextLeftPadding=0&buttonTextStyle=color%3A%20%23000000%3B%20font-size%3A%2016pt%3B&buttonAction=-110&buttonDisabled=false&buttonCursor=-1", name="flashvars")
            #file_upload-button.uploadify-button
              span.uploadify-button-text SELECT FILES
          input#txtFileName.filename(type="text", disabled="true", value="谢晓路冷笑话精选.pdf")
        span.help-inline 文档限制20M以内，支持的文档格式：doc，ppt，excel，pdf
      .form-row
        label.control-label
          i.require *
          | 资料标题
        .controls
          input.input-text.input-large(type="text")
        span.help-inline 标题不超过20字
      .form-row
        label.control-label
          i.require *
          | 资料描述
        .controls
          textarea.input-text.input-large
        span.help-inline 请为文档添加一些说明
      .actions
        +button({element:"input", option:"primary", text:"提交文档"})
        +button({disabled:true, text:"提交文档"})
        span.loading-mini 正在上传文档，请稍候...(15%)
        p
          label.checkbox
            input(type="checkbox", checked="checked")
            | 我已认真阅读并同意
            a(href="#") 《资料授权许可协议》
    // End:上传资料