---
page_title: "广州站-资料频道-资料上传成功页"
category: "default"
body_class: ["data-page"]
stylesheets: ["data"]
---

//- 模板继承
extends ../../_layout

//- 内容
block content
  // Start: 主导航
  +navbar(default_nav_links)
  // End: 主导航

  .container.page-content
    // Start:上传资料成功
    .heading-form
      h2 上传成功
    .alert.alert-success.upload-success
      i.ico
      .info
        p
          | 您的文档：
          strong 《谢晓路冷笑话精选》
          | 已上传成功！
        p
          | 我们会在3个工作日内审核文档，您可以在“
          a(href="#") 个人中心
          | -
          a(href="#") 我的文档
          | ”中查看审核状态！
        .actions
          a.icon-return(href="#", title="继续上传文档") 继续上传文档
          a.icon-return(href="#", title="回到资料频道首页") 回到资料频道首页
    // End:上传资料成功