<?php F::TPL('common/header.html', ['id'=>$id], 'Czadmin') ?>
      <div class="row" id="part">
        <div class="col-sm-12 hidden"  id="partA">
          <form action="#" method="POST" class="form-horizontal"  id="shareForm">
			     <input type="text" name="id" value="<?php F::O($info['id']); ?>"  class="hidden">
            <div class="form-group">
              <label for="" class="col-sm-2 control-label">全称：</label>
              <div class="col-sm-2">
                <input type="text" id="" name="name" value="<?php F::O($info['name']); ?>" class="form-control"  vrel="_f|ne=m:请填写学校名称">
              </div>
              <label for="" class="col-sm-1 control-label">校区：</label>
              <div class="col-sm-2">
                <input type="text" id="" name="school_zone" value="<?php F::O($info['school_zone']); ?>" class="form-control">
              </div>
              <div class="col-sm-2" style="padding-top:7px;">(纯文字，不需括号)</div>
            </div>
            <div class="form-group">
              <label for="" class="col-sm-2 control-label">简称：</label>
              <div class="col-sm-4">
                <input type="text" id="" name="sub_name" value="<?php F::O($info['sub_name']); ?>" class="form-control">
              </div>
            </div>
            <div class="form-group">
              <label for="" class="col-sm-2 control-label">推荐：</label>
              <div class="col-sm-10">
                <?php foreach($czTopList as $_id=>$_name): ?>
                <label class="checkbox-inline">
                  <input type="checkbox" name='top[]' value="<?php F::O($_id); ?>"<?php if(in_array($_id, $info['top'])):?> checked="checked"<?php endif; ?>><?php F::O($_name); ?>
                </label>
                <?php endforeach; ?>
              </div>
            </div>
            <div class="form-group">
              <label for="" class="col-sm-2 control-label">关联高中部：</label>
              <div class="col-sm-2">
                <div class="checkbox checkbox-inline">
                  <input type="hidden" name="has_cz" value="1" />
                  <input type="hidden" name="has_gz" value="0" />
                  <input type="checkbox" name='has_gz' value="1"<?php if($info['has_gz']):?> checked="checked"<?php endif; ?>>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="" class="col-sm-2 control-label">办学性质：</label>
              <div class="col-sm-2">
                <select name="cate" id="" class="form-control">
                  <option value="1"<?php if(isset($info['cate']) && $info['cate']==1): ?> selected<?php endif; ?>>公办</option>
                  <option value="2"<?php if(isset($info['cate']) && $info['cate']==2): ?> selected<?php endif; ?>>民办</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label for="" class="col-sm-2 control-label">学校类型：</label>
              <div class="col-sm-8">
              <?php
              foreach($propertyList as $k=>$v): ?>
                <label class="checkbox-inline">
                  <input type="checkbox" name="property[]" value="<?php F::O($k); ?>"<?php if(in_array($k, $info['property'])): ?> checked="checked"<?php endif; ?>><?php F::O($v); ?>
                </label>
              <?php endforeach; ?>
              </div>
            </div>
            <div class="form-group">
              <label for="" class="col-sm-2 control-label">民校择校属性：</label>
              <div class="col-sm-8">
                  <?php foreach($pstypeList as $k=>$v): ?>
                  <label class="checkbox-inline"><input type="checkbox" name="pstype[]" value="<?php F::O($k); ?>"<?php if(in_array($k, $info['pstype'])): ?> checked<?php endif; ?>><?php F::O($v); ?></label>
                  <?php endforeach; ?>
              </div>
            </div>
            <div id="areaPart" class="form-group" rel="city:<?php F::O($info['city']); ?>,district:<?php F::O($info['district']); ?>">
              <label for="" class="col-sm-2 control-label">所在区域：</label>
              <div class="col-sm-2">
              <select name="city" id="city"  vrel="_f|ne=m:请选择所在城市" class="form-control">
                  <option value="">请选择</option>
               </select>
               </div>
               <div class="col-sm-2">
      				 <select name="district" id="district"  vrel="_f|ne=m:请选择所在区域" class="form-control">
                  <option value="">请选择</option>
               </select>
      			  </div>
            </div>
            <div class="form-group">
              <label for="" class="col-sm-2 control-label">编辑点评：</label>
              <div class="col-sm-10">
                <?php foreach($tags as $_id=>$_name): ?>
                <label class="checkbox-inline">
                  <input type="checkbox" name='tags[]' value="<?php F::O($_id); ?>"<?php if(in_array($_id, $info['tags'])):?> checked="checked"<?php endif; ?>><?php F::O($_name); ?>
                </label>
                <?php endforeach; ?>
              </div>
            </div>
            <div class="form-group">
              <label for="" class="col-sm-2 control-label">入读难度：</label>
              <div class="col-sm-1">
                <select name="ext[rate][admit]" class="form-control">
                  <?php for($i=0; $i<=5; $i+=0.5): ?>
                  <option value="<?php F::O($i); ?>"<?php if(@$info['ext']['rate']['admit']==$i): ?> selected<?php endif; ?>><?php F::O($i); ?>星</option>
                  <?php endfor; ?>
                </select>
              </div>
              <label for="" class="col-sm-1 control-label">中考成绩：</label>
              <div class="col-sm-1">
                <select name="ext[rate][score]" class="form-control">
                  <?php for($i=0; $i<=5; $i+=0.5): ?>
                  <option value="<?php F::O($i); ?>"<?php if(@$info['ext']['rate']['score']==$i): ?> selected<?php endif; ?>><?php F::O($i); ?>星</option>
                  <?php endfor; ?>
                </select>
              </div>
              <label for="" class="col-sm-1 control-label">热门程度：</label>
              <div class="col-sm-1">
                <select name="ext[rate][hot]" class="form-control">
                  <?php for($i=0; $i<=5; $i+=0.5): ?>
                  <option value="<?php F::O($i); ?>"<?php if(@$info['ext']['rate']['hot']==$i): ?> selected<?php endif; ?>><?php F::O($i); ?>星</option>
                  <?php endfor; ?>
                </select>
              </div>
              <label for="" class="col-sm-1 control-label">学费高低：</label>
              <div class="col-sm-1">
                <select name="ext[rate][fee]" class="form-control">
                  <?php for($i=0; $i<=5; $i+=0.5): ?>
                  <option value="<?php F::O($i); ?>"<?php if(@$info['ext']['rate']['fee']==$i): ?> selected<?php endif; ?>><?php F::O($i); ?>星</option>
                  <?php endfor; ?>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label for="" class="col-sm-2 control-label">入学徐径：</label>
              <div class="col-sm-8">
                  <?php foreach($attypeList as $k=>$v): ?>
                  <label class="checkbox-inline"><input type="checkbox" name="attype[]" value="<?php F::O($k); ?>"<?php if(in_array($k, $info['attype'])): ?> checked<?php endif; ?>><?php F::O($v); ?></label>
                  <?php endforeach; ?>
              </div>
              <div class="col-sm-8 col-sm-offset-2">
                  参考：<?php F::O(@$info['ext']['attype']); ?>
              </div>
            </div>
            <div class="form-group">
              <label for="" class="col-sm-2 control-label">招生电话：</label>
              <div class="col-sm-4">
                <input type="text" id="" name="ext[phone]" value="<?php F::O(@$info['ext']['phone']); ?>" class="form-control">
              </div>
            </div>
            <div class="form-group">
              <label for="" class="col-sm-2 control-label">地址：</label>
              <div class="col-sm-4">
                <input type="text" id="" name="ext[address]" value="<?php F::O(@$info['ext']['address']); ?>" class="form-control">
              </div>
            </div>
            <div class="form-group">
              <label for="" class="col-sm-2 control-label">官网：</label>
              <div class="col-sm-4">
                <input type="text" id="" name="ext[website]" value="<?php F::O(@$info['ext']['website']); ?>" class="form-control">
              </div>
            </div>
            <div class="form-group">
              <label for="" class="col-sm-2 control-label">是否启用：</label>
              <div class="col-sm-4">
                <label class="radio-inline">
                  <input type="radio" name='cz_state' value="0"<?php if($info['cz_state']==0): ?> checked="checked"<?php endif; ?>>否
                </label>
                <label class="radio-inline">
                  <input type="radio" name='cz_state' value="1"<?php if($info['cz_state']): ?> checked="checked"<?php endif; ?>>是
                </label>
              </div>
            </div>
            <div class="form-group">
              <label for="" class="col-sm-2 control-label">排序：</label>
              <div class="col-sm-4">
                <input type="text" id="" name="sort" value="<?php F::O($info['sort']); ?>" class="form-control">
              </div>
            </div>
            <nav role="navigation" class="navbar navbar-default navbar-fixed-bottom">
              <div class="col-sm-offset-2 col-sm-8 actions">
                <button type="submit" class="btn btn-primary"  id="shareBtn">提交</button>
              </div>
            </nav>
          </form>
        </div>
        <!--简介-->
        <div class="col-sm-12 hidden" id="partB">
          <form action="#" method="POST" class="form-horizontal">
			     <input type="text" id="school_id" name="id" value="<?php F::O($info['id']); ?>"  class="hidden">
            <div class="form-group">
              <label for="" class="col-sm-2 control-label">简介：</label>
              <div class="col-sm-8">
                <textarea rows="10" class="form-control" name="intro" id="introEditor"><?php F::O($info['intro']); ?></textarea>
              </div>
            </div>
            <div class="form-group">
              <label for="" class="col-sm-2 control-label">校园图片：</label>
              <div class="col-sm-9">
                <input type="file" id="school_img" multiple>
              </div>
            </div>
            <div class="form-group">
      			  <div class="col-sm-offset-2 thumbnails clearfix" id="img_preview">
      			     <?php foreach($picList['list'] as $_k=>$item): ?>
                  <?php $sn = $_k+1; ?>
                  <div class="col-sm-3" id="uploadList_<?php F::O($sn); ?>" rel="<?php F::O($item['id']); ?>">
                  <div class="thumbnail<?php if($item['uri']==$info['cover']): ?> cover<?php endif; ?>"><img src="<?php echo $item['thumb_small_url']; ?>" id="pic_<?php F::O($sn); ?>"><input type="text" name="cover" value="<?php echo $item['uri']; ?>" class="hidden"><input type="text" name="title" class="form-control input-sm" value="<?php F::O($item['title']); ?>"><div class="operations"><button href="#" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-star"></i> 设为封面</button><button href="#" class="btn btn-danger btn-xs"><i class="glyphicon glyphicon-trash"></i></button></div></div></div>
                 <?php endforeach; ?>
      			  </div>
            </div>
            <nav role="navigation" class="navbar navbar-default navbar-fixed-bottom">
              <div class="col-sm-offset-2 col-sm-8 actions">
                <button type="submit" class="btn btn-primary" id="introBtn">提交</button>
              </div>
            </nav>
          </form>
          

        </div>
      </div>
    </div>
	
	    <!-- Start: 警告浮层 .modal-warning-->
        <div id="modalConfirmDelete" class="modal modal-warning fade">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" data-dismiss="modal" aria-hidden="true" class="close">&times;</button>
                <h4 class="modal-title">警告</h4>
              </div>
              <div class="modal-body">
                <p>你确定删除封面图片</p>
              </div>
              <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-default">取消</button>
                <button type="button" class="btn btn-primary" id="delSchoolSure">确定</button>
              </div>
            </div>
          </div>
        </div>
        <!-- Start: 警告浮层 .modal-warning-->
      <?php F::TPL('common/footer.html', [], 'Czadmin') ?>
      <script>
         Gaofen.PD.set(<?php echo json_encode($districtList); ?>);
      </script>
  