---
page_title: "广州站-首页"
category: "default"
body_class: ["home-page"]
stylesheets: ["index"]
ad_footer: true
---

//- 模板继承
extends ../../_layout

//- 导入图文列表
include ../../partials/_thumb-info-list-s2

//- 内容
block content
  // Start:主导航
  +navbar(default_nav_links)
  // End:主导航

  +ad({width:980, ex_class:["container", "ad-top mt15"], count:3})

  .container.page-content
    .row.row13-7
      .span13
        // Start: 热门
        .mod.mod-hot
          .clearfix
            +ad({width:260, height:195, count:3})
            .rec-news
              +post-list({classes:["post-list-large"], first_item_highlighted:true, count:2})
              +post-list({classes:["post-list-large"], first_item_highlighted:true, count:2})
              +post-list({classes:["post-list-large"], first_item_highlighted:true, count:2})
        // End: 热门

        // Start: 大家在关注
        .mod.mod-focus
          .hd 大家在关注
          .bd
            .tag-links
              .inner
                - for(var i=1; i<=16; i++)
                  a(href="#", target="_blank", class="#{i==3 ? 'highlight':''}") 小升初笔试真题
        // End: 大家在关注

        +ad({ex_class:["mb20"], width:620})

        // Start: 最新
        .mod.mod-latest
          +heading({title:"最新资讯", classes:["heading", "heading-tabs"], tags:["小升初", "中考","高考"]})
          +thumb-info-list-s2({count:12, has_subject:true})
        // End: 最新

      .span7
        // Start: 注册入口
        .reg-entrance
          .info
            | 加入
            span 高分网
            | ，共享
            span 117万本地家长
            | 教育资源
          .actions
            +button({text:"立即注册", option:"primary"})
            span.msg
              span 大汉皇叔刘玄德
              | 15分钟前加入
        // End: 注册入口

        // Start: 快速入口
        .entrances.mb20
          .sec.first
            h3
              | 小升初
              i.arrow
            .cont
              - var i=6
              - while(i--)
                a(href="#", target="_blank") 一二三四五
          .sec
            h3
              | 中考
              i.arrow
            .cont
              - var i=6
              - while(i--)
                a(href="#", target="_blank") 一二三四五
          .sec
            h3
              | 高考
              i.arrow
            .cont
              - var i=6
              - while(i--)
                a(href="#", target="_blank") 一二三四五
        // End: 快速入口

        // Start: 热门活动
        +widget-hot-events({count:3})
        // End: 热门活动

        +ad({ex_class:["mb20"], width:330})

        // Start: 社区热门
        +widget-bbs-hot-posts
        // End: 社区热门

        // Start: 热门资料
        +widget-hot-data
        // End: 热门资料

        //- +ad({ex_class:["mb20"], width:330})

        //- Start: 热门标签
        //- +widget-hot-tags
        //- End: 热门标签

    +ad({width:980, ex_class:["container"]})

    // Start: 友情链接
    +link-cloud
    // End: 友情链接