<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>豆计划</title>
    <meta name="keyword" content="">
    <meta name="description" content="">
    <meta name="HandheldFriendly" content="true">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, minimal-ui, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="cleartype" content="on">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-TileColor" content="#F8F8F8">
    <link rel="stylesheet" href="<?php echo GAOFEN_STATIC;?>/html/mobile/css/base.css">
    <link rel="stylesheet" href="<?php echo GAOFEN_STATIC;?>/html/mobile/css/event.css">
</head>
<body class="event-page">
<header class="event-header">
    <h1>豆计划</h1>
</header>
<div class="page-content">
    <div class="ui-picture hidden">
        <ul class="ui-picture-container">
            <li><a href="#" target="_blank"><img
                    src="<?php echo GAOFEN_STATIC;?>/html/mobile/images/dummies/640x100.png" alt=""/></a></li>
        </ul>
    </div>
    <div class="box slider hidden" id="sliderBox">
        <div class="hidden" id="slider_body">
            <div class="slides">
                <?php //foreach ($huodongs['list']->take(3) as $huodong):?>
                <a href="<?php //echo F::URL('huodong_m:/huodong/events/show', ['id' => $huodong->id]); ?>">
                    <img src="<?php //echo $huodong->cover ?>" alt=""/>
                </a>
                <?php //endforeach ?>
            </div>
            <div class="slide-info">
                <?php //foreach ($huodongs['list']->take(3) as $index => $huodong):?>
                <?php //$hidden = $index == 0 ? null : 'hidden' ?>
                <a href="<?php //echo F::URL('huodong_m:/huodong/events/show', ['id' => $huodong->id]); ?>" class="<?php //echo $hidden ?>">
                    <h3><?php //echo $huodong->title ?></h3>
                    <div class="event-metas">
                        <span class="time">活动时间：<?php //echo $huodong->startime ?></span>
                        <span class="count">已报名：<?php //echo $huodong->applynum ?></span>
                    </div>
                </a>
                <?php //endforeach ?>
            </div>
        </div>
        <div class="loading" id="slider_loading"><span class="bounce1"></span><span class="bounce2"></span><span class="bounce3"></span></div>
    </div>
    <div class="box mod">
        <h2 class="mod-hd mod-hd-s2"><span>精彩活动</span></h2>

        <div class="mod-bd">
            <div class="event-list" id="event_list">
                <?php F::TPL('/events/ajaxhuodongs.html', ['huodongs' => $huodongs['list']->slice(0)], 'Huodong') ?>
            </div>
            <div class="link-more"><span id="more">查看更多活动</span></div>
            <div class="loading hidden" id="more_loading"><span class="bounce1"></span><span class="bounce2"></span><span class="bounce3"></span></div>
        </div>
    </div>
</div>
<footer class="footer">
    <div class="ui-picture hidden">
        <ul class="ui-picture-container">
            <li><a href="#" target="_blank"><img
                    src="<?php echo GAOFEN_STATIC;?>/html/mobile/images/dummies/640x100.png" alt=""/></a></li>
        </ul>
    </div>
    <div class="contact">
        <p>联系我们：400-880-5286 （周一到五 9:00-18:00）</p>

        <p>www.gaofen.com</p>
    </div>
</footer>
<div class="ui-mask hidden"></div>
<script type="text/javascript" src="/public/js/gmu/zepto.min.js"></script>
<script type="text/javascript" src="/public/js/base.js"></script>
<script type="text/javascript">
        Gaofen.PD.set({'channel':'xuexiao', 'module':'huodong', 'action':'index','moreuri' : '<?php echo F::URL("huodong_m:/huodong/events/ajaxhuodong"); ?>'});
    </script>
<script type="text/javascript" src="/public/js/huodong/huodong.js"></script>
</body>
</html>