<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>豆计划</title>
    <meta name="keyword" content="">
    <meta name="description" content="">
    <meta name="HandheldFriendly" content="true">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="cleartype" content="on">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-TileColor" content="#F8F8F8">
    <link rel="stylesheet" href="<?php echo GAOFEN_STATIC;?>/html/mobile/css/base.css">
    <link rel="stylesheet" href="<?php echo GAOFEN_STATIC;?>/html/mobile/css/event.css">
</head>
<body class="event-page">
    <header class="event-header"><a href="<?php echo F::URL('huodong_m:/huodong/events/index') ?>" class="iconfont icon-return">&#x3601;</a>
      <h1>活动报名</h1>
  </header>
  <div class="page-content">
    <div class="box">
        <h1 class="post-title"><?php echo $huodong->title ?></h1>
        <div class="post-content">
            <p><img src="<?php echo GAOFEN_STATIC;?>/html/mobile/images/dummies/640x100.png" width="640" height="100" alt=""></p>

            <?php echo $huodong->content ?>

            <div class="apply-form">
                <h2>报名信息填写</h2>
                <p>截止时间：<?php echo $huodong->expiration ?></p>
                <script src="<?php echo F::URL('form:/form',[], [$huodong->form_id =>'embedded.js']) ?>"></script>
            </div>
        </div>
    </div>
    <div class="panel-share hidden">
        <a href="#" class="btn btn-weixin btn-block" id="weixinshare"><i class="iconfont">&#xe606;</i><span>立即分享给小伙伴们</span></a>
    </div>

    <div class="box mod hidden">
        <h2 class="mod-hd"><span>相关活动</span></h2>
        <div class="ui-list"><a href="#" target="_blank" class="ui-list-item">悄悄的我走了正如我悄悄的来我挥一挥衣袖不带走一片云彩</a><a href="#" target="_blank" class="ui-list-item">悄悄的我走了正如我悄悄的来我挥一挥衣袖不带走一片云彩</a><a href="#" target="_blank" class="ui-list-item">悄悄的我走了正如我悄悄的来我挥一挥衣袖不带走一片云彩</a><a href="#" target="_blank" class="ui-list-item">悄悄的我走了正如我悄悄的来我挥一挥衣袖不带走一片云彩</a><a href="#" target="_blank" class="ui-list-item">悄悄的我走了正如我悄悄的来我挥一挥衣袖不带走一片云彩</a>
        </div>
    </div>
</div>
<footer class="footer">
    <div class="ui-picture">
        <ul class="ui-picture-container">
            <li><a href="#" target="_blank"><img src="<?php echo GAOFEN_STATIC;?>/html/mobile/images/dummies/640x100.png" alt=""/></a></li>
        </ul>
    </div>
    <div class="contact">
        <p>联系我们：400-880-5286 （周一到五 9:00-18:00）</p>
        <p>www.gaofen.com</p>
    </div>
</footer>
<div class="ui-mask hidden"></div>
</body>
</html>