<header id="header" class="header">
    <div class="header-bar">
        <a href="javascript:history.go(-1)" class="iconfont icon-return">&#xe601;</a>

        <span id="navToggle" class="iconfont icon-menu">&#xe607;</span>
        <span id="search" class="iconfont icon-search">&#xe600;</span>

        <h1>高中库</h1>
    </div>
    <!-- Start: 主导航-->
    <div class="nav-main">
        <ul>
            <li>
                <a href="<?php echo F::URL('/cp/mobile/index' , ['school_type' => schoolType()->toValue()]) ?>"
                   class="nav-home"><span><?php echo schoolType()->toFormatName('','首页') ?></span></a>
            </li>
            <li>
                <a href="<?php echo F::URL('/cp/mobile/list' , ['school_type' => schoolType()->toValue()]) ?>"
                   class="nav-post"><span><?php echo schoolType()->toFormatName('', '资讯') ?></span></a>
            </li>
            <li>
                <a href="<?php echo F::URL('mobi:/jiangzuo') ?>"
                   class="nav-activity"><span><?php echo schoolType()->toFormatName('', '活动') ?></span></a>
            </li>
            <li>
                <a href="<?php echo F::URL('baike_m:/entrymobile/index' , [], ['school' => schoolType()->toAlias()]) ?>"
                   class="nav-wiki"><span><?php echo schoolType()->setIndex('school_types')->toFormatName('', '百科') ?></span></a>
            </li>

            <li>
                <a href="<?php echo F::URL('gzm:/gz/mobile_School/index') ?>"
                   class="nav-library"><span>广州高中库</span></a>
            </li>

            <li>
                <a href="<?php echo F::getLink('jiazhang') ?>"
                   class="nav-parent"><span>高分家长<span class="ui-label label-orange">New</span></span></a>
            </li>
        </ul>
    </div>
    <!-- End: 主导航-->
    <div class="search-bar hidden" id="searchBar">
        <input type="text" placeholder="请输入学校名称">
        <button type="submit" class="">搜索</button>
    </div>
</header>