
<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <title><?php F::SEO()->echoTitle(array('name'=>$info['name'])); ?></title>
        <meta name="description" content="中小学教育服务平台">
        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui, maximum-scale=1.0, user-scalable=no">
        <meta http-equiv="cleartype" content="on">
        <meta name="format-detection" content="telephone=no">
        <meta name="msapplication-TileColor" content="#222222">
        <?php F::TPL('mobile/school/style.html', [], 'Gz'); ?>
    </head>

    <body class="school-details-page">
            <?php F::TPL('mobile/school/navigation.html', [], 'Gz'); ?>
            <div class="page-content">
                <div class="box">
                    <div class="box-hd">
                        <h2><?php F::O($info['name']); ?></h2>
                    </div>
                    <div class="box-bd">
                        <div class="metas"><?php if($info['sub_name']): ?><span>简称<?php F::O($info['sub_name']); ?></span><?php endif; ?><span><?php if($info['cate']!=2): ?>公办<?php else: ?>民办<?php endif; ?>学校</span><span><?php F::O($info['city_name'].$info['district_name']); ?></span>
                        </div>
                        <div class="comment-pills"><?php foreach($info['tags'] as $tag): ?><span><?php F::O($tag); ?></span><?php endforeach; ?></div>
                    </div>
                </div>
                <div class="box">
                    <!--Start: 其它模块-->
                    <?php echo $infoList; ?>
                    <!--End: 其它模块-->
                    <?php if($display!='all'): ?>
                    <a href="<?php echo F::URL('gzm:/Gz/MObile_School/view', array('id'=>$info['id'], 'display'=>'all')); ?>" class="link-more"><i class="iconfont">&#xe602;</i><span>查看全部招生信息</span></a>
                    <?php endif; ?>
                </div>
                <div class="box entrances">
                    <?php F::TPL('mobile/school/mobi_nav.html', ['sid'=>$info['id']], 'Gz'); ?>
                </div>
            </div>
            <?php F::TPL('common/mobile/footer.html', [
            'footerjs' =>  F::TPL('/mobile/school/footerjs.html', [], 'gz', true)
            ]) ?>

        <script type="text/javascript">
            Gaofen.PD.set({
                'channel' : 'view',
                'id' : '<?php F::O($info['id']); ?>'
            });
        </script>        
    </body>

</html>