#modalDataDetails.modal.modal-data.modal-data-details.hidden
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal')
          span(aria-hidden='true') &times;
        h4.modal-title 数据详情
      .modal-body
        .entry-info-container
          a.entry-print(href="#")
            i.fa.fa-print
            | 打印
          .entry-info
            dl
              dt 序号：
              dd 1
            dl
              dt 提交人：
              dd 谢滔志
              dt 提交时间：
              dd 2015-05-22 14:20:26
            dl
              dt 最后修改人：
              dd 谢滔志
              dt 最后修改时间：
              dd 2015-05-22 14:20:26
            dl
              dt 填写设备：
              dd Macintosh
              dt 操作系统：
              dd OS X 10.10.3
              dt 浏览器：
              dd Chrome 41.0.2272.76
              dt IP:
              dd 59.41.36.2
        .entry-show
          .form-content
            dl
              dt 未命名
              dd
                ul
                  li 选项
              dt 未命名
              dd
              dt 未命名
              dd 相当满意
              dt 未命名
              dd
                ul
                  li 选项
                  li 选项
                  li 选项
              - for(var i=1; i<=10; i++)
                dt 未命名
                dd
                  ul
                    li 选项
          .loading
            i.fa.fa-refresh.fa-spin
          .actions
            .pull-right
              ul.pagination.pagination-sm
                li.disabled
                  span
                    i.fa.fa-angle-left
                li
                  a(href="#")
                    i.fa.fa-angle-left
                li
                  span
                    i.fa.fa-angle-right
                li.disabled
                  a(href="#")
                    i.fa.fa-angle-right
            .pull-right.pages
              | 1/10
            a.btn.btn-warning.btn-sm(href="#") 修改
            a.btn.btn-danger.btn-sm(href="#") 删除

