//- 挂件：日历
//------------------------------

mixin widget-calendar(type)
  .widget.widget-calendar
    .hd
      | 距离
      != type
      | 还有
      span 166
      | 天
    .bd
      .calendar
        .months
          ul
            - for(var i=1; i<=12; i++)
              li(class="#{i==1?'current':i==2?'active':''}")= i + "月"
        span.prev
        span.next
      .events
        .cont
          a(href="#", target="_blank") 小升初笔试真题
          a.highlight(href="#", target="_blank") 寒假复习计划
          a(href="#", target="_blank") 华杯赛获奖名单
          a(href="#", target="_blank") 希望杯
          a(href="#", target="_blank") 特长生招生政策
          a(href="#", target="_blank") 学校开放日时间汇总
          a(href="#", target="_blank") 寒假复习计划