---
page_title: "404页"
body_class: ["404-page"]
---
extends _layout
block content
    .container
        .tc.mt80.pt40
            i.icon.icon-404
            p.font-blue.font-xxl 啊哦~~找不到页面

block javascript
    script.