---
page_title: "新设置页"
body_class: ["setting-page"]
---
extends _layout
block content
    .container
        // 个人设置
        .mt30
            .setting-container
                a.btn-setting(href='javascript:;',title='账号设置')
                    i.icon.icon-setting-b
                    span 账号设置
                form.tc.mt20
                    .gf-form
                        .set-title
                            i.icon.icon-set-person
                            span 基本资料
                        .upload-avatar.tl
                            span 个人头像：
                            .avatar-wrap
                                .ui-avatar
                                    // 头像位置
                                a.tc(href='javascript:;') 修改头像
                        .gf-form-row.tr
                            label 用户昵称：
                            input(type='text')
                        .gf-form-row.tr
                            label 身份：
                            .input
                                span 选择身份
                                select
                                    option(value='家长') 家长
                                    option(value='学生') 学生
                                    option(value='亲戚') 亲戚
                                i.icon.icon-down-black
                        .set-title
                            i.icon.icon-set-school
                            span 就读学校
                        .gf-form-row.tr
                            label 所在学校：
                            input(type='text')
                        .gf-form-row.tr
                            label 就读年级：
                            .input
                                span 选择就读年级
                                select
                                    option(value='小学一年级') 小学一年级
                                    option(value='小学二年级') 小学二年级
                                    option(value='小学三年级') 小学三年级
                                    option(value='小学四年级') 小学四年级
                                    option(value='小学五年级') 小学五年级
                                    option(value='小学六年级') 小学六年级
                                i.icon.icon-down-black

                    br
                    input.btn.btn-submit.mt30(type='button', value='确定')
            .setting-bind
    .ui-task.in
        //.ui-task-tips.bg-primary 直播即将开始，同学们可先和助教老师交流哦
        //.ui-task-tips.bg-success 提交成功
        //.ui-task-tips.bg-warn 真的开始提交吗
        .ui-task-tips.bg-danger 提交失败
    +loader-box('fixed')
block javascript
    script.
        $('select').on('change', function () {
            var selected_text = $(this).find('option:selected').val()
            $(this).prev().text(selected_text)
        })