<link rel="stylesheet" href="<?php echo GAOFEN_STATIC;?>/html/v6/css/library/base.min.css">
<link rel="stylesheet" href="<?php echo GAOFEN_STATIC;?>/html/v6/css/library/junior.min.css">
<script src="http://bbs.gaofen.com/source/plugin/gaofen_ad/js/gad_chuzhong.js"></script>
<script type='text/javascript'>
      var _vds = _vds || [];
      window._vds = _vds;
      (function(){
        _vds.push(['setAccountId', 'b4e5e5bca6206570']);
        (function() {
          var vds = document.createElement('script');
          vds.type='text/javascript';
          vds.async = true;
          vds.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'dn-growing.qbox.me/vds.js';
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(vds, s);
        })();
      })();
  </script>
