<div class="topbar">
    <div class="container">
        <!-- Start:导航-->
        <div class="nav-site">
        <?php F::TPL('common/site_nav.html'); ?>
        </div>
        <!-- End:导航-->
    </div>
</div>
<div class="header">
    <div class="container">
        <div class="logo">
            <a href="<?php echo F::getLink('xcz'); ?>" title="高分网初中库"><img src="<?php echo GAOFEN_STATIC;?>/html/v6/img/library/junior/logo.png" alt="高分网初中库" />
            </a>
        </div>
        <div class="search-box" id="searchArea">
            <form action="<?php echo F::URL('/Cz/School/index'); ?>" target="_blank">
                <input type="text" name = 'q' class="search-query blur"  autocomplete="off">
                <button class="search-btn" type="submit">搜索</button>
            </form>
            <div class="ui-dropdown hidden">
                <div class="ui-dropdown-in">
                    <div class="query-result"><div class="tips-null">暂未能找到，换所学校试试？</div></div>
                    <div class="query-result scrollable"><ul></ul><div class="scroll-bar"><div class="scroll-track"></div><div style="height:40px;" class="scroll-thumb"></div></div></div>
                </div>
                <i class="arrow"><i class="arrow-border"></i><i class="arrow-body"></i></i>
            </div>
        </div>
        <?php $fromurl=F::getSiteHost('xuexiao').V('s:REQUEST_URI'); ?>
        <?php if(!Users::isLogin()): ?>
        <!-- 未登录-->
        <div class="head-login clearfix">
            <div class="quick-login">
                <a href="<?php echo F::getSiteHost('sso').F::URL('/account/qzoneLogin', array('fromurl'=>$fromurl));?>" title="用QQ账号登录" class="link-qq">用QQ账号登录</a>
                <a href="<?php echo F::getSiteHost('sso').F::URL('/account/sinaLogin', array('fromurl'=>$fromurl));?>" title="用微博账号登录" class="link-weibo">用微博账号登录</a>
            </div>
            <div class="actions">
                <a rel="e:lg" href="<?php echo F::getSiteHost('sso').F::URL('/signin', array('fromurl'=>$fromurl)); ?>">登录</a><i>|</i>
                <a href="<?php echo F::getSiteHost('sso').F::URL('/signup', array('fromurl'=>$fromurl)); ?>" target="_blank">注册</a>
            </div>
        </div>
        <?php else: ?>
        <!-- Start:登录后 -->
    <div class="user-panel hidden" id="userPanel">
        <a class="avatar" target="_blank" href="http://my.gaofen.com" id="userpic">
            <img />
        </a>
        <div class="info">
            <div class="name">欢迎您，<a  href="http://my.gaofen.com" target="_blank" id="user" class="username"></a></div>
            <ul class="operations">
                <li><a href="http://my.gaofen.com" title="会员中心">会员中心</a>
                </li>
                <li class="seperator">|</li>
                <li class="dropable news" id="newsBtn"><a href="#" title="动态" class="trigger" id="newsHandle">动态<i class="icon hidden"></i><span class="bg"><span class="bg-in"></span></span></a>
                    <div class="dropdown">
                        <div class="dropdown-in">
                            <div class="news-wrap">
                                <div class="sec hidden">
                                    <div class="hd">社区消息</div>
                                    <div class="bd">
                                        <div class="news-list">

                                        </div>
                                        <div class="more"><a href="#" target="_blank">查看更多消息<i>&gt;&gt;</i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="sec hidden">
                                    <div class="hd setName"><span></span>最新资料</div>
                                    <div class="bd">
                                        <div class="data-list">

                                        </div>
                                    </div>
                                </div>
                                <div class="sec hidden">
                                    <div class="hd setName"><span></span>活动</div>
                                    <div class="bd">
                                        <div class="event-list">
                                        </div>
                                        <div class="more"><a href="http://huodong.gaofen.com" target="_blank">更多活动<i>&gt;&gt;</i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="sec tips-null hidden">
                                    <p>暂无任何动态</p>
                                </div>
                                <div class="sec" id="loading">
                                    <div class="loading-mini"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="seperator">|</li>
                <li class="dropable more" id="newsMore"><a href="#" class="trigger caret">更多<i></i><span class="bg"><span class="bg-in"></span></span></a>
                    <div class="dropdown">
                        <div class="dropdown-in">
                            <div class="extra-links"><div class="inner"><div class="item"><a href="http://my.gaofen.com/my/profile" target="_blank">个人设置</a></div><div class="item"><a href="http://my.gaofen.com/signin/loginOut" >退出</a></div></div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!-- End:登录后 -->
    <?php endif; ?>
        
    </div>
    <div class="nav-bar">
            <div class="container">
                <ul class="nav">
                    <li class="nav-index"><a href="<?php echo F::URL('/Cz/School/front'); ?>" title="首页">首页</a></li>
                    <li class="nav-search"><a href="<?php echo F::URL('/Cz/School/index'); ?>">学校搜索</a></li>
                    <li class="nav-ranking"><a href="<?php echo F::URL('/Cz/School/rank'); ?>" title="学校排行">学校排行</a></li>
                    <li class="nav-guide"><a href="<?php echo F::URL('/Cz/School/guide'); ?>" title="升学指导">升学指导</a></li>
                    <!--li class="nav-follows"><a href="" target="_blank" title="关注管理">关注管理</a>
                    </li-->
                </ul>
            </div>
        </div>
</div>