<?php TPL::output('global/gaofen_new/header.tpl.htm'); ?>
<div class="container pb30">
    <div class="special-tab clearfix mt40"><img src="<?php echo G_STATIC_URL; ?>/img/gaofen_new/title-special.png" alt="" class="mr20"><span class="font-lg font-grey">发掘更多专题在这里</span>
        <div class="special-sort fr">
            <?php if($_GET['type'] == 'hot'){ ?>
                <a href="special/?type=new" title=""><i class="icon icon-sort"></i><span>最新</span></a><a href="special/?type=hot" title="" class="active"><i class="icon icon-sort"></i><span>热门</span></a>
            <?php }else{ ?>
                <a href="special/?type=new" title="" class="active"><i class="icon icon-sort"></i><span>最新</span></a><a href="special/?type=hot" title=""><i class="icon icon-sort"></i><span>热门</span></a>
            <?php } ?>
        </div>
    </div>
    <div class="treasury-group clearfix">
        <?php foreach ($this->special_list as $key => $value) { ?>
        <div class="ui-thumbnail ui-thumbnail-special"><a href="special/detail/<?php echo $value['id'] ?>" title="" target="_blank" class="img-wrap"><img src="<?php echo $value['special_cover_url_big'] ?>" alt=""/></a>
            <div class="ui-thumbnail-content special-thumbnail-content"><a href="special/detail/<?php echo $value['id'] ?>" title="<?php echo $value['special_title'] ?>" target="_blank" class="thumbnail-title"><?php echo $value['special_title'] ?></a>
                <div class="thumbnail-tips mt5">共<?php echo $value['article_num'] ?>篇内容</div>
            </div>
        </div>
        <?php } ?>
    </div>
    <div class="tc"><a href="javascript:;" title="查看更多" class="btn btn-blue mt40" data-page="2" id="btn-more">查看更多</a></div>
</div>
<script src="<?php echo G_STATIC_URL; ?>/js/gaofen_new/jquery.1.8.2.js"></script>
<script src="<?php echo G_STATIC_URL; ?>/js/gaofen_new/swipePC.js"></script>
<script src="<?php echo G_STATIC_URL; ?>/js/gaofen_new/common.js"></script>
<script>
    var type = '<?php echo $this->type ?>';
    var _get = 1;
    $('.btn-blue').on('click', function () {
        if(!!_get){
            JZ.load_special($(this), type)
        }
    });
    $('.wrap').removeClass('index-page').addClass('special-page')
</script>
<?php TPL::output('global/gaofen_new/footer.tpl.htm'); ?>