<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>自定义表单-表单-网页版</title>
    <meta name="keyword" content="">
    <meta name="description" content="">
    <link rel="stylesheet" href="<?php echo GAOFEN_STATIC;?>/html/form/styles/main.css"> 
    <link rel="stylesheet" href="<?php echo GAOFEN_STATIC;?>/html/form/vendors/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css">
</head>
<body>
<div class="wrap">
    <div class="form">
        <div class="banner">
            <div class="banner-text"><?php echo $form->title ?></div>
        </div>
        <div class="entry">
            <div class="form-header">
                <div class="field">
                    <div class="legend">
                        <h1 class="form-name"><?php echo $form->title ?></h1>
                        <div class="form-description"><?php echo $form->description ?></div>
                    </div>
                </div>
            </div>

            <form method="" action="" id="gf_form">
                <div class="fields"   id="fields_area"></div>
            </form>

        </div>
    </div>
</div>
<script src="/public/js/customform/formfront.js"></script>
<script>
    Gaofen.PD.set({form: <?php echo $form->tojson() ?>});
</script>
</body>
</html>