---
page_title: "授权出错页"
header_bar_title: "牛师帮"
body_classes: ["error-page"]
---

extends _layout

block content

  .alert-error.auth-error
    p
      | 微信授权登录失败，3秒后自动
      br
      | 返回或点“确定”按钮返回
    .actions
      +button({text:"确定", option:"primary"})

