---
page_title: "绑定手机页"
header_bar_title: "绑定手机"
body_classes: ["config-page"]
---

extends _layout

block content

  .ui-panel
    .form.form-bind
      .form-row
        input(type="text", placeholder="学生姓名")
      .form-row.row-flex.verify-code
        input(type="tel", placeholder="手机号码")
        button.btn.btn-outline 获取验证码
      .form-row.row-flex.verify-code
        input(type="tel", placeholder="手机号码")
        button.btn.disabled 重新发送(60)
      .form-row
        input(type="text", placeholder="输入验证码")
      .error-message 验证码错误，请核对后重新输入或重新获取
      .form-actions
        button.btn.btn-primary.btn-block(type="submit") 验证手机号
        button.btn.btn-primary.btn-block.disabled(type="submit", disabled="disabled") 验证手机号


