---
page_title: "订单详情页"
body_classes: ["book-detail-page"]
header_bar_title: "订单详情"
---

extends _layout

block content
    .class-hour
        | 订单编号：
        span 14001578
        | 总课时：
        span.fontgreen 16.0
    .detail-wrap
        p 报读年级：
            span 二年级
        p 当前年级：
            span 一年级
        p 剩余课时(报读+赠/转)：
            span.fontgreen 16.0
        p 每周课时：
            span 2.0
        p 开课时间：
            span 2015-12-18
        p 报读科目：
        table
            thead
                tr
                    th 类别
                    th 就读年级
                    th 科目
                    th 课时
                tr
                    th.tbody-title(colspan='4') 岗顶一对一
            tbody
                tr
                    td 一对一
                    td 初二
                    td 物理
                    td 22.0
                tr
                    td 一对一
                    td 初二
                    td 物理
                    td 22.0
                tr
                    td 一对一
                    td 初二
                    td 物理
                    td 22.0
            thead
                tr
                    th.tbody-title(colspan='4') 农讲所校区
            tbody
                tr
                    td 一对一
                    td 初二
                    td 物理
                    td 22.0
                tr
                    td 一对一
                    td 初二
                    td 物理
                    td 22.0
                tr
                    td 一对一
                    td 初二
                    td 物理
                    td 22.0