---
page_title: "课时页"
body_classes: ["class-hour-page"]
header_bar_title: "语文-初二"
---
extends _layout
block content
    ul.listView-wrap
        li.listView
            div
                span 2015-12-18
                time 15:00-16:50
                i.icon-blue 周五
            div
                span.fontgreen 2.0
                span 课时
        li.listView
            div
                span 2015-12-18
                time 15:00-16:50
                i.icon-blue 周五
            div
                span.fontgreen 2.0
                span 课时