---
page_title: "课堂评价页"
header_bar_title: "课堂评价"
body_classes: ["evaluation-page"]
header_menu: true
---

extends _layout

block content
   .evaluation-block
      a.thumb(href="#")
         +avatar(128)
      .teacher-feedback-ul
         +teacher-feedback-name
         +teacher-teach-time
         +teacher-feedback-time
   .evaluation-block
      h4 教学反馈
      p 时候的哦啊回复撒后地方后is回佛山啊是哦的分红个还是佛胡搜个阿道夫猴年后个啊时候覅偶哈搜个后丹佛个号司法和
      - for(var i=0;i<3;i++)
         img(title='',src='../images/dummies/640x100.png')
   .evaluation-block
      p 这里是评论的内容~~~~~~~~~~~~~~~~~~~~~~~~这里是评论的内容
      .form-row
         span.label-sm 教师对孩子个性（动力、能力、习惯）的关注：
         +stars({count:3, favour:true})
         .stars-tips 非常满意
      .form-row
         span.label-sm 教师对孩子个性（动力、能力、习惯）的关注：
         +stars({count:3, favour:true})
   .form-comment
      .form-row.row-message
         textarea(placeholder="在这里表达您与教师的上课体验吧")
         .text-count
            | 你还可以输入
            span 100
            | 个字
      .form-row
         span.label-sm 满意度：
         +stars({count:3, favour:true})
      .form-row
         span.label-sm 满意度：
         +stars({count:3, favour:true})
      .actions.mt10
         +button({text:"提交评语", option:"primary", block:true, element:"button", disabled:true})
         +button({text:"提交评语", option:"primary", block:true, element:"button"})