---
page_title: "课时消耗页"
body_classes: ["consume-page"]
header_bar_title: "课时消耗"
name: true
---
extends _layout
block content
    .class-hour
        | 合计：
        span.fontgreen 16.0
        span (报读+赠/转)
    ul.listView-wrap
        li.listView
            a(href='class-hour.html',title='初三').listView-container
                .listView-left
                    p
                        strong 语文-初三
                        b 教师：
                        strong 卓老师
                .listView-right
                    i.iconfont.icon-right
            .listView-container-detail
                p
                    | 上课地点：
                    span 岗顶一对一
                p
                    | 最近消耗课时：
                div
                    i.icon-blue 周五
                    span 8月26日
                    time 15:00-16:50
                    span.fontgreen 2.0
                    span 课时
        li.listView
            a(href='class-hour.html',title='初三').listView-container
                .listView-left
                    p
                        strong 语文-初三
                        b 教师：
                        strong 卓老师
                .listView-right
                    i.iconfont.icon-right
            .listView-container-detail
                p
                    | 上课地点：
                    span 岗顶一对一
                p
                    | 最近消耗课时：
                div
                    i.icon-blue 周五
                    span 8月26日
                    time 15:00-16:50
                    span.fontgreen 2.0
                    span 课时
        li.listView
            a(href='class-hour.html',title='初三').listView-container
                .listView-left
                    p
                        strong 语文-初三
                        b 教师：
                        strong 卓老师
                .listView-right
                    i.iconfont.icon-right
            .listView-container-detail
                p
                    | 上课地点：
                    span 岗顶一对一
                p
                    | 最近消耗课时：
                div
                    i.icon-blue 周五
                    span 8月26日
                    time 15:00-16:50
                    span.fontgreen 2.0
                    span 课时
    .nav-class
        a(href='history.html',title='报读历史') 报读历史
        a(href='consume-history.html',title='课时消耗历史') 课时消耗历史