---
page_title: "约课表单页"
header_bar_title: "约课填写"
body_classes: ["show-tips"]
---

extends _layout

block content

  .ui-panel
    .order-summary
      a.thumb(href="#")
        +avatar(128)
      .info
        +teacher-name
        .subject 科目：语文

    .form
      .form-row
        input.focus(type="text", placeholder="联系人")
      .form-row
        input.error(type="text", placeholder="手机号码")
      .form-row
        .ui-select
          select
            option(value="") 选择年级
      .form-row
        textarea(placeholder="意向上课时间")
      .form-row.row-flex.row-time
        span.minus -
        span.count
            span 购买
            input(value='20')
            span 课时
          span.plus +
      .form-info
        div
          span 课时单价：100/小时
        div
          span
            | 总金额：
            i.hl 2000
            | 元
      .error-message 手机号码填写格式错误，请重新填写
      .form-actions
        button.btn.btn-primary.btn-block(type="submit") 立即付款
        button.btn.btn-primary.btn-block.disabled(type="submit", disabled="disabled") 立即付款
        p.hints
          | 提交信息后24小时内会有专人与您联系，
          br
          | 请保持手机畅通

block tips
  .ui-tips 购买成功

