---
page_title: "首页"
body_classes: ["search-page"]
header_bar_title: "牛师帮·卓越教育一对一"
navbar: true
user_config: true
root_class: []
---

extends _layout

block ad
  +ad(640, 100, true, 3)

block content
  form(action='',method='')
    .search-teacher-wrap
      //如果input获取焦点的时候.search-teacher添加.search-focus
      .search-teacher
        input(type='text',placeholder='搜索教师')
        a.btn-search(href="javascript:void();")

  .teacher-list
    - for(var i=1; i<=3; i++)
      a.teacher-list-item(href="#", class="#{i==2?'active':''}")
        .thumb
          +avatar(128)
          b.icon-v V

        .info
          +teacher-name
          p 英语、数学 | 小学、初中
          p 教龄：10年
          +stars-with-text({count:5, size:"small", trim:true})
          +tag-list([{label:"课堂幽默"}, {label:"奇趣英语"}, {label:"课余耐心指导"}])
          .price
            span.num
              i ￥
              | 200
              i 起
            span.unit 元/小时
  +pagination
  +pagination({prev_disabled:true})
  +pagination({next_disabled:true})

block filter-bar
  .filter-bar
    +filter-group([{label:"区域", active:true, count:10}, {label:"年级"}, {label:"学科"}, {label:"排序"}])
    +options(10)
    +options-more-ul(10)

block javascript
    script.
        $('.nav-order').on('tap',function () {
            $('.nav-order-wrap').toggleClass('hidden');
        })
        $('.nav-order-wrap li a').on('tap',function () {
            $(this).addClass('active');
        })