---
page_title: "我的课表页"
body_classes: ["schedule-page"]
header_bar_title: "牛师帮"
navbar: true
user_message: true
user_config: true
---

extends _layout

block content
  .schedule
    .date
      .mon
        em 2015
        span 6月
      .week
        .day
          em 周一
          span 8
        .day
          em 周二
          span 9
        .day
          em 周三
          span 10
        .day
          em 周四
          span 11
        .day
          em 周五
          span 12
        .day
          em 周六
          span 13
        .day
          em 周日
          span 14
    .arrange
      .timeline
        table
          thead
            tr
              th
                .placeholder 08:30
              - var hour = ""
              - for(var i=9; i<=21; i++)
                - if(i < 10) hour = "0" + i
                - else hour = i
                  th
                    .placeholder= hour +":00"
                  - if(i < 21)
                    th
                      .placeholder= hour + ":30"
      table
        tbody
          - for(var j=1; j<=7; j++)
            tr
              - for(var k=8.5; k<=21; k+=0.5)
                td
                  .placeholder
                    - if(j==1 && k==8.5)
                      .over(style="width:82px;")
                        span 语文
                        span 卓老师
                    - if(j==1 && k==10)
                      .over(style="width:82px;")
                        span 政治
                        span 冯老师
                    - if(j==2 && k==9.5)
                      .scheduled.popup-up(style="width:82px;")
                        span 政治
                        span 冯老师
                    - if(j==7 && k==9.5)
                      .scheduled.popup-down(style="width:82px;")
                        span 政治
                        span 冯老师
      .popup(style="top:202px;")
        p 上课地点：中山三路18号中华国际商业中心12楼1206室
        p 电话：88888888
        p 课室：A-302
      .popup(style="bottom:78px;")
        p 上课地点：中山三路18号中华国际商业中心12楼1206室
        p 电话：88888888
        p 课室：A-302

  .schedule-pager
    .prev.disabled 上一周
    .legend
      span.over 已上课
      span.scheduled 已排课
    .next 下一周
