---
page_title: "阶段评价页"
body_classes: ["evaluate-page"]
header_bar_title: "阶段评价"
navbar: true
loading: true
user_config: true
---

extends _layout
mixin tab-items
    a.active(href="#")
        span
            | 全部
            i (8)
    a(href="#")
        span
            | 待付款
            i (2)
    a(href="#")
        span
            | 待排课
            i (2)
    a(href="#")
        span
            | 上课中
            i (2)
block content

    .order-list
        - for(var i=1; i<=10; i++)
            .order-list-item
                a.order-link(href="#", class="#{i == 2 ? 'active' : ''}")
                    h3
                        span.name 教师：卓老师
                        span.subject 科目：语文
                    .info
                        p 购买课时：20
                        p 订单时间：2015-4-18 18:20
                if i == 1
                    i.Nevaluated.i-top  未评价
                if i == 2
                    i.evaluated.i-top 已评价
                    i.had-reward 已送花
                if i == 3
                    i.evaluated.i-top 已评价
                if i !== 2
                    a.btn.btn-primary.reward 送花
    +pagination
    +pagination({prev_disabled: true})
    +pagination({next_disabled: true})
