---
page_title: "学习反馈系统登录页"
header_bar_title: ""
body_classes: ["teacher-login-page"]
navbar: false
loading: false
user_config: false
---
extends _layout
block css
    link(rel="stylesheet", type="text/css", href="#{current.base}css/feedback.css")
block content
    img.teacher-login-top(src="#{current.base}images/teacher-login-top.png", alt="")
    form
        .form-login
            .input-row
                i.iconfont.icon-account
                input(type='text',placeholder='用户名')
            .input-row
                i.iconfont.icon-password
                input(type='password',placeholder='密码')
            div.checkbox
                input(type='checkbox',id='name')
                label(for='name') 记住用户名

            button 立即登录