---
page_title: "学习轨迹信息填写页"
header_bar_title: "学习轨迹信息"
body_classes: ["teacher-post-page"]
navbar: false
loading: false
user_config: true
heaer_home: true
---
extends _layout
block css
    link(rel="stylesheet", type="text/css", href="#{current.base}css/feedback.css")
block content
    .teacher-edit
        .table-wrap
            table
                tr
                    th 学生姓名
                    td 黄江宁
                    th 年级
                    td 初一
                tr
                    th 科目
                    td 语文
                    th 授课教师
                    td 陈老师
                tr
                    th 上课日期
                    td 3月7日
                    th 上课时段
                    td 20:00-21:00
                tr
                    th 辅导内容
                    td(colspan='3')
                        .flex
                            textarea(placeholder='导学案的名字导学案',disabled='disabled',rows='3') 的名字导学案的名字导学案的名字导学案的名字导学案的名字导学案的名字导学案的名字导学案的名字导学案的名字导学案的名字导学案的名字导学案的名字导学案的名字导学案的名字导学案的名字导学案的名字导学案的名字导学案的名字
                            a.btn.btn-yellow
                                i.iconfont.icon-change
                                |修改

        .table-wrap
            h4 上次课课后作业评价
            table.evaluate-stars
                tr.evaluate-stars-4
                    th(width='20%') 01
                    td.bg-orange-lighter
                        i.iconfont
                    td.bg-orange-lighter
                        i.iconfont
                    td.bg-orange-lighter
                        i.iconfont
                    td.bg-orange-lighter
                        i.iconfont
                    td.bg-orange-lighter
                        i.iconfont

                tr.evaluate-stars-3
                    th(width='20%') 02
                    td
                        i.iconfont
                    td
                        i.iconfont
                    td
                        i.iconfont
                    td
                        i.iconfont
                    td
                        i.iconfont
                tr.evaluate-stars-2
                    th(width='20%') 03
                    td
                        i.iconfont
                    td
                        i.iconfont
                    td
                        i.iconfont
                    td
                        i.iconfont
                    td
                        i.iconfont

        .table-wrap
            h4 课首小测评价
            table.evaluate
                tr
                    th 01
                    td.active
                        i.iconfont.icon-tick
                    td
                        i.iconfont.icon-zhong
                    td
                        i.iconfont.icon-cha
                tr
                    th 02
                    td
                        i.iconfont.icon-tick
                    td.active
                        i.iconfont.icon-zhong
                    td
                        i.iconfont.icon-cha
                tr
                    th 02
                    td
                        i.iconfont.icon-tick
                    td
                        i.iconfont.icon-zhong
                    td.active
                        i.iconfont.icon-cha

        h2 导学一
        h3 知识点讲解1
        .table-wrap
            h4 例题评价
            table.evaluate
                tr
                    th 01
                    td
                        i.iconfont.icon-tick
                    td
                        i.iconfont.icon-zhong
                    td
                        i.iconfont.icon-cha
                tr
                    th 02
                    td
                        i.iconfont.icon-tick
                    td
                        i.iconfont.icon-zhong
                    td
                        i.iconfont.icon-cha
                tr
                    th 02
                    td
                        i.iconfont.icon-tick
                    td
                        i.iconfont.icon-zhong
                    td
                        i.iconfont.icon-cha
            h4 我爱展示评价
            table.evaluate
                tr
                    th 01
                    td
                        i.iconfont.icon-tick
                    td
                        i.iconfont.icon-zhong
                    td
                        i.iconfont.icon-cha
                tr
                    th 02
                    td
                        i.iconfont.icon-tick
                    td
                        i.iconfont.icon-zhong
                    td
                        i.iconfont.icon-cha
                tr
                    th 02
                    td
                        i.iconfont.icon-tick
                    td
                        i.iconfont.icon-zhong
                    td
                        i.iconfont.icon-cha
        h3.mt20 教师评论
        textarea.teacher-report(placeholder='教师评论',rows='4')
    .post-bar
        a.btn-save 保存
        a.btn-submit 提交
    //弹出框
    .mask.hidden
    .mask-wrap.hidden

        .amsk-close
            | &Chi;
        .mask-content
            p 还有题目尚未评价
                br
                | 提交后不可再进行修改
            a.btn-inline.btn-primary 继续评价
            a.btn-inline.unread 确认提交
block javascript
    script.
        $('.evaluate tr td').on('tap',function () {
            $(this).addClass('active').siblings('.active').removeClass('active');
        })
        $('.btn-yellow').on('tap',function () {
            $(this).prev().prop('disabled',false)
        })

        $('.evaluate-stars td').click(function () {
            var n = $(this).index();
            var trClass = 'evaluate-stars-' + n
            $(this).parent('tr').removeClass().attr('class',trClass);
        })
