---
page_title: "教师反馈页"
header_bar_title: "教师反馈"
body_classes: ["teacher-page"]
navbar: false
loading: false
user_config: false
---

extends _layout

block content
    - for(var i=0;i<3;i++)
        - var n = i+1
        a.teacher-feedback-ul(href="#")
            if n==1
                i.unread 未阅读
            if n==2
                i.Nevaluated  未评价
            if n==3
                i.evaluated 已评价

            +teacher-feedback-name
            +teacher-teach-time
            +teacher-feedback-time

    include partials/_mask