---
page_title: "个人设置页"
header_bar_title: "个人设置"
body_classes: ["config-page"]
---

extends _layout

block content

  .ui-panel
    .form.form-config
      .form-row
        .info 学生姓名：欧阳某天
        .info 手机号码：13800138000
      .form-actions
        button.btn.btn-primary.btn-block(type="submit") 修改绑定信息


