// 专家音频列表
// ==================
.album-page
  .audio-list
    margin 0
    padding-top 0
  .ablum-brief
    max-height .4rem
    overflow hidden
  .item-content
    strong
      display inline-block
      max-height .38rem
      overflow hidden
    .content-bottom
      width 100%
      absolute left bottom