// 简介：专家主页样式
//==============================

.expert-detail
  padding .3rem .1rem
  .expert-info
    height auto
    color grey
.block-title
  margin-top -.15rem
// 提问
.question-wrap
  background-color #fff
  padding .1rem
  margin .1rem 0
  textarea
    display block
    width 100%
    resize none
    font-size .12rem
    padding .1rem
    border .01rem solid #ec7223
    border-radius .08rem

  .btn-ask
    float right
    margin .1rem 0

.ui-warn
.checked-wrap
  display inline-block
  margin-top .1rem
  .icon
    vertical-align middle
  span
    vertical-align middle
    margin-left .05rem
    font-size .12rem
    color grey
.checked-wrap
  display inline-block
  .icon-check
    size .13rem
    border .01rem solid #ec7223
    border-radius 50%
  &.selected
    .icon-check
      background url("../img/icon-tick.png") no-repeat center center
      background-size 80%

.btn-more
  display inline-block
  padding .1rem
  color grey
  font-size .12rem
  &:visited
    color grey

  span
  i
    vertical-align middle
  .icon-up
    transform rotate(180deg)

.flex
  a
    display block
    flex 1
.method-list
  width 100%
  overflow hidden
  .flex
    padding .1rem
    margin-right -.15rem
    a
      margin-right .15rem
    .font-xs
      margin-top .1rem