// 我的页样式
// ==================
.home-page
  color #696969
  .home-avatar
    padding .3rem .1rem
    background-color #fff
    .home-avatar-center
      position relative
      margin-left .7rem
      padding-top .05rem
      input
        border .01rem solid #ffffff
        padding .02rem 0
        font-size .18rem
      .disabled
        background-color #ffffff
      span
        vertical-align middle

.btn-cash
  padding 0 .1rem
  border .01rem solid #bfbfbf
  border-radius .1rem
  font-size .12rem
  &:visited
    color #696969
.home-avatar-right
  width .7rem
  text-align right
  padding-top .1rem

.btn-erweima
.btn-edit
  display inline-block
  size .35rem .4rem
  font-size .1rem
  text-align center
  overflow hidden
  .icon
    background-size 100%
.ui-block
  padding .2rem

.rule-list
  margin .1rem .2rem .1rem .3rem
  li
    list-style disc
    margin .05rem 0
.font-money
  line-height 1

.erweima-wrap
  width 30%
  margin .05rem auto
  padding .08rem
  background-color #eeeeee
  img
    display block
    width 100%

// 微信扫码登录页
.login-page
  background-color #fd8f7b
  .erweima-wrap
    width 55%
    margin 0 auto
    background none
    padding 0
    img
      width 100%
  .title-wrap
    img
      width 85%
      float right
  .nav-menu
    display none
  .title-label
    display inline-block
    background-color #ffffff
    color #ff907b
    padding .02rem .05rem
    border-radius .06rem
