// 热门页样式
// ====================
.ranking-list
  padding 0 .2rem .2rem .2rem
  background-color #ffffff
  img
    width 100%


.more-sorts
  padding .05rem .2rem
  background-color #ffffff
  text-align center
  .catalogItem
    display inline-block
    width 20%
    margin 0 2.5% .1rem 2.5%
    img
      width 70%
      // min-width .56rem
    p
      margin 0
      font-size .11rem
      text-align center
      color #000000

.home-avatar
  padding .1rem
  position relative
  input[type="text"]
    border none
    padding .12rem .15rem .08rem .5rem
    border-radius .02rem
    width 100%
    background-color #ffffff
  .btn-search
    size .46rem .36rem
    absolute left .1rem bottom .1rem
    border none
    z-index 5
    background url("../img/icon-set-s.png") no-repeat center center
    background-size 50%