// 简介：首页样式
//==============================

.img-wrap
  img
    display block
    width 100%

.audio-title-wrap
  margin-top .2rem
  .icon
    margin 0 .02rem
    vertical-align top
.audio-title{
  width: 100%;
  font-size: .16rem;
  line-height 1.2
}

#audio-brief{
  position: absolute;
  left: 0
  bottom: 8%;
  padding: 0 .15rem;
  font-size: .12rem;
  color: #b3b3b3;
  height: .38rem;
  overflow: hidden;
}

/*.play .audio-img{
  -webkit-animation:audio-rotate 6s  linear infinite;
  animation:audio-rotate 6s linear infinite;
}
.audio-container .audio-img{
  display: block;
  width: 100%;
  border: none;
  border-radius: 100%;
  transition: all 1s;
}*/



// 作者
.author-wrap
  padding: .5rem .2rem .3rem .2rem;
  background-color: #ffffff;
  overflow: hidden;
  .icon-fav
    background-color #5aacff
    color #ffffff
    line-height .26rem
    text-align center
    border-radius .04rem
    &:active
      box-shadow: inset 0 0.02rem 0.03rem rgba(0,0,0,0.3);
  .had-fav
    background-color: #d1d1d1;

.author-detail
  margin: 0 0 0 .7rem;
  p
    color: #b3b3b3;
    margin: .05rem 0;
    font-size: .14rem;
    line-height 1.5
    max-height .6rem
    overflow hidden
  strong
    font-size .16rem
    color #ff907b
    vertical-align middle

