.setting-page
  .list-item
    line-height 1.8

// 消息设置按钮
.filter-wrap
  absolute right .2rem top .03rem
  z-index 1
  .filter-bar
    size .45rem .25rem
    background-color #ffffff
    border .01rem solid #dddddd
    box-sizing border-box
    border-radius .25rem
    z-index 1
    overflow hidden
    transition all 0.2s ease-in-out

  .filter-button
    absolute left top
    z-index 3
    size .25rem
    border-radius 100%
    border .01rem solid #dddddd
    box-sizing border-box
    background-color white
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    transform translateX(0)
    transition all 0.2s ease-in-out

  &.selected
    .filter-bar
      background-color blue
      color white
      border-color blue
    //transition background-color 0.2s ease-in-out
    //animation select-bar-bg 0.2s ease-in-out forwards
    //animation-delay 0.15s

    .filter-button
      border-color blue
      transform translateX(.2rem)
//animation select-button-right 0.2s ease-in-out forwards