#hot-collect
    .header 最热采集
    ul
        - for(var i=0;i<10;i++)
            li
                img(src='images/examples/icon_websit.png')
                a(href='website.html',target='_blank') 爱窝网分享好
