#interested
    .header 可能感兴趣的人
    .content
        - for(var i=0;i<4;i++)
            .row
                .left: a(href='home.html',target='_blank'): img(src='images/examples/friend2.jpg')
                .right
                    .top: a(href='home.html',target='_blank') 天高任我飞～
                    .bottom 逗比、设计师、互联网老二、糊涂人