doctype html
mixin user_website(tag)
    .website
        .header
            .title
                a(href='website.html',target='_blank') 超劲爆素材站
                span （68）
            if tag=='y'
                .button 已关注
            else
                .btn-attend-normal
        .sites
            - for(var j=0;j<9;j++)
                .web: a(href='website.html',target='_blank') 爱窝网分享好
            .more: a(href='folder_detail.html',target='_blank') 查看全部 >>

head
    include _css
    link(rel='stylesheet',type='text/css',href='css/find_user.css')
    title 发现用户
body
    include _header
    +header('find')
    .wrap
        #body
            include _popup
            include _find_header
            +find_header('find_user')
            ul.list
                - for(var i=0;i<10;i++)
                    li
                        .user
                            .info
                                .image: a(href='home.html',target='_blank'): img(src='images/examples/user.jpg')
                                .detail
                                    .name: a(href='home.html',target='_blank') 曾培shu- xv
                                    .cols
                                        .col
                                            .top 2365
                                            .bottom: a(href='home_website.html',target='_blank') 采集
                                        .col
                                            .top 63
                                            .bottom: a(href='home.html',target='_blank') 小窝
                                        .col(class='last')
                                            .top 336
                                            .bottom: a(href='home_fans.html',target='_blank') 粉丝
                                        .button 关注他
                            p.
                                注册高级室内建筑师、高级国际商业美术设计师
                                （环境艺术设计专业）一枚。秉承“交换一个苹
                                果，各得一个苹是果...

                        - for(var n=0;n<3;n++)
                            if n==0
                                +user_website('y')
                            else
                                +user_website('n')

            include _pager
    include _footer
    script(src='js/find.js',type='text/javascript')