// 专家音频列表
// ==================

.audio-list
  margin .1rem 0
  font-size .14rem
  .item
    margin-bottom .1rem

.item
  clearfix()
  display block
  padding .1rem
  background-color #ffffff
  &:last-child
    border-bottom none

  .ui-avatar
    size .6rem
    .ui-label
      font-size .1rem
  .item-title
    max-height .5rem
    overflow hidden
    line-height 1.5

  .item-content
    margin-left .7rem
    position relative
    min-height .6rem
    strong
      font-size .16rem
      vertical-align bottom
      color #000000
      line-height 1.2
      font-weight normal

    .content-bottom
      width 100%
      font-size .12rem
      absolute left bottom
      .icon
        vertical-align middle
        margin 0 .02rem
      span
        vertical-align middle

.ui-state
  size .3rem
  border .015rem solid #fb8e7b
  background-color #ffffff
  border-radius 100%
  absolute left .15rem top .15rem
  z-index 9
  opacity .8
  display none
  span
    display block
    vertical-align bottom
    size .015rem .14rem
    background-color #fb8e7b
    border-radius .04rem
    font-size 0
    animation item-play 1s linear infinite

  .line-1
    absolute left 25% bottom 0.06rem
  .line-2
    animation-delay .2s
    absolute left 47.5% bottom 0.06rem
  .line-3
    animation-delay .4s
    absolute left 69.5% bottom 0.06rem

.item-play
  .ui-state
    display block

.item-stop
  .ui-state
    span
      animation none

// 提问列表
// ==================
.q-item
  clearfix()
  display block
  padding .15rem 0
  margin 0 .2rem
  border-bottom .01rem solid #dddddd
  text-align left
  &:last-child
    border-bottom none

  .ui-avatar
    size .5rem

  .item-content
    margin-left .6rem
    position relative
    min-height .6rem
    strong
      font-size .16rem
      line-height 1
    p
      margin .05rem 0

  .q-audio-wrap
    margin-left .5rem
    display flex
    .triangle-left
      size 0
      border-width .06rem
      border-style dashed solid dashed solid
      border-color transparent #5dd966 transparent transparent
      margin-top .18rem
    .pursue-ask
      display block
      size .5rem
      background-color #5dd966
      border-radius .05rem
      margin-left .06rem
      text-align center
      line-height .5rem
      color #ffffff
      font-size .16rem
    .q-audio
      height .5rem
      width 100%
      background-color #5dd966
      border-radius .05rem
      flex 1
      span
        vertical-align middle
      time
        margin 0 .08rem
        line-height .5rem
        font-size .16rem
        color #ffffff
        vertical-align middle
      .ui-label
        float right
        margin .14rem .1rem 0 0
      .q-line-1
        display inline-block
        size 0
        border-width .03rem
        border-style dashed solid dashed solid
        border-color transparent #ffffff transparent transparent
        margin-left .1rem
      .q-line-2
        display inline-block
        size .15rem
        border-radius 100%
        border-width .02rem
        border-style dashed solid dashed dashed
        border-color: transparent #fff transparent transparent
        -webkit-font-smoothing antialiased
        -webkit-text-stroke-width .02rem
        margin-left -.1rem
      .q-line-3
        display inline-block
        size .23rem
        border-radius 100%
        border-width .02rem
        border-style dashed solid dashed dashed
        border-color: transparent #fff transparent transparent
        -webkit-font-smoothing antialiased
        -webkit-text-stroke-width .02rem
        margin-left -.18rem

      &.q-play
        .q-line-2
          animation q-play 1.2s infinite linear
          animation-delay .3s
        .q-line-3
          animation q-play 1.2s infinite linear
          animation-delay .6s

.expert-item
  padding .2rem .1rem
  background-color #fff
  margin-bottom .1rem

  .item-top
    clearfix()
  .btn-listened
    line-height .3rem
  .item-content
    margin-left .72rem
    margin-right .8rem

  .item-bottom
    margin-top .1rem
  .btn-ask
    float left
  .expert-info
    margin-left .9rem
    font-size .12rem
    height .3rem
    overflow hidden
    line-height 1.4
  .expert-name
    font-size .18rem
    font-weight bold
  .item-content-title
    .expert-name
    .icon
    .ui-label
      vertical-align middle