//图标
// =======================

.icon
  display inline-block

.icon-good
  width .14rem
  height .14rem
  background url("../img/icon-good.png") no-repeat center center
  background-size 90%
.icon-share
  width .14rem
  height .14rem
  background url("../img/icon-share.png") no-repeat center center
  background-size 80%
.icon-price-down
  width .07rem
  height .1rem
  background url("../img/icon-price-down.png") no-repeat center center
  background-size 100%
.icon-authentication
  width .14rem
  height .14rem
  background url("../img/icon-authentication.png") no-repeat center center
  background-size 100%
.icon-st-orange
  width .1rem
  height .1rem
  background url("../img/icon-st-orange.png") no-repeat center center
  background-size 100%
.icon-st-blue
  width .12rem
  height .11rem
  background url("../img/icon-st-blue.png") no-repeat center center
  background-size 100%
.icon-warn
  width .15rem
  height .15rem
  background url("../img/icon-warn.png") no-repeat center center
  background-size 100%


.btn-wrap
.btn-wrap-s
  display inline-block
  vertical-align middle
  margin 0 .05rem

.btn-upload
.btn-reset
  width .5rem
  height .5rem
  border-radius 100%
  border .02rem solid #dddddd

.btn-reset
  background url("../img/icon-reset.png") no-repeat center center #f7f7f7
  background-size 45%

.btn-upload
  background url("../img/icon-upload.png") no-repeat center center #f7f7f7
  background-size 45%

.btn-start
  width 1rem
  height 1rem
  border-radius 100%
  border .04rem solid #dddddd
  background url("../img/icon-record.png") no-repeat center .2rem #f7f7f7
  background-size 25%
  position relative
  p
    width 100%
    font-size .13rem
    absolute left bottom

// 个人页
.icon-set-good
  width .2rem
  height .2rem
  background url("../img/icon-set-good.png") no-repeat center center
  background-size 100%
.icon-erweima
  width .2rem
  height .2rem
  background url("../img/icon-erweima.png") no-repeat center center
  background-size 100%
.icon-wallet
  width .9rem
  height 1rem
  background url("../img/icon-wallet.png") no-repeat center center
  background-size 100%

.icon-right
  width .05rem
  height .09rem
  background url("../img/icon-right.png") no-repeat 0 0
  background-size 100%

.icon-up
  width .07rem
  height .04rem
  background url("../img/icon-up.png") no-repeat 0 0
  background-size 100%
.icon-prev
  width .3rem
  height .3rem
  border .01rem solid #bcbcbc
  border-radius 50%
  background url("../img/icon-prev.png") no-repeat center center
  background-size .08rem .13rem