// label
// =================
.ui-label{
  display inline-block
  color: #ffffff;
  font-size: .1rem;
  padding: .03rem .05rem .01rem .05rem;
  vertical-align: middle;
  border-radius: .07rem;
  line-height .11rem
  margin-left .05rem
  white-space nowrap
}
.label-orange
  background-color #fdbd4d
.ui-label-grey
  background-color #e6e6e6
  color #999999
  font-style normal
.label-black
  background-color black
  opacity .6
  absolute left bottom
  z-index 3
  font-style normal
  font-size .1rem
.label-pink
  background-color #ff907b
  color #ffffff
  font-style normal
  absolute right bottom
  margin 0
.label-blue
  background-color #2091fe


.label-catalog
  display inline-block
  height .2rem
  line-height .2rem
  background-color #ff907b
  color #fff
  font-style normal
  padding 0 .05rem
.label-zj
  width .39rem
  height .15rem
  background url("../img/label-zj.png") no-repeat 0 center
  background-size 100%
.label-hot
  width .41rem
  height .2rem
  background url("../img/label-hot.png") no-repeat 0 center
  background-size 100%





// tab选项卡
// =================
.ui-tab
  display flex
  background-color #ffffff
  padding-top .2rem
  border-bottom .02rem solid #ec7223
  .tab
    flex 1
    text-align center
    a
      display inline-block
      font-size .14rem
      line-height 2
    &.active
      a
        border-bottom .03rem solid #ec7223

    .dot
      display inline-block
      size .05rem
      background-color #ec7223
      vertical-align super
      border-radius 100%

.filter-sort
  text-align center
  font-size .12rem
  a
    display inline-block
    width .92rem
    text-align center
    border .01rem solid #ec7223
    color #ec7223
    margin .15rem .05rem
    padding .05rem 0
    border-radius .06rem
    .icon
      vertical-align middle
      margin-right .02rem
    span
      vertical-align middle