// 遮罩
// ------------------------------
.ui-mask
  fixed left top
  size 100%
  background rgba(0, 0, 0, .8)
  z-index z-index-mask

.mask-wrap
  fixed left 50% top 50%
  size 25rem auto
  margin 0 auto
  padding 2rem
  box-sizing border-box
  background-color #ffffff
  border-radius 1rem
  border 2px solid #e22339
  transform translate(-50%,-50%)
  z-index z-index-mask
  h3
    font-size 16px
    text-align center
    color #6b2b08
.popup-header
  size 5.5rem 6.4rem
  background url("../img/popup-header.png") no-repeat center center
  background-size 100% 100%
  absolute left 50% top -4rem
  margin-left -2.75rem
.mask-content
  width 100%
  font-size 14px
.mask-footer
  text-align center