// 出错
// ------------------------------

.alert-error
  text-align center
  margin-top 5.5rem

  .iconfont
    size 11rem
    font-size 10rem
    line-height 11rem
    color gray
    margin 0 auto

  p
    font-size 1.8rem
    color gray
    margin 0

  .actions
    margin-top 6rem

// 授权出错
.auth-error
  margin-top 12rem

  .actions
    margin-top 3rem