@font-face
  font-family "iconfont"
  src url('../fonts/iconfont.eot?v1') /* IE9*/
  src url('../fonts/iconfont.eot?#iefix?v1') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/iconfont.woff?v1') format('woff'), /* chrome、firefox */  url('../fonts/iconfont.ttf?v1') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('../fonts/iconfont.svg#iconfont?v1') format('svg') /* iOS 4.1- */

$iconfont
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;

.iconfont
  @extends $iconfont

//.icon-menu:before { content: "\3600"; }
.icon-location:before { content: "\3601"; }
.icon-search:before { content: "\3609"; }
.icon-order:before { content: "\3615"; }
.icon-tick:before { content: "\3614"; }
//.icon-return:before { content: "\3613"; }
.icon-arrow:before { content: "\3612"; }

.icon-good:before { content: "\3611"; }
.icon-rate-5:before { content: "\3611"; }

.icon-normal:before { content: "\3610"; }
.icon-rate-3:before { content: "\3610"; }

.icon-bad:before { content: "\3616"; }
.icon-rate-1:before { content: "\3616"; }

.icon-phone:before { content: "\3608"; }
.icon-pen:before { content: "\3607"; }
.icon-star-full:before { content: "\3606"; }
.icon-star:before { content: "\3605"; }
.icon-error:before { content: "\3604"; }
.icon-weixin:before { content: "\3603"; }
.icon-unhappy:before { content: "\3602"; }
.icon-close:before { content: "\3617"; }
.icon-schedule:before { content: "\3618"; }
// 新增点赞手势、user头标、信息提醒
.icon-favour:before { content: "\3619"; }
.icon-right:before { content: "\e603"; }
.icon-user:before { content: "\3620"; }
.icon-message:before { content: "\e600"; }
.icon-evaluate:before { content: "\e601"; }
.icon-edit:before { content: "\e602"; }
.icon-down:after {content: "\3612";}
// 新增学习反馈系统图标
.icon-password:before { content: "\e604"; }
.icon-zhong:before { content: "\e605"; }
.icon-cha:before { content: "\e606"; }
.icon-change:before { content: "\e607"; }
.icon-account:before { content: "\e608"; }
// 新增icon-home
.icon-home:before { content: "\e609"; }
