// 页脚
.footer
  padding 2.3rem 1rem
  text-align center
  color gray

.details-page
  .footer
    padding-bottom 6.7rem

for type in search schedule order
  .{type}-page
    .footer
      padding-bottom 7rem