// 各种容器
// -------------------------------
.page-content
  min-height 60%

// 模块
.mod
  .mod-hd
    margin 0
    height 4.3rem
    line-height 4.3rem
    font-size 1.8rem
    font-weight bold
    text-indent 1.5rem
    border-bottom .1rem solid blue
    color #4C4C4C

    span
      margin-left 0.5rem

    a
      display block

// 子模块
.sub-mod
  padding 1.5rem

  .sub-mod-hd
    margin-bottom 1rem

    .title
      border-left .3rem solid blue
      font-size 1.6rem
      color #4C4C4C
      padding-left 0.5rem

      span
        font-size 1.2rem
        color #808080

  .sub-mod-bd
    padding-left 0.8rem

    img
      display block
      width 100%
      max-width 100%

    .no-pic
      background-size 10rem 1.9rem

    p
      margin 0 0 1.5rem
      line-height 2rem
      font-size 1.4rem


// 页面特定样式
// ------------------------------

.filter-bar-fixed
  .teacher-list
    padding-top 4.5rem

  .filter-bar
    fixed left top
    width 100%
