// 底部导航栏
.navbar
  fixed left bottom
  size 100% 4.5rem
  background #FFF
  border-top .2rem solid green
  clearfix()
  z-index z-index-navbar

  .nav-order
  .nav-schedule
  .nav-search
    float left
    width 33.33%
    text-align center
    box-sizing border-box
    display inline-block
    position relative
    @extend $iconfont

    span
      display block
      font-size 1.2rem
      line-height 1.6rem
      color #4D4D4D
      white-space nowrap
    i
      border 3px solid #e60000
      border-radius 100%
      position absolute
      left 62%
      top 3px
    &:before
      display block
      color #D9D9D9
      font-size 2.4rem
      line-height 2.6rem
      margin-top .2rem

    & + a
      border-left .1rem solid #E6E6E6

    &.active
      background-color link-active-background

  .nav-search:before
    content "\3609"

  .nav-schedule:before
    content "\3618"
    font-size 2.8rem

  .nav-order:before
    content "\3615"

// 我的订单弹出层
.nav-order-wrap
.users
  fixed right 19% bottom 5rem
  font-size: 0
  z-index 9
  transform translate3d(50%,0,0)
  ul
    margin 0
    padding .2rem 0.5rem 1rem 0.5rem
    border-radius 0.4rem
    background url("../images/nav-bg.png") no-repeat 0 0
    background-size 100% 100%
    li
      list-style none
      border-bottom 1px solid #e0e0e0
      padding 0

    a
      display block
      font-size 1.4rem
      color grey
      line-height 2.4
      padding 0 .8rem
      &.active
        background-color #dddddd
  .triangle
    display inline-block
    size 0
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #ececec;

// 用户弹出层
.users
  width 12rem
  absolute right 7rem top 5rem
  ul
    padding .8rem 0.5rem 1rem 0.5rem
    background url("../images/users-bg.png") no-repeat 0 0
    background-size 100% 100%
    li
      a
        padding-right 3rem
        white-space nowrap
        overflow hidden
    .user-current
      a
        position relative
        &::after
          @extends $iconfont
          line-height 3.3rem
          font-size 2rem
          absolute right top
          content '\3614'
          color orange

for type in search schedule order
  .{type}-page
    .navbar
      .nav-{type}
        span
          color green

        &:before
          color green

