// 课程

.schedule
  width 100%
  border-bottom .1rem solid #D9D9D9
  clearfix()
  background #FFF

  .date
    float left
    width 15%
    border-right .1rem solid #D9D9D9
    background #F0F0F0
    text-align center
    box-sizing border-box

    em
    span
      display block

    em
      color gray

    span
      line-height 2.4rem

    .mon
      height 5rem
      border-bottom .2rem solid #D9D9D9

      em
        padding-top 0.3rem

      span
        font-size 1.8rem

    .day
      height 7rem
      border-bottom .1rem solid #F0F0F0

      &:last-child
        height 6.9rem

      em
        padding-top 1.7rem

      span
        font-size 1.8rem
        color gray-dark

  .arrange
    float left
    width 85%
    background #FFF
    overflow-y hidden
    overflow-x scroll
    position relative
    padding-top 5.2rem

    .placeholder
      width 4rem
      position relative

      .over
      .scheduled
        absolute left top
        z-index 7
        height 7.1rem

        span
          display block
          padding 0 .8rem
          font-size 1.6rem
          line-height 2rem

          &:first-child
            padding-top 0.8rem

      .over
        background #FFB980
        color #8B3E02

      .scheduled
        background #4DC4FF
        color #035D8B

      .popup-up
        &:after
          absolute left 50% top 7.4rem
          content ""
          triangle rgba(0, 0, 0, .7) 1.6rem up
          border-width 0 .8rem .5rem .8rem
          margin-left -0.8rem

      .popup-down
        &:after
          absolute left 50% top -0.8rem
          content ""
          triangle rgba(0, 0, 0, .7) 1.6rem down
          border-width .5rem .8rem 0 .8rem
          margin-left -0.8rem

    table
      table-layout fixed
      border-collapse collapse

      th
      td
        border .1rem solid #F3F3F3
        border-width 0 1px 1px 0

      th
        font-weight normal
        border-bottom .2rem solid #D9D9D9
        text-align center
        background #FFF

        .placeholder
          height 5rem
          line-height 5rem
          color gray

      td
        .placeholder
          height 7rem

      tr:last-child
        td
          border-bottom none

    .timeline
      absolute top
      width 100%
      z-index 9

  .popup
    absolute left 0
    border-radius 1rem
    background rgba(0, 0, 0, .7)
    color #FFF
    font-size 1.6rem
    line-height 2rem
    padding 1rem 2rem
    width 90%
    box-sizing border-box

    p
      margin 0


.schedule-pager
  display flex
  border .1rem solid #D9D9D9
  border-width .1rem 0
  background #FFF

  .prev
  .next
    flex 1
    text-align center
    line-height 4.5rem
    font-size 1.6rem

    &.disabled
      background #E6E6E6
      color gray

    &.active
      background link-active-background

  .prev
    border-right .1rem solid #E6E6E6

  .next
    border-left .1rem solid #E6E6E6

  .legend
    flex 2
