.teacher-login-page
  width 100%
  min-height 100%
  text-align center
  background -moz-linear-gradient(top, #83c7ea,#51aadf)
  background -webkit-gradient(linear, 0 0, 0 100%, from(#83c7ea), to(#51aadf))

.teacher-login-top
  width 100%

.form-login
  font-size 16px
  margin-top 0px
  .input-row
    width 75%
    margin 1rem auto
    border-radius 0.3rem
    overflow hidden
    position relative
    .iconfont
      absolute left 2px top 10px
      width 30px
      height 20px
      font-size 14px
      border-right 1px solid #cfdee6
      color #cfdee6
      font-weight 100
    input
      width 100%
      padding 10px 5px 10px 40px
      border-radius 0.3rem
      border 1px solid #ffffff
      box-sizing border-box
      &:focus
        border-radius 0.5rem
        border 1px solid #4ca7d7
        box-sizing border-box
  button
    width 75%
    background-color #c3eee0
    color #47b1b0
    border none
    border-radius 0.5rem
    padding 10px 0
    overflow hidden
    margin 1rem auto
  .checkbox
    width 75%
    margin 0 auto
    text-align left
    label
      font-size 13px
      vertical-align middle
    input
      vertical-align middle