// 教师反馈页样式
.teacher-feedback-ul
  display block
  width 100%
  background-color #ffffff
  padding 10px
  box-sizing border-box
  border-bottom 1px solid #e6e6e6
  i
    color #ffffff
    padding 2px 4px 1px
    line-height 1.5
    border-radius 2px
    float: right
    font-size 0.8rem
.teacher-feedback-time
.teacher-feedback-time
.teacher-feedback-name
  color #000000
  font-size 1.4rem
  font-weight bold
  time
  span
    margin 0 5px
  span
    color #999999
    font-size 1.2rem
    font-weight normal
label
  color #000000
  font-size 1.4rem
  margin-right 10px
  time
    margin 0 5px
  span
    color #000000!important
    font-size 1.4rem!important
.unread
.had-reward
  background-color #4899df
.Nevaluated
  background-color #e50001
.evaluated
  background-color #cbcbcb

.had-reward
  //right 5.5rem!important
  bottom 3.5rem!important
.reward
  //bottom 4rem!important
  //bottom 4rem!important
.i-top
  bottom 6rem!important
.i-bottom
  bottom 1.5rem!important