.teacher-post-page
.teacher-edit-page
.report-page
  background-color white

  .page-content
    padding-top 4rem

.head-un-post
  absolute right 0.8rem top 1rem
  padding 2px 10px
  border 1px solid #59da36
  color #59da36
  border-radius 8px

.teacher-edit
  width 100%
  min-height 100%
  padding 15px
  box-sizing border-box
  .table-wrap
    border 1px solid #e6e6e6
    border-radius 10px
    overflow hidden
    margin-bottom 10px
    h4
      color white
      background-color #546679
      text-align center
      font-weight 500
      margin 0
      line-height 2
      font-size 14px

  table
    width 100%
    box-sizing border-box
    overflow hidden
    font-size 14px
    tr
      &:last-child
        th
        td
          border-bottom none
    th
      border-bottom 1px solid #e6e6e6
      background-color #f3f3f3
      color #999999
      text-align center
    td
      color black
      border-left 1px solid #e6e6e6
      border-bottom 1px solid #e6e6e6
      padding 5px 10px
      box-sizing border-box
      position relative
      overflow hidden
      a
        display inline-block
        text-align center
        width 100%
        background-color #ffa200
        color white
        line-height 2
        font-size 16px
        border-bottom-left-radius 10px
        border-bottom-right-radius 10px
        .iconfont
          margin-right 5px
          font-weight 100

      textarea:disabled
      input:disabled
        padding 2px
        background-color white
        border 1px solid #ffffff
  .un-post
    th
      background-color #4dc4ff
      color white
      text-align center
    td
      background-color #dbedff
  .btn-yellow
    width 6rem
    padding 2px 5px
    box-sizing border-box
    font-size 14px
    line-height 1.5
    relative right 2px top
    .iconfont
      font-size 12px
      margin-right 2px
  .evaluate
    td
      text-align center
      padding 0
      width 26%
    .iconfont
      display inline-block
      color #bfbfbf
      width 100%
      line-height 30px
    .icon-tick
      font-size 18px
    .icon-zhong
      font-size 16px
    .icon-cha
      font-size 10px
    .active
      .iconfont
        color #ffffff
      .icon-tick
        background-color #b7e9a8
      .icon-zhong
        background-color #8ed8ed
      .icon-cha
        background-color #f0b6b6

  h2
    width 156px
    margin 20px auto
    padding 2px 0
    color white
    background-color #3498db
    text-align center
    border-radius 20px

  h3
    border-left 2px solid #98b8d9
    padding-left 10px
    line-height 1.1
    font-size 16px
    margin 5px 0

.post-bar
  fixed left right bottom
  height 5rem
  a
    display inline-block
    width 50%
    line-height 5rem
    text-align center
    color white
    opacity 0.8
    font-size 18px
  .btn-save
    background-color #ffa200

  .btn-submit
    background-color #71d0ff

.teacher-post-page
  .teacher-edit
    .table-wrap
      td
        .flex
          display flex
          align-items flex-end
        textarea
        input
          flex 1
          margin-right 8px
          overflow-y visible
        .btn-yellow
          border-radius 0.2rem
          height 2.5rem

.teacher-report
  width 100%
  border 1px solid #e6e6e6
  border-radius 10px
  font-size 14px
  padding 5px
  box-sizing border-box
  overflow-y visible