// 个人设置
// ------------------------------

// 绑定手机
.form-bind
  margin-top 0
  border-top none

  .verify-code
    input
      margin-right 1rem
      flex 3

    button
      flex 1
      padding 1rem 0
      min-width 13rem

    .btn-outline
      background transparent
      color green
      border .2rem solid green

  .form-actions
    margin-top 7rem

.form-config
  margin 0
  padding-top 0
  border-top none

  .form-row
    .info
      font-size 1.6rem
      border-bottom 1px solid #EAEAEA
      padding 1rem 1.5rem

  .form-actions
    margin-top 22rem
    padding 0 1.5rem

.form-config-change
  margin-top 0
  border-top none
  .form-row
    display block
    padding 1rem 1.5rem
    border .1rem solid #d9d9d9
    border-radius .6rem
    box-sizing border-box
    overflow hidden
    .info
      font-size 1.6rem

  .student-current
    background url("../images/icon-current.png") no-repeat right 0
    background-size 3.5rem
  .student-del
    background url("../images/icon-del.png") no-repeat 98% center
    background-size 1.4rem
  .form-actions
    margin-top 22rem