---
page_title: "个人中心页"
body_class: ["home-page"]
---
extends _layout
block content
    .container
        // 我的课程
        .home-wrap
            .home-top
                a.home-left-setting.btn.label-blue(href='setting-msg.html',title='账号设置')
                    i.icon.icon-setting-white
                    span.font-blue-lither.font-nm 账号设置
                .home-user
                    .ui-avatar
                        img(src="#{current.base}img/avatar.jpg", alt="哎呀妈妈")
                    div
                        strong.font-md.mt5 牛逼轰轰绿巨人
                        .font-grey.font-nm.mb20 广州市第十六中学
                            span.ml5 初三
                .home-nav
                    ul
                        li
                            a.active(href='',title='') 我的课程
                        li
                            a(href='',title='') 我的订单
            .home-bottom
                .clearfix.minus-r20
                    +home-courses-block(1)
                    +home-courses-block(2)
                    +home-courses-block(3)
                    +home-courses-block(1)
                    +home-courses-block(2)
                    +home-courses-block(3)
                    +home-courses-block(1)
                    +home-courses-block(2)
                    +home-courses-block(3)


        // 我的订单
        .home-wrap
            .home-top
                a.home-left-setting.btn.label-blue(href='setting-msg.html',title='账号设置')
                    i.icon.icon-setting-white
                    span.font-blue-lither.font-nm 账号设置
                .home-user
                    .ui-avatar
                        img(src="#{current.base}img/avatar.jpg", alt="哎呀妈妈")
                    div
                        strong.font-md.mt5 牛逼轰轰绿巨人
                        .font-grey.font-nm.mb20 广州市第十六中学
                            span.ml5 初三
                .home-nav
                    ul
                        li
                            a(href='',title='') 我的课程
                        li
                            a.active(href='',title='') 我的订单
            .home-bottom
                .clearfix.minus-r20
                    +order-block(1)
                    +order-block(2)
                    +order-block(2)
                    +order-block(2)
                    +order-block(2)
                    +order-block(2)
                    +order-block(1)
                    +order-block(2)
                    +order-block(2)
                    +order-block(2)
                    +order-block(2)
                    +order-block(2)
block javascript
    script.
