---
page_title: "课程列表页"
body_class: ["list-page"]
---
extends _layout
block content
    .container
        // 课程列表
        .filter-wrap.mt30
            .ui-dropdown
                .dropdown-text 排序方式
                i.icon.icon-down-black
                ul.dropdown-list
                    li: a(href='',title='') 排序方式
                    li: a(href='',title='') 排序方式1
                    li: a(href='',title='') 排序方式2
                    li: a(href='',title='') 排序方式3
            .ui-dropdown
                .dropdown-text 科目筛选
                i.icon.icon-down-black
                ul.dropdown-list
                    li: a(href='',title='') 科目筛选
                    li: a(href='',title='') 数学
                    li: a(href='',title='') 物理
                    li: a(href='',title='') 英语
            .ui-dropdown
                .dropdown-text 课程类型
                i.icon.icon-down-black
                ul.dropdown-list
                    li: a(href='',title='') 课程类型
                    li: a(href='',title='') 课程类型1
                    li: a(href='',title='') 课程类型2
                    li: a(href='',title='') 课程类型3
        .row.clearfix
            +courses-block(1)
            +courses-block(2)
            +courses-block(3)
            +courses-block(4)
            +courses-block(5)
            +courses-block(6)
            +courses-block(7)
            +courses-block(8)
            +courses-block(9)
            +courses-block(10)
            +courses-block(11)
        .mt20
            +loader-box()

block javascript
    script.
        $('.dropdown-list li a').click(function (e) {
            e.preventDefault();
            var itemText = $(this).text();
            $(this).parents('.ui-dropdown').find('.dropdown-text').text(itemText);
            $(this).parents('.dropdown-list').hide();
        })
        $('.ui-dropdown').hover(function () {
            $(this).find('.dropdown-list').show();
        }, function () {
            $(this).find('.dropdown-list').hide();
        })