---
page_title: "个人信息--设置页"
body_class: ["setting-page"]
---

extends _layout

block content
    .container
        // 个人设置
        .setting-wrap.mt30
            .ui-tab
                ul
                    li: a.tab.active(href='setting-msg.html',title='') 个人信息
                    li: a.tab(href='setting-psw.html',title='') 修改密码
                    li: a.tab(href='setting-phone.html',title='') 绑定手机
                    li: a.tab(href='setting-wechat.html',title='') 绑定微信

            .setting-container.tc
                form
                    .gf-form
                        .gf-form-row.tr
                            label 昵称：
                            input(type='text')
                        .gf-form-row.tr
                            label 所在学校：
                            input(type='text')
                        .gf-form-row.tr
                            label 就读年级：
                            input(type='text')
                    .upload-avatar
                        span 当前头像：
                        .avatar-wrap
                            .ui-avatar
                                // 头像位置
                            a(href='javascript:;') 修改头像
                    br
                    input.btn.btn-submit.mt80(type='button', value='确定')
        +loader-box('fixed')

block javascript
    script.
