// 文章页样式
// =======================
.ui-article
  overflow hidden
.article-title
  border-bottom 1px solid #e6e6e6
  h2
    font-size 24px
    font-weight 400
    margin-top 15px
    margin-bottom 0
    color #666666
  i
    vertical-align middle
    margin-right 5px


.article-content
  font-size 14px
  color #333333
  letter-spacing 1px
  p
    text-align left
    margin 0
    line-height 2
  img
    margin 20px auto

.comment-header
  border-top 1px solid #e6e6e6
  margin-top 80px

  .comment-header-title
    display inline-block
    border-top 4px solid #67c4d4
    color #445568
    font-size 20px
    padding-top 5px
    margin-top -1px

  .fr
    font-size 14px
    a
      color #999999

.comment-form
  textarea
    size 798px 138px
    padding 10px
    resize none
    border 1px solid #e6e6e6
    border-radius 4px
    font-size 14px
    color #666666

  /*.ui-radio
    display inline-block
    color #666666
    font-size 14px
    margin-top 5px
    cursor pointer
    .radio-box
      display inline-block
      vertical-align middle
      border 1px solid #e6e6e6
      padding 3px
      border-radius 4px
    .radio-box-c
      size 8px
      background-color #ffffff
    &.selected
      .radio-box-c
        background-color #67c4d4*/
.add-comment-form
  .add-comment-area
    width 100%
    height 80px
    padding 10px
    resize none
    border 1px solid #e6e6e6
    border-radius 4px
    font-size 14px
    color #666666
    box-sizing border-box
.avatar-user
  font-size 16px
  color #666666
  font-weight 600

.comment-item
  margin-top 15px
  padding-bottom 15px
  .comment-item
    padding-bottom 0
.comment-item-content
  margin-left 65px
  font-size 14px
.item-content
  color #333333
  p
    margin 5px 0
.comment-none
  height 12px
  border-bottom 1px solid #e6e6e6
  position relative
  span
    absolute left 50% top
    padding 0 20px
    font-size 16px
    margin-left -52px
    background-color #ffffff

.item-reply
  margin-top 10px
  height 28px
  a
    background-color #f5f5f5
    padding 3px 10px 6px 10px
    margin-right 5px
    border-radius 4px
    i
    span
      vertical-align middle
      margin 0 4px
    span
      font-size 12px
      color #999999

.right-thumbnail
  width 258px
  border-radius 4px
  border 1px solid #e6e6e6
  margin-top 20px
  .img-wrap
    border-radius 4px
    padding 10px 19px 7px 19px

.question-thumbnail
  .img-wrap
    border-top 3px solid #445568
.article-thumbnail
  .img-wrap
    border-top 3px solid #67c4d4

.thumbnail-list
  padding-left 20px
  margin-bottom -1px
.thumbnail-item
  font-size 14px
  color #333333
  padding 12px 20px 12px 0
  border-bottom 1px solid #e6e6e6
  a
    color #333333
    line-height 1.7
    &:hover
      color #67c4d4
.thumbnail-item-img
  size 80px 48px
  border-radius 4px
  overflow hidden
  img
    width 100%
.thumbnail-item-title
  margin-left 90px
  height 44px
  overflow hidden