.gift-list-wrap
  border 1px solid #e6e6e6
  border-radius 4px
  padding-left 29px

.gift-block
  float left
  width 240px
  border-bottom 1px solid #e6e6e6
  text-align center
  margin-right 20px
  overflow hidden
  font-size 14px
  padding 20px 0
  margin-bottom -1px
  .img-wrap
    height 156px
    position relative
    img
      max-height 154px
      absolute left 50% top 50%
      transform translate(-50%,-50%)
  h4
    font-weight normal
    color #333333
    font-size 18px
    margin 0
    text-overflow(width = 100%)
  p.font-grey
    margin 5px 0
  .btn-orange-reverse
    margin 20px 0

.exchange-thumbnail
  font-size 14px
  overflow hidden
  margin-top 80px
  .exchange-thumbnail-user
    padding 19px
    text-align center
    .font-orange
      font-size 54px
      line-height 1.2
  .btn-blue
  .btn-orange
    color #ffffff
    size 218px 38px
    line-height 38px
    font-size 16px
    margin 5px 0

  dl
    background-color #f8f8f8
    padding 0 19px
    margin-bottom -1px
    dt
      color #333333
      font-size 16px
      font-weight 600
      padding-top 10px
    dd
      border-bottom 1px solid #e6e6e6
      padding 10px 0


.integral-rule-content
  ul
    li
      list-style square outside