// 搜索页样式
// ===================
.search-form-wrap
  width 690px
  margin 0 auto

.search-top
  @extend .bg-blue

  .form
    font-size 22px
    input[type='text']
      height 28px
      float left
      border 1px solid #e6e6e6
      padding 15px 30px
      color #f59362
      width 559px
      margin-right -1px
      border-radius 30px 0 0 30px
    input::-webkit-input-placeholder
      color #f59362
    input:-moz-placeholder
      color #f59362
    input::-moz-placeholder
      color #f59362
    input:-ms-input-placeholder
      color #f59362
  .btn-search
    float right
    display block
    size 55px 60px
    background-color #67c4d4
    padding-left 15px
    line-height 76px
    border-radius 0 30px 30px 0
  dt
  dd
    float left
    font-size 16px
    margin 10px 0
  dd
    margin-right 10px
    a
      color #f59362
  ul
    margin 0 auto
    text-align center
    li
      display inline-block
      margin 30px 45px
    a
      font-size 24px
      color #445568
      padding-bottom 5px
      border-bottom 2px solid transparent
      &.active
        color #67c4d4
        border-bottom 2px solid #67c4d4
      span
        font-size 18px
        color #999999
        margin-left 15px
.search-msg
  margin 35px 0 5px 0
  .fr
    span
    a
    i
      vertical-align middle
    span
      margin-right 14px
    a
      color #999999
      border-bottom 2px solid transparent
      &.active
        color #67c4d4
        border-bottom 2px solid #67c4d4
    i
      margin 0 15px
      font-weight 100
      font-size 14px
      color #e6e6e6