/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet = width height image $spritesheet_sprites;
*/
$arrow_left_name = 'arrow-left';
$arrow_left_x = 60px;
$arrow_left_y = 103px;
$arrow_left_offset_x = -60px;
$arrow_left_offset_y = -103px;
$arrow_left_width = 9px;
$arrow_left_height = 16px;
$arrow_left_total_width = 165px;
$arrow_left_total_height = 141px;
$arrow_left_image = '../img/sprite.png';
$arrow_left = 60px 103px -60px -103px 9px 16px 165px 141px '../img/sprite.png' 'arrow-left';
$arrow_right_name = 'arrow-right';
$arrow_right_x = 156px;
$arrow_right_y = 61px;
$arrow_right_offset_x = -156px;
$arrow_right_offset_y = -61px;
$arrow_right_width = 9px;
$arrow_right_height = 16px;
$arrow_right_total_width = 165px;
$arrow_right_total_height = 141px;
$arrow_right_image = '../img/sprite.png';
$arrow_right = 156px 61px -156px -61px 9px 16px 165px 141px '../img/sprite.png' 'arrow-right';
$bg_msg_top_name = 'bg-msg-top';
$bg_msg_top_x = 78px;
$bg_msg_top_y = 109px;
$bg_msg_top_offset_x = -78px;
$bg_msg_top_offset_y = -109px;
$bg_msg_top_width = 32px;
$bg_msg_top_height = 8px;
$bg_msg_top_total_width = 165px;
$bg_msg_top_total_height = 141px;
$bg_msg_top_image = '../img/sprite.png';
$bg_msg_top = 78px 109px -78px -109px 32px 8px 165px 141px '../img/sprite.png' 'bg-msg-top';
$bg_user_top_name = 'bg-user-top';
$bg_user_top_x = 141px;
$bg_user_top_y = 135px;
$bg_user_top_offset_x = -141px;
$bg_user_top_offset_y = -135px;
$bg_user_top_width = 12px;
$bg_user_top_height = 6px;
$bg_user_top_total_width = 165px;
$bg_user_top_total_height = 141px;
$bg_user_top_image = '../img/sprite.png';
$bg_user_top = 141px 135px -141px -135px 12px 6px 165px 141px '../img/sprite.png' 'bg-user-top';
$icon_cart_name = 'icon-cart';
$icon_cart_x = 0px;
$icon_cart_y = 0px;
$icon_cart_offset_x = 0px;
$icon_cart_offset_y = 0px;
$icon_cart_width = 78px;
$icon_cart_height = 60px;
$icon_cart_total_width = 165px;
$icon_cart_total_height = 141px;
$icon_cart_image = '../img/sprite.png';
$icon_cart = 0px 0px 0px 0px 78px 60px 165px 141px '../img/sprite.png' 'icon-cart';
$icon_close_g_name = 'icon-close-g';
$icon_close_g_x = 60px;
$icon_close_g_y = 121px;
$icon_close_g_offset_x = -60px;
$icon_close_g_offset_y = -121px;
$icon_close_g_width = 20px;
$icon_close_g_height = 20px;
$icon_close_g_total_width = 165px;
$icon_close_g_total_height = 141px;
$icon_close_g_image = '../img/sprite.png';
$icon_close_g = 60px 121px -60px -121px 20px 20px 165px 141px '../img/sprite.png' 'icon-close-g';
$icon_close_sm_name = 'icon-close-sm';
$icon_close_sm_x = 155px;
$icon_close_sm_y = 120px;
$icon_close_sm_offset_x = -155px;
$icon_close_sm_offset_y = -120px;
$icon_close_sm_width = 10px;
$icon_close_sm_height = 10px;
$icon_close_sm_total_width = 165px;
$icon_close_sm_total_height = 141px;
$icon_close_sm_image = '../img/sprite.png';
$icon_close_sm = 155px 120px -155px -120px 10px 10px 165px 141px '../img/sprite.png' 'icon-close-sm';
$icon_close_name = 'icon-close';
$icon_close_x = 60px;
$icon_close_y = 60px;
$icon_close_offset_x = -60px;
$icon_close_offset_y = -60px;
$icon_close_width = 18px;
$icon_close_height = 18px;
$icon_close_total_width = 165px;
$icon_close_total_height = 141px;
$icon_close_image = '../img/sprite.png';
$icon_close = 60px 60px -60px -60px 18px 18px 165px 141px '../img/sprite.png' 'icon-close';
$icon_exchange_name = 'icon-exchange';
$icon_exchange_x = 60px;
$icon_exchange_y = 91px;
$icon_exchange_offset_x = -60px;
$icon_exchange_offset_y = -91px;
$icon_exchange_width = 12px;
$icon_exchange_height = 12px;
$icon_exchange_total_width = 165px;
$icon_exchange_total_height = 141px;
$icon_exchange_image = '../img/sprite.png';
$icon_exchange = 60px 91px -60px -91px 12px 12px 165px 141px '../img/sprite.png' 'icon-exchange';
$icon_fav_grey_name = 'icon-fav-grey';
$icon_fav_grey_x = 141px;
$icon_fav_grey_y = 106px;
$icon_fav_grey_offset_x = -141px;
$icon_fav_grey_offset_y = -106px;
$icon_fav_grey_width = 16px;
$icon_fav_grey_height = 14px;
$icon_fav_grey_total_width = 165px;
$icon_fav_grey_total_height = 141px;
$icon_fav_grey_image = '../img/sprite.png';
$icon_fav_grey = 141px 106px -141px -106px 16px 14px 165px 141px '../img/sprite.png' 'icon-fav-grey';
$icon_fav_name = 'icon-fav';
$icon_fav_x = 60px;
$icon_fav_y = 78px;
$icon_fav_offset_x = -60px;
$icon_fav_offset_y = -78px;
$icon_fav_width = 16px;
$icon_fav_height = 13px;
$icon_fav_total_width = 165px;
$icon_fav_total_height = 141px;
$icon_fav_image = '../img/sprite.png';
$icon_fav = 60px 78px -60px -78px 16px 13px 165px 141px '../img/sprite.png' 'icon-fav';
$icon_gift_name = 'icon-gift';
$icon_gift_x = 0px;
$icon_gift_y = 60px;
$icon_gift_offset_x = 0px;
$icon_gift_offset_y = -60px;
$icon_gift_width = 60px;
$icon_gift_height = 61px;
$icon_gift_total_width = 165px;
$icon_gift_total_height = 141px;
$icon_gift_image = '../img/sprite.png';
$icon_gift = 0px 60px 0px -60px 60px 61px 165px 141px '../img/sprite.png' 'icon-gift';
$icon_index_active_name = 'icon-index-active';
$icon_index_active_x = 118px;
$icon_index_active_y = 25px;
$icon_index_active_offset_x = -118px;
$icon_index_active_offset_y = -25px;
$icon_index_active_width = 22px;
$icon_index_active_height = 20px;
$icon_index_active_total_width = 165px;
$icon_index_active_total_height = 141px;
$icon_index_active_image = '../img/sprite.png';
$icon_index_active = 118px 25px -118px -25px 22px 20px 165px 141px '../img/sprite.png' 'icon-index-active';
$icon_index_name = 'icon-index';
$icon_index_x = 118px;
$icon_index_y = 45px;
$icon_index_offset_x = -118px;
$icon_index_offset_y = -45px;
$icon_index_width = 22px;
$icon_index_height = 20px;
$icon_index_total_width = 165px;
$icon_index_total_height = 141px;
$icon_index_image = '../img/sprite.png';
$icon_index = 118px 45px -118px -45px 22px 20px 165px 141px '../img/sprite.png' 'icon-index';
$icon_money_name = 'icon-money';
$icon_money_x = 78px;
$icon_money_y = 0px;
$icon_money_offset_x = -78px;
$icon_money_offset_y = 0px;
$icon_money_width = 40px;
$icon_money_height = 32px;
$icon_money_total_width = 165px;
$icon_money_total_height = 141px;
$icon_money_image = '../img/sprite.png';
$icon_money = 78px 0px -78px 0px 40px 32px 165px 141px '../img/sprite.png' 'icon-money';
$icon_msg_grey_name = 'icon-msg-grey';
$icon_msg_grey_x = 141px;
$icon_msg_grey_y = 92px;
$icon_msg_grey_offset_x = -141px;
$icon_msg_grey_offset_y = -92px;
$icon_msg_grey_width = 16px;
$icon_msg_grey_height = 14px;
$icon_msg_grey_total_width = 165px;
$icon_msg_grey_total_height = 141px;
$icon_msg_grey_image = '../img/sprite.png';
$icon_msg_grey = 141px 92px -141px -92px 16px 14px 165px 141px '../img/sprite.png' 'icon-msg-grey';
$icon_person_name = 'icon-person';
$icon_person_x = 141px;
$icon_person_y = 61px;
$icon_person_offset_x = -141px;
$icon_person_offset_y = -61px;
$icon_person_width = 15px;
$icon_person_height = 16px;
$icon_person_total_width = 165px;
$icon_person_total_height = 141px;
$icon_person_image = '../img/sprite.png';
$icon_person = 141px 61px -141px -61px 15px 16px 165px 141px '../img/sprite.png' 'icon-person';
$icon_qq_name = 'icon-qq';
$icon_qq_x = 141px;
$icon_qq_y = 45px;
$icon_qq_offset_x = -141px;
$icon_qq_offset_y = -45px;
$icon_qq_width = 16px;
$icon_qq_height = 16px;
$icon_qq_total_width = 165px;
$icon_qq_total_height = 141px;
$icon_qq_image = '../img/sprite.png';
$icon_qq = 141px 45px -141px -45px 16px 16px 165px 141px '../img/sprite.png' 'icon-qq';
$icon_question_name = 'icon-question';
$icon_question_x = 40px;
$icon_question_y = 121px;
$icon_question_offset_x = -40px;
$icon_question_offset_y = -121px;
$icon_question_width = 20px;
$icon_question_height = 20px;
$icon_question_total_width = 165px;
$icon_question_total_height = 141px;
$icon_question_image = '../img/sprite.png';
$icon_question = 40px 121px -40px -121px 20px 20px 165px 141px '../img/sprite.png' 'icon-question';
$icon_search_big_name = 'icon-search-big';
$icon_search_big_x = 78px;
$icon_search_big_y = 32px;
$icon_search_big_offset_x = -78px;
$icon_search_big_offset_y = -32px;
$icon_search_big_width = 32px;
$icon_search_big_height = 32px;
$icon_search_big_total_width = 165px;
$icon_search_big_total_height = 141px;
$icon_search_big_image = '../img/sprite.png';
$icon_search_big = 78px 32px -78px -32px 32px 32px 165px 141px '../img/sprite.png' 'icon-search-big';
$icon_search_name = 'icon-search';
$icon_search_x = 120px;
$icon_search_y = 121px;
$icon_search_offset_x = -120px;
$icon_search_offset_y = -121px;
$icon_search_width = 19px;
$icon_search_height = 19px;
$icon_search_total_width = 165px;
$icon_search_total_height = 141px;
$icon_search_image = '../img/sprite.png';
$icon_search = 120px 121px -120px -121px 19px 19px 165px 141px '../img/sprite.png' 'icon-search';
$icon_sign_name = 'icon-sign';
$icon_sign_x = 78px;
$icon_sign_y = 85px;
$icon_sign_offset_x = -78px;
$icon_sign_offset_y = -85px;
$icon_sign_width = 24px;
$icon_sign_height = 24px;
$icon_sign_total_width = 165px;
$icon_sign_total_height = 141px;
$icon_sign_image = '../img/sprite.png';
$icon_sign = 78px 85px -78px -85px 24px 24px 165px 141px '../img/sprite.png' 'icon-sign';
$icon_sort_active_name = 'icon-sort-active';
$icon_sort_active_x = 102px;
$icon_sort_active_y = 85px;
$icon_sort_active_offset_x = -102px;
$icon_sort_active_offset_y = -85px;
$icon_sort_active_width = 14px;
$icon_sort_active_height = 15px;
$icon_sort_active_total_width = 165px;
$icon_sort_active_total_height = 141px;
$icon_sort_active_image = '../img/sprite.png';
$icon_sort_active = 102px 85px -102px -85px 14px 15px 165px 141px '../img/sprite.png' 'icon-sort-active';
$icon_sort_name = 'icon-sort';
$icon_sort_x = 141px;
$icon_sort_y = 120px;
$icon_sort_offset_x = -141px;
$icon_sort_offset_y = -120px;
$icon_sort_width = 14px;
$icon_sort_height = 15px;
$icon_sort_total_width = 165px;
$icon_sort_total_height = 141px;
$icon_sort_image = '../img/sprite.png';
$icon_sort = 141px 120px -141px -120px 14px 15px 165px 141px '../img/sprite.png' 'icon-sort';
$icon_special_active_name = 'icon-special-active';
$icon_special_active_x = 0px;
$icon_special_active_y = 121px;
$icon_special_active_offset_x = 0px;
$icon_special_active_offset_y = -121px;
$icon_special_active_width = 20px;
$icon_special_active_height = 20px;
$icon_special_active_total_width = 165px;
$icon_special_active_total_height = 141px;
$icon_special_active_image = '../img/sprite.png';
$icon_special_active = 0px 121px 0px -121px 20px 20px 165px 141px '../img/sprite.png' 'icon-special-active';
$icon_special_name = 'icon-special';
$icon_special_x = 20px;
$icon_special_y = 121px;
$icon_special_offset_x = -20px;
$icon_special_offset_y = -121px;
$icon_special_width = 20px;
$icon_special_height = 20px;
$icon_special_total_width = 165px;
$icon_special_total_height = 141px;
$icon_special_image = '../img/sprite.png';
$icon_special = 20px 121px -20px -121px 20px 20px 165px 141px '../img/sprite.png' 'icon-special';
$icon_tick_name = 'icon-tick';
$icon_tick_x = 118px;
$icon_tick_y = 0px;
$icon_tick_offset_x = -118px;
$icon_tick_offset_y = 0px;
$icon_tick_width = 23px;
$icon_tick_height = 25px;
$icon_tick_total_width = 165px;
$icon_tick_total_height = 141px;
$icon_tick_image = '../img/sprite.png';
$icon_tick = 118px 0px -118px 0px 23px 25px 165px 141px '../img/sprite.png' 'icon-tick';
$icon_time_name = 'icon-time';
$icon_time_x = 141px;
$icon_time_y = 29px;
$icon_time_offset_x = -141px;
$icon_time_offset_y = -29px;
$icon_time_width = 16px;
$icon_time_height = 16px;
$icon_time_total_width = 165px;
$icon_time_total_height = 141px;
$icon_time_image = '../img/sprite.png';
$icon_time = 141px 29px -141px -29px 16px 16px 165px 141px '../img/sprite.png' 'icon-time';
$icon_to_name = 'icon-to';
$icon_to_x = 78px;
$icon_to_y = 64px;
$icon_to_offset_x = -78px;
$icon_to_offset_y = -64px;
$icon_to_width = 32px;
$icon_to_height = 21px;
$icon_to_total_width = 165px;
$icon_to_total_height = 141px;
$icon_to_image = '../img/sprite.png';
$icon_to = 78px 64px -78px -64px 32px 21px 165px 141px '../img/sprite.png' 'icon-to';
$icon_top_name = 'icon-top';
$icon_top_x = 141px;
$icon_top_y = 0px;
$icon_top_offset_x = -141px;
$icon_top_offset_y = 0px;
$icon_top_width = 24px;
$icon_top_height = 13px;
$icon_top_total_width = 165px;
$icon_top_total_height = 141px;
$icon_top_image = '../img/sprite.png';
$icon_top = 141px 0px -141px 0px 24px 13px 165px 141px '../img/sprite.png' 'icon-top';
$icon_treasury_active_name = 'icon-treasury-active';
$icon_treasury_active_x = 118px;
$icon_treasury_active_y = 65px;
$icon_treasury_active_offset_x = -118px;
$icon_treasury_active_offset_y = -65px;
$icon_treasury_active_width = 22px;
$icon_treasury_active_height = 20px;
$icon_treasury_active_total_width = 165px;
$icon_treasury_active_total_height = 141px;
$icon_treasury_active_image = '../img/sprite.png';
$icon_treasury_active = 118px 65px -118px -65px 22px 20px 165px 141px '../img/sprite.png' 'icon-treasury-active';
$icon_treasury_name = 'icon-treasury';
$icon_treasury_x = 118px;
$icon_treasury_y = 85px;
$icon_treasury_offset_x = -118px;
$icon_treasury_offset_y = -85px;
$icon_treasury_width = 22px;
$icon_treasury_height = 20px;
$icon_treasury_total_width = 165px;
$icon_treasury_total_height = 141px;
$icon_treasury_image = '../img/sprite.png';
$icon_treasury = 118px 85px -118px -85px 22px 20px 165px 141px '../img/sprite.png' 'icon-treasury';
$icon_wechat_name = 'icon-wechat';
$icon_wechat_x = 118px;
$icon_wechat_y = 105px;
$icon_wechat_offset_x = -118px;
$icon_wechat_offset_y = -105px;
$icon_wechat_width = 20px;
$icon_wechat_height = 16px;
$icon_wechat_total_width = 165px;
$icon_wechat_total_height = 141px;
$icon_wechat_image = '../img/sprite.png';
$icon_wechat = 118px 105px -118px -105px 20px 16px 165px 141px '../img/sprite.png' 'icon-wechat';
$icon_weibo_name = 'icon-weibo';
$icon_weibo_x = 141px;
$icon_weibo_y = 13px;
$icon_weibo_offset_x = -141px;
$icon_weibo_offset_y = -13px;
$icon_weibo_width = 19px;
$icon_weibo_height = 16px;
$icon_weibo_total_width = 165px;
$icon_weibo_total_height = 141px;
$icon_weibo_image = '../img/sprite.png';
$icon_weibo = 141px 13px -141px -13px 19px 16px 165px 141px '../img/sprite.png' 'icon-weibo';
$icon_wenda_active_name = 'icon-wenda-active';
$icon_wenda_active_x = 80px;
$icon_wenda_active_y = 121px;
$icon_wenda_active_offset_x = -80px;
$icon_wenda_active_offset_y = -121px;
$icon_wenda_active_width = 20px;
$icon_wenda_active_height = 20px;
$icon_wenda_active_total_width = 165px;
$icon_wenda_active_total_height = 141px;
$icon_wenda_active_image = '../img/sprite.png';
$icon_wenda_active = 80px 121px -80px -121px 20px 20px 165px 141px '../img/sprite.png' 'icon-wenda-active';
$icon_wenda_name = 'icon-wenda';
$icon_wenda_x = 100px;
$icon_wenda_y = 121px;
$icon_wenda_offset_x = -100px;
$icon_wenda_offset_y = -121px;
$icon_wenda_width = 20px;
$icon_wenda_height = 20px;
$icon_wenda_total_width = 165px;
$icon_wenda_total_height = 141px;
$icon_wenda_image = '../img/sprite.png';
$icon_wenda = 100px 121px -100px -121px 20px 20px 165px 141px '../img/sprite.png' 'icon-wenda';
$icon_zan_name = 'icon-zan';
$icon_zan_x = 141px;
$icon_zan_y = 77px;
$icon_zan_offset_x = -141px;
$icon_zan_offset_y = -77px;
$icon_zan_width = 15px;
$icon_zan_height = 15px;
$icon_zan_total_width = 165px;
$icon_zan_total_height = 141px;
$icon_zan_image = '../img/sprite.png';
$icon_zan = 141px 77px -141px -77px 15px 15px 165px 141px '../img/sprite.png' 'icon-zan';
$spritesheet_width = 165px;
$spritesheet_height = 141px;
$spritesheet_image = '../img/sprite.png';
$spritesheet_sprites = $arrow_left $arrow_right $bg_msg_top $bg_user_top $icon_cart $icon_close_g $icon_close_sm $icon_close $icon_exchange $icon_fav_grey $icon_fav $icon_gift $icon_index_active $icon_index $icon_money $icon_msg_grey $icon_person $icon_qq $icon_question $icon_search_big $icon_search $icon_sign $icon_sort_active $icon_sort $icon_special_active $icon_special $icon_tick $icon_time $icon_to $icon_top $icon_treasury_active $icon_treasury $icon_wechat $icon_weibo $icon_wenda_active $icon_wenda $icon_zan;
$spritesheet = 165px 141px '../img/sprite.png' $spritesheet_sprites;

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of Stylus

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

sprites($spritesheet_sprites);
*/
sprites($sprites) {
  for $sprite in $sprites {
    $sprite_name = $sprite[9];
    .{$sprite_name} {
      sprite($sprite);
    }
  }
}
