/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet = width height image $spritesheet_sprites;
*/
$arrow_left_name = 'arrow-left';
$arrow_left_x = 118px;
$arrow_left_y = 46px;
$arrow_left_offset_x = -118px;
$arrow_left_offset_y = -46px;
$arrow_left_width = 9px;
$arrow_left_height = 16px;
$arrow_left_total_width = 132px;
$arrow_left_total_height = 113px;
$arrow_left_image = '../img/sprite.png';
$arrow_left = 118px 46px -118px -46px 9px 16px 132px 113px '../img/sprite.png' 'arrow-left';
$arrow_right_name = 'arrow-right';
$arrow_right_x = 118px;
$arrow_right_y = 30px;
$arrow_right_offset_x = -118px;
$arrow_right_offset_y = -30px;
$arrow_right_width = 9px;
$arrow_right_height = 16px;
$arrow_right_total_width = 132px;
$arrow_right_total_height = 113px;
$arrow_right_image = '../img/sprite.png';
$arrow_right = 118px 30px -118px -30px 9px 16px 132px 113px '../img/sprite.png' 'arrow-right';
$bg_msg_top_name = 'bg-msg-top';
$bg_msg_top_x = 0px;
$bg_msg_top_y = 91px;
$bg_msg_top_offset_x = 0px;
$bg_msg_top_offset_y = -91px;
$bg_msg_top_width = 32px;
$bg_msg_top_height = 8px;
$bg_msg_top_total_width = 132px;
$bg_msg_top_total_height = 113px;
$bg_msg_top_image = '../img/sprite.png';
$bg_msg_top = 0px 91px 0px -91px 32px 8px 132px 113px '../img/sprite.png' 'bg-msg-top';
$bg_user_top_name = 'bg-user-top';
$bg_user_top_x = 118px;
$bg_user_top_y = 72px;
$bg_user_top_offset_x = -118px;
$bg_user_top_offset_y = -72px;
$bg_user_top_width = 12px;
$bg_user_top_height = 6px;
$bg_user_top_total_width = 132px;
$bg_user_top_total_height = 113px;
$bg_user_top_image = '../img/sprite.png';
$bg_user_top = 118px 72px -118px -72px 12px 6px 132px 113px '../img/sprite.png' 'bg-user-top';
$icon_close_sm_name = 'icon-close-sm';
$icon_close_sm_x = 118px;
$icon_close_sm_y = 62px;
$icon_close_sm_offset_x = -118px;
$icon_close_sm_offset_y = -62px;
$icon_close_sm_width = 10px;
$icon_close_sm_height = 10px;
$icon_close_sm_total_width = 132px;
$icon_close_sm_total_height = 113px;
$icon_close_sm_image = '../img/sprite.png';
$icon_close_sm = 118px 62px -118px -62px 10px 10px 132px 113px '../img/sprite.png' 'icon-close-sm';
$icon_close_name = 'icon-close';
$icon_close_x = 19px;
$icon_close_y = 72px;
$icon_close_offset_x = -19px;
$icon_close_offset_y = -72px;
$icon_close_width = 18px;
$icon_close_height = 18px;
$icon_close_total_width = 132px;
$icon_close_total_height = 113px;
$icon_close_image = '../img/sprite.png';
$icon_close = 19px 72px -19px -72px 18px 18px 132px 113px '../img/sprite.png' 'icon-close';
$icon_fav_grey_name = 'icon-fav-grey';
$icon_fav_grey_x = 0px;
$icon_fav_grey_y = 99px;
$icon_fav_grey_offset_x = 0px;
$icon_fav_grey_offset_y = -99px;
$icon_fav_grey_width = 16px;
$icon_fav_grey_height = 14px;
$icon_fav_grey_total_width = 132px;
$icon_fav_grey_total_height = 113px;
$icon_fav_grey_image = '../img/sprite.png';
$icon_fav_grey = 0px 99px 0px -99px 16px 14px 132px 113px '../img/sprite.png' 'icon-fav-grey';
$icon_fav_name = 'icon-fav';
$icon_fav_x = 81px;
$icon_fav_y = 72px;
$icon_fav_offset_x = -81px;
$icon_fav_offset_y = -72px;
$icon_fav_width = 16px;
$icon_fav_height = 13px;
$icon_fav_total_width = 132px;
$icon_fav_total_height = 113px;
$icon_fav_image = '../img/sprite.png';
$icon_fav = 81px 72px -81px -72px 16px 13px 132px 113px '../img/sprite.png' 'icon-fav';
$icon_index_active_name = 'icon-index-active';
$icon_index_active_x = 44px;
$icon_index_active_y = 32px;
$icon_index_active_offset_x = -44px;
$icon_index_active_offset_y = -32px;
$icon_index_active_width = 22px;
$icon_index_active_height = 20px;
$icon_index_active_total_width = 132px;
$icon_index_active_total_height = 113px;
$icon_index_active_image = '../img/sprite.png';
$icon_index_active = 44px 32px -44px -32px 22px 20px 132px 113px '../img/sprite.png' 'icon-index-active';
$icon_index_name = 'icon-index';
$icon_index_x = 0px;
$icon_index_y = 52px;
$icon_index_offset_x = 0px;
$icon_index_offset_y = -52px;
$icon_index_width = 22px;
$icon_index_height = 20px;
$icon_index_total_width = 132px;
$icon_index_total_height = 113px;
$icon_index_image = '../img/sprite.png';
$icon_index = 0px 52px 0px -52px 22px 20px 132px 113px '../img/sprite.png' 'icon-index';
$icon_msg_grey_name = 'icon-msg-grey';
$icon_msg_grey_x = 62px;
$icon_msg_grey_y = 52px;
$icon_msg_grey_offset_x = -62px;
$icon_msg_grey_offset_y = -52px;
$icon_msg_grey_width = 16px;
$icon_msg_grey_height = 14px;
$icon_msg_grey_total_width = 132px;
$icon_msg_grey_total_height = 113px;
$icon_msg_grey_image = '../img/sprite.png';
$icon_msg_grey = 62px 52px -62px -52px 16px 14px 132px 113px '../img/sprite.png' 'icon-msg-grey';
$icon_person_name = 'icon-person';
$icon_person_x = 99px;
$icon_person_y = 48px;
$icon_person_offset_x = -99px;
$icon_person_offset_y = -48px;
$icon_person_width = 15px;
$icon_person_height = 16px;
$icon_person_total_width = 132px;
$icon_person_total_height = 113px;
$icon_person_image = '../img/sprite.png';
$icon_person = 99px 48px -99px -48px 15px 16px 132px 113px '../img/sprite.png' 'icon-person';
$icon_qq_name = 'icon-qq';
$icon_qq_x = 99px;
$icon_qq_y = 16px;
$icon_qq_offset_x = -99px;
$icon_qq_offset_y = -16px;
$icon_qq_width = 16px;
$icon_qq_height = 16px;
$icon_qq_total_width = 132px;
$icon_qq_total_height = 113px;
$icon_qq_image = '../img/sprite.png';
$icon_qq = 99px 16px -99px -16px 16px 16px 132px 113px '../img/sprite.png' 'icon-qq';
$icon_question_name = 'icon-question';
$icon_question_x = 79px;
$icon_question_y = 40px;
$icon_question_offset_x = -79px;
$icon_question_offset_y = -40px;
$icon_question_width = 20px;
$icon_question_height = 20px;
$icon_question_total_width = 132px;
$icon_question_total_height = 113px;
$icon_question_image = '../img/sprite.png';
$icon_question = 79px 40px -79px -40px 20px 20px 132px 113px '../img/sprite.png' 'icon-question';
$icon_search_big_name = 'icon-search-big';
$icon_search_big_x = 0px;
$icon_search_big_y = 0px;
$icon_search_big_offset_x = 0px;
$icon_search_big_offset_y = 0px;
$icon_search_big_width = 32px;
$icon_search_big_height = 32px;
$icon_search_big_total_width = 132px;
$icon_search_big_total_height = 113px;
$icon_search_big_image = '../img/sprite.png';
$icon_search_big = 0px 0px 0px 0px 32px 32px 132px 113px '../img/sprite.png' 'icon-search-big';
$icon_search_name = 'icon-search';
$icon_search_x = 0px;
$icon_search_y = 72px;
$icon_search_offset_x = 0px;
$icon_search_offset_y = -72px;
$icon_search_width = 19px;
$icon_search_height = 19px;
$icon_search_total_width = 132px;
$icon_search_total_height = 113px;
$icon_search_image = '../img/sprite.png';
$icon_search = 0px 72px 0px -72px 19px 19px 132px 113px '../img/sprite.png' 'icon-search';
$icon_sign_name = 'icon-sign';
$icon_sign_x = 32px;
$icon_sign_y = 0px;
$icon_sign_offset_x = -32px;
$icon_sign_offset_y = 0px;
$icon_sign_width = 24px;
$icon_sign_height = 24px;
$icon_sign_total_width = 132px;
$icon_sign_total_height = 113px;
$icon_sign_image = '../img/sprite.png';
$icon_sign = 32px 0px -32px 0px 24px 24px 132px 113px '../img/sprite.png' 'icon-sign';
$icon_sort_active_name = 'icon-sort-active';
$icon_sort_active_x = 118px;
$icon_sort_active_y = 15px;
$icon_sort_active_offset_x = -118px;
$icon_sort_active_offset_y = -15px;
$icon_sort_active_width = 14px;
$icon_sort_active_height = 15px;
$icon_sort_active_total_width = 132px;
$icon_sort_active_total_height = 113px;
$icon_sort_active_image = '../img/sprite.png';
$icon_sort_active = 118px 15px -118px -15px 14px 15px 132px 113px '../img/sprite.png' 'icon-sort-active';
$icon_sort_name = 'icon-sort';
$icon_sort_x = 118px;
$icon_sort_y = 0px;
$icon_sort_offset_x = -118px;
$icon_sort_offset_y = 0px;
$icon_sort_width = 14px;
$icon_sort_height = 15px;
$icon_sort_total_width = 132px;
$icon_sort_total_height = 113px;
$icon_sort_image = '../img/sprite.png';
$icon_sort = 118px 0px -118px 0px 14px 15px 132px 113px '../img/sprite.png' 'icon-sort';
$icon_special_active_name = 'icon-special-active';
$icon_special_active_x = 42px;
$icon_special_active_y = 52px;
$icon_special_active_offset_x = -42px;
$icon_special_active_offset_y = -52px;
$icon_special_active_width = 20px;
$icon_special_active_height = 20px;
$icon_special_active_total_width = 132px;
$icon_special_active_total_height = 113px;
$icon_special_active_image = '../img/sprite.png';
$icon_special_active = 42px 52px -42px -52px 20px 20px 132px 113px '../img/sprite.png' 'icon-special-active';
$icon_special_name = 'icon-special';
$icon_special_x = 79px;
$icon_special_y = 0px;
$icon_special_offset_x = -79px;
$icon_special_offset_y = 0px;
$icon_special_width = 20px;
$icon_special_height = 20px;
$icon_special_total_width = 132px;
$icon_special_total_height = 113px;
$icon_special_image = '../img/sprite.png';
$icon_special = 79px 0px -79px 0px 20px 20px 132px 113px '../img/sprite.png' 'icon-special';
$icon_tick_name = 'icon-tick';
$icon_tick_x = 56px;
$icon_tick_y = 0px;
$icon_tick_offset_x = -56px;
$icon_tick_offset_y = 0px;
$icon_tick_width = 23px;
$icon_tick_height = 25px;
$icon_tick_total_width = 132px;
$icon_tick_total_height = 113px;
$icon_tick_image = '../img/sprite.png';
$icon_tick = 56px 0px -56px 0px 23px 25px 132px 113px '../img/sprite.png' 'icon-tick';
$icon_time_name = 'icon-time';
$icon_time_x = 99px;
$icon_time_y = 32px;
$icon_time_offset_x = -99px;
$icon_time_offset_y = -32px;
$icon_time_width = 16px;
$icon_time_height = 16px;
$icon_time_total_width = 132px;
$icon_time_total_height = 113px;
$icon_time_image = '../img/sprite.png';
$icon_time = 99px 32px -99px -32px 16px 16px 132px 113px '../img/sprite.png' 'icon-time';
$icon_top_name = 'icon-top';
$icon_top_x = 57px;
$icon_top_y = 72px;
$icon_top_offset_x = -57px;
$icon_top_offset_y = -72px;
$icon_top_width = 24px;
$icon_top_height = 13px;
$icon_top_total_width = 132px;
$icon_top_total_height = 113px;
$icon_top_image = '../img/sprite.png';
$icon_top = 57px 72px -57px -72px 24px 13px 132px 113px '../img/sprite.png' 'icon-top';
$icon_treasury_active_name = 'icon-treasury-active';
$icon_treasury_active_x = 0px;
$icon_treasury_active_y = 32px;
$icon_treasury_active_offset_x = 0px;
$icon_treasury_active_offset_y = -32px;
$icon_treasury_active_width = 22px;
$icon_treasury_active_height = 20px;
$icon_treasury_active_total_width = 132px;
$icon_treasury_active_total_height = 113px;
$icon_treasury_active_image = '../img/sprite.png';
$icon_treasury_active = 0px 32px 0px -32px 22px 20px 132px 113px '../img/sprite.png' 'icon-treasury-active';
$icon_treasury_name = 'icon-treasury';
$icon_treasury_x = 22px;
$icon_treasury_y = 32px;
$icon_treasury_offset_x = -22px;
$icon_treasury_offset_y = -32px;
$icon_treasury_width = 22px;
$icon_treasury_height = 20px;
$icon_treasury_total_width = 132px;
$icon_treasury_total_height = 113px;
$icon_treasury_image = '../img/sprite.png';
$icon_treasury = 22px 32px -22px -32px 22px 20px 132px 113px '../img/sprite.png' 'icon-treasury';
$icon_wechat_name = 'icon-wechat';
$icon_wechat_x = 37px;
$icon_wechat_y = 72px;
$icon_wechat_offset_x = -37px;
$icon_wechat_offset_y = -72px;
$icon_wechat_width = 20px;
$icon_wechat_height = 16px;
$icon_wechat_total_width = 132px;
$icon_wechat_total_height = 113px;
$icon_wechat_image = '../img/sprite.png';
$icon_wechat = 37px 72px -37px -72px 20px 16px 132px 113px '../img/sprite.png' 'icon-wechat';
$icon_weibo_name = 'icon-weibo';
$icon_weibo_x = 99px;
$icon_weibo_y = 0px;
$icon_weibo_offset_x = -99px;
$icon_weibo_offset_y = 0px;
$icon_weibo_width = 19px;
$icon_weibo_height = 16px;
$icon_weibo_total_width = 132px;
$icon_weibo_total_height = 113px;
$icon_weibo_image = '../img/sprite.png';
$icon_weibo = 99px 0px -99px 0px 19px 16px 132px 113px '../img/sprite.png' 'icon-weibo';
$icon_wenda_active_name = 'icon-wenda-active';
$icon_wenda_active_x = 79px;
$icon_wenda_active_y = 20px;
$icon_wenda_active_offset_x = -79px;
$icon_wenda_active_offset_y = -20px;
$icon_wenda_active_width = 20px;
$icon_wenda_active_height = 20px;
$icon_wenda_active_total_width = 132px;
$icon_wenda_active_total_height = 113px;
$icon_wenda_active_image = '../img/sprite.png';
$icon_wenda_active = 79px 20px -79px -20px 20px 20px 132px 113px '../img/sprite.png' 'icon-wenda-active';
$icon_wenda_name = 'icon-wenda';
$icon_wenda_x = 22px;
$icon_wenda_y = 52px;
$icon_wenda_offset_x = -22px;
$icon_wenda_offset_y = -52px;
$icon_wenda_width = 20px;
$icon_wenda_height = 20px;
$icon_wenda_total_width = 132px;
$icon_wenda_total_height = 113px;
$icon_wenda_image = '../img/sprite.png';
$icon_wenda = 22px 52px -22px -52px 20px 20px 132px 113px '../img/sprite.png' 'icon-wenda';
$icon_zan_name = 'icon-zan';
$icon_zan_x = 99px;
$icon_zan_y = 64px;
$icon_zan_offset_x = -99px;
$icon_zan_offset_y = -64px;
$icon_zan_width = 15px;
$icon_zan_height = 15px;
$icon_zan_total_width = 132px;
$icon_zan_total_height = 113px;
$icon_zan_image = '../img/sprite.png';
$icon_zan = 99px 64px -99px -64px 15px 15px 132px 113px '../img/sprite.png' 'icon-zan';
$spritesheet_width = 132px;
$spritesheet_height = 113px;
$spritesheet_image = '../img/sprite.png';
$spritesheet_sprites = $arrow_left $arrow_right $bg_msg_top $bg_user_top $icon_close_sm $icon_close $icon_fav_grey $icon_fav $icon_index_active $icon_index $icon_msg_grey $icon_person $icon_qq $icon_question $icon_search_big $icon_search $icon_sign $icon_sort_active $icon_sort $icon_special_active $icon_special $icon_tick $icon_time $icon_top $icon_treasury_active $icon_treasury $icon_wechat $icon_weibo $icon_wenda_active $icon_wenda $icon_zan;
$spritesheet = 132px 113px '../img/sprite.png' $spritesheet_sprites;

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of Stylus

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

sprites($spritesheet_sprites);
*/
sprites($sprites) {
  for $sprite in $sprites {
    $sprite_name = $sprite[9];
    .{$sprite_name} {
      sprite($sprite);
    }
  }
}
