---
page_title: "提现页"
body_class: [""]
---
extends _layout
block content
    header.header
        a.icon.icon-return(href='javascript: history.go(-1);')
        h1 收入提现
    .ui-block.bg-white
        .tc.font-money
            i.icon.icon-wallet
            .font-grey.font-xl 总收入
            .font-pink.font-xxxl.font-money 238.00
        ul.rule-list
            li 收入金额达&yen;1以上，方可提现；
            li 确认提现后，全部收入会在1个工作日内入库微信钱包；
            li 你的提问若72小时内没得到回复，支付金额会自动退还至微信钱包，不计入总收入；
        a.btn.btn-primary.btn-block(href='',title='') 去提问，赚分成
        a.btn.btn-primary.btn-block.mt15(href='',title='') 确认提现
        .font-grey.tc 收益不足1元不能提现

    // 导航条
    include partials/_nav