---
page_title: "编辑页"
body_class: ["form-page"]
---
extends _layout
block content
    header.header
        a.icon.icon-return(href='javascript: history.go(-1);')
        h1 编辑
    .form.bg-white
        form
            .form-row
                label.font-pink 个人头衔
                input(placeholder='请输入14字以内的头衔',type='text')
            .form-row
                label.font-pink 个人介绍
                textarea(placeholder='请输入60字以内个人介绍',type='text',rows='3')
            .tc.pl20.pr20.pb40
                input(type='button',value='保存').btn.btn-primary.btn-block
    // 导航条
    include partials/_nav