---
page_title: "二维码页"
body_class: [""]
---
extends _layout
block content
    header.header
        a.icon.icon-return(href='javascript: history.go(-1);')
        h1 二维码
    .ui-block.bg-white
        .tc.font-pink 个人链接
        .font-grey.font-sm.borer-b.pb10 http://weibo.com/y2kwong?refeflag=0000015010_&from=feed&loc=nickname&is_all=1
        .tc
            .font-pink.mt10 个人二维码
            .erweima-wrap
                img(src='#{current.base}img/1.png',alt='二维码')
            .font-pink.font-sm 微信扫码，来【高分专家】听我的方法。


        ul.rule-list
            li 长按复制“个人链接”，登入微信公众号后台，在自定义菜单上添加该链接，菜单可命名为付费提问；
            li 长按二维码保存下来，把二维码插入到微信文章页面底部，即可引导用户付费向你提问；

    // 导航条
    include partials/_nav