---
page_title: "关注页"
body_class: ["follow-page"]
---
extends _layout
block content
    header.header
        a.icon.icon-return(href='javascript: history.go(-1);')
        h1 关注了
    .bg-white
        ul.follow-list
            li.follow-item
                a(href='#', title='')
                    .ui-avatar.fl
                        img(src='#{current.base}img/author-img.png',alt='')
                    i.icon.icon-right.fr
                    .item-content.font-pink
                        .item-title
                            strong.font-md 石秀荣
                            span.ui-label.ui-label-pink 北京师范大学教育博士
                        div.font-pink
                            span 1589 关注
                            span.font-grey-lither |
                            span 28 个方法
            li.follow-item
                a(href='#', title='')
                    .ui-avatar.fl
                        img(src='#{current.base}img/author-img.png',alt='')

                    i.icon.icon-right.fr
                    .item-content.font-pink
                        .item-title
                            strong.font-md 石秀荣
                            span.ui-label.ui-label-pink 北京师范大学教育博士北京师范
                        div.font-pink
                            span 1589 关注
                            span.font-grey-lither |
                            span 28 个方法
            li.follow-item
                a(href='#', title='')
                    .ui-avatar.fl
                        img(src='#{current.base}img/audio-img-1.png',alt='')
                    .item-content.font-pink
                        .item-title
                            strong.font-md 美美的猫爪
