---
page_title: "个人页--用户"
body_class: ["home-page"]
---
extends _layout
block content
    .home-avatar.clearfix
        .ui-avatar.fl
            img(src='#{current.base}img/demo-img/author-img.png', alt='title')
        .home-avatar-center
            input.font-orange.disabled(value='范特西猎人',disabled='disabled')
            div
                span.mr10 总收入：&yen;110元
                a.btn.btn-cash(href='') 提现

    .ui-list
        ul
            li
                a(href='',title='')
                    i.icon.icon-set-good



    // 导航条
    include partials/_nav

block javascript
    script(src='#{current.base}js/zepto.min.js')
    script.
