---
page_title: "方法发布页"
body_class: ["form-page"]
---
extends _layout
block content
    header.header
        h1 方法发布

    .form.bg-white
        form
            .form-row.hidden
                label.font-pink 方法标题
                input(placeholder='标题',type='text')
            .form-row
                .list-item(href='',title='')
                    span.ui-label.label-catalog
                        i.icon.icon-catalog-7
                        | 生活指导
                    p 为什么孩子不爱读书，家长怎么办？
            .form-row
                label.font-pink 方法介绍
                textarea(placeholder='标题',type='text',rows='3')
            .form-row
                label.font-pink 方法封面
                .input-row.tc
                    .ui-avatar
                        img(src='#{current.base}img/audio-img-1.png',alt='avatar')
                    .ui-avatar.ui-avatar-c
                        img(src='#{current.base}img/audio-img-1.png',alt='avatar')
                    a.btn.btn-primary.btn-block
                        input(type='file')
                        | 选择封面图
                    .font-grey.font-sm 不上传封面图发布后，运营人员可进行修改

            .form-row
                label.font-pink 方法音频
                .input-row.tc
                    .btn-wrap-s
                        a.btn.btn-reset
                        .font-grey 重置
                    .btn-wrap
                        a.btn.btn-start
                            p.font-pink 点击录音
                        .font-grey 00:00:00
                    .btn-wrap-s
                        a.btn.btn-upload
                            input(type='file')
                        .font-grey 上传音频
                    a.btn.btn-block.btn-primary 提交上传
            .form-row
                label.font-pink 提问费用设置
                .input-row.pl15.pr15
                    .row-flex
                        .pay-set 1元
                        .pay-set 5元
                    .row-flex
                        .pay-set 10元
                        input.pay-set(type='number',placeholder='自定义')
                    .font-grey.font-sm "自定义"选项请填写1-100元整数

        .tc.pl20.pr20.pb40
            input(type='button',value='发布方法').btn.btn-primary.btn-block

    // 导航条
    include partials/_nav

block javascript
    script(src='#{current.base}js/zepto.min.js')
    script.
        $('.pay-set').on('tap', function () {
            $('.pay-set').removeClass('selected');
            $(this).addClass('selected')
        })
