---
page_title: "问题回复后页"
body_class: ["replyed-page"]
---
extends _layout
block content
    header.header
        a.icon.icon-return(href='javascript: history.go(-1);')
        h1 问题回复
        a.icon.icon-share(href='')
    .bg-white.pb10
        +question({
            title: '美美的猫爪',
            img: '../img/audio-current-img.jpg',
            imgZj: '../img/author-img.png',
            from: '史秀荣',
            money: false
        })
        .author-wrap.border-r
            .clearfix
                .fl
                    .ui-avatar
                        img(src='#{current.base}img/author-img.png', alt='')
                    .icon-fav 关注
                .author-detail
                    strong.mr10 史秀容
                    span.ui-label.ui-label-pink 北京师范大学教育博士
                    p= article.summary

    .audio-list
        .list-title
            span.font-pink.ml20 值得一听

        +audio-list({title: '第一课：阅读从出生第一天开始',src:'http://file.gaofen.com/huodong/voice/11/8840315_dd6371ae3d2e87609d72de0032106909.mp3',info: '阅读从出生第一天开始阅读从出生第一天开始阅读从出生第一天开始',img:'../img/audio-img-1.png',isNew: true, href: 'index.html#1',label: true})
        +audio-list({
            title: '第二课：怎样让一二年级孩子爱上阅读？',
            src: 'http://file.gaofen.com/huodong/voice/11/8840315_fd928f810f0f33fd218c656d9512b4de.mp3',
            info: '怎样让一二年级孩子爱上阅读怎样让一二年级孩子爱上阅读怎样让一二年级孩子爱上阅读怎样让一二年级孩子爱上阅读',
            img: '../img/audio-img-2.png',
            isNew: false,
            href: 'index.html#2',label: true
        })

    // 导航条
    include partials/_nav