.banner
  .banner-text 2015年度浏览器使用率问卷调查
.entry
  .form-header
    .field
      .legend
        h1.form-name 未命名表单
        .form-description 您可以使用该表单调查客户对服务的满意程度，从而提升服务质量。
  form(id="", method="", action="")
    +fields
      .field.submit-field
        input.btn.btn-primary(type="submit", value="提交")